[2019-01-18 15:35] emilianodellacasa opened #1 "Create app skeleton"
We need to create the skeleton for the webapp.

The skeleton should have following requirements:

use Python as programming language;
use Flask as framework;
provide a "Hello World" page;
have a first well structured test suite;
include PDD;
include Rultor for deploy;

[2019-01-22 11:49] #1 closed, assigned to emilianodellacasa

[2019-01-22 15:15] emilianodellacasa opened #3 "Company Model"
Timeless IS manages different companies (i.e. bar franchises), each company has its own users having different roles and privileges. The company is the base Business Entity to which almost any other BE refers to.

Those are its base attributes:

- id (Primary Key)
- name (Unique)
- code (Unique)
- address
- created_on
- updated_on

Companies should have its own management pages to list, create, ed

[2019-01-22 15:39] emilianodellacasa opened #4 "Employee Model"
Employee model represents the employee of each company and the account accessing the webapp.

Those are the base attributes:

- Id
- First Name
- Last Name
- Username
- Phone Number
- Birth Date
- Registration Date
- Account Status (Activated / Not Activated)
- User Status (Working / Fired)
- Email
- Password (hashed+salted)
- Individual pin-code (4 digits, unique key)
- Comment
- company_id
- cre

[2019-01-23 10:49] emilianodellacasa opened #5 "Access management"
In order for the employees to access the webapp, we should provide the access system.

These are the functions that shall be developed:

- login (by username and password defined in Employee model, see #4);
- logout;
- activation link sent by email upon account creation (developed in #4)
- forgotten password;

The login page shall have the following elements:

- Logo
- Caption “Login Page”
- usern

[2019-01-23 14:02] bkuzmic opened #7 "Update README with more information about local setup"
Update README to provide more information:

- More detailed setup of development environment
- split setup and dependency install as separate chapters

[2019-01-24 08:31] emilianodellacasa opened #9 "Role model"
Employee may have one or more roles assigned, determining what the employee can do inside the application.

These are the predefined roles for the application:
- Administrator
- Owner
- Director
- Manager
- Location Admin
- Master
- Cleaner
- Intern
- Candidate

These are the main attributes:
- id
- name
- flag "works on shift"
- company_id

Roles should have its own management pages to list, crea

[2019-01-24 08:52] emilianodellacasa opened #10 "Location model"
The Location model represents a bar that is part of the Company (each company may have more Locations).

These are the main attributes of the model:
- Id
- Name
- Unique Code (alphanumeric)
- company_id
- Country
- Region
- City
- Address
- Longitude
- Latitude
- Type (franchise, network)
- Status (Active/Closed)
- Comment

Locations should have its own management pages to list, create, edit and d

[2019-01-24 08:54] emilianodellacasa opened #11 "Floor model"
The Floor model represents each fllor that is part of a given Location (as defined in #10).

These are the main attributes:
- Id
- Location_id
- description

Floors should have its own management pages to list, create, edit and delete them. In the index page it should be possible to sort and filter for every column.

Floor management page should be accessed by the Location page.

[2019-01-24 09:03] emilianodellacasa opened #12 "Table model"
The Table model represents the tables that are part of the Location. The Table model should also contain a reference to a Floor model (defined in #11).

These are the main attributes:

- Id
- Table name (unique in the same location);
- floor_id (link to Floor)
- X-axis table coordinate
- Y-axis table coordinate
- Table height
- Table width
- Table status (available / unavailable / removed)
- Max C

[2019-01-24 09:05] emilianodellacasa opened #13 "Table Shape Model"
The Table Shape model represents the shape a Table can have.

The main attributes are:
- Id
- Description (Unique)
- Picture/Raster
- company_id

Table Shape should have its own management pages to list, create, edit and delete them. In the index page it should be possible to sort and filter for every column.

In this issue, a table_shape_id should be also added to Table model (developed in #12) a

[2019-01-24 09:40] #7 closed, assigned to bkuzmic

[2019-01-24 14:23] emilianodellacasa opened #15 "Item model"
The Item model represents an inventory object that can be given to Employees or stored in a Location

These are the main attributes:
- Id
- Name
- Stock Date (Item added to warehouse)
- Comment
- company_id

Items should store its historic data (i.e. XL Shirt was in Location until yesterday, then today John Smith received it) in a separate table, with starting and ending time (if ending is missing

[2019-01-24 16:56] emilianodellacasa opened #17 "Scheme Type Model"
Scheme Type model is a special feature of Timeless IS, designed to given more flexibilities to some models.

Essentialy, Scheme Type is a complex data type that can be assigned to any model defined in TimelessIS, allowing certain attributes to have a default value at certain conditions, but this value could change based for example on the day or time of the day.

For example, a Table model could r

[2019-01-24 17:00] emilianodellacasa opened #18 "SchemeCondition model"
The SchemeCondition model is strictly bound to SchemeType model (developed in #17), representing the conditions at which the default value stored in the SchemeType model can change (see issue #17 for an example).

These are the main attributes:
- Id
- Value
- Priority
- Start Time
- End Time
- Set of weekdays
- Set of month days
- Set of dates

The possibility to create/edit/delete the conditions

[2019-01-24 17:23] emilianodellacasa opened #19 "SchemeType attributes for Locations"
In this issue, the developer shall add the attributes SchemeType for Location model.

These are the attributes that will be added:

- working hours;
- closed days;

[2019-01-24 17:26] emilianodellacasa opened #20 "SchemeType attributes for Table model"
In this issue, the developer shall add the attributes SchemeType for Table model

These are the attributes that will be added:

Table:
- minimum capacity;
- deposit per hour;

[2019-01-24 17:35] emilianodellacasa opened #21 "Caching"
In order to provide fast response to HTTPS requests, we should add to TimlessIS application support for caching using Redis.

It's up to the developer how to implement caching, but the solution provided should be easy and effective.

[2019-01-25 08:21] emilianodellacasa opened #22 "Employee privileges for Administration"
The privileges for TimelessIs application are based on the Role(s) an Employee may have. This should be implemented in a module that can be seamlessly integrated in Flask and can dictate what the user can do and what can't.

These are the main privileges for the Administration module (by Role):
- Administrator
  - Add / Modify / Archive Locations
  - Create / modify / activate / deactivate account

[2019-01-25 08:45] emilianodellacasa opened #23 "Poster integration for Location model"
In this first step, we need to synchronize TimelessIs database with an existing database managed by Poster application. The API description can be found at the following address:

https://dev.joinposter.com/en/docs/api#introduction

In this issue a job will be created to sync data for the Location model, using the appropriate API:

- the job will be run using cron on a daily base;
- a new attribut

[2019-01-25 08:47] emilianodellacasa opened #24 "Poster Integration for Table model"
In this first step, we need to synchronize TimelessIs database with an existing database managed by Poster application. The API description can be found at the following address:

https://dev.joinposter.com/en/docs/api#introduction

In this issue a job will be created to sync data for the Table model, using the appropriate API:

- the job will be run using cron on a daily base;
- a new attribute p

[2019-01-25 08:52] emilianodellacasa opened #25 "Poster integration for Customer model"
In this first step, we need to synchronize TimelessIs database with an existing database managed by Poster application. The API description can be found at the following address:

https://dev.joinposter.com/en/docs/api#introduction

In this issue a job will be created to sync data for a new model called Customer (that will be also developed in this issue), using the appropriate API.

The main attr

[2019-01-25 09:21] emilianodellacasa opened #26 "Comment of the day"
For the Reservation module, it is required to create a new simple model called Comment, that will be displayed on the Timeline view (that will be developed in a future issue).

The main attributes of this model are:

- id
- employee_id
- description
- date
- created_on
- updated_on

The date attribute will be used to decide when to show the comment on the Timeline view (only for a single day).

Co

[2019-01-25 11:08] emilianodellacasa opened #27 "Reservation model"
The Reservation model represents the reservations that can be made for a given Table (developed in #12)  at a given Location (developed in #10).

Those are the main attributes for the model:
- Id
- Start Time
- End Time
- Duration
- Customer Identifier
- Table Identifiers
- Number of persons
- Comment
- Status (See reservtion lifecycle in the README file)
- created_on
- updated_on

In this issue j

[2019-01-25 11:12] emilianodellacasa opened #28 "API to retrieve Reservations"
An API endpoint should be created to retrieve a list of reservations (developed in #27) in JSON format, based on following parameters:

- location;
- date;

The API should be password protected and linked to a specific Company (developed in #3), that will be used to filter out all data not belonging to that company.

[2019-01-25 11:49] 0pdd opened #29 "models.py:8-10: Continue implementation. Locations should..."
The puzzle `10-5d67d6d0` from #10 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/master/timeless/models.py#L8-L10

The puzzle was created by @amihaiemil on 25-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code. Here is more ab

[2019-01-25 11:51] #10 closed, assigned to amihaiemil

[2019-01-25 12:26] amihaiemil opened #31 "Why do we keep models in one file?"
According to [this](https://github.com/timelesslounge/timelessis/blob/master/timeless/models.py#L1), all DB models should be declared into one single file, ``models.py``. Is this the norm in the Python world?

I find it messy and, in the beginning (until all models are done) there will be a lot of conflicts.

[2019-01-25 16:26] emilianodellacasa opened #32 "Settings page"
A Setting page should be developed for the reservation module. A model for Settings should also be developed and data stored on the database.

- default duration of a Reservation (developed in #27); this value should be shown as default upon a Reservation creation;
- default deposit amount of a Reservation; this value should be shown as default upon a Reservation creation;
- flag for activating SM

[2019-01-25 18:56] Vatavuk opened #33 "Tests have unnecessary global dependencies"
Currently, testing of models is done through `pytest.fixture` by injecting concrete models. We are instantiating model object with some test data in `conftest.py` and then we execute assertions on it in `test_models.py.`

I believe we shouldn't use fixtures like this firstly because there is no need for them in these scenarios. Fixtures should be used to inject additional dependencies that tests m

[2019-01-26 07:56] vladarefiev opened #35 "Set up Dockerfile"
To avoid project deployment on a personal OS, I suggest to set up Dockerfile with `docker-compose.yml`.

- In Dockerfile we should make all preparations for our application container (set up python, install dependencies, etc)
- `docker-compose.yml` should contain application and postgres containers at this moment.
- Command `docker-compose up` should run flask application.

[2019-01-26 12:54] bkuzmic opened #37 "Setup Integration tests for models"
In order to properly test models, we will have to setup integration tests with database.
Here is an example of how to do this:
https://pypi.org/project/pytest-flask-sqlalchemy/

[2019-01-26 18:10] 0pdd opened #39 "models.py:36-38: Create management pages for Companies to..."
The puzzle `3-8de36b15` from #3 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/cf0713e3163805fb881d2df1a6609f1af604fcfb/models.py#L36-L38

The puzzle was created by Boris Kuzmic on 26-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the sou

[2019-01-26 18:10] 0pdd opened #40 "models.py:39-41: Implement TimestampMixin, like in the..."
The puzzle `3-3e61ed39` from #3 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/cf0713e3163805fb881d2df1a6609f1af604fcfb/models.py#L39-L41

The puzzle was created by Boris Kuzmic on 26-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the sou

[2019-01-27 13:40] 0pdd opened #42 "models.py:8-11: Continue implementation. Floors should..."
The puzzle `11-dae961e8` from #11 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ee6204b5c0df4b39da01f9856ec846acd48d4366/models.py#L8-L11

The puzzle was created by @amihaiemil on 25-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the sou

[2019-01-27 14:51] #3 closed, assigned to bkuzmic

[2019-01-27 15:28] #11 closed, assigned to amihaiemil

[2019-01-27 15:32] 0pdd opened #43 "scheme_condition.py:9-11: Continue implementation as in..."
The puzzle `18-e4de0db5` from #18 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/f048a2d8692813197c6ec08bbaaa0c3a2550bf76/db/schemetypes/scheme_condition.py#L9-L11

The puzzle was created by @amihaiemil on 26-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-01-27 19:20] #18 closed, assigned to amihaiemil

[2019-01-28 09:18] emilianodellacasa opened #45 "Deploy scripts to staging server using Rultor"
We need to develop a script using Rultor to deploy and run the webapp in a staging server.

As a reference, in this phase we will use a [Digital Ocean Droplet](https://www.digitalocean.com/products/droplets/)

The script shall:
- accept an input param as tag;
- verify that the test runs smoothly;
- git tag;
- copy code on remote server;
- create database (if not existing);
- run migrations;
- set

[2019-01-28 09:21] emilianodellacasa opened #46 "SMS Notification class"
Develop a new class to send notifications via SMS using [RedSMS](https://redsms.ru/api-doc/).

[2019-01-28 09:23] emilianodellacasa opened #47 "Create script for regular backups"
Create a script to be run in cron to backup (and restore) production DB.

The script will upload the backup to a Google Drive account.

[2019-01-28 11:57] paulodamaso opened #48 "Need a definition for string quotes"
According to [String quotes section in PEP](https://www.python.org/dev/peps/pep-0008/#string-quotes):

We do not have defined which character to use, so we have a both of them being used in our files, violationg this rule. Let's define which character to use (`'` or `"`) and replace the other one in all files

[2019-01-28 14:21] #31 closed, assigned to vladarefiev

[2019-01-28 15:17] vladarefiev opened #50 "Migrations are broken"
I'm trying to run `python manage.py db upgrade` on empty db and get these:

[code]

[2019-01-28 17:26] bkuzmic opened #52 "Don't push migrations manually"
Since migration problems will occure more often as people start adding more and more models, I propose not to push migrations manually. I would drop creating migrations on every change/add of model (add them to git ignore). Instead, I would use rultor to create migration file after each release. WDYT?

[2019-01-29 09:19] 0pdd opened #56 "models.py:29-31: Continue implementation as in #17...."
The puzzle `17-965ca61a` from #17 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e9d82cbeba7cb2a26d78a1ead6b501a2cbac3e5b/schemetypes/models.py#L29-L31

The puzzle was created by @amihaiemil on 29-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-01-29 09:22] #17 closed, assigned to amihaiemil

[2019-01-29 09:27] 0pdd opened #57 "models.py:7-11: Continue implementation. Employees should..."
The puzzle `4-49d25317` from #4 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9d766c68177563543f6cee80591ce186345d0816/employees/models.py#L7-L11

The puzzle was created by Boris Kuzmic on 26-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fro

[2019-01-29 09:27] 0pdd opened #58 "models.py:12-18: Create constructor for Employee model...."
The puzzle `4-6ceceaee` from #4 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9d766c68177563543f6cee80591ce186345d0816/employees/models.py#L12-L18

The puzzle was created by Boris Kuzmic on 26-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fr

[2019-01-29 09:32] #4 closed, assigned to bkuzmic

[2019-01-29 10:25] 0pdd opened #59 "views.py:2-5: Continue implementing login(),..."
The puzzle `5-b6c5b635` from #5 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e0d7aea5984654c017bebd3326c091fb861d8e98/auth/views.py#L2-L5

The puzzle was created by Boris Kuzmic on 28-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the s

[2019-01-29 10:25] 0pdd opened #60 "views.py:6-9: Implement before_app_request function that..."
The puzzle `5-5e1a2150` from #5 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e0d7aea5984654c017bebd3326c091fb861d8e98/auth/views.py#L6-L9

The puzzle was created by Boris Kuzmic on 28-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the s

[2019-01-29 11:31] #5 closed, assigned to bkuzmic

[2019-01-29 16:12] 0pdd opened #63 "views.py:10-12: Continue implementing Settings page for..."
The puzzle `32-d70f7c1c` from #32 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/b787c79b7a9416c612c10714a080e57058bcf008/reservations/views.py#L10-L12

The puzzle was created by Vlad Arefev on 29-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-01-29 16:35] #47 closed, assigned to paulodamaso

[2019-01-29 18:33] #32 closed, assigned to vladarefiev

[2019-01-29 22:12] #33 closed, assigned to carlosmiranda

[2019-01-30 08:24] 0pdd opened #66 "poster.py:9-10: Create a job using cron that will..."
The puzzle `23-80456a24` from #23 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e165248393bfd261e5f1c31215911e03a3bb3a17/poster.py#L9-L10

The puzzle was created by Vatavuk on 28-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source

[2019-01-30 08:24] 0pdd opened #67 "poster.py:28-30: Implement auth process following the..."
The puzzle `23-30e93e1c` from #23 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e165248393bfd261e5f1c31215911e03a3bb3a17/poster.py#L28-L30

The puzzle was created by Vatavuk on 28-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source

[2019-01-30 08:53] #23 closed, assigned to Vatavuk

[2019-01-30 09:36] 0pdd opened #69 "__init__.py:3-6: Setup a pre-commit git hook, to forbid..."
The puzzle `48-20105c4a` from #48 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e25d284e0c05124aadf74c0272e824b5c7ab1545/__init__.py#L3-L6

The puzzle was created by @amihaiemil on 30-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the so

[2019-01-30 10:52] #48 closed, assigned to amihaiemil

[2019-01-30 15:59] emilianodellacasa opened #71 "Add pylint to Rultor"
Right now, it is possible to run

`pylint timeless`

to see all code smells in the project.

To enforce code to have a cerain quality, I would like to add pylint check in Rultor during merge and stop merging if total quality is below a certain threshold (passed as parameter).

This is an exmple on how it could be done: https://stackoverflow.com/questions/50944575/how-to-set-a-pylint-score-threshol

[2019-01-30 16:36] 0pdd opened #72 "models.py:7-9: Continue implementation. Table Shape..."
The puzzle `13-e94c1888` from #13 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/664b147135ef22415eb5f876b8762e33123cc80b/restaurants/models.py#L7-L9

The puzzle was created by @amihaiemil on 29-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ f

[2019-01-30 17:00] #13 closed, assigned to amihaiemil

[2019-01-30 17:46] #69 closed, assigned to amihaiemil

[2019-01-30 17:46] 0pdd opened #74 "__init__.py:3-5: Enhance the "DoubleQuotesOnly" rule from..."
The puzzle `69-e0bed019` from #69 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/5d65b42614b85c0d90ee3179ebe92b89abd29743/__init__.py#L3-L5

The puzzle was created by @amihaiemil on 30-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the so

[2019-02-01 15:43] krzyk opened #86 "Missing quick validation of PR"
It would be very useful fore code reviews to have a CI like travis or circle ci configured.
Without it, the only verification is using rultor, which is quite slow and late in the process.

[2019-02-01 21:07] #71 closed, assigned to vladarefiev

[2019-02-01 21:30] 0pdd opened #87 "models.py:8-10: Continue implementation. Comments should..."
The puzzle `26-8ee2447e` from #26 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/6868d87dcba16d531a8aab41016cd156f85a8b5f/reservations/models.py#L8-L10

The puzzle was created by @rultor on 01-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fro

[2019-02-01 22:02] #26 closed, assigned to Vatavuk

[2019-02-01 22:11] 0pdd opened #88 "sync.py:3-7: Implement synchronization between Poster and..."
The puzzle `66-c2cf1df5` from #66 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/84208bb71293765886339be6a3651d2d7844f2c5/sync/sync.py#L3-L7

The puzzle was created by Paulo Lobo on 01-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the so

[2019-02-02 08:35] 0pdd opened #91 "views.py:12-15: Bring marshmallow lib for..."
The puzzle `39-c38a0144` from #39 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/4f1fa16dfeb61c56fe5194c2b7a64ffda4411050/companies/views.py#L12-L15

The puzzle was created by Vlad Arefev on 30-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fr

[2019-02-02 21:22] #39 closed, assigned to vladarefiev

[2019-02-02 21:22] 0pdd opened #94 "views.py:18-20: Once marshmallow will be brought in..."
The puzzle `39-8e1cca55` from #39 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/c6a60f6d7a61b81b0c89bae4dddfc63b8d85c238/companies/views.py#L18-L20

The puzzle was created by Vlad Arefev on 02-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fr

[2019-02-02 21:30] #42 closed, assigned to bkuzmic

[2019-02-02 21:30] 0pdd opened #95 "views.py:2-6: Continue implementing list_floors(),..."
The puzzle `42-8659514f` from #42 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/6b78e2f2be499e58df5ccd62e455a037a7adc55e/restaurants/floors/views.py#L2-L6

The puzzle was created by Boris Kuzmic on 30-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-02-02 21:38] #66 closed, assigned to paulodamaso

[2019-02-02 21:49] 0pdd opened #96 "models.py:8-11: Continue implementation. Roles should..."
The puzzle `9-4864baac` from #9 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/dea2fafb3b0bf14894100a5a067a83ce832221ca/roles/models.py#L8-L11

The puzzle was created by Krzysztof Krason on 01-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fro

[2019-02-02 22:01] #43 closed, assigned to bkuzmic

[2019-02-02 22:01] 0pdd opened #97 "models.py:61-63: Continue implementation as in #18. The..."
The puzzle `43-07f6d407` from #43 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/f2662618a03c2b97da76947b9870d64d9a2c198d/schemetypes/models.py#L61-L63

The puzzle was created by Boris Kuzmic on 01-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed

[2019-02-02 22:24] #9 closed, assigned to krzyk

[2019-02-02 22:26] 0pdd opened #98 "__init__.py:6-8: After #37 is completed add execution of..."
The puzzle `50-137f7115` from #50 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/7b5bc2913d76521b6a81152acdcf0618c74235b5/__init__.py#L6-L8

The puzzle was created by Krzysztof Krason on 02-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from t

[2019-02-02 22:35] #50 closed, assigned to krzyk

[2019-02-03 01:26] paulodamaso opened #99 "Broken migrations in windows"
Migrations [fix](https://github.com/timelesslounge/timelessis/pull/90) creates files with names incompatible with Windows, preventing git usage:

[code]

I suspect that the problem is that filename is too big or the character `:` in invalid for windows filenames, or both.

[2019-02-03 08:02] krzyk opened #100 "PDD issue description not visible in github"
When I go to any issue created by PDD I don't see the in puzzle description, just the link to the file.
But when I click on the link I get 404 (so I don't have permissions probably).

Example issue: https://github.com/timelesslounge/timelessis/issues/97
and link: https://github.com/timelesslounge/timelessis/blob/f2662618a03c2b97da76947b9870d64d9a2c198d/schemetypes/models.py#L61-L63

This makes it

[2019-02-03 09:21] #67 closed, assigned to paulodamaso

[2019-02-03 09:21] 0pdd opened #101 "poster.py:56-59: Implement auth process following the..."
The puzzle `67-d54199f4` from #67 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/18753bcaf060e3cc3712c169ee1c7dbfc926f6b8/poster.py#L56-L59

The puzzle was created by paulodamaso on 01-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the so

[2019-02-03 12:32] 0pdd opened #102 "models.py:9-11: Continue implementation of Customer data..."
The puzzle `25-09421710` from #25 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/306db59f86253b13117c3c99d367275de6a2d789/customers/models.py#L9-L11

The puzzle was created by Vatavuk on 01-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from t

[2019-02-03 15:16] #25 closed, assigned to Vatavuk

[2019-02-03 15:40] 0pdd opened #103 "models.py:7-9: Create a unit test for TimestampsMixin. We..."
The puzzle `40-ad71f182` from #40 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/0c0654dda188cb0881bf135376cc44ec7bcd872c/models.py#L7-L9

The puzzle was created by Carlos Miranda on 03-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the s

[2019-02-04 09:09] #40 closed, assigned to carlosmiranda

[2019-02-04 12:29] 0pdd opened #112 "models.py:69-71: Continue implementation for Tables...."
The puzzle `12-0192c409` from #12 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/89e31c8ef6f9fba75afd73b22c5e8fc1a4ee4714/restaurants/models.py#L69-L71

The puzzle was created by Paulo Lobo on 04-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-04 14:07] #12 closed, assigned to paulodamaso

[2019-02-04 14:22] 0pdd opened #113 "it_test_poster.py:10-12: Implement auth process for..."
The puzzle `67-1c2a8720` from #67 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9a3feae4c342ea4eb0bcae9787a32f15d5f103d8/ittests/it_test_poster.py#L10-L12

The puzzle was created by rultor on 04-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-04 14:22] 0pdd opened #114 "pg_backup.sh:6-9: Implement restore script for backups..."
The puzzle `47-c02901a9` from #47 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9a3feae4c342ea4eb0bcae9787a32f15d5f103d8/scripts/backup/pg_backup.sh#L6-L9

The puzzle was created by @rultor on 04-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-04 14:22] 0pdd opened #115 "pg_backup.sh:10-12: Implement google drive account..."
The puzzle `47-f3931a04` from #47 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9a3feae4c342ea4eb0bcae9787a32f15d5f103d8/scripts/backup/pg_backup.sh#L10-L12

The puzzle was created by @rultor on 04-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remove

[2019-02-04 14:22] 0pdd opened #116 "pg_backup.sh:13-15: Run backup scripts in linux cron...."
The puzzle `47-8a41f6e0` from #47 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9a3feae4c342ea4eb0bcae9787a32f15d5f103d8/scripts/backup/pg_backup.sh#L13-L15

The puzzle was created by @rultor on 04-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remove

[2019-02-04 15:01] #100 closed, assigned to krzyk

[2019-02-05 08:07] #87 closed, assigned to Vatavuk

[2019-02-05 08:07] 0pdd opened #123 "views.py:23-25: Continue implementation of view methods..."
The puzzle `87-a64a4a29` from #87 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/73b4517319f7010f360d0b54eeef739849658815/timeless/reservations/views.py#L23-L25

The puzzle was created by Vatavuk on 03-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-02-05 09:07] 0pdd opened #124 "sms.py:32-34: setup rultor settings to install python 3.6..."
The puzzle `46-eeb69d3e` from #46 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e59b1d2237e73a90d198d121564ab4fab8347298/timeless/sms.py#L32-L34

The puzzle was created by Vlad Arefev on 05-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2019-02-05 09:07] 0pdd opened #125 "sms.py:49-51: handle exceptional cases and maybe write a..."
The puzzle `46-df3761df` from #46 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e59b1d2237e73a90d198d121564ab4fab8347298/timeless/sms.py#L49-L51

The puzzle was created by Vlad Arefev on 04-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2019-02-05 09:13] #46 closed, assigned to vladarefiev

[2019-02-05 09:18] 0pdd opened #126 "deploy.sh:4-7: Continue implementing deploy scripts. Find..."
The puzzle `45-954dc960` from #45 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/22c8326ead867e6e7ac59606acaabd1b2aa79986/deploy.sh#L4-L7

The puzzle was created by Boris Kuzmic on 03-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the sou

[2019-02-05 11:35] #20 closed, assigned to paulodamaso

[2019-02-05 13:51] #99 closed, assigned to paulodamaso

[2019-02-05 14:28] #45 closed, assigned to bkuzmic

[2019-02-05 14:42] #19 closed, assigned to amihaiemil

[2019-02-05 16:51] #91 closed, assigned to krzyk

[2019-02-05 16:55] #94 closed, assigned to amihaiemil

[2019-02-05 17:00] #116 closed, assigned to paulodamaso

[2019-02-06 08:21] #29 closed, assigned to carlosmiranda

[2019-02-06 08:21] 0pdd opened #133 "views.py:2-6: Continue implementing list_locations(),..."
The puzzle `42-a6cc90a9` from #42 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/f053398d36cc63215ea5c7062e4bdfa325a8c851/timeless/restaurants/locations/views.py#L2-L6

The puzzle was created by Carlos Miranda on 03-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-02-06 08:21] 0pdd opened #134 "views.py:7-9: We should create generic logic in other..."
The puzzle `42-ca2a2c0a` from #42 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/f053398d36cc63215ea5c7062e4bdfa325a8c851/timeless/restaurants/locations/views.py#L7-L9

The puzzle was created by Carlos Miranda on 03-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-02-06 11:38] 0crat commented on #86
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-06 11:39] emilianodellacasa commented on #86
@krzyk Now that the repo is public, we can do this.

I would like to have travis and codecov (for code coverage) configured.

Commit https://github.com/timelesslounge/timelessis/commit/6bf5903b5d8301e1189a47318a1808968eab85a0 contains a few settings for them

[2019-02-06 11:56] 0crat commented on #21
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-06 12:09] 0crat commented on #86
Job [#86](https://github.com/timelesslounge/timelessis/issues/86) is now in scope, role is `DEV`

[2019-02-06 12:42] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.15](https://github.com/zerocracy/farm): CID: [2e9624fe-db8d-43a3-aba1-2583c5406d0e](https://www.0crat.com/footprint/CF9LG1YCA/2e9624fe-db8d-43a3-aba1-2583c5406d0e), Type: "Job was added to WBS"

[2019-02-06 12:46] krzyk commented on #72
@0crat waiting for review of PR #136

[2019-02-06 13:08] krzyk commented on #95
@0crat waiting for review of PR #137

[2019-02-06 13:09] krzyk commented on #96
@0crat waiting for review of PR #137

[2019-02-06 13:15] carlosmiranda commented on #21
@0crat refuse

[2019-02-06 13:20] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.15](https://github.com/zerocracy/farm): CID: [1d8cdf85-d1f4-4980-9cff-def037c53aaa](https://www.0crat.com/footprint/CF9LG1YCA/1d8cdf85-d1f4-4980-9cff-def037c53aaa), Type: "Make payment"

[2019-02-06 13:22] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.15](https://github.com/zerocracy/farm): CID: [1d8cdf85-d1f4-4980-9cff-def037c53aaa](https://www.0crat.com/footprint/CF9LG1YCA/1d8cdf85-d1f4-4980-9cff-def037c53aaa), Type: "Make payment"

[2019-02-06 13:59] bkuzmic commented on #58
@0crat wait for PR: #138

[2019-02-06 14:00] #37 closed

[2019-02-06 14:30] bkuzmic commented on #60
@0crat wait for PR: #131.

[2019-02-06 14:32] bkuzmic commented on #56
@0crat wait busy on other tasks.

[2019-02-06 14:32] bkuzmic commented on #57
@0crat wait busy on other tasks.

[2019-02-06 14:51] 0crat commented on #86
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-06 14:52] 0crat commented on #72
@krzyk There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.15](https://github.com/zerocracy/farm): CID: [eb53b1ba-791b-4858-af34-acb68958a801](https://www.0crat.com/footprint/CF9LG1YCA/eb53b1ba-791b-4858-af34-acb68958a801), Type: "Register impediment"

[2019-02-06 14:54] 0pdd opened #141 "models.py:7-9: Continue the implementation. Items must..."
The puzzle `15-4d06d88e` from #15 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/b38a7a29e88df7a5225567f962c857fd26046d2f/timeless/items/models.py#L7-L9

The puzzle was created by marceloamadeu on 06-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remov

[2019-02-06 14:54] 0pdd opened #142 "models.py:10-12: A new function to assign items to users..."
The puzzle `15-02768d14` from #15 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/b38a7a29e88df7a5225567f962c857fd26046d2f/timeless/items/models.py#L10-L12

The puzzle was created by marceloamadeu on 06-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-02-06 14:54] 0pdd commented on #15
@emilianodellacasa 2 puzzles [#141](https://github.com/timelesslounge/timelessis/issues/141), [#142](https://github.com/timelesslounge/timelessis/issues/142) are still not solved.

[2019-02-06 14:54] 0crat commented on #142
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-06 14:54] 0crat commented on #141
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-06 14:57] 0crat commented on #96
@krzyk There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.15](https://github.com/zerocracy/farm): CID: [1807afd2-04ec-4c61-90a3-2030ccb48588](https://www.0crat.com/footprint/CF9LG1YCA/1807afd2-04ec-4c61-90a3-2030ccb48588), Type: "Register impediment"

[2019-02-06 14:58] 0crat commented on #21
@carlosmiranda There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.15](https://github.com/zerocracy/farm): CID: [ac184e98-d54d-4ccc-917d-47cf33aed405](https://www.0crat.com/footprint/CF9LG1YCA/ac184e98-d54d-4ccc-917d-47cf33aed405), Type: "Cancel order"

[2019-02-06 14:59] emilianodellacasa commented on #15
@marceloamadeu Thanks a lot!

[2019-02-06 14:59] #15 closed

[2019-02-06 15:01] krzyk commented on #103
@0crat waiting for review of PR #143

[2019-02-06 15:03] 0crat commented on #58
@bkuzmic The impediment for [#58](https://github.com/timelesslounge/timelessis/issues/58) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-06 15:08] 0crat commented on #60
@bkuzmic The impediment for [#60](https://github.com/timelesslounge/timelessis/issues/60) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-06 15:09] krzyk commented on #72
@0crat waiting for review of PR #136

[2019-02-06 15:10] krzyk commented on #112
@0crat waiting for review of PR #140

[2019-02-06 15:11] krzyk commented on #96
@0crat waiting for review of PR #137

[2019-02-06 15:11] 0crat commented on #56
@bkuzmic The impediment for [#56](https://github.com/timelesslounge/timelessis/issues/56) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-06 15:11] 0crat commented on #57
@bkuzmic The impediment for [#57](https://github.com/timelesslounge/timelessis/issues/57) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-06 15:13] krzyk commented on #86
@emilianodellacasa I didn't get payment for this one

[2019-02-06 16:31] 0crat commented on #37
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-06 16:35] 0crat commented on #86
The job [#86](https://github.com/timelesslounge/timelessis/issues/86) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/4a565ef0-6dc1-4e6b-8413-bb59f39e6edb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-02-06 16:35] 0crat commented on #86
Job `gh:timelesslounge/timelessis#86` already assigned to @bkuzmic, can't assign to @bkuzmic

[2019-02-06 16:35] 0crat commented on #86
Job `gh:timelesslounge/timelessis#86` already assigned to @bkuzmic, can't assign to @bkuzmic

[2019-02-06 16:36] 0crat commented on #86
Job `gh:timelesslounge/timelessis#86` already assigned to @bkuzmic, can't assign to @bkuzmic

[2019-02-06 16:37] 0crat commented on #103
@krzyk The impediment for [#103](https://github.com/timelesslounge/timelessis/issues/103) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-06 16:40] 0crat commented on #37
The job [#37](https://github.com/timelesslounge/timelessis/issues/37) is now out of scope

[2019-02-06 16:41] 0crat commented on #72
@krzyk The impediment for [#72](https://github.com/timelesslounge/timelessis/issues/72) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-06 16:41] 0crat commented on #112
@krzyk The impediment for [#112](https://github.com/timelesslounge/timelessis/issues/112) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-06 16:41] 0crat commented on #96
@krzyk The impediment for [#96](https://github.com/timelesslounge/timelessis/issues/96) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-06 16:44] 0crat commented on #15
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-06 16:46] 0crat commented on #15
The job [#15](https://github.com/timelesslounge/timelessis/issues/15) is now out of scope

[2019-02-06 16:50] ypshenychka commented on #37
@bkuzmic According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please confirm you'll ask ARC to reassign the issue if such situation happens in future.

[2019-02-06 16:57] ypshenychka commented on #15
@0crat quality good

[2019-02-06 16:58] 0crat commented on #15
Order was finished, quality is "good": +35 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-02-06 16:59] 0crat commented on #15
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-06 16:59] bkuzmic commented on #37
@ypshenychka I confirm.

[2019-02-06 17:16] ypshenychka commented on #37
@bkuzmic thanks

[2019-02-06 17:16] ypshenychka commented on #37
@0crat quality acceptable

[2019-02-06 17:41] 0crat commented on #37
Order was finished, quality is "acceptable": +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-06 17:41] 0crat commented on #37
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-06 21:38] carlosmiranda commented on #21
@0crat refuse

[2019-02-07 07:48] ammaratef45 opened #147 "Add the postgres installation to the ReadMe"
Can we update the readme with the installation of Postgres just before the database setup section?

[2019-02-07 07:48] 0crat commented on #147
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-07 14:38] #58 closed

[2019-02-07 14:38] 0pdd commented on #58
The puzzle `4-6ceceaee` has disappeared from the source code, that's why I closed this issue.

[2019-02-07 14:39] 0pdd opened #149 "models.py:16-19: Implement validate_required decorator..."
The puzzle `4-97bfffa4` from #4 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/00c7eaa2c7d3e516cfcb19e386e12349b8357b55/timeless/employees/models.py#L16-L19

The puzzle was created by rultor on 07-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-07 14:39] 0pdd commented on #4
@emilianodellacasa 2 puzzles [#149](https://github.com/timelesslounge/timelessis/issues/149), [#57](https://github.com/timelesslounge/timelessis/issues/57) are still not solved; solved: [#58](https://github.com/timelesslounge/timelessis/issues/58).

[2019-02-07 14:40] 0crat commented on #149
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-07 14:49] 0crat commented on #141
Job [#141](https://github.com/timelesslounge/timelessis/issues/141) is now in scope, role is `DEV`

[2019-02-07 15:01] 0crat commented on #142
Job [#142](https://github.com/timelesslounge/timelessis/issues/142) is now in scope, role is `DEV`

[2019-02-07 15:43] 0crat commented on #21
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#21](https://github.com/timelesslounge/timelessis/issues/21), please stop working. Reason for job resignation: Order was cancelled

[2019-02-07 16:08] 0crat commented on #147
Job [#147](https://github.com/timelesslounge/timelessis/issues/147) is now in scope, role is `DEV`

[2019-02-07 16:17] 0crat commented on #149
Job [#149](https://github.com/timelesslounge/timelessis/issues/149) is now in scope, role is `DEV`

[2019-02-07 16:17] 0crat commented on #141
The job [#141](https://github.com/timelesslounge/timelessis/issues/141) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/2ee6c270-1515-4fa6-8e16-1ede82c65b15); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-07 16:17] 0crat commented on #141
Job `gh:timelesslounge/timelessis#141` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-02-07 16:18] 0crat commented on #21
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-07 16:24] 0crat commented on #147
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-07 16:24] 0crat commented on #58
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-07 16:25] 0crat commented on #58
The job [#58](https://github.com/timelesslounge/timelessis/issues/58) is now out of scope

[2019-02-07 16:31] 0crat commented on #21
The job [#21](https://github.com/timelesslounge/timelessis/issues/21) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/12f4c5f3-2d94-4fb6-a694-adaf6b4f35d9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-07 16:39] 0crat commented on #142
The job [#142](https://github.com/timelesslounge/timelessis/issues/142) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/0fbf9c96-6e54-46bb-8fe7-d831645c0824); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-07 16:48] 0crat commented on #147
The job [#147](https://github.com/timelesslounge/timelessis/issues/147) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/998540bf-0987-4de0-a51d-4741e1d25c63); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-07 16:54] vryazanov opened #150 "static analysis not so strict."
It's quite upset that README says pep8 is our friend, but it actually isn't.
I checked out a few files and what I found there:
1. Line length more than 80 symbols.
2. Incorrect order of imports (how it should be according to pep8: standard libraries at first + blank line + third party libraries + blank line + local imports).

We can have an arrangement about the first one(if yes, let's fix it in r

[2019-02-07 16:55] 0crat commented on #150
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-07 16:58] vryazanov commented on #147
@emilianodellacasa what do you think if I update the readme and also add docker(docker-compose) support in one PR for this ticket? It will be a way more easier for devs

[2019-02-07 17:00] emilianodellacasa commented on #147
@vryazanov Docker will be added in issue #35, for now let's just add instructions on how to install postgres

[2019-02-07 17:05] 0crat commented on #149
The job [#149](https://github.com/timelesslounge/timelessis/issues/149) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/2a87f96b-833d-4835-ae1d-2ca0619d4b78); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-07 17:05] 0crat commented on #149
Job `gh:timelesslounge/timelessis#149` already assigned to @blackout314, can't assign to @blackout314

[2019-02-07 17:27] ypshenychka commented on #58
@bkuzmic According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details into registered [impediment](https://github.com/timelesslounge/timelessis/issues/58#issuecomment-461032587) to describe what exactly you were waiting for in that PR.

[2019-02-07 17:40] 0crat commented on #88
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-07 18:35] bkuzmic commented on #58
@ypshenychka I've edited the comment for impediment. Please take a look

[2019-02-07 18:48] ammaratef45 commented on #21
@emilianodellacasa what about adding `__cache__` and `__retrieve__` methods for cachable models?

[2019-02-07 19:26] Vatavuk commented on #126
@0crat refuse

[2019-02-07 19:26] 0crat commented on #126
@Vatavuk The user @vatavuk[/z](https://www.0crat.com/u/vatavuk) resigned from [#126](https://github.com/timelesslounge/timelessis/issues/126), please stop working. Reason for job resignation: Order was cancelled

[2019-02-07 19:27] 0crat commented on #126
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-07 19:32] vryazanov commented on #150
For the second point I suggest to use https://github.com/timothycrosley/isort
I used it in a few projects, it works pretty well with pytest

[2019-02-07 19:50] 0crat commented on #126
The job [#126](https://github.com/timelesslounge/timelessis/issues/126) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/644aa41f-e39e-47eb-8297-4bbfcd9fc09d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-07 20:12] ypshenychka commented on #58
@bkuzmic thanks

[2019-02-07 20:12] ypshenychka commented on #58
@0crat quality acceptable

[2019-02-07 20:15] 0crat commented on #58
Order was finished, quality is "acceptable": +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-07 20:15] 0crat commented on #58
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-07 21:02] Vatavuk opened #155 "Integration tests modules"
Currently we have integration tests mixed with unit tests in the same module.
For instance, `test_comments`, `test_locations` etc. use app client and executing http requests on the application. These are basically integration tests, they will soon need to use database as development progresses. There is also `test_employees` file that only tests  `Employee` model without using client. It's a littl

[2019-02-07 21:03] 0crat commented on #155
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-08 07:27] Vatavuk commented on #22
@emilianodellacasa please close this issue, it was solved in #109 with extra puzzles

[2019-02-08 07:30] emilianodellacasa commented on #21
@ammaratef45 it's up to you, choose the method you think is the best for the project

[2019-02-08 07:32] emilianodellacasa commented on #150
@vryazanov isn't there a tool like pylint that just gives an error when something is wrong? But for imports and pep8 in general

[2019-02-08 07:41] 0crat commented on #155
Job [#155](https://github.com/timelesslounge/timelessis/issues/155) is now in scope, role is `DEV`

[2019-02-08 07:43] 0crat commented on #155
The job [#155](https://github.com/timelesslounge/timelessis/issues/155) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/29dd97d4-388f-4fb6-80b3-134e6f021532); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-08 07:43] 0crat commented on #155
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-08 08:06] #103 closed

[2019-02-08 08:06] 0pdd commented on #103
The puzzle `40-ad71f182` has disappeared from the source code, that's why I closed this issue.

[2019-02-08 08:06] 0pdd commented on #3
@emilianodellacasa the puzzle [#39](https://github.com/timelesslounge/timelessis/issues/39) is still not solved; solved: [#103](https://github.com/timelesslounge/timelessis/issues/103), [#40](https://github.com/timelesslounge/timelessis/issues/40), [#91](https://github.com/timelesslounge/timelessis/issues/91), [#94](https://github.com/timelesslounge/timelessis/issues/94).

[2019-02-08 08:06] 0pdd commented on #40
@0pdd the only puzzle [#103](https://github.com/timelesslounge/timelessis/issues/103) is solved here.

[2019-02-08 08:18] 0pdd commented on #88
The puzzle `66-c2cf1df5` has disappeared from the source code, that's why I closed this issue.

[2019-02-08 08:18] #88 closed

[2019-02-08 08:18] 0pdd opened #157 "sync.py:4-8: Implement synchronization between Poster and..."
The puzzle `88-dc7df557` from #88 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/bf2029d25b535ea03b56004712e5d44f04d1dd55/timeless/sync/sync.py#L4-L8

The puzzle was created by Paulo Lobo on 06-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fr

[2019-02-08 08:18] 0pdd commented on #23
@emilianodellacasa 3 puzzles [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113), [#157](https://github.com/timelesslounge/timelessis/issues/157) are still not solved; solved: [#66](https://github.com/timelesslounge/timelessis/issues/66), [#67](https://github.com/timelesslounge/timelessis/issues/67), [#88](https://github.

[2019-02-08 08:18] 0pdd commented on #66
@0pdd the puzzle [#157](https://github.com/timelesslounge/timelessis/issues/157) is still not solved; solved: [#88](https://github.com/timelesslounge/timelessis/issues/88).

[2019-02-08 08:18] 0pdd commented on #88
@0pdd the puzzle [#157](https://github.com/timelesslounge/timelessis/issues/157) is still not solved.

[2019-02-08 08:19] 0crat commented on #157
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-08 08:26] 0crat commented on #157
Job [#157](https://github.com/timelesslounge/timelessis/issues/157) is now in scope, role is `DEV`

[2019-02-08 08:34] vryazanov commented on #150
@emilianodellacasa Unfortunately I do not know the tool that can control everything. I always used flake8 + isort. isort checks imports and flake8 does all other checks. I think pylint + isort will look good as well.

[2019-02-08 08:34] 0crat commented on #103
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-08 08:34] 0crat commented on #103
The job [#103](https://github.com/timelesslounge/timelessis/issues/103) is now out of scope

[2019-02-08 08:35] 0crat commented on #88
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-08 08:39] 0crat commented on #157
The job [#157](https://github.com/timelesslounge/timelessis/issues/157) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/ce2b6602-db91-4539-bbe9-961066a905af); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-08 08:39] 0crat commented on #88
The job [#88](https://github.com/timelesslounge/timelessis/issues/88) is now out of scope

[2019-02-08 08:40] 0crat commented on #95
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-08 08:41] vryazanov commented on #35
@emilianodellacasa I understand that this task is out of scope, but I'll anyway prepare PR for this. Just I cannot start local environment without docker. If you are against, I just will keep docker settings under local git ignore.

[2019-02-08 08:41] ypshenychka commented on #103
@0crat quality good

[2019-02-08 08:43] ypshenychka commented on #88
@0crat quality good

[2019-02-08 08:44] emilianodellacasa commented on #35
@0crat assign @vryazanov

[2019-02-08 08:48] 0crat commented on #103
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-08 08:48] 0crat commented on #35
Job [#35](https://github.com/timelesslounge/timelessis/issues/35) is now in scope, role is `DEV`

[2019-02-08 08:48] 0crat commented on #103
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-08 08:48] 0crat commented on #88
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-08 08:49] 0crat commented on #88
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-08 08:49] 0crat commented on #35
@emilianodellacasa The job [#35](https://github.com/timelesslounge/timelessis/issues/35) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/801fef52-b6ec-4671-8b0d-ef0d3e2a82e9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www

[2019-02-08 08:49] 0crat commented on #35
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-08 08:49] 0crat commented on #35
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-08 10:14] 0crat commented on #97
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-08 10:15] 0crat commented on #98
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-08 11:06] vryazanov commented on #147
@ammaratef45 I've updated readme, please have a look

[2019-02-08 13:17] ammaratef45 commented on #147
@vryazanov
I got this error

While trying [this ](https://www.godaddy.com/garage/how-to-install-postgresql-on-ubuntu-14-04/)tutorial worked

[2019-02-08 13:40] vryazanov commented on #147
@ammaratef45  There should be
[code]
in your case. Got it, I will create a separate PR and clarify this.

[2019-02-08 13:48] ammaratef45 commented on #147
@vryazanov Yes that is true,
Thanks 👍

[2019-02-08 14:45] vryazanov commented on #147
@ammaratef45 readme is fixed, now  it's clear

[2019-02-08 15:07] 0pdd commented on #124
The puzzle `46-eeb69d3e` has disappeared from the source code, that's why I closed this issue.

[2019-02-08 15:07] #124 closed

[2019-02-08 15:07] 0pdd commented on #125
The puzzle `46-df3761df` has disappeared from the source code, that's why I closed this issue.

[2019-02-08 15:07] #125 closed

[2019-02-08 15:07] 0pdd commented on #46
@emilianodellacasa all 2 puzzles are solved here: [#124](https://github.com/timelesslounge/timelessis/issues/124), [#125](https://github.com/timelesslounge/timelessis/issues/125).

[2019-02-08 15:25] 0crat commented on #124
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-08 15:25] 0crat commented on #125
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-08 15:25] 0crat commented on #124
The job [#124](https://github.com/timelesslounge/timelessis/issues/124) is now out of scope

[2019-02-08 15:25] 0crat commented on #125
The job [#125](https://github.com/timelesslounge/timelessis/issues/125) is now out of scope

[2019-02-08 15:41] ypshenychka commented on #124
@0crat quality good

[2019-02-08 15:45] ypshenychka commented on #125
@0crat quality good

[2019-02-08 15:50] vryazanov commented on #35
@vladarefiev It's merged, pls have a look

[2019-02-08 15:52] vladarefiev commented on #35
@vryazanov  Great, thanks

[2019-02-08 15:53] #35 closed

[2019-02-08 16:02] vryazanov commented on #21
@ammaratef45 do we really need to cache models? I think it's a better to make some code which will cache HTTP methods or templates. It will be easier to invalidate cache and also we get rid of serializing/deserializing models from Redis.

[2019-02-08 16:08] 0crat commented on #124
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-08 16:11] 0crat commented on #124
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-08 16:15] 0crat commented on #125
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-08 16:15] 0crat commented on #125
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-08 16:15] 0crat commented on #35
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-08 16:16] 0crat commented on #35
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-08 16:16] 0crat commented on #35
The job [#35](https://github.com/timelesslounge/timelessis/issues/35) is now out of scope

[2019-02-08 16:47] emilianodellacasa commented on #72
@0crat status

[2019-02-08 16:52] 0crat commented on #72
@emilianodellacasa This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#72](https://github.com/timelesslounge/timelessis/issues/72) is [in scope](http://www.zerocracy.com/policy.html#14) for 9days
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [8days

[2019-02-08 17:22] #72 closed

[2019-02-08 17:22] 0pdd commented on #72
The puzzle `13-e94c1888` has disappeared from the source code, that's why I closed this issue.

[2019-02-08 17:22] 0pdd opened #162 "views.py:2-6: Continue implementing list(), create(),..."
The puzzle `72-ff413457` from #72 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/d9c473707c1af8ff0ebf45ca038b4fd634774e9f/timeless/restaurants/table_shapes/views.py#L2-L6

The puzzle was created by Krzysztof Krason on 06-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-02-08 17:23] 0pdd commented on #13
@emilianodellacasa the puzzle [#162](https://github.com/timelesslounge/timelessis/issues/162) is still not solved; solved: [#72](https://github.com/timelesslounge/timelessis/issues/72).

[2019-02-08 17:23] 0pdd commented on #72
@0pdd the puzzle [#162](https://github.com/timelesslounge/timelessis/issues/162) is still not solved.

[2019-02-08 17:23] 0crat commented on #162
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-08 17:29] 0crat commented on #162
Job [#162](https://github.com/timelesslounge/timelessis/issues/162) is now in scope, role is `DEV`

[2019-02-08 17:42] 0crat commented on #72
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-08 17:43] 0crat commented on #162
The job [#162](https://github.com/timelesslounge/timelessis/issues/162) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/882d1846-145f-4094-a36a-d5c1fb442730); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-08 17:43] 0crat commented on #72
The job [#72](https://github.com/timelesslounge/timelessis/issues/72) is now out of scope

[2019-02-08 18:01] vryazanov opened #163 "Interaction between frontend and backend"
I've received a puzzle where a need to implement creating and editing models from DB..
So my questions is:
What's the way of interaction between frontend and backend? I mean, I need to implement processing form data or ajax request with json?
I know that we are going to use React, but at the same time I see lots of templates.

[2019-02-08 18:01] 0crat commented on #163
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-08 18:04] vryazanov commented on #162
@0crat wait for #163

[2019-02-08 18:05] 0crat commented on #162
@vryazanov The impediment for [#162](https://github.com/timelesslounge/timelessis/issues/162) was registered successfully by @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-08 19:31] ammaratef45 commented on #147
@vryazanov great work
Should I close the ticket or leave that to @emilianodellacasa ?
I guess the Arc closes tickets not reporters right?

[2019-02-08 19:32] emilianodellacasa commented on #147
@ammaratef45 It is the reporter that has to close it

[2019-02-08 19:33] ammaratef45 commented on #147
@emilianodellacasa Okay, nice

[2019-02-08 19:33] #147 closed

[2019-02-08 19:58] 0crat commented on #147
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-08 20:03] 0crat commented on #147
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-08 20:03] ammaratef45 commented on #21
@vryazanov I will go for that,
I found templates, @emilianodellacasa is there any requests available yet?

[2019-02-08 20:04] ammaratef45 commented on #147
@0crat quality good

[2019-02-08 20:08] 0crat commented on #147
The job [#147](https://github.com/timelesslounge/timelessis/issues/147) is now out of scope

[2019-02-08 20:27] 0crat commented on #147
@ammaratef45 You can't do "Complete `QA` review", unless you have one of these roles: `ARC`, `QA`; current roles of @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) are: `DEV`, `REV`

[2019-02-08 20:45] emilianodellacasa commented on #21
@ammaratef45 I don't understand what you mean

[2019-02-08 20:46] emilianodellacasa commented on #163
@vryazanov we will use html templates for common crud operations and react for more complex pages

[2019-02-08 20:46] #163 closed

[2019-02-08 20:48] ammaratef45 commented on #21
@emilianodellacasa Sorry for confusing you 😅
I meant HTTP methods.

[2019-02-08 20:56] vryazanov commented on #163
@emilianodellacasa then I will use http://flask.pocoo.org/docs/0.12/patterns/wtforms/. is it fine?

[2019-02-08 20:58] ypshenychka commented on #35
@0crat quality good

[2019-02-08 21:02] ypshenychka commented on #72
@0crat quality good

[2019-02-08 21:05] ammaratef45 commented on #142
@emilianodellacasa users here are employees not customers right?

[2019-02-08 21:07] ypshenychka commented on #147
@vryazanov According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Some of your commits ([this](https://github.com/timelesslounge/timelessis/pull/151/commits/815de55d08c31c8b1590ba9ca2e8eb798436733b) and [this](https://github.com/timelesslounge/timelessis/pull/151/commits/5977947b47f84e5c52728c1ea68596dfe81444f8)) do not contain link to this issue. Please confirm you'll try to follo

[2019-02-08 21:26] 0crat commented on #163
Job `gh:timelesslounge/timelessis#163` is not assigned, can't get performer

[2019-02-08 21:50] 0crat commented on #163
This job is not in scope

[2019-02-08 22:24] 0crat commented on #35
Order was finished, quality is "good": +40 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-08 22:24] 0crat commented on #35
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-08 22:24] 0crat commented on #72
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-08 22:24] 0crat commented on #72
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-08 22:48] vryazanov commented on #147
@ypshenychka confirm

[2019-02-08 23:21] bkuzmic commented on #126
@emilianodellacasa At this stage are we still going to use Digital Ocean Droplet or some other free solution?

[2019-02-09 06:08] ypshenychka commented on #147
@vryazanov thanks

[2019-02-09 06:08] ypshenychka commented on #147
@0crat quality acceptable

[2019-02-09 06:09] 0crat commented on #147
Order was finished, quality is "acceptable": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-09 06:10] 0crat commented on #147
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-09 07:12] vryazanov opened #168 "Flask and pylint integration"
I started to implement views (CRUD operations for models) and noticed that `Pylint` doesn't see methods of session instance from SQL Alchemy. So for me It means that I cannot pass linters successfully.
I see the following errors:
[code]
Solution is to setup `Pylint-flask` extension.
See https://stackoverflow.com/questions/28193025/pylint-cant-find-sqlalchemy-query-member for details.

FYI pull req

[2019-02-09 07:12] 0crat commented on #168
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 10:01] 0pdd commented on #60
The puzzle `5-5e1a2150` has disappeared from the source code, that's why I closed this issue.

[2019-02-09 10:01] #60 closed

[2019-02-09 10:01] 0pdd commented on #5
@emilianodellacasa the puzzle [#59](https://github.com/timelesslounge/timelessis/issues/59) is still not solved; solved: [#60](https://github.com/timelesslounge/timelessis/issues/60).

[2019-02-09 10:16] 0crat commented on #102
@vladarefiev[/z](https://www.0crat.com/u/vladarefiev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-09 10:16] 0crat commented on #101
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-09 10:36] emilianodellacasa commented on #142
@ammaratef45 right

[2019-02-09 10:37] emilianodellacasa commented on #126
@bkuzmic the do droplet is already available

[2019-02-09 10:47] 0crat commented on #60
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-09 10:53] 0crat commented on #60
The job [#60](https://github.com/timelesslounge/timelessis/issues/60) is now out of scope

[2019-02-09 11:30] 0pdd commented on #112
The puzzle `12-0192c409` has disappeared from the source code, that's why I closed this issue.

[2019-02-09 11:30] #112 closed

[2019-02-09 11:30] 0pdd opened #169 "views.py:2-7: Continue implementing list_tables(),..."
The puzzle `112-775e8804` from #112 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/6ad83ecd071f581701c7047d674bad78a17acb03/timeless/restaurants/tables/views.py#L2-L7

The puzzle was created by Krzysztof Krason on 06-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-02-09 11:30] 0pdd opened #170 "views.py:8-10: Modify this file and also all other..."
The puzzle `112-a9b349f8` from #112 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/6ad83ecd071f581701c7047d674bad78a17acb03/timeless/restaurants/tables/views.py#L8-L10

The puzzle was created by Krzysztof Krason on 08-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-02-09 11:30] 0pdd commented on #12
@emilianodellacasa 2 puzzles [#169](https://github.com/timelesslounge/timelessis/issues/169), [#170](https://github.com/timelesslounge/timelessis/issues/170) are still not solved; solved: [#112](https://github.com/timelesslounge/timelessis/issues/112).

[2019-02-09 11:30] 0pdd commented on #112
@0pdd 2 puzzles [#169](https://github.com/timelesslounge/timelessis/issues/169), [#170](https://github.com/timelesslounge/timelessis/issues/170) are still not solved.

[2019-02-09 11:31] 0crat commented on #170
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 11:31] 0crat commented on #169
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 11:47] 0crat commented on #170
Job [#170](https://github.com/timelesslounge/timelessis/issues/170) is now in scope, role is `DEV`

[2019-02-09 11:47] 0crat commented on #169
Job [#169](https://github.com/timelesslounge/timelessis/issues/169) is now in scope, role is `DEV`

[2019-02-09 11:47] 0crat commented on #112
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-09 11:47] 0crat commented on #112
The job [#112](https://github.com/timelesslounge/timelessis/issues/112) is now out of scope

[2019-02-09 11:50] 0crat commented on #170
The job [#170](https://github.com/timelesslounge/timelessis/issues/170) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/a9c6e8b2-560f-4de8-94f7-24cb17893eb1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-09 12:00] 0crat commented on #169
The job [#169](https://github.com/timelesslounge/timelessis/issues/169) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/47d580c0-6c39-4617-9686-98c28b23f3ed); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-09 12:12] bkuzmic commented on #126
@emilianodellacasa Please provide more info about how to connect to that droplet, like ip address and user. Can you import Rultor public key so we can login without password from Rultor machine?

[2019-02-09 12:29] ypshenychka commented on #60
@bkuzmic According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details into registered [impediment](https://github.com/timelesslounge/timelessis/issues/60#issuecomment-461042824).

[2019-02-09 12:30] ypshenychka commented on #112
@0crat quality good

[2019-02-09 12:32] 0crat commented on #112
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-09 12:32] 0crat commented on #112
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-09 12:42] 0pdd opened #171 "models.py:118-120: Calculate reservation duration in..."
The puzzle `27-19ac7d90` from #27 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/375590bcaffa5d4893ae35688faf50655497385a/timeless/restaurants/models.py#L118-L120

The puzzle was created by Vatavuk on 05-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-02-09 12:42] 0pdd opened #172 "models.py:121-125: Continue implementation of views...."
The puzzle `27-38242c64` from #27 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/375590bcaffa5d4893ae35688faf50655497385a/timeless/restaurants/models.py#L121-L125

The puzzle was created by Vatavuk on 05-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-02-09 12:42] 0pdd commented on #27
@emilianodellacasa 2 puzzles [#171](https://github.com/timelesslounge/timelessis/issues/171), [#172](https://github.com/timelesslounge/timelessis/issues/172) are still not solved.

[2019-02-09 12:43] 0crat commented on #172
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:43] 0crat commented on #171
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:47] krzyk commented on #86
@emilianodellacasa regarding https://github.com/timelesslounge/timelessis/issues/86#issuecomment-461058729 - 0crat is working stable now :)

[2019-02-09 12:49] 0crat commented on #172
Job [#172](https://github.com/timelesslounge/timelessis/issues/172) is now in scope, role is `DEV`

[2019-02-09 12:50] vryazanov opened #173 "Mess in views"
Hey, I looked at a few our packages with `views.py` and realized that we implemented them not the best way.
Basically they have:
1. `list`, `create`, `edit` and `delete` methods
2. with endpoints with the same naming (`/`, `/create`, `/edit` and etc)

My concern is that `function views` are not good for us since we are doing backend on templates. A bit later we will definitely have some "common" c

[2019-02-09 12:50] 0crat commented on #173
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:51] 0crat commented on #171
Job [#171](https://github.com/timelesslounge/timelessis/issues/171) is now in scope, role is `DEV`

[2019-02-09 12:53] 0pdd opened #174 "__init__.py:2-5: Implement Administrator access control..."
The puzzle `22-8f1c33a4` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/__init__.py#L2-L5

The puzzle was created by Vatavuk on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-02-09 12:53] 0pdd opened #175 "__init__.py:6-9: Implement Director access control by..."
The puzzle `22-7b212a13` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/__init__.py#L6-L9

The puzzle was created by Vatavuk on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-02-09 12:53] 0crat commented on #174
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:53] 0pdd opened #176 "__init__.py:10-12: Implement Manager access control by..."
The puzzle `22-a5b13305` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/__init__.py#L10-L12

The puzzle was created by Vatavuk on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-09 12:53] 0pdd opened #177 "__init__.py:13-16: Implement Location Admin access..."
The puzzle `22-186c8876` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/__init__.py#L13-L16

The puzzle was created by Vatavuk on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-09 12:53] 0pdd opened #178 "__init__.py:17-20: Implement Master/Intern/Others access..."
The puzzle `22-a1fde2bf` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/__init__.py#L17-L20

The puzzle was created by Vatavuk on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-09 12:53] 0pdd opened #179 "__init__.py:21-23: Add SecuredView, with accompanied..."
The puzzle `22-9cc1d6a5` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/__init__.py#L21-L23

The puzzle was created by Vatavuk on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-09 12:53] 0pdd opened #180 "owner_privileges.py:6-10: Implement the rest of the owner..."
The puzzle `22-f28ac90c` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/owner_privileges.py#L6-L10

The puzzle was created by Vatavuk on 05-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-02-09 12:53] 0crat commented on #175
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:53] 0pdd opened #181 "owner_privileges.py:17-20: Implement __location_access...."
The puzzle `22-0fe68fd2` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/owner_privileges.py#L17-L20

The puzzle was created by Vatavuk on 05-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-02-09 12:53] 0pdd opened #182 "authorization.py:10-12: Get role from actual user instead..."
The puzzle `22-9d43a2f0` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/authorization.py#L10-L12

The puzzle was created by Vatavuk on 05-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-02-09 12:53] 0pdd opened #183 "views.py:13-15: Continue with SecuredView implementation...."
The puzzle `22-e83d9f5c` from #22 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ae4c725b13e7afb9f349eb20f55e5a2d22cd4ebb/timeless/access_control/views.py#L13-L15

The puzzle was created by Vatavuk on 05-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-02-09 12:53] 0pdd commented on #22
@emilianodellacasa 10 puzzles [#174](https://github.com/timelesslounge/timelessis/issues/174), [#175](https://github.com/timelesslounge/timelessis/issues/175), [#176](https://github.com/timelesslounge/timelessis/issues/176), [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#179](https://github.com/timelesslounge/time

[2019-02-09 12:53] 0crat commented on #182
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:53] 0crat commented on #181
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:54] 0crat commented on #180
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:54] 0crat commented on #179
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:54] 0crat commented on #178
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:54] 0crat commented on #177
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:54] 0crat commented on #176
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:55] 0crat commented on #183
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 12:58] krzyk commented on #95
@0crat refuse

[2019-02-09 12:59] 0crat commented on #172
The job [#172](https://github.com/timelesslounge/timelessis/issues/172) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b70a7a33-8a8a-487f-9a13-3628ed553578); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-09 13:03] krzyk opened #184 "Different integration tests with different frameworks"
We have two integration tests, one is https://github.com/timelesslounge/timelessis/blob/master/tests/integration/it_employees_test.py (uses pytest) and the other https://github.com/timelesslounge/timelessis/blob/master/ittests/it_test_poster.py (uses unittest).
Which way should we write integration tests?
After the decision one of the mentioned tests needs to be migrated to the same location as ot

[2019-02-09 13:03] 0crat commented on #184
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 13:03] Vatavuk commented on #22
@emilianodellacasa pleasecose this issue, it was solved in #152 with extra puzzles

[2019-02-09 13:05] Vatavuk commented on #27
@emilianodellacasa please close this issue, it was solved in #153 with extra puzzles

[2019-02-09 13:05] emilianodellacasa commented on #22
@vatavuk thanks

[2019-02-09 13:05] #22 closed

[2019-02-09 13:06] emilianodellacasa commented on #27
@vatavuk thanks!

[2019-02-09 13:06] #27 closed

[2019-02-09 13:06] emilianodellacasa commented on #86
@krzyk of course I will only be able to pay you, without reputation points. Do you agree?

[2019-02-09 13:07] 0crat commented on #95
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#95](https://github.com/timelesslounge/timelessis/issues/95), please stop working. Reason for job resignation: Order was cancelled

[2019-02-09 13:10] 0crat commented on #174
Job [#174](https://github.com/timelesslounge/timelessis/issues/174) is now in scope, role is `DEV`

[2019-02-09 13:11] vryazanov commented on #170
@emilianodellacasa pls validate that this puzzle is correct and check #173. Puzzle creator wants me to make views for SPA, not with templates

[2019-02-09 13:12] 0crat commented on #175
Job [#175](https://github.com/timelesslounge/timelessis/issues/175) is now in scope, role is `DEV`

[2019-02-09 13:12] bkuzmic commented on #60
@ypshenychka I have added more details. Please take a look.

[2019-02-09 13:14] vryazanov commented on #184
by my opinion `unittest` must die. `pytest` is `must have` in python world

[2019-02-09 13:16] ypshenychka commented on #60
@bkuzmic thanks

[2019-02-09 13:16] ypshenychka commented on #60
@0crat quality acceptable

[2019-02-09 13:18] 0crat commented on #182
Job [#182](https://github.com/timelesslounge/timelessis/issues/182) is now in scope, role is `DEV`

[2019-02-09 13:18] 0crat commented on #183
Job [#183](https://github.com/timelesslounge/timelessis/issues/183) is now in scope, role is `DEV`

[2019-02-09 13:19] krzyk commented on #86
@emilianodellacasa yes

[2019-02-09 13:24] 0crat commented on #176
Job [#176](https://github.com/timelesslounge/timelessis/issues/176) is now in scope, role is `DEV`

[2019-02-09 13:24] 0crat commented on #177
Job [#177](https://github.com/timelesslounge/timelessis/issues/177) is now in scope, role is `DEV`

[2019-02-09 13:24] 0crat commented on #178
Job [#178](https://github.com/timelesslounge/timelessis/issues/178) is now in scope, role is `DEV`

[2019-02-09 13:24] 0crat commented on #179
Job [#179](https://github.com/timelesslounge/timelessis/issues/179) is now in scope, role is `DEV`

[2019-02-09 13:24] 0crat commented on #180
Job [#180](https://github.com/timelesslounge/timelessis/issues/180) is now in scope, role is `DEV`

[2019-02-09 13:24] 0crat commented on #181
Job [#181](https://github.com/timelesslounge/timelessis/issues/181) is now in scope, role is `DEV`

[2019-02-09 13:25] 0crat commented on #171
The job [#171](https://github.com/timelesslounge/timelessis/issues/171) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/2fcc005f-fde1-4157-9dcd-76f059c85c19); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-09 13:25] 0crat commented on #95
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-09 13:35] emilianodellacasa commented on #184
@krzyk of course unit test must die

[2019-02-09 13:44] 0crat commented on #22
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-09 13:44] 0crat commented on #27
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-09 13:45] 0crat commented on #95
The job [#95](https://github.com/timelesslounge/timelessis/issues/95) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/de552168-2282-4945-83c6-2ee6c8034796); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-02-09 13:49] krzyk commented on #114
@0crat waiting for review of PR #185

[2019-02-09 13:51] 0crat commented on #22
The job [#22](https://github.com/timelesslounge/timelessis/issues/22) is now out of scope

[2019-02-09 13:51] 0crat commented on #27
The job [#27](https://github.com/timelesslounge/timelessis/issues/27) is now out of scope

[2019-02-09 13:51] krzyk commented on #113
@0crat waiting for #184 to finish before proceeding

[2019-02-09 13:51] 0crat commented on #184
Job [#184](https://github.com/timelesslounge/timelessis/issues/184) is now in scope, role is `DEV`

[2019-02-09 13:52] 0crat commented on #60
Order was finished, quality is "acceptable": +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-09 13:52] 0crat commented on #60
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-09 13:52] 0crat commented on #114
@krzyk The impediment for [#114](https://github.com/timelesslounge/timelessis/issues/114) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-09 13:53] 0crat commented on #113
@krzyk The impediment for [#113](https://github.com/timelesslounge/timelessis/issues/113) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-09 13:53] 0crat commented on #174
The job [#174](https://github.com/timelesslounge/timelessis/issues/174) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1d337243-50a2-406c-a2e0-53b40416c07f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-09 13:53] 0crat commented on #184
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-09 14:00] 0crat commented on #175
The job [#175](https://github.com/timelesslounge/timelessis/issues/175) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/5c0c110d-47ff-4e43-991c-ce5b57465744); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-09 14:05] amihaiemil commented on #63
@0crat waiting for #161 to be merged

[2019-02-09 14:08] 0crat commented on #63
@amihaiemil Job [#63](https://github.com/timelesslounge/timelessis/issues/63) is already on hold

[2019-02-09 14:08] 0crat commented on #182
The job [#182](https://github.com/timelesslounge/timelessis/issues/182) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/83e576e6-01fd-413f-9f35-e07aad0cd9c9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-09 14:15] 0crat commented on #183
The job [#183](https://github.com/timelesslounge/timelessis/issues/183) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/78948f1b-a7d9-4d94-ab3c-cae5f9083300); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-09 14:26] 0crat commented on #176
The job [#176](https://github.com/timelesslounge/timelessis/issues/176) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/fa50ae88-9294-4b21-9626-75dabb3dfc8f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-09 14:27] emilianodellacasa commented on #86
@0crat pay @krzyk $12.5

[2019-02-09 14:27] 0crat commented on #86
@emilianodellacasa Argument "$12.5" doesn't match regex `@?[a-zA-Z0-9\-]+`

[2019-02-09 14:28] emilianodellacasa commented on #86
@0crat pay $12.5 @krzyk

[2019-02-09 14:29] 0crat commented on #86
@emilianodellacasa Argument "$12.5" doesn't match regex `\d+min`

[2019-02-09 14:32] krzyk commented on #86
@emilianodellacasa the format is in mins, e.g. see https://github.com/zerocracy/farm/pull/1799#issuecomment-442457772 (not sure about pay vs extra, maybe it was renamed)

[2019-02-09 14:39] 0crat commented on #177
The job [#177](https://github.com/timelesslounge/timelessis/issues/177) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/95b5ca29-3e2f-436b-92e4-59ac5bc4c93a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-09 14:40] 0crat commented on #178
The job [#178](https://github.com/timelesslounge/timelessis/issues/178) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/ec852874-0ada-4d45-8bc7-010e776b25bb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-09 14:51] emilianodellacasa commented on #86
@0crat pay 15min @krzyk

[2019-02-09 14:52] 0crat commented on #86
Direct payment to @krzyk[/z](https://www.0crat.com/u/krzyk) in #86, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-09 14:52] 0crat commented on #86
Direct payment from @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-09 14:58] #63 closed

[2019-02-09 14:58] 0pdd commented on #63
The puzzle `32-d70f7c1c` has disappeared from the source code, that's why I closed this issue.

[2019-02-09 14:58] 0pdd opened #186 "controllers.py:7-9: Continue with the implementation of..."
The puzzle `63-5a69cbb8` from #63 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/bb1d32fff2fac088c71eb2ad745bfb893e131418/timeless/reservations/controllers.py#L7-L9

The puzzle was created by @amihaiemil on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-09 14:58] 0pdd commented on #32
@emilianodellacasa the puzzle [#186](https://github.com/timelesslounge/timelessis/issues/186) is still not solved; solved: [#63](https://github.com/timelesslounge/timelessis/issues/63).

[2019-02-09 14:58] 0pdd commented on #63
@0pdd the puzzle [#186](https://github.com/timelesslounge/timelessis/issues/186) is still not solved.

[2019-02-09 14:58] 0crat commented on #186
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 15:04] ypshenychka commented on #22
@0crat quality good

[2019-02-09 15:06] ypshenychka commented on #27
@0crat quality good

[2019-02-09 15:17] 0crat commented on #186
Job [#186](https://github.com/timelesslounge/timelessis/issues/186) is now in scope, role is `DEV`

[2019-02-09 15:18] 0crat commented on #22
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-09 15:19] 0crat commented on #22
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-09 15:19] 0crat commented on #63
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-09 15:19] 0crat commented on #63
The job [#63](https://github.com/timelesslounge/timelessis/issues/63) is now out of scope

[2019-02-09 15:19] 0crat commented on #179
The job [#179](https://github.com/timelesslounge/timelessis/issues/179) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/09568e15-0d33-4558-bab5-b2b54b1e170b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-09 15:25] 0crat commented on #180
The job [#180](https://github.com/timelesslounge/timelessis/issues/180) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/2b679085-673d-4183-90ee-4d6db9e39383); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-09 15:33] emilianodellacasa commented on #126
@bkuzmic of course, this is what I will do

[2019-02-09 15:36] emilianodellacasa commented on #173
@vryazanov Actually I wouln't remove API because we will need in future interactions. Please tell me if you would use a third party library or develop from scratch

[2019-02-09 15:36] emilianodellacasa commented on #170
@vryazanov see my response

[2019-02-09 15:37] 0pdd opened #187 "sync.py:10-13: Implement synchronization between Poster..."
The puzzle `24-ac1cbe1a` from #24 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/6894529ca93af4641713b0dc143f8b5f09c1a7e1/timeless/sync/sync.py#L10-L13

The puzzle was created by rultor on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2019-02-09 15:37] 0pdd commented on #24
@emilianodellacasa the puzzle [#187](https://github.com/timelesslounge/timelessis/issues/187) is still not solved.

[2019-02-09 15:38] 0crat commented on #187
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 15:44] 0crat commented on #115
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-09 15:49] 0crat commented on #187
Job [#187](https://github.com/timelesslounge/timelessis/issues/187) is now in scope, role is `DEV`

[2019-02-09 16:00] 0crat commented on #181
The job [#181](https://github.com/timelesslounge/timelessis/issues/181) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/792b2888-0224-4104-abec-ac3ea40467c3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-09 16:21] Vatavuk commented on #24
@emilianodellacasa please close this issue, it was solved in #154 with an extra puzzle

[2019-02-09 16:25] amihaiemil commented on #179
@0crat wait for #183 . SecuredView doesn't seem to work properly yet. Trying to use it in an existing view class and getting the exception: ``TypeError: get() takes 2 positional arguments but 4 were given``.

[2019-02-09 16:28] 0crat commented on #179
@amihaiemil The impediment for [#179](https://github.com/timelesslounge/timelessis/issues/179) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-09 16:40] emilianodellacasa commented on #24
@vatavuk thanks

[2019-02-09 16:40] #24 closed

[2019-02-09 16:52] ypshenychka commented on #63
@0crat quality good

[2019-02-09 16:59] amihaiemil opened #188 "Employee is lacking a field for Roles"
At the moment [Employee](https://github.com/timelesslounge/timelessis/blob/master/timeless/employees/models.py#L9) doesn't have a Role(s) field, we don't know what roles the person has in the Company.

I found this missing while looking over #181, where basically I need to know if the user (employee) has the owner in the Company that manages the Location in question.

[2019-02-09 16:59] 0crat commented on #188
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 17:08] 0crat commented on #24
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-09 17:09] 0crat commented on #63
Order was finished, quality is "good": +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-09 17:09] 0crat commented on #63
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-09 17:09] 0crat commented on #24
The job [#24](https://github.com/timelesslounge/timelessis/issues/24) is now out of scope

[2019-02-09 17:09] 0crat commented on #184
The job [#184](https://github.com/timelesslounge/timelessis/issues/184) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b45e2cab-866a-4a1d-8954-a2844908e868); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-09 17:09] 0crat commented on #184
Job `gh:timelesslounge/timelessis#184` already assigned to @amihaiemil, can't assign to @amihaiemil

[2019-02-09 17:19] 0crat commented on #186
The job [#186](https://github.com/timelesslounge/timelessis/issues/186) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/fb20cc04-bc7e-4cbb-af73-e669a799248e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-09 17:19] 0crat commented on #186
Job `gh:timelesslounge/timelessis#186` already assigned to @vladarefiev, can't assign to @vladarefiev

[2019-02-09 17:25] 0crat commented on #187
The job [#187](https://github.com/timelesslounge/timelessis/issues/187) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/eea67215-2bf7-4802-b2c8-38db47823a39); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-09 17:39] emilianodellacasa commented on #188
@amihaiemil I guess you could develop the relationship between employees and roles or leave a puzzle for others to develop

[2019-02-09 17:39] #188 closed

[2019-02-09 17:41] emilianodellacasa commented on #179
@vatavuk what's your opinion?

[2019-02-09 18:01] 0crat commented on #188
Job `gh:timelesslounge/timelessis#188` is not assigned, can't get performer

[2019-02-09 18:01] 0crat commented on #188
This job is not in scope

[2019-02-09 18:12] 0pdd commented on #98
The puzzle `50-137f7115` has disappeared from the source code, that's why I closed this issue.

[2019-02-09 18:12] #98 closed

[2019-02-09 18:12] 0pdd commented on #50
@vladarefiev the only puzzle [#98](https://github.com/timelesslounge/timelessis/issues/98) is solved here.

[2019-02-09 18:41] 0crat commented on #98
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-09 18:45] 0crat commented on #98
The job [#98](https://github.com/timelesslounge/timelessis/issues/98) is now out of scope

[2019-02-09 19:31] 0pdd commented on #114
The puzzle `47-c02901a9` has disappeared from the source code, that's why I closed this issue.

[2019-02-09 19:31] #114 closed

[2019-02-09 19:31] 0pdd opened #191 "pg_restore.sh:2-3: Add a detailed description to both..."
The puzzle `114-7a54db2f` from #114 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/2ab6bbfef4dba5a246b12b2909abd17e81186289/scripts/backup/pg_restore.sh#L2-L3

The puzzle was created by Krzysztof Krason on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-09 19:31] 0pdd commented on #47
@emilianodellacasa 2 puzzles [#115](https://github.com/timelesslounge/timelessis/issues/115), [#191](https://github.com/timelesslounge/timelessis/issues/191) are still not solved; solved: [#114](https://github.com/timelesslounge/timelessis/issues/114), [#116](https://github.com/timelesslounge/timelessis/issues/116).

[2019-02-09 19:31] 0pdd commented on #114
@0pdd the puzzle [#191](https://github.com/timelesslounge/timelessis/issues/191) is still not solved.

[2019-02-09 19:31] 0crat commented on #191
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 19:42] ypshenychka commented on #27
@0crat quality good

[2019-02-09 19:43] ypshenychka commented on #24
@0crat quality good

[2019-02-09 19:44] ypshenychka commented on #98
@0crat quality good

[2019-02-09 19:47] 0pdd opened #192 "views.py:2-6: Continue implementing list(), create(),..."
The puzzle `95-9eb0bf3b` from #95 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/21c27c86b7bad02c3ec9eddcc543f7def0dbc24f/timeless/roles/views.py#L2-L6

The puzzle was created by Krzysztof Krason on 06-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-02-09 19:47] 0pdd commented on #11
@emilianodellacasa 4 puzzles [#133](https://github.com/timelesslounge/timelessis/issues/133), [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://github.com/timelesslounge/timelessis/issues/192), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#42](https://github.com/timelesslounge/timelessis/issues/42).

[2019-02-09 19:47] 0pdd commented on #42
@0pdd 4 puzzles [#133](https://github.com/timelesslounge/timelessis/issues/133), [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://github.com/timelesslounge/timelessis/issues/192), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved.

[2019-02-09 19:47] 0pdd commented on #95
@0pdd the puzzle [#192](https://github.com/timelesslounge/timelessis/issues/192) is still not solved.

[2019-02-09 19:47] 0crat commented on #192
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-09 19:50] 0crat commented on #191
Job [#191](https://github.com/timelesslounge/timelessis/issues/191) is now in scope, role is `DEV`

[2019-02-09 19:58] 0crat commented on #27
@ypshenychka There is no quality review for [#27](https://github.com/timelesslounge/timelessis/issues/27), no performer

[2019-02-09 20:56] 0crat commented on #114
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-09 21:04] 0crat commented on #192
Job [#192](https://github.com/timelesslounge/timelessis/issues/192) is now in scope, role is `DEV`

[2019-02-09 21:14] 0crat commented on #27
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-09 21:14] 0crat commented on #27
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-09 21:14] 0crat commented on #114
The job [#114](https://github.com/timelesslounge/timelessis/issues/114) is now out of scope

[2019-02-09 21:14] 0crat commented on #24
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-09 21:15] 0crat commented on #24
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-09 21:15] 0crat commented on #191
The job [#191](https://github.com/timelesslounge/timelessis/issues/191) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/6482dd5b-76dc-4b83-988d-d0af17bc3c78); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-09 21:15] 0crat commented on #98
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-09 21:15] ypshenychka commented on #114
@0crat quality good

[2019-02-09 21:16] 0crat commented on #98
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-09 21:19] 0crat commented on #192
The job [#192](https://github.com/timelesslounge/timelessis/issues/192) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/9e0156fe-90a8-4b76-abee-21ea6bb92977); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-09 21:19] 0crat commented on #192
Job `gh:timelesslounge/timelessis#192` already assigned to @vatavuk, can't assign to @vatavuk

[2019-02-09 21:19] 0crat commented on #192
Job `gh:timelesslounge/timelessis#192` already assigned to @vatavuk, can't assign to @vatavuk

[2019-02-09 21:19] 0crat commented on #192
Job `gh:timelesslounge/timelessis#192` already assigned to @vatavuk, can't assign to @vatavuk

[2019-02-09 21:19] 0crat commented on #192
Job `gh:timelesslounge/timelessis#192` already assigned to @vatavuk, can't assign to @bkuzmic

[2019-02-09 21:30] 0crat commented on #114
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-09 21:30] 0crat commented on #114
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-09 21:43] vladarefiev commented on #102
@0crat wait for PR - https://github.com/timelesslounge/timelessis/pull/193

[2019-02-09 21:43] bkuzmic commented on #74
@0crat wait for fixing small errors in PR: #159

[2019-02-09 21:46] 0crat commented on #102
@vladarefiev The impediment for [#102](https://github.com/timelesslounge/timelessis/issues/102) was registered successfully by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-09 21:46] 0crat commented on #74
@bkuzmic The impediment for [#74](https://github.com/timelesslounge/timelessis/issues/74) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-09 22:12] bkuzmic commented on #126
@0crat wait for architect to provide more information to finish the task.

[2019-02-09 22:15] 0crat commented on #126
@bkuzmic The impediment for [#126](https://github.com/timelesslounge/timelessis/issues/126) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-09 22:28] carlosmiranda commented on #115
@0crat wait busy on other tasks

[2019-02-09 22:34] 0crat commented on #115
@carlosmiranda The impediment for [#115](https://github.com/timelesslounge/timelessis/issues/115) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-10 03:04] #74 closed

[2019-02-10 03:04] 0pdd commented on #74
The puzzle `69-e0bed019` has disappeared from the source code, that's why I closed this issue.

[2019-02-10 03:04] 0pdd commented on #48
@paulodamaso all 2 puzzles are solved here: [#69](https://github.com/timelesslounge/timelessis/issues/69), [#74](https://github.com/timelesslounge/timelessis/issues/74).

[2019-02-10 03:04] 0pdd commented on #69
@0pdd the only puzzle [#74](https://github.com/timelesslounge/timelessis/issues/74) is solved here.

[2019-02-10 03:26] 0crat commented on #74
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-10 03:26] 0crat commented on #74
The job [#74](https://github.com/timelesslounge/timelessis/issues/74) is now out of scope

[2019-02-10 06:22] ammaratef45 commented on #141
@0crat wait for #142 to be done first (changes are in the same file)

[2019-02-10 06:24] 0crat commented on #141
@ammaratef45 The impediment for [#141](https://github.com/timelesslounge/timelessis/issues/141) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-10 08:10] ypshenychka commented on #74
@0crat quality good

[2019-02-10 08:18] 0crat commented on #74
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-10 08:19] 0crat commented on #74
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-10 08:43] ammaratef45 opened #195 "Lint rules following"
I wonder if we should fully resolve pylint warnings or not.
Some warnings like (bad white spaces, missing docstring, too-many-locals and line-too-long) are there.
I think we should avoid them and if we have to make one so we should suppress the warning.

[2019-02-10 08:43] 0crat commented on #195
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 10:18] 0crat commented on #123
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-10 10:24] Vatavuk commented on #179
@amihaiemil @emilianodellacasa Small error in `SecuredView.dispatch_request`:
Instead of :
[code]
we should invoke method without `self`, like this:
[code]

[2019-02-10 10:59] vryazanov commented on #173
@emilianodellacasa  we need to support CRUD operations for both template views and `API` views, right? Not my business, but I'm sure that implement SPA and keep frontend related code in separate repo will be more maintainable than keeping them in this repository and have a deal with copy-pasting in views.

As for your question, I think it's better to develop from scratch since flask provides power

[2019-02-10 12:04] #96 closed

[2019-02-10 12:04] 0pdd commented on #96
The puzzle `9-4864baac` has disappeared from the source code, that's why I closed this issue.

[2019-02-10 12:04] 0pdd commented on #9
@emilianodellacasa the only puzzle [#96](https://github.com/timelesslounge/timelessis/issues/96) is solved here.

[2019-02-10 12:27] 0crat commented on #96
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-10 12:28] 0crat commented on #96
The job [#96](https://github.com/timelesslounge/timelessis/issues/96) is now out of scope

[2019-02-10 12:33] 0pdd commented on #101
The puzzle `67-d54199f4` has disappeared from the source code, that's why I closed this issue.

[2019-02-10 12:33] #101 closed

[2019-02-10 12:33] 0pdd opened #197 "api.py:75-79: Implement auth process following the Poster..."
The puzzle `101-4e9718a8` from #101 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/579dfcb6e05b3a72f7ba43dd2632b2e80b24eedc/timeless/poster/api.py#L75-L79

The puzzle was created by Paulo Lobo on 07-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remove

[2019-02-10 12:33] 0pdd commented on #23
@emilianodellacasa 3 puzzles [#113](https://github.com/timelesslounge/timelessis/issues/113), [#157](https://github.com/timelesslounge/timelessis/issues/157), [#197](https://github.com/timelesslounge/timelessis/issues/197) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#66](https://github.com/timelesslounge/timelessis/issues/66), [#67](https://githu

[2019-02-10 12:33] 0pdd commented on #67
@0pdd 2 puzzles [#113](https://github.com/timelesslounge/timelessis/issues/113), [#197](https://github.com/timelesslounge/timelessis/issues/197) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101).

[2019-02-10 12:33] 0pdd commented on #101
@0pdd the puzzle [#197](https://github.com/timelesslounge/timelessis/issues/197) is still not solved.

[2019-02-10 12:34] 0crat commented on #197
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 12:49] 0crat commented on #197
Job [#197](https://github.com/timelesslounge/timelessis/issues/197) is now in scope, role is `DEV`

[2019-02-10 12:50] 0crat commented on #197
The job [#197](https://github.com/timelesslounge/timelessis/issues/197) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/0f9b35e5-57e0-4db6-aa0d-53869b7f9268); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-10 12:51] 0crat commented on #101
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-10 12:51] 0crat commented on #101
The job [#101](https://github.com/timelesslounge/timelessis/issues/101) is now out of scope

[2019-02-10 12:53] ypshenychka commented on #96
@krzyk According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

All your commits in main PR are linked to another issue. Please confirm you'll try to avoid such mistake next time.

[2019-02-10 12:53] ypshenychka commented on #101
@0crat quality good

[2019-02-10 12:57] 0crat commented on #101
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-10 12:57] 0crat commented on #101
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-10 14:28] paulodamaso commented on #134
@0crat refuse

[2019-02-10 14:38] 0crat commented on #134
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#134](https://github.com/timelesslounge/timelessis/issues/134), please stop working. Reason for job resignation: Order was cancelled

[2019-02-10 14:38] 0crat commented on #173
Job [#173](https://github.com/timelesslounge/timelessis/issues/173) is now in scope, role is `DEV`

[2019-02-10 14:40] 0crat commented on #134
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-10 14:41] 0crat commented on #134
The job [#134](https://github.com/timelesslounge/timelessis/issues/134) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/9fe6eb91-7abb-450c-a76e-e2f28d7c4868); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-10 14:41] 0crat commented on #134
Job `gh:timelesslounge/timelessis#134` already assigned to @vladarefiev, can't assign to @vladarefiev

[2019-02-10 14:41] 0crat commented on #173
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-10 14:41] 0crat commented on #134
Job `gh:timelesslounge/timelessis#134` already assigned to @vladarefiev, can't assign to @vladarefiev

[2019-02-10 14:46] 0crat commented on #173
The job [#173](https://github.com/timelesslounge/timelessis/issues/173) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b26a5785-40e8-4cdd-b10c-0b1b1d6de7d9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-10 15:17] krzyk commented on #96
@ypshenychka I confirm

[2019-02-10 16:55] paulodamaso commented on #173
@0crat refuse

[2019-02-10 16:56] 0crat commented on #173
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#173](https://github.com/timelesslounge/timelessis/issues/173), please stop working. Reason for job resignation: Order was cancelled

[2019-02-10 16:57] 0crat commented on #173
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-10 17:06] 0crat commented on #173
The job [#173](https://github.com/timelesslounge/timelessis/issues/173) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/ef88f87a-bed2-4a9f-840d-f4e9f4c48c49); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-10 17:56] #59 closed

[2019-02-10 17:56] 0pdd commented on #59
The puzzle `5-b6c5b635` has disappeared from the source code, that's why I closed this issue.

[2019-02-10 17:56] 0pdd opened #200 "views.py:2-4: Create IT tests for login method and..."
The puzzle `59-e7061f4b` from #59 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/874c14b8f4c59d1689ed000a0487c0466447c503/timeless/auth/views.py#L2-L4

The puzzle was created by Vatavuk on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2019-02-10 17:56] 0pdd opened #201 "auth.py:7-10: The backend should return only error codes..."
The puzzle `59-2d69b226` from #59 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/874c14b8f4c59d1689ed000a0487c0466447c503/timeless/auth/auth.py#L7-L10

The puzzle was created by Vatavuk on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2019-02-10 17:56] 0pdd commented on #5
@emilianodellacasa 3 puzzles [#200](https://github.com/timelesslounge/timelessis/issues/200), [#201](https://github.com/timelesslounge/timelessis/issues/201), [#60](https://github.com/timelesslounge/timelessis/issues/60) are still not solved; solved: [#59](https://github.com/timelesslounge/timelessis/issues/59).

[2019-02-10 17:56] 0pdd commented on #59
@0pdd 2 puzzles [#200](https://github.com/timelesslounge/timelessis/issues/200), [#201](https://github.com/timelesslounge/timelessis/issues/201) are still not solved.

[2019-02-10 17:56] 0crat commented on #201
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 17:57] 0crat commented on #200
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 18:02] 0crat commented on #201
Job [#201](https://github.com/timelesslounge/timelessis/issues/201) is now in scope, role is `DEV`

[2019-02-10 18:02] 0crat commented on #200
Job [#200](https://github.com/timelesslounge/timelessis/issues/200) is now in scope, role is `DEV`

[2019-02-10 18:13] 0crat commented on #201
The job [#201](https://github.com/timelesslounge/timelessis/issues/201) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/ad9f366f-a86d-4c82-b0b9-c38a7b22ea8a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-10 18:14] 0crat commented on #59
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-10 18:14] 0crat commented on #200
The job [#200](https://github.com/timelesslounge/timelessis/issues/200) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/22cd065b-6c2d-464d-8aa6-360fdcc45559); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-10 18:14] 0crat commented on #59
The job [#59](https://github.com/timelesslounge/timelessis/issues/59) is now out of scope

[2019-02-10 18:21] Vatavuk opened #202 "Packaging is not consistent"
We've defined multiple views in a single file `view.py` in reservations moduel. In restaurants module we have a separate directory for each view, but we host multiple models in a single `models.py`. I think we need to have file/class organisation consistent throughout the code base.

I see two possible approaches:
1) Host all views/models/controllers classes in one `views.py`/`models.py`/`controll

[2019-02-10 18:21] 0crat commented on #202
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 18:44] #162 closed

[2019-02-10 18:44] 0pdd commented on #162
The puzzle `72-ff413457` has disappeared from the source code, that's why I closed this issue.

[2019-02-10 18:44] 0pdd opened #203 "views.py:17-19: Implement ordering and sorting of..."
The puzzle `162-da16af36` from #162 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fb3009b27a5b3b6d2ece2f8064447a9e1f7e14c7/timeless/restaurants/table_shapes/views.py#L17-L19

The puzzle was created by Vadim Ryazanov on 08-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-10 18:44] 0pdd opened #204 "views.py:33-35: Initialize CSRF token protection for app..."
The puzzle `162-2cb21a4a` from #162 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fb3009b27a5b3b6d2ece2f8064447a9e1f7e14c7/timeless/restaurants/table_shapes/views.py#L33-L35

The puzzle was created by Vadim Ryazanov on 10-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-10 18:44] 0crat commented on #203
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 18:44] 0pdd opened #205 "views.py:36-38: This form currenly cannot save pictures...."
The puzzle `162-af883d11` from #162 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fb3009b27a5b3b6d2ece2f8064447a9e1f7e14c7/timeless/restaurants/table_shapes/views.py#L36-L38

The puzzle was created by Vadim Ryazanov on 10-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-10 18:45] 0pdd opened #206 "views.py:49-51: Implement edit() method of TableShape..."
The puzzle `162-9f769eb8` from #162 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fb3009b27a5b3b6d2ece2f8064447a9e1f7e14c7/timeless/restaurants/table_shapes/views.py#L49-L51

The puzzle was created by Vadim Ryazanov on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-10 18:45] 0crat commented on #204
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 18:45] 0pdd commented on #13
@emilianodellacasa 4 puzzles [#203](https://github.com/timelesslounge/timelessis/issues/203), [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#206](https://github.com/timelesslounge/timelessis/issues/206) are still not solved; solved: [#162](https://github.com/timelesslounge/timelessis/issues/162), [#72](https://git

[2019-02-10 18:45] 0pdd commented on #72
@0pdd 4 puzzles [#203](https://github.com/timelesslounge/timelessis/issues/203), [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#206](https://github.com/timelesslounge/timelessis/issues/206) are still not solved; solved: [#162](https://github.com/timelesslounge/timelessis/issues/162).

[2019-02-10 18:45] 0pdd commented on #162
@0pdd 4 puzzles [#203](https://github.com/timelesslounge/timelessis/issues/203), [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#206](https://github.com/timelesslounge/timelessis/issues/206) are still not solved.

[2019-02-10 18:45] 0crat commented on #206
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 18:45] 0crat commented on #205
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 19:01] 0crat commented on #162
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-10 19:01] 0crat commented on #162
The job [#162](https://github.com/timelesslounge/timelessis/issues/162) is now out of scope

[2019-02-10 19:11] 0crat commented on #203
Job [#203](https://github.com/timelesslounge/timelessis/issues/203) is now in scope, role is `DEV`

[2019-02-10 19:11] 0crat commented on #204
Job [#204](https://github.com/timelesslounge/timelessis/issues/204) is now in scope, role is `DEV`

[2019-02-10 19:12] 0crat commented on #206
Job [#206](https://github.com/timelesslounge/timelessis/issues/206) is now in scope, role is `DEV`

[2019-02-10 19:12] 0crat commented on #205
Job [#205](https://github.com/timelesslounge/timelessis/issues/205) is now in scope, role is `DEV`

[2019-02-10 19:12] 0crat commented on #203
The job [#203](https://github.com/timelesslounge/timelessis/issues/203) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/0c62524d-d8c2-4143-80d7-76685e4efe15); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-10 19:15] ammaratef45 commented on #171
@paulodamaso
Why changing what is required in the ticket? the todo was confirmed by the Arc and made for a reason.
You had to discuss this in the ticket first if you are going to change it.

[2019-02-10 19:21] 0crat commented on #204
The job [#204](https://github.com/timelesslounge/timelessis/issues/204) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/fd553350-9db2-4183-8fa1-eb7379abf90c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-10 19:25] 0crat commented on #206
The job [#206](https://github.com/timelesslounge/timelessis/issues/206) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/92e0a6f8-8618-4fe6-82df-d979519df47d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-10 19:31] 0crat commented on #205
The job [#205](https://github.com/timelesslounge/timelessis/issues/205) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/dd7483b7-b05a-4e44-9566-28a01f5d3ac1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-10 19:46] #133 closed

[2019-02-10 19:46] 0pdd commented on #133
The puzzle `42-a6cc90a9` has disappeared from the source code, that's why I closed this issue.

[2019-02-10 19:46] 0pdd opened #208 "views.py:2-7: Continue implementing list_locations(),..."
The puzzle `133-6fbe419f` from #133 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/6f4bcf867e5434fd60ae7cc511a8499352a57f8f/timeless/restaurants/locations/views.py#L2-L7

The puzzle was created by Paulo Lobo on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-02-10 19:46] 0pdd commented on #11
@emilianodellacasa 4 puzzles [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://github.com/timelesslounge/timelessis/issues/192), [#208](https://github.com/timelesslounge/timelessis/issues/208), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133), [#42](https://githu

[2019-02-10 19:46] 0pdd commented on #42
@0pdd 4 puzzles [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://github.com/timelesslounge/timelessis/issues/192), [#208](https://github.com/timelesslounge/timelessis/issues/208), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133).

[2019-02-10 19:46] 0pdd commented on #133
@0pdd the puzzle [#208](https://github.com/timelesslounge/timelessis/issues/208) is still not solved.

[2019-02-10 19:47] 0crat commented on #208
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-10 19:59] 0crat commented on #208
Job [#208](https://github.com/timelesslounge/timelessis/issues/208) is now in scope, role is `DEV`

[2019-02-10 20:07] 0crat commented on #208
The job [#208](https://github.com/timelesslounge/timelessis/issues/208) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/51741de4-b148-475e-ada8-00c6ce9aa891); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-10 20:10] 0crat commented on #133
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-10 20:10] 0crat commented on #133
The job [#133](https://github.com/timelesslounge/timelessis/issues/133) is now out of scope

[2019-02-10 20:57] vryazanov commented on #170
@emilianodellacasa this puzzle is still not clear for me. it requires register existing template views like API endpoints (using `register_api`).
@krzyk pls help me with clarification as well.
We must definitely update README and notify developers what kind of views we expect, template or API endpoints. or both..

[2019-02-10 21:01] krzyk commented on #170
@vryazanov This was a resulf of this comment: https://github.com/timelesslounge/timelessis/pull/140#discussion_r254867776 For now as I understand we use template views.

[2019-02-11 06:54] carlosmiranda commented on #115
@emilianodellacasa See PR #210.

[2019-02-11 08:06] vryazanov commented on #170
@emilianodellacasa can we close this one if it's not relevant anymore?

[2019-02-11 08:22] ypshenychka commented on #96
@0crat quality acceptable

[2019-02-11 08:23] ypshenychka commented on #59
@0crat quality good

[2019-02-11 08:25] emilianodellacasa commented on #195
@ammaratef45 The resasoning here is that we have to produce the best code possible. Pylint is not perfect - no tool actually is- but allows to have a simple number that is the score of the quality of the code.

For the moment, the minimum allowed score is 8 but this will grow as we need to improve the quality of the codebase.

[2019-02-11 08:25] #195 closed

[2019-02-11 08:26] 0crat commented on #96
Order was finished, quality is "acceptable": +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-11 08:27] 0crat commented on #96
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-11 08:27] ammaratef45 commented on #195
@emilianodellacasa I meant we have to force every PR to take care with this,
My PR fails because of score below 8 and most of lint errors are made by other code.

[2019-02-11 08:30] emilianodellacasa commented on #195
@ammaratef45 See my comments on your PR - a couple of them are actually yours.

And, if code has been merged, it means that before score was above 8. No mistakes possible.

[2019-02-11 08:30] ypshenychka commented on #162
@vryazanov According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details into registered [impediment](https://github.com/timelesslounge/timelessis/issues/162#issuecomment-461892322).

[2019-02-11 08:32] ammaratef45 commented on #195
@emilianodellacasa
Yes, you are right.
Okay then.

[2019-02-11 08:35] 0crat commented on #59
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-11 08:35] 0crat commented on #59
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-11 08:41] emilianodellacasa commented on #195
@ammaratef45 Soon we will have other tools to help as as soon as #86 is fixed

[2019-02-11 08:42] 0crat commented on #195
Job `gh:timelesslounge/timelessis#195` is not assigned, can't get performer

[2019-02-11 08:42] 0crat commented on #195
This job is not in scope

[2019-02-11 08:43] emilianodellacasa commented on #86
@bkuzmic Please also add code climate

[2019-02-11 08:46] #171 closed

[2019-02-11 08:46] 0pdd commented on #171
The puzzle `27-19ac7d90` has disappeared from the source code, that's why I closed this issue.

[2019-02-11 08:46] 0pdd commented on #27
@emilianodellacasa the puzzle [#172](https://github.com/timelesslounge/timelessis/issues/172) is still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171).

[2019-02-11 09:03] 0crat commented on #171
Job was finished in 43 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-11 09:04] 0crat commented on #171
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-11 09:04] 0crat commented on #171
The job [#171](https://github.com/timelesslounge/timelessis/issues/171) is now out of scope

[2019-02-11 09:06] vryazanov commented on #162
@ypshenychka I needed some clarifications before implementing this task, since I had two different options. Correct me pls if I shouldn't have put this task on hold. And I thought zerocrat removes "on hold" status when related task is closed..

[2019-02-11 09:12] ypshenychka commented on #162
@vryazanov There's no problem, that you put it on hold. What I'm asking is you to add this explanation into your comment about impediment. It can be any reasonable explanation, why would you need more time (e.g. wait for PR to be merged\review etc., wait because I need more clarifications and so on).

[2019-02-11 09:17] vryazanov commented on #162
@ypshenychka thx. I've updated the comment

[2019-02-11 09:34] 0pdd opened #211 "__init__.py:19-21: Install redis in the docker. Also, Add..."
The puzzle `21-91335e76` from #21 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/0c818ed0a15cbff316f7a041becc31072d474d1e/timeless/__init__.py#L19-L21

The puzzle was created by Ammar Atef on 11-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ f

[2019-02-11 09:34] 0pdd commented on #21
@emilianodellacasa the puzzle [#211](https://github.com/timelesslounge/timelessis/issues/211) is still not solved.

[2019-02-11 09:34] 0crat commented on #211
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-11 09:38] ypshenychka commented on #162
@vryazanov thanks

[2019-02-11 09:38] ypshenychka commented on #162
@0crat quality acceptable

[2019-02-11 09:38] #170 closed

[2019-02-11 09:55] 0pdd commented on #157
The puzzle `88-dc7df557` has disappeared from the source code, that's why I closed this issue.

[2019-02-11 09:55] #157 closed

[2019-02-11 09:55] 0pdd opened #212 "synced_location.py:7-9: Implement synchronization between..."
The puzzle `157-99e49342` from #157 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/2ba3f3109b84717259acee6ac676cf53994bd907/timeless/sync/synced_location.py#L7-L9

The puzzle was created by Paulo Lobo on 10-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-11 09:55] 0pdd commented on #23
@emilianodellacasa 3 puzzles [#113](https://github.com/timelesslounge/timelessis/issues/113), [#197](https://github.com/timelesslounge/timelessis/issues/197), [#212](https://github.com/timelesslounge/timelessis/issues/212) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#157](https://github.com/timelesslounge/timelessis/issues/157), [#66](https://git

[2019-02-11 09:55] 0pdd commented on #66
@0pdd the puzzle [#212](https://github.com/timelesslounge/timelessis/issues/212) is still not solved; solved: [#157](https://github.com/timelesslounge/timelessis/issues/157), [#88](https://github.com/timelesslounge/timelessis/issues/88).

[2019-02-11 09:55] 0pdd commented on #88
@0pdd the puzzle [#212](https://github.com/timelesslounge/timelessis/issues/212) is still not solved; solved: [#157](https://github.com/timelesslounge/timelessis/issues/157).

[2019-02-11 09:55] 0pdd commented on #157
@0pdd the puzzle [#212](https://github.com/timelesslounge/timelessis/issues/212) is still not solved.

[2019-02-11 09:56] 0crat commented on #212
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-11 10:15] 0crat commented on #211
Job [#211](https://github.com/timelesslounge/timelessis/issues/211) is now in scope, role is `DEV`

[2019-02-11 10:16] 0crat commented on #170
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-11 10:17] 0crat commented on #170
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-11 10:18] 0crat commented on #157
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-11 10:18] 0crat commented on #162
Order was finished, quality is "acceptable": +30 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-11 10:18] 0crat commented on #162
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-11 10:18] 0crat commented on #170
The job [#170](https://github.com/timelesslounge/timelessis/issues/170) is now out of scope

[2019-02-11 10:18] 0crat commented on #211
The job [#211](https://github.com/timelesslounge/timelessis/issues/211) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/70a54438-3da6-4a2c-97b1-5c04b18553ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-11 10:18] 0crat commented on #157
The job [#157](https://github.com/timelesslounge/timelessis/issues/157) is now out of scope

[2019-02-11 11:01] emilianodellacasa opened #213 "Add encrypted secret files"
Let's add an encrypted secret file (decrypted by rultor at deploy time) cotaining credentials for:

- deploy server;
- postgresql database;
- google drive account;
- redsms;
- poster;

The file will be a JSON file with this structure:

[code]

[2019-02-11 11:03] emilianodellacasa commented on #213
@0crat assign me

[2019-02-11 11:03] 0crat commented on #212
Job [#212](https://github.com/timelesslounge/timelessis/issues/212) is now in scope, role is `DEV`

[2019-02-11 11:03] 0crat commented on #213
Job [#213](https://github.com/timelesslounge/timelessis/issues/213) is now in scope, role is `DEV`

[2019-02-11 11:04] 0crat commented on #213
@emilianodellacasa The job [#213](https://github.com/timelesslounge/timelessis/issues/213) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b02f8f68-407d-4dd5-91b3-e157b1a775ad); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) a

[2019-02-11 11:04] 0crat commented on #213
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-11 11:05] 0crat commented on #213
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-11 11:05] 0crat commented on #213
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-11 11:13] 0crat commented on #212
The job [#212](https://github.com/timelesslounge/timelessis/issues/212) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/59db39a2-3010-4f9c-a727-3a0367bcef20); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-11 11:35] ammaratef45 commented on #21
@emilianodellacasa is it fine?

[2019-02-11 11:43] emilianodellacasa commented on #21
@ammaratef45 We can close it, thanks a lot!

[2019-02-11 11:43] #21 closed

[2019-02-11 11:47] emilianodellacasa commented on #213
Solved in 2070e3e6488387ac9c9878c239bd462faa0683d2

[2019-02-11 11:47] #213 closed

[2019-02-11 11:48] emilianodellacasa commented on #126
@bkuzmic See issue #213 and the updated README file

[2019-02-11 12:02] bkuzmic commented on #86
@emilianodellacasa Can you please enable the repository on Travis. I don't have the admin rights.

[2019-02-11 12:08] 0crat commented on #21
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-11 12:09] 0crat commented on #213
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-11 12:09] 0crat commented on #21
The job [#21](https://github.com/timelesslounge/timelessis/issues/21) is now out of scope

[2019-02-11 12:10] 0crat commented on #213
The job [#213](https://github.com/timelesslounge/timelessis/issues/213) is now out of scope

[2019-02-11 12:10] 0crat commented on #213
Order was finished: +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-11 12:16] bkuzmic commented on #126
@emilianodellacasa Thanks for the update. Are you going to use public-key authentication on staging and production servers? Because using passwords is not secure enough - and I have to use utility, like sshpass, in order to connect to the server.

[2019-02-11 12:18] bkuzmic commented on #97
@0crat wait for finishing task #173. This will simplify creating all other views.

[2019-02-11 12:18] 0crat commented on #97
@bkuzmic The impediment for [#97](https://github.com/timelesslounge/timelessis/issues/97) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-11 14:41] emilianodellacasa commented on #86
@bkuzmic Should be active now, please try and let me go

[2019-02-11 14:57] emilianodellacasa commented on #126
@bkuzmic Done, I added the keys in the same dir, see README file

[2019-02-11 15:26] 0pdd commented on #169
The puzzle `112-775e8804` has disappeared from the source code, that's why I closed this issue.

[2019-02-11 15:26] #169 closed

[2019-02-11 15:26] 0pdd opened #214 "views.py:2-7: Continue implementing list_tables(),..."
The puzzle `169-2c226ebc` from #169 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/c8dc0e115de291a592ab7c7a6041cad90864e777/timeless/restaurants/tables/views.py#L2-L7

The puzzle was created by Vadim Ryazanov on 10-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-02-11 15:26] 0pdd commented on #12
@emilianodellacasa 2 puzzles [#170](https://github.com/timelesslounge/timelessis/issues/170), [#214](https://github.com/timelesslounge/timelessis/issues/214) are still not solved; solved: [#112](https://github.com/timelesslounge/timelessis/issues/112), [#169](https://github.com/timelesslounge/timelessis/issues/169).

[2019-02-11 15:26] 0pdd commented on #112
@0pdd 2 puzzles [#170](https://github.com/timelesslounge/timelessis/issues/170), [#214](https://github.com/timelesslounge/timelessis/issues/214) are still not solved; solved: [#169](https://github.com/timelesslounge/timelessis/issues/169).

[2019-02-11 15:26] 0pdd commented on #169
@0pdd the puzzle [#214](https://github.com/timelesslounge/timelessis/issues/214) is still not solved.

[2019-02-11 15:27] 0crat commented on #214
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-11 15:32] 0crat commented on #214
Job [#214](https://github.com/timelesslounge/timelessis/issues/214) is now in scope, role is `DEV`

[2019-02-11 15:43] 0crat commented on #86
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-11 15:46] 0crat commented on #169
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-11 15:46] 0crat commented on #169
The job [#169](https://github.com/timelesslounge/timelessis/issues/169) is now out of scope

[2019-02-11 16:02] 0pdd opened #215 "views.py:68-71: Refactor this after the implementation of..."
The puzzle `172-d4bc0248` from #172 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e981e7dcccd76e828e1574d36ce06e7922eceb1d/timeless/reservations/views.py#L68-L71

The puzzle was created by rultor on 11-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-02-11 16:02] 0pdd commented on #27
@emilianodellacasa 2 puzzles [#172](https://github.com/timelesslounge/timelessis/issues/172), [#215](https://github.com/timelesslounge/timelessis/issues/215) are still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171).

[2019-02-11 16:02] 0crat commented on #215
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-11 16:20] paulodamaso opened #216 "Cache configurations for views"
At the moment we have cache being defined in each view of applications, as per #21 . This cache could be global to avoid being declared in each view file. We already have cache definition in `base.html`, but it is set to `6000`.

Alter the cache definition in `base.html` to `600` and remove all other cache definitions from the view files where it have this same value.

[2019-02-11 16:20] 0crat commented on #216
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-11 16:25] 0crat commented on #215
Job [#215](https://github.com/timelesslounge/timelessis/issues/215) is now in scope, role is `DEV`

[2019-02-11 16:29] 0crat commented on #216
Job [#216](https://github.com/timelesslounge/timelessis/issues/216) is now in scope, role is `DEV`

[2019-02-11 16:31] 0crat commented on #216
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-11 17:23] ypshenychka commented on #133
@0crat quality good

[2019-02-11 17:25] 0crat commented on #214
The job [#214](https://github.com/timelesslounge/timelessis/issues/214) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/558b9c45-bdb4-4238-8105-c5f5d1e1c46b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-11 17:30] 0crat commented on #214
Job `gh:timelesslounge/timelessis#214` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-11 17:30] 0crat commented on #214
Job `gh:timelesslounge/timelessis#214` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-11 17:31] 0crat commented on #215
The job [#215](https://github.com/timelesslounge/timelessis/issues/215) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/24bb6ab2-f999-48f3-ab9e-19437378b640); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-11 17:39] 0crat commented on #133
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-11 17:39] 0crat commented on #133
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-11 17:44] bkuzmic commented on #126
@emilianodellacasa I think maybe I didn't explain it well enough. We need to add the public key of Rultor user into the .ssh/authorized_keys on staging server (using ssh-copy-id is preferred). This is with assumption that staging server is fixed (not recreated always). Do you have the address of the staging server and user yet?

[2019-02-11 19:09] emilianodellacasa commented on #126
@bkuzmic you were very clear, unfortunately it is not possible to do what you want. I asked Yegor and Kirill and it's the other way around: you create a key, upload the public to the server and add the private (encrypted) in rultor. If you look at rultor file in zerocracy repo is the way they do that

[2019-02-11 19:21] 0pdd commented on #113
The puzzle `67-1c2a8720` has disappeared from the source code, that's why I closed this issue.

[2019-02-11 19:21] 0pdd commented on #23
@emilianodellacasa 2 puzzles [#197](https://github.com/timelesslounge/timelessis/issues/197), [#212](https://github.com/timelesslounge/timelessis/issues/212) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113), [#157](https://github.com/timelesslounge/timelessis/issues/157), [#66](https://git

[2019-02-11 19:21] 0pdd commented on #67
@0pdd the puzzle [#197](https://github.com/timelesslounge/timelessis/issues/197) is still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113).

[2019-02-11 19:23] Vatavuk commented on #123
@0crat wait for #207 to be merged

[2019-02-11 19:28] amihaiemil commented on #184
@krzyk PR #189 has been merged, can we close here?

[2019-02-11 19:44] 0crat commented on #123
@Vatavuk The impediment for [#123](https://github.com/timelesslounge/timelessis/issues/123) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-11 19:46] 0crat commented on #113
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-11 19:50] 0crat commented on #113
The job [#113](https://github.com/timelesslounge/timelessis/issues/113) is now out of scope

[2019-02-11 20:27] 0pdd commented on #142
The puzzle `15-02768d14` has disappeared from the source code, that's why I closed this issue.

[2019-02-11 20:27] #142 closed

[2019-02-11 20:28] 0pdd opened #217 "models.py:29-31: Continue implememntation of assining...."
The puzzle `142-43e9175c` from #142 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/8648a1e388fcb0d5a1bb4fa6b1c8ff692e3aa48b/timeless/items/models.py#L29-L31

The puzzle was created by Ammar Atef on 10-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-02-11 20:28] 0pdd commented on #15
@emilianodellacasa 2 puzzles [#141](https://github.com/timelesslounge/timelessis/issues/141), [#217](https://github.com/timelesslounge/timelessis/issues/217) are still not solved; solved: [#142](https://github.com/timelesslounge/timelessis/issues/142).

[2019-02-11 20:28] 0pdd commented on #142
@0pdd the puzzle [#217](https://github.com/timelesslounge/timelessis/issues/217) is still not solved.

[2019-02-11 20:28] 0crat commented on #217
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-11 20:41] 0crat commented on #217
Job [#217](https://github.com/timelesslounge/timelessis/issues/217) is now in scope, role is `DEV`

[2019-02-11 20:46] ypshenychka commented on #171
@0crat quality good

[2019-02-11 20:48] 0crat commented on #217
The job [#217](https://github.com/timelesslounge/timelessis/issues/217) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/44a72471-6187-4927-8bbf-6c853e7e353c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-11 20:49] 0crat commented on #142
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-11 20:50] 0crat commented on #142
The job [#142](https://github.com/timelesslounge/timelessis/issues/142) is now out of scope

[2019-02-11 20:50] 0crat commented on #171
Order was finished, quality is "good": +40 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-11 20:50] 0crat commented on #171
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-11 20:53] ypshenychka commented on #170
@vryazanov Looks like no work was done in scope of this issue, right?

[2019-02-11 20:54] vryazanov commented on #170
@ypshenychka yes, puzzle is a bit out of date

[2019-02-11 20:55] ypshenychka commented on #157
@0crat quality good

[2019-02-11 20:56] 0crat commented on #157
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-11 20:56] 0crat commented on #157
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-11 21:02] ypshenychka commented on #21
@ammaratef45 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Some of your commits do not contain link to issue. Please confirm you'll try to follow this rule next time.

[2019-02-11 21:03] ypshenychka commented on #169
@0crat quality good

[2019-02-11 21:09] ypshenychka commented on #113
@krzyk According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add reference to corresponding PR.

[2019-02-11 21:10] vryazanov opened #218 "Deploy errors while installing python requirements"
Hey, I've opened Rultor logs from a few PRs that were merged recently.
Here is what I saw:
[code]
Looks like we need to fix it.

[2019-02-11 21:10] 0crat commented on #218
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-11 21:11] paulodamaso commented on #172
@emilianodellacasa 0pdd did not caught my two new puzzles in `test_reservations.py, please take a look

[2019-02-11 21:13] 0crat commented on #169
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-11 21:13] 0crat commented on #169
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-11 21:16] ypshenychka commented on #142
@ammaratef45 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/timelesslounge/timelessis/pull/194/commits/6fb4cc82f394bfb8e33dcda3d7f2681a08dcabab) of your commits does not contain link to issue. Please confirm you'll try to follow this rule next time.

[2019-02-11 21:18] ypshenychka commented on #170
@vryazanov got it, thanks

[2019-02-11 21:18] ypshenychka commented on #170
@0crat quality bad

[2019-02-11 21:20] paulodamaso commented on #172
@emilianodellacasa Alse please take a look at #219, I've forgot to remove the todo related to this task.

[2019-02-11 21:23] 0crat commented on #170
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-11 21:24] 0crat commented on #216
The job [#216](https://github.com/timelesslounge/timelessis/issues/216) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/84aa6686-d45e-4bd0-a207-3d06709b4c15); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-11 21:25] 0crat commented on #170
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-11 21:44] bkuzmic commented on #126
@emilianodellacasa Oh, I see what you mean now. Now I can use:
`ssh -i staging.id_rsa staging_user@address `to login.
Great, thanks for the help!

[2019-02-11 22:17] #123 closed

[2019-02-11 22:17] 0pdd commented on #123
The puzzle `87-a64a4a29` has disappeared from the source code, that's why I closed this issue.

[2019-02-11 22:17] 0pdd opened #221 "views.py:16-18: Continue with the implementation of..."
The puzzle `123-c71e913a` from #123 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/4177f7a3eee90eb7b948fb023b4d9436a72cb9a3/timeless/views.py#L16-L18

The puzzle was created by Vedran Grgo Vatavuk on 11-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-02-11 22:17] 0pdd opened #222 "views.py:41-43: After CrudView implementation is finished..."
The puzzle `123-ae2bbb0c` from #123 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/4177f7a3eee90eb7b948fb023b4d9436a72cb9a3/timeless/reservations/views.py#L41-L43

The puzzle was created by Vedran Grgo Vatavuk on 11-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-02-11 22:17] 0pdd commented on #26
@emilianodellacasa 2 puzzles [#221](https://github.com/timelesslounge/timelessis/issues/221), [#222](https://github.com/timelesslounge/timelessis/issues/222) are still not solved; solved: [#123](https://github.com/timelesslounge/timelessis/issues/123), [#87](https://github.com/timelesslounge/timelessis/issues/87).

[2019-02-11 22:17] 0pdd commented on #87
@0pdd 2 puzzles [#221](https://github.com/timelesslounge/timelessis/issues/221), [#222](https://github.com/timelesslounge/timelessis/issues/222) are still not solved; solved: [#123](https://github.com/timelesslounge/timelessis/issues/123).

[2019-02-11 22:17] 0pdd commented on #123
@0pdd 2 puzzles [#221](https://github.com/timelesslounge/timelessis/issues/221), [#222](https://github.com/timelesslounge/timelessis/issues/222) are still not solved.

[2019-02-11 22:18] 0crat commented on #222
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-11 22:18] 0crat commented on #221
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-11 22:35] 0crat commented on #123
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-11 22:46] 0crat commented on #123
The job [#123](https://github.com/timelesslounge/timelessis/issues/123) is now out of scope

[2019-02-12 01:46] ammaratef45 commented on #142
@ypshenychka Confirm.

[2019-02-12 01:48] ammaratef45 commented on #21
@ypshenychka Confirm

[2019-02-12 08:35] 0crat commented on #222
Job [#222](https://github.com/timelesslounge/timelessis/issues/222) is now in scope, role is `DEV`

[2019-02-12 08:35] 0crat commented on #221
Job [#221](https://github.com/timelesslounge/timelessis/issues/221) is now in scope, role is `DEV`

[2019-02-12 08:37] emilianodellacasa commented on #218
@vryazanov I have noticed that too, we will fix it as soon as we will be sure to meet the first deadline

[2019-02-12 08:41] 0crat commented on #222
The job [#222](https://github.com/timelesslounge/timelessis/issues/222) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1eff803e-7fac-4433-9e8b-906ac944dfb8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-12 08:41] 0pdd commented on #172
The puzzle `27-38242c64` has disappeared from the source code, that's why I closed this issue.

[2019-02-12 08:41] #172 closed

[2019-02-12 08:41] 0pdd commented on #27
@emilianodellacasa the puzzle [#215](https://github.com/timelesslounge/timelessis/issues/215) is still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171), [#172](https://github.com/timelesslounge/timelessis/issues/172).

[2019-02-12 08:57] 0pdd commented on #115
The puzzle `47-f3931a04` has disappeared from the source code, that's why I closed this issue.

[2019-02-12 08:57] #115 closed

[2019-02-12 08:57] 0pdd opened #224 "pg_restore.sh:4-5: Implement retrieval of database backup..."
The puzzle `115-f221d667` from #115 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/cdc8fc9de88cbefa0cda8a5c8d7bfe0520961ce1/scripts/backup/pg_restore.sh#L4-L5

The puzzle was created by Carlos Miranda on 11-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-12 08:57] 0pdd commented on #47
@emilianodellacasa 2 puzzles [#191](https://github.com/timelesslounge/timelessis/issues/191), [#224](https://github.com/timelesslounge/timelessis/issues/224) are still not solved; solved: [#114](https://github.com/timelesslounge/timelessis/issues/114), [#115](https://github.com/timelesslounge/timelessis/issues/115), [#116](https://github.com/timelesslounge/timelessis/issues/116).

[2019-02-12 08:57] 0pdd commented on #115
@0pdd the puzzle [#224](https://github.com/timelesslounge/timelessis/issues/224) is still not solved.

[2019-02-12 08:57] 0crat commented on #224
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 09:00] 0crat commented on #221
The job [#221](https://github.com/timelesslounge/timelessis/issues/221) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/dd9107ef-bc10-470c-b77b-e433759cb936); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-12 09:10] 0crat commented on #224
Job [#224](https://github.com/timelesslounge/timelessis/issues/224) is now in scope, role is `DEV`

[2019-02-12 09:10] 0crat commented on #172
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-12 09:10] emilianodellacasa commented on #224
@0crat assign @lastk

[2019-02-12 09:12] 0crat commented on #172
The job [#172](https://github.com/timelesslounge/timelessis/issues/172) is now out of scope

[2019-02-12 09:15] #52 closed

[2019-02-12 09:15] 0crat commented on #224
@emilianodellacasa The job [#224](https://github.com/timelesslounge/timelessis/issues/224) assigned to @lastk[/z](https://www.0crat.com/u/lastk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/82de5499-be87-4f53-9a0c-5de9721feabf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zeroc

[2019-02-12 09:15] 0pdd commented on #102
The puzzle `25-09421710` has disappeared from the source code, that's why I closed this issue.

[2019-02-12 09:15] #102 closed

[2019-02-12 09:15] 0pdd opened #225 "models.py:9-11: Set up celery to project which will..."
The puzzle `102-39a9b3fe` from #102 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e0f7561b2702cb938620f35970b029d673b22f62/timeless/customers/models.py#L9-L11

The puzzle was created by Vlad Arefev on 09-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-02-12 09:15] 0pdd commented on #25
@emilianodellacasa the puzzle [#225](https://github.com/timelesslounge/timelessis/issues/225) is still not solved; solved: [#102](https://github.com/timelesslounge/timelessis/issues/102).

[2019-02-12 09:15] 0pdd commented on #102
@0pdd the puzzle [#225](https://github.com/timelesslounge/timelessis/issues/225) is still not solved.

[2019-02-12 09:16] 0crat commented on #225
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 09:18] emilianodellacasa commented on #168
@vryazanov We should also remove this in pylint config file
 https://github.com/timelesslounge/timelessis/blob/e0f7561b2702cb938620f35970b029d673b22f62/pylintrc#L264

[2019-02-12 09:23] emilianodellacasa commented on #179
@Vatavuk thank you so much for the explenation

[2019-02-12 09:27] 0crat commented on #115
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-12 09:51] ypshenychka commented on #123
@0crat quality good

[2019-02-12 09:59] ypshenychka commented on #142
@ammaratef45 thanks

[2019-02-12 09:59] ypshenychka commented on #142
@0crat quality acceptable

[2019-02-12 09:59] ypshenychka commented on #21
@ammaratef45 thanks

[2019-02-12 09:59] ypshenychka commented on #21
@0crat quality acceptable

[2019-02-12 10:13] vryazanov commented on #169
@emilianodellacasa @ypshenychka Hey, I left the puzzle (https://github.com/timelesslounge/timelessis/pull/209/files#diff-765b70aaa2f87f24231ed87164d732e5R2) in PR for this ticket. But looks like 0pdd bot didn't create ticket. Is it a bug in 0ppd or I did something wrong?

[2019-02-12 10:15] emilianodellacasa commented on #169
@vryazanov test directory was excluded in theory, I will add it now and I guess with next PR merged it will be taken into consideration

[2019-02-12 10:23] 0crat commented on #224
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-12 10:24] 0crat commented on #115
The job [#115](https://github.com/timelesslounge/timelessis/issues/115) is now out of scope

[2019-02-12 10:41] 0crat commented on #225
Job [#225](https://github.com/timelesslounge/timelessis/issues/225) is now in scope, role is `DEV`

[2019-02-12 10:41] 0crat commented on #52
Job `gh:timelesslounge/timelessis#52` is not assigned, can't get performer

[2019-02-12 10:44] 0crat commented on #52
This job is not in scope

[2019-02-12 10:49] 0crat commented on #102
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-12 10:51] 0crat commented on #102
The job [#102](https://github.com/timelesslounge/timelessis/issues/102) is now out of scope

[2019-02-12 10:55] 0crat commented on #225
The job [#225](https://github.com/timelesslounge/timelessis/issues/225) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/6b9a872b-1d5e-4a47-b2ec-e6ee958be671); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-12 10:56] 0crat commented on #123
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-12 10:56] 0crat commented on #123
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-12 10:57] 0crat commented on #142
Order was finished, quality is "acceptable": +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-12 10:57] 0crat commented on #142
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-12 10:57] 0crat commented on #21
Order was finished, quality is "acceptable": +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-12 10:57] 0crat commented on #21
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-12 13:16] vladarefiev commented on #187
@0crat wait for https://github.com/timelesslounge/timelessis/pull/226

[2019-02-12 13:20] 0crat commented on #187
@vladarefiev The impediment for [#187](https://github.com/timelesslounge/timelessis/issues/187) was registered successfully by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-12 13:47] ypshenychka commented on #172
@0crat quality good

[2019-02-12 13:48] 0crat commented on #172
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-12 13:49] 0crat commented on #172
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-12 13:49] ypshenychka commented on #115
@0crat quality good

[2019-02-12 13:51] 0crat commented on #115
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-12 13:51] 0crat commented on #115
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-12 13:56] ypshenychka commented on #102
@vladarefiev According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details into registered [impediment](https://github.com/timelesslounge/timelessis/issues/102#issuecomment-462081918).

[2019-02-12 17:39] 0crat commented on #149
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-12 19:18] Vatavuk commented on #191
@0crat refuse

[2019-02-12 19:20] 0crat commented on #191
@Vatavuk The user @vatavuk[/z](https://www.0crat.com/u/vatavuk) resigned from [#191](https://github.com/timelesslounge/timelessis/issues/191), please stop working. Reason for job resignation: Order was cancelled

[2019-02-12 19:20] 0crat commented on #191
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-12 19:24] 0crat commented on #191
The job [#191](https://github.com/timelesslounge/timelessis/issues/191) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/db65d48e-147f-45af-b7f6-25e29cb4e913); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-12 19:45] vladarefiev commented on #102
@ypshenychka fixed, take a look pls

[2019-02-12 19:52] ypshenychka commented on #102
@vladarefiev thanks

[2019-02-12 19:53] ypshenychka commented on #102
@0crat quality acceptable

[2019-02-12 19:58] 0crat commented on #102
Order was finished, quality is "acceptable": +30 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-12 19:58] 0crat commented on #102
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-12 22:13] 0pdd opened #232 "poster_mock.py:31-36: Poster server mock refactor. To..."
The puzzle `101-590ecdb6` from #101 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/38fe4de0be999c5df48e06f9978d5d71c600566f/tests/poster_mock.py#L31-L36

The puzzle was created by Emiliano Della Casa on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-12 22:14] 0pdd opened #233 "test_auth.py:67-70: Implement other test cases for poster..."
The puzzle `101-e1e35f6e` from #101 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/38fe4de0be999c5df48e06f9978d5d71c600566f/tests/test_auth.py#L67-L70

The puzzle was created by Emiliano Della Casa on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-02-12 22:14] 0crat commented on #232
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 22:14] 0pdd opened #234 "test_tables.py:2-8: Write test for creating and editing..."
The puzzle `169-076d68de` from #169 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/38fe4de0be999c5df48e06f9978d5d71c600566f/tests/test_tables.py#L2-L8

The puzzle was created by Emiliano Della Casa on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-02-12 22:14] 0pdd opened #235 "test_reservations.py:11-15: Continue implementation of..."
The puzzle `172-38242c64` from #172 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/38fe4de0be999c5df48e06f9978d5d71c600566f/tests/view/test_reservations.py#L11-L15

The puzzle was created by Emiliano Della Casa on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-02-12 22:14] 0pdd opened #236 "test_reservations.py:16-19: Continue implementation of..."
The puzzle `172-9aab08b8` from #172 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/38fe4de0be999c5df48e06f9978d5d71c600566f/tests/view/test_reservations.py#L16-L19

The puzzle was created by Emiliano Della Casa on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-02-12 22:14] 0pdd opened #237 "test_models.py:13-15: We need to move tests in this file..."
The puzzle `31-8e09cb2a` from #31 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/38fe4de0be999c5df48e06f9978d5d71c600566f/tests/test_models.py#L13-L15

The puzzle was created by Emiliano Della Casa on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-02-12 22:14] 0crat commented on #233
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 22:14] 0pdd commented on #23
@emilianodellacasa 4 puzzles [#197](https://github.com/timelesslounge/timelessis/issues/197), [#212](https://github.com/timelesslounge/timelessis/issues/212), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/timelesslounge/timelessis/issues/233) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://gi

[2019-02-12 22:14] 0pdd commented on #67
@0pdd 3 puzzles [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/timelesslounge/timelessis/issues/233) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113).

[2019-02-12 22:14] 0pdd commented on #101
@0pdd 3 puzzles [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/timelesslounge/timelessis/issues/233) are still not solved.

[2019-02-12 22:14] 0pdd commented on #12
@emilianodellacasa 3 puzzles [#170](https://github.com/timelesslounge/timelessis/issues/170), [#214](https://github.com/timelesslounge/timelessis/issues/214), [#234](https://github.com/timelesslounge/timelessis/issues/234) are still not solved; solved: [#112](https://github.com/timelesslounge/timelessis/issues/112), [#169](https://github.com/timelesslounge/timelessis/issues/169).

[2019-02-12 22:14] 0pdd commented on #112
@0pdd 3 puzzles [#170](https://github.com/timelesslounge/timelessis/issues/170), [#214](https://github.com/timelesslounge/timelessis/issues/214), [#234](https://github.com/timelesslounge/timelessis/issues/234) are still not solved; solved: [#169](https://github.com/timelesslounge/timelessis/issues/169).

[2019-02-12 22:14] 0pdd commented on #169
@0pdd 2 puzzles [#214](https://github.com/timelesslounge/timelessis/issues/214), [#234](https://github.com/timelesslounge/timelessis/issues/234) are still not solved.

[2019-02-12 22:14] 0pdd commented on #27
@emilianodellacasa 3 puzzles [#215](https://github.com/timelesslounge/timelessis/issues/215), [#235](https://github.com/timelesslounge/timelessis/issues/235), [#236](https://github.com/timelesslounge/timelessis/issues/236) are still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171), [#172](https://github.com/timelesslounge/timelessis/issues/172).

[2019-02-12 22:14] 0pdd commented on #172
@0pdd 3 puzzles [#215](https://github.com/timelesslounge/timelessis/issues/215), [#235](https://github.com/timelesslounge/timelessis/issues/235), [#236](https://github.com/timelesslounge/timelessis/issues/236) are still not solved.