[2019-02-27 09:09] 0pdd commented on #183
@0pdd the only puzzle [#330](https://github.com/timelesslounge/timelessis/issues/330) is solved here.

[2019-02-27 09:15] 0crat commented on #292
Job [#292](https://github.com/timelesslounge/timelessis/issues/292) is not in the agenda of @salgadobreno[/z](https://www.0crat.com/u/salgadobreno), can't inspect

[2019-02-27 09:15] 0crat commented on #292
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @salgadobreno[/z](https://www.0crat.com/u/salgadobreno), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-27 09:24] 0crat commented on #292
The job [#292](https://github.com/timelesslounge/timelessis/issues/292) is now out of scope

[2019-02-27 09:26] 0crat commented on #309
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-27 09:28] 0crat commented on #309
The job [#309](https://github.com/timelesslounge/timelessis/issues/309) is now out of scope

[2019-02-27 09:33] 0crat commented on #330
Job was finished in 25 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-27 09:46] 0crat commented on #330
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-27 09:47] ypshenychka commented on #292
@salgadobreno No work was done here, right?

[2019-02-27 09:48] ypshenychka commented on #309
@0crat quality good

[2019-02-27 10:04] 0crat commented on #330
The job [#330](https://github.com/timelesslounge/timelessis/issues/330) is now out of scope

[2019-02-27 10:48] 0crat commented on #214
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-27 10:52] 0crat commented on #309
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-27 10:54] 0crat commented on #309
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 11:30] paulodamaso commented on #288
@ypshenychka Yes, this task just needs to be closed

[2019-02-27 11:36] ypshenychka commented on #288
@paulodamaso got it, thanks

[2019-02-27 11:36] ypshenychka commented on #288
@0crat quality bad

[2019-02-27 11:40] ypshenychka commented on #330
@0crat quality good

[2019-02-27 11:50] 0crat commented on #288
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-27 11:50] 0crat commented on #212
The job [#212](https://github.com/timelesslounge/timelessis/issues/212) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b92c8189-899b-48df-a9fa-0c5b1ecc52c8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-27 12:10] 0crat commented on #288
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 12:10] 0crat commented on #330
Order was finished, quality is "good": +40 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-27 12:10] 0crat commented on #330
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 12:11] 0crat commented on #386
The job [#386](https://github.com/timelesslounge/timelessis/issues/386) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/58f0838d-4e8a-4fee-8c71-42775f5e664b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-27 12:20] 0crat commented on #389
The job [#389](https://github.com/timelesslounge/timelessis/issues/389) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/0248a504-49b1-40b9-a8a9-c91c2556c657); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-27 12:28] paulodamaso commented on #389
@emilianodellacasa I thini that one have to be rethinked too, based on decisions made on #270

[2019-02-27 13:21] ypshenychka commented on #348
@VladimirRyzhkov it's here now, thanks

[2019-02-27 13:21] ypshenychka commented on #348
@0crat quality acceptable

[2019-02-27 13:28] 0crat commented on #348
Order was finished, quality is "acceptable": +30 point(s) just awarded to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov)

[2019-02-27 13:29] 0crat commented on #348
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 13:39] 0crat commented on #215
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-27 14:56] 0pdd commented on #182
The puzzle `22-9d43a2f0` has disappeared from the source code, that's why I closed this issue.

[2019-02-27 14:56] #182 closed

[2019-02-27 14:56] 0pdd opened #432 "unknown_privileges.py:2-4: Create tests for..."
The puzzle `182-2e158098` from #182 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/d8c6d79813d0bce1f5b8c4074147b672b0aa5b89/timeless/access_control/unknown_privileges.py#L2-L4

The puzzle was created by Paulo Lobo on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-02-27 14:57] 0pdd opened #433 "it_companies_test.py:7-11: Inject user privileges into..."
The puzzle `182-4f3d5e7a` from #182 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/d8c6d79813d0bce1f5b8c4074147b672b0aa5b89/tests/integration/it_companies_test.py#L7-L11

The puzzle was created by Paulo Lobo on 27-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-02-27 14:57] 0pdd commented on #22
@emilianodellacasa 9 puzzles [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/timelessis/issues/284), [#358](https://github.com/timelesslounge/timelessis/issues/358), [#392](https://github.com/timelesslounge/timelessis/issues/392), [#393](https://github.com/timelesslounge/timelessis/issues/393), [#397](https://github.com/timelesslounge/timel

[2019-02-27 14:57] 0pdd commented on #182
@0pdd 2 puzzles [#432](https://github.com/timelesslounge/timelessis/issues/432), [#433](https://github.com/timelesslounge/timelessis/issues/433) are still not solved.

[2019-02-27 14:57] 0crat commented on #432
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-27 14:58] 0crat commented on #433
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-27 15:16] 0crat commented on #182
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-27 15:17] 0crat commented on #182
The job [#182](https://github.com/timelesslounge/timelessis/issues/182) is now out of scope

[2019-02-27 15:19] amihaiemil commented on #286
@0pdd waiting for https://github.com/timelesslounge/timelessis/issues/415 . I started on this ticket, but it's a bit confusing. Some puzzle got move without being solved and another older puzzle (which had been solved), got back in (this [one](https://github.com/timelesslounge/timelessis/issues/205))

[2019-02-27 15:24] 0pdd commented on #286
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2019-02-27 15:24] amihaiemil commented on #286
@0crat waiting for https://github.com/timelesslounge/timelessis/issues/415 . I started on this ticket, but it's a bit confusing. Some puzzle got removed without being solved and another older puzzle (which had been solved), got back in (this [one](https://github.com/timelesslounge/timelessis/issues/205))

[2019-02-27 15:27] 0crat commented on #286
@amihaiemil The impediment for [#286](https://github.com/timelesslounge/timelessis/issues/286) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-27 15:41] 0crat commented on #374
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-27 16:02] salgadobreno commented on #292
@ypshenychka yes, we had tried to get a better definition on the puzzle, that didn't happen tho.

[2019-02-27 17:48] vladarefiev commented on #343
@0crat wait for https://github.com/timelesslounge/timelessis/pull/420 will be reviewed

[2019-02-27 17:54] 0crat commented on #343
@vladarefiev The impediment for [#343](https://github.com/timelesslounge/timelessis/issues/343) was registered successfully by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-27 18:06] 0pdd commented on #380
The puzzle `235-8ebed21e` has disappeared from the source code, that's why I closed this issue.

[2019-02-27 18:06] #380 closed

[2019-02-27 18:07] 0pdd opened #434 "views.py:118-122: Continue. When we use the..."
The puzzle `380-2426b146` from #380 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/a4b3d4158790f7f65207263e5a0d8a4d5d479c55/timeless/reservations/views.py#L118-L122

The puzzle was created by marceloamadeu on 27-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-02-27 18:07] 0pdd commented on #27
@emilianodellacasa 4 puzzles [#215](https://github.com/timelesslounge/timelessis/issues/215), [#236](https://github.com/timelesslounge/timelessis/issues/236), [#379](https://github.com/timelesslounge/timelessis/issues/379), [#434](https://github.com/timelesslounge/timelessis/issues/434) are still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171), [#172](https://gi

[2019-02-27 18:07] 0pdd commented on #172
@0pdd 4 puzzles [#215](https://github.com/timelesslounge/timelessis/issues/215), [#236](https://github.com/timelesslounge/timelessis/issues/236), [#379](https://github.com/timelesslounge/timelessis/issues/379), [#434](https://github.com/timelesslounge/timelessis/issues/434) are still not solved; solved: [#235](https://github.com/timelesslounge/timelessis/issues/235), [#380](https://github.com/time

[2019-02-27 18:07] 0pdd commented on #235
@0pdd 2 puzzles [#379](https://github.com/timelesslounge/timelessis/issues/379), [#434](https://github.com/timelesslounge/timelessis/issues/434) are still not solved; solved: [#380](https://github.com/timelesslounge/timelessis/issues/380).

[2019-02-27 18:07] 0pdd commented on #380
@0pdd the puzzle [#434](https://github.com/timelesslounge/timelessis/issues/434) is still not solved.

[2019-02-27 18:07] 0crat commented on #434
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-27 18:25] 0crat commented on #380
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-27 18:25] 0crat commented on #380
The job [#380](https://github.com/timelesslounge/timelessis/issues/380) is now out of scope

[2019-02-27 18:40] 0crat commented on #376
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-27 18:41] 0crat commented on #388
The job [#388](https://github.com/timelesslounge/timelessis/issues/388) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/77d0a4ac-df59-4dc5-9253-cf06e61dcefa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-27 20:19] ypshenychka commented on #182
@0crat quality good

[2019-02-27 20:20] 0crat commented on #182
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 20:20] 0crat commented on #182
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-27 20:25] paulodamaso commented on #278
@0crat wait for https://github.com/timelesslounge/timelessis/pull/436 review and merge

[2019-02-27 20:28] 0crat commented on #278
@paulodamaso The impediment for [#278](https://github.com/timelesslounge/timelessis/issues/278) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-27 20:38] vryazanov commented on #308
@0crat refuse

[2019-02-27 20:40] 0crat commented on #308
@vryazanov The user @vryazanov[/z](https://www.0crat.com/u/vryazanov) resigned from [#308](https://github.com/timelesslounge/timelessis/issues/308), please stop working. Reason for job resignation: Order was cancelled

[2019-02-27 20:41] 0crat commented on #308
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-27 20:48] 0crat commented on #387
The job [#387](https://github.com/timelesslounge/timelessis/issues/387) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/766f3e8e-c585-4261-b905-9af1f5b37c5c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-27 20:51] ypshenychka commented on #292
@salgadobreno thanks

[2019-02-27 20:51] ypshenychka commented on #292
@0crat quality bad

[2019-02-27 20:52] 0crat commented on #292
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-27 20:52] ypshenychka commented on #380
@0crat quality good

[2019-02-27 20:53] 0crat commented on #292
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 20:54] 0crat commented on #380
Order was finished, quality is "good": +35 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-02-27 20:54] 0crat commented on #380
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 21:17] 0pdd commented on #312
The puzzle `173-ed27940d` has disappeared from the source code, that's why I closed this issue.

[2019-02-27 21:17] #312 closed

[2019-02-27 21:17] 0pdd opened #437 "views.py:72-74: Refactor all deleting views to use..."
The puzzle `312-1cb7fb5f` from #312 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/24bc7dc0a4522feee331f5ce0e4f2091dd11236a/timeless/restaurants/table_shapes/views.py#L72-L74

The puzzle was created by Vadim Ryazanov on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-27 21:17] 0pdd commented on #173
@vryazanov 7 puzzles [#306](https://github.com/timelesslounge/timelessis/issues/306), [#308](https://github.com/timelesslounge/timelessis/issues/308), [#310](https://github.com/timelesslounge/timelessis/issues/310), [#311](https://github.com/timelesslounge/timelessis/issues/311), [#429](https://github.com/timelesslounge/timelessis/issues/429), [#430](https://github.com/timelesslounge/timelessis/is

[2019-02-27 21:17] 0pdd commented on #312
@0pdd the puzzle [#437](https://github.com/timelesslounge/timelessis/issues/437) is still not solved.

[2019-02-27 21:17] 0crat commented on #437
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-27 21:34] paulodamaso commented on #311
@0crat wait for #438 review and merge

[2019-02-27 21:44] 0crat commented on #311
@paulodamaso The impediment for [#311](https://github.com/timelesslounge/timelessis/issues/311) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-27 21:46] 0crat commented on #312
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-27 21:47] 0crat commented on #312
Job [#312](https://github.com/timelesslounge/timelessis/issues/312) is not in the agenda of @vryazanov[/z](https://www.0crat.com/u/vryazanov), can't inspect

[2019-02-27 21:47] 0crat commented on #312
The job [#312](https://github.com/timelesslounge/timelessis/issues/312) is now out of scope

[2019-02-27 21:48] 0crat commented on #393
The job [#393](https://github.com/timelesslounge/timelessis/issues/393) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/a4be3fa6-d5c2-4916-b274-5b47ab363f9a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-28 04:25] ypshenychka commented on #312
@0crat quality good

[2019-02-28 06:43] ypshenychka commented on #312
@0crat quality good

[2019-02-28 06:58] 0crat commented on #312
@ypshenychka There is no quality review for [#312](https://github.com/timelesslounge/timelessis/issues/312), no performer

[2019-02-28 07:08] 0crat commented on #312
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-28 07:09] 0crat commented on #312
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-28 07:25] ammaratef45 commented on #389
@paulodamaso I've been following #270 and I found you were using factories.
Is that the decision or something else?

[2019-02-28 07:51] 0crat commented on #308
The job [#308](https://github.com/timelesslounge/timelessis/issues/308) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/56532809-2ff7-4f19-bb81-442e31d67e62); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-28 08:47] emilianodellacasa commented on #286
@amihaiemil I think there has been some mess during a branch merge. I will try to open again issue #415 and at the same time I would kindly ask you to delete puzzle for #205. Do you think it would work that way?

[2019-02-28 08:48] emilianodellacasa commented on #389
@paulodamaso @ammaratef45 Correct, we better close this one, sorry about that

[2019-02-28 08:50] ammaratef45 commented on #389
@emilianodellacasa shouldn't we delete the puzzle?

[2019-02-28 08:51] 0crat commented on #389
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-28 08:51] emilianodellacasa commented on #389
@ammaratef45 you are right of course, please submit a PR to remove the puzzle

[2019-02-28 08:53] amihaiemil commented on #286
@emilianodellacasa yes sure. I wanted to do something in the same direction as well :) I'll take up on it as soon as possible.

[2019-02-28 08:55] amihaiemil commented on #286
@emilianodellacasa the puzzles were switched in PR #384, [here](https://github.com/timelesslounge/timelessis/pull/384/files#diff-69fdbdff8d7c8e99f10595a5215e8cf2L37). My bad, I didn't notice...

[2019-02-28 08:55] ammaratef45 commented on #389
@emilianodellacasa Done, please check it.

[2019-02-28 08:57] 0crat commented on #415
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-28 09:05] 0crat commented on #415
Job [#415](https://github.com/timelesslounge/timelessis/issues/415) is now in scope, role is `DEV`

[2019-02-28 09:07] 0crat commented on #389
GitHub issue is still open, won't close

[2019-02-28 09:11] 0pdd commented on #389
The puzzle `370-7db59df9` has disappeared from the source code, that's why I closed this issue.

[2019-02-28 09:11] #389 closed

[2019-02-28 09:11] 0pdd commented on #23
@emilianodellacasa 5 puzzles [#212](https://github.com/timelesslounge/timelessis/issues/212), [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388) are still not solved; solved: [#101](https://gi

[2019-02-28 09:11] 0pdd commented on #67
@0pdd 4 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/time

[2019-02-28 09:11] 0pdd commented on #101
@0pdd 3 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388) are still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/time

[2019-02-28 09:11] 0pdd commented on #232
@0pdd 3 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388) are still not solved; solved: [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340), [#370](https://github.com/time

[2019-02-28 09:11] 0pdd commented on #340
@0pdd 2 puzzles [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388) are still not solved; solved: [#370](https://github.com/timelesslounge/timelessis/issues/370), [#389](https://github.com/timelesslounge/timelessis/issues/389).

[2019-02-28 09:11] 0pdd commented on #370
@0pdd 2 puzzles [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388) are still not solved; solved: [#389](https://github.com/timelesslounge/timelessis/issues/389).

[2019-02-28 09:29] 0crat commented on #389
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.43.1](https://github.com/zerocracy/farm): CID: [9c371737-1394-4e21-a149-3fb284b9184b](https://www.0crat.com/footprint/CF9LG1YCA/9c371737-1394-4e21-a149-3fb284b9184b), Type: "Close job"

[2019-02-28 09:29] 0crat commented on #389
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-28 09:30] 0crat commented on #389
Job [#389](https://github.com/timelesslounge/timelessis/issues/389) is not in the agenda of @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), can't inspect

[2019-02-28 09:30] 0crat commented on #389
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-28 09:30] 0crat commented on #389
The job [#389](https://github.com/timelesslounge/timelessis/issues/389) is now out of scope

[2019-02-28 10:30] 0crat commented on #392
The job [#392](https://github.com/timelesslounge/timelessis/issues/392) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/f6adff56-4ebb-436f-84ea-f280439d0eec); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-28 14:52] 0pdd opened #442 "test_items.py:15-17: CreateView is not working as..."
The puzzle `311-824efe7f` from #311 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/bffba0337007eda3d405e86dd967ecb34e62baa1/tests/view/items/test_items.py#L15-L17

The puzzle was created by Paulo Lobo on 28-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-28 14:52] 0pdd opened #443 "views.py:8-10: Once CreateView is implemented, refactor..."
The puzzle `311-e8daa63c` from #311 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/bffba0337007eda3d405e86dd967ecb34e62baa1/timeless/views.py#L8-L10

The puzzle was created by Paulo Lobo on 27-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fro

[2019-02-28 14:52] 0pdd commented on #173
@vryazanov 8 puzzles [#306](https://github.com/timelesslounge/timelessis/issues/306), [#308](https://github.com/timelesslounge/timelessis/issues/308), [#311](https://github.com/timelesslounge/timelessis/issues/311), [#429](https://github.com/timelesslounge/timelessis/issues/429), [#430](https://github.com/timelesslounge/timelessis/issues/430), [#437](https://github.com/timelesslounge/timelessis/is

[2019-02-28 14:52] 0pdd commented on #311
@0pdd 2 puzzles [#442](https://github.com/timelesslounge/timelessis/issues/442), [#443](https://github.com/timelesslounge/timelessis/issues/443) are still not solved.

[2019-02-28 14:52] 0crat commented on #442
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-28 14:53] 0crat commented on #443
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-28 15:24] 0crat commented on #397
The job [#397](https://github.com/timelesslounge/timelessis/issues/397) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/fd31975c-904a-4951-8e38-5adb3789b31a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-28 16:03] 0pdd commented on #212
The puzzle `157-99e49342` has disappeared from the source code, that's why I closed this issue.

[2019-02-28 16:03] #212 closed

[2019-02-28 16:04] 0pdd opened #444 "it_sync_location_test.py:17-19: Refactor..."
The puzzle `232-d0fde898` from #232 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/4138136e6a3b1e664da8ae29092a27c95fd2e8ea/tests/integration/sync/it_sync_location_test.py#L17-L19

The puzzle was created by Paulo Lobo on 27-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-28 16:04] 0pdd commented on #23
@emilianodellacasa 5 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#444](https://github.com/timelesslounge/timelessis/issues/444) are still not solved; solved: [#101](https://gi

[2019-02-28 16:04] 0pdd commented on #66
@0pdd all 3 puzzles are solved here: [#157](https://github.com/timelesslounge/timelessis/issues/157), [#212](https://github.com/timelesslounge/timelessis/issues/212), [#88](https://github.com/timelesslounge/timelessis/issues/88).

[2019-02-28 16:04] 0pdd commented on #88
@0pdd all 2 puzzles are solved here: [#157](https://github.com/timelesslounge/timelessis/issues/157), [#212](https://github.com/timelesslounge/timelessis/issues/212).

[2019-02-28 16:04] 0pdd commented on #157
@0pdd the only puzzle [#212](https://github.com/timelesslounge/timelessis/issues/212) is solved here.

[2019-02-28 16:04] 0pdd commented on #67
@0pdd 5 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#444](https://github.com/timelesslounge/timelessis/issues/444) are still not solved; solved: [#101](https://github.com/time

[2019-02-28 16:04] 0pdd commented on #101
@0pdd 4 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#444](https://github.com/timelesslounge/timelessis/issues/444) are still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/time

[2019-02-28 16:04] 0pdd commented on #232
@0pdd 4 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#444](https://github.com/timelesslounge/timelessis/issues/444) are still not solved; solved: [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/time

[2019-02-28 16:05] 0crat commented on #444
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-28 16:22] 0crat commented on #212
Job was finished in 28 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-28 16:23] 0crat commented on #212
The job [#212](https://github.com/timelesslounge/timelessis/issues/212) is now out of scope

[2019-02-28 16:23] 0crat commented on #212
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-28 19:10] #289 closed

[2019-02-28 19:10] 0pdd commented on #289
The puzzle `221-191ec061` has disappeared from the source code, that's why I closed this issue.

[2019-02-28 19:10] 0pdd opened #447 "views.py:46-53: Move Fake* class definitions to test path..."
The puzzle `289-468492ec` from #289 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1db90a3c9dcb10df88dbc7d5d1cf85450d8b73e1/timeless/views.py#L46-L53

The puzzle was created by Breno Salgado on 28-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-28 19:10] 0pdd opened #448 "views.py:54-57: Research bringing in..."
The puzzle `289-687cbbee` from #289 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1db90a3c9dcb10df88dbc7d5d1cf85450d8b73e1/timeless/views.py#L54-L57

The puzzle was created by Breno Salgado on 28-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-28 19:10] 0pdd opened #449 "views.py:58-63: Continue with the implementation of..."
The puzzle `289-ad18aa9a` from #289 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1db90a3c9dcb10df88dbc7d5d1cf85450d8b73e1/timeless/views.py#L58-L63

The puzzle was created by Breno Salgado on 25-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-28 19:10] 0pdd commented on #26
@emilianodellacasa 6 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267), [#288](https://github.com/timelesslounge/timelessis/issues/288), [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448), [#449](https://github.com/timelesslounge/timel

[2019-02-28 19:10] 0pdd commented on #87
@0pdd 6 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267), [#288](https://github.com/timelesslounge/timelessis/issues/288), [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448), [#449](https://github.com/timelesslounge/timelessis/issues/

[2019-02-28 19:10] 0pdd commented on #123
@0pdd 6 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267), [#288](https://github.com/timelesslounge/timelessis/issues/288), [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448), [#449](https://github.com/timelesslounge/timelessis/issues/

[2019-02-28 19:11] 0pdd commented on #221
@0pdd 4 puzzles [#288](https://github.com/timelesslounge/timelessis/issues/288), [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448), [#449](https://github.com/timelesslounge/timelessis/issues/449) are still not solved; solved: [#289](https://github.com/timelesslounge/timelessis/issues/289).

[2019-02-28 19:11] 0pdd commented on #289
@0pdd 3 puzzles [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448), [#449](https://github.com/timelesslounge/timelessis/issues/449) are still not solved.

[2019-02-28 19:11] 0crat commented on #449
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-28 19:11] 0crat commented on #448
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-28 19:11] 0crat commented on #447
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-28 19:35] 0crat commented on #289
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @salgadobreno[/z](https://www.0crat.com/u/salgadobreno), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-28 19:35] 0crat commented on #289
The job [#289](https://github.com/timelesslounge/timelessis/issues/289) is now out of scope

[2019-02-28 19:35] 0crat commented on #289
Job [#289](https://github.com/timelesslounge/timelessis/issues/289) is not in the agenda of @salgadobreno[/z](https://www.0crat.com/u/salgadobreno), can't inspect

[2019-02-28 22:38] paulodamaso commented on #311
@emilianodellacasa please take a look, 0pdd did not closed the ticket I've removed

[2019-03-01 01:20] paulodamaso commented on #317
@0crat refuse

[2019-03-01 01:21] 0crat commented on #317
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#317](https://github.com/timelesslounge/timelessis/issues/317), please stop working. Reason for job resignation: Order was cancelled

[2019-03-01 01:22] 0crat commented on #317
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-01 01:45] paulodamaso commented on #306
@0crat wait for https://github.com/timelesslounge/timelessis/pull/451 review and merge

[2019-03-01 01:47] paulodamaso commented on #314
@0crat refuse

[2019-03-01 01:51] 0crat commented on #306
@paulodamaso The impediment for [#306](https://github.com/timelesslounge/timelessis/issues/306) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-01 01:51] 0crat commented on #314
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#314](https://github.com/timelesslounge/timelessis/issues/314), please stop working. Reason for job resignation: Order was cancelled

[2019-03-01 01:57] 0crat commented on #314
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-01 02:07] paulodamaso commented on #293
@0crat wait for #452 review and merge

[2019-03-01 02:07] 0crat commented on #425
The job [#425](https://github.com/timelesslounge/timelessis/issues/425) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1abc423b-f696-4bab-b362-67eb3c60bce4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-01 02:08] 0crat commented on #293
@paulodamaso The impediment for [#293](https://github.com/timelesslounge/timelessis/issues/293) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-01 02:09] paulodamaso commented on #316
@0crat refuse

[2019-03-01 02:09] 0crat commented on #316
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#316](https://github.com/timelesslounge/timelessis/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2019-03-01 02:10] 0crat commented on #316
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-01 05:46] ypshenychka commented on #389
@0crat quality good

[2019-03-01 05:49] 0crat commented on #389
Order was finished, quality is "good": +40 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-01 05:49] 0crat commented on #389
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-01 06:03] ypshenychka commented on #212
@0crat quality good

[2019-03-01 06:08] 0crat commented on #212
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-01 06:08] 0crat commented on #212
Order was finished, quality is "good": +40 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-01 08:48] #352 closed

[2019-03-01 08:48] 0pdd commented on #352
The puzzle `296-c87b59cc` has disappeared from the source code, that's why I closed this issue.

[2019-03-01 08:48] 0pdd commented on #47
@emilianodellacasa all 7 puzzles are solved here: [#114](https://github.com/timelesslounge/timelessis/issues/114), [#115](https://github.com/timelesslounge/timelessis/issues/115), [#116](https://github.com/timelesslounge/timelessis/issues/116), [#191](https://github.com/timelesslounge/timelessis/issues/191), [#224](https://github.com/timelesslounge/timelessis/issues/224), [#296](https://github.com

[2019-03-01 08:48] 0pdd commented on #115
@0pdd all 3 puzzles are solved here: [#224](https://github.com/timelesslounge/timelessis/issues/224), [#296](https://github.com/timelesslounge/timelessis/issues/296), [#352](https://github.com/timelesslounge/timelessis/issues/352).

[2019-03-01 08:48] 0pdd commented on #224
@0pdd all 2 puzzles are solved here: [#296](https://github.com/timelesslounge/timelessis/issues/296), [#352](https://github.com/timelesslounge/timelessis/issues/352).

[2019-03-01 08:48] 0pdd commented on #296
@0pdd the only puzzle [#352](https://github.com/timelesslounge/timelessis/issues/352) is solved here.

[2019-03-01 09:07] #343 closed

[2019-03-01 09:07] 0pdd commented on #343
The puzzle `187-9c4d2494` has disappeared from the source code, that's why I closed this issue.

[2019-03-01 09:07] 0pdd opened #453 "models.py:82-87: Implement two class methods..."
The puzzle `343-d709a22a` from #343 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/18560cbf90aa228bdf8cb605cab6a31e03cfd80a/timeless/restaurants/models.py#L82-L87

The puzzle was created by Vlad Arefev on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-03-01 09:07] 0pdd commented on #24
@emilianodellacasa 3 puzzles [#344](https://github.com/timelesslounge/timelessis/issues/344), [#376](https://github.com/timelesslounge/timelessis/issues/376), [#453](https://github.com/timelesslounge/timelessis/issues/453) are still not solved; solved: [#187](https://github.com/timelesslounge/timelessis/issues/187), [#342](https://github.com/timelesslounge/timelessis/issues/342), [#343](https://gi

[2019-03-01 09:07] 0pdd commented on #187
@0pdd 3 puzzles [#344](https://github.com/timelesslounge/timelessis/issues/344), [#376](https://github.com/timelesslounge/timelessis/issues/376), [#453](https://github.com/timelesslounge/timelessis/issues/453) are still not solved; solved: [#342](https://github.com/timelesslounge/timelessis/issues/342), [#343](https://github.com/timelesslounge/timelessis/issues/343), [#345](https://github.com/time

[2019-03-01 09:07] 0pdd commented on #343
@0pdd the puzzle [#453](https://github.com/timelesslounge/timelessis/issues/453) is still not solved.

[2019-03-01 09:07] 0crat commented on #453
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-01 09:15] 0crat commented on #352
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-01 09:21] emilianodellacasa commented on #311
@paulodamaso I fear you mixed up issues: you removed another puzzle for issue #310 (that was already closed), and left this. So please submit another PR, removing the puzzle you wrongly updated and and modify the right one.

[2019-03-01 09:22] 0crat commented on #352
The job [#352](https://github.com/timelesslounge/timelessis/issues/352) is now out of scope

[2019-03-01 09:29] 0crat commented on #343
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-01 09:36] 0crat commented on #343
The job [#343](https://github.com/timelesslounge/timelessis/issues/343) is now out of scope

[2019-03-01 11:12] marceloamadeu commented on #366
@0crat status

[2019-03-01 11:23] 0crat commented on #366
@marceloamadeu This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#366](https://github.com/timelesslounge/timelessis/issues/366) is [in scope](http://www.zerocracy.com/policy.html#14) for 8days
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamad

[2019-03-01 12:01] paulodamaso commented on #311
@emilianodellacasa Sorry for the mess, I've fixed it now, please take a look

[2019-03-01 12:48] 0crat commented on #261
@ekondrashev[/z](https://www.0crat.com/u/ekondrashev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-01 13:53] 0crat commented on #297
The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#297](https://github.com/timelesslounge/timelessis/issues/297), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-03-01 14:05] 0crat commented on #297
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2019-03-01 14:21] emilianodellacasa commented on #374
@0crat assign @paulodamaso

[2019-03-01 14:25] 0crat commented on #374
@emilianodellacasa The job [#374](https://github.com/timelesslounge/timelessis/issues/374) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/04b027cb-c627-4038-8ce5-09864328498a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2019-03-01 14:30] 0crat commented on #374
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-01 14:31] 0pdd commented on #236
The puzzle `172-9aab08b8` has disappeared from the source code, that's why I closed this issue.

[2019-03-01 14:31] #236 closed

[2019-03-01 14:31] 0pdd commented on #27
@emilianodellacasa 3 puzzles [#215](https://github.com/timelesslounge/timelessis/issues/215), [#379](https://github.com/timelesslounge/timelessis/issues/379), [#434](https://github.com/timelesslounge/timelessis/issues/434) are still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171), [#172](https://github.com/timelesslounge/timelessis/issues/172), [#235](https://gi

[2019-03-01 14:31] 0pdd commented on #172
@0pdd 3 puzzles [#215](https://github.com/timelesslounge/timelessis/issues/215), [#379](https://github.com/timelesslounge/timelessis/issues/379), [#434](https://github.com/timelesslounge/timelessis/issues/434) are still not solved; solved: [#235](https://github.com/timelesslounge/timelessis/issues/235), [#236](https://github.com/timelesslounge/timelessis/issues/236), [#380](https://github.com/time

[2019-03-01 14:52] 0pdd commented on #361
The puzzle `56-e2231835` has disappeared from the source code, that's why I closed this issue.

[2019-03-01 14:52] 0pdd opened #455 "views.py:2-5: Continue implementing Edit and Delete views..."
The puzzle `386-df78f47d` from #386 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/454b1098bafc5014bf2ea35ed40658a81add00a3/timeless/schemetypes/views.py#L2-L5

The puzzle was created by Vadim Ryazanov on 28-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-03-01 14:52] 0pdd commented on #18
@emilianodellacasa 2 puzzles [#386](https://github.com/timelesslounge/timelessis/issues/386), [#455](https://github.com/timelesslounge/timelessis/issues/455) are still not solved; solved: [#43](https://github.com/timelesslounge/timelessis/issues/43), [#97](https://github.com/timelesslounge/timelessis/issues/97).

[2019-03-01 14:52] 0pdd commented on #43
@0pdd 2 puzzles [#386](https://github.com/timelesslounge/timelessis/issues/386), [#455](https://github.com/timelesslounge/timelessis/issues/455) are still not solved; solved: [#97](https://github.com/timelesslounge/timelessis/issues/97).

[2019-03-01 14:52] 0pdd commented on #97
@0pdd 2 puzzles [#386](https://github.com/timelesslounge/timelessis/issues/386), [#455](https://github.com/timelesslounge/timelessis/issues/455) are still not solved.

[2019-03-01 14:52] 0pdd commented on #386
@0pdd the puzzle [#455](https://github.com/timelesslounge/timelessis/issues/455) is still not solved.

[2019-03-01 14:52] 0pdd commented on #17
@emilianodellacasa the puzzle [#362](https://github.com/timelesslounge/timelessis/issues/362) is still not solved; solved: [#361](https://github.com/timelesslounge/timelessis/issues/361), [#56](https://github.com/timelesslounge/timelessis/issues/56).

[2019-03-01 14:52] 0pdd commented on #56
@0pdd the puzzle [#362](https://github.com/timelesslounge/timelessis/issues/362) is still not solved; solved: [#361](https://github.com/timelesslounge/timelessis/issues/361).

[2019-03-01 14:52] 0crat commented on #455
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-01 15:13] 0crat commented on #236
Job [#236](https://github.com/timelesslounge/timelessis/issues/236) is not in the agenda of @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), can't inspect

[2019-03-01 15:13] 0crat commented on #236
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-01 15:16] 0crat commented on #236
The job [#236](https://github.com/timelesslounge/timelessis/issues/236) is now out of scope

[2019-03-01 15:16] 0pdd commented on #306
The puzzle `173-b323501f` has disappeared from the source code, that's why I closed this issue.

[2019-03-01 15:16] #306 closed

[2019-03-01 15:17] 0pdd commented on #173
@vryazanov 7 puzzles [#308](https://github.com/timelesslounge/timelessis/issues/308), [#311](https://github.com/timelesslounge/timelessis/issues/311), [#429](https://github.com/timelesslounge/timelessis/issues/429), [#430](https://github.com/timelesslounge/timelessis/issues/430), [#437](https://github.com/timelesslounge/timelessis/issues/437), [#442](https://github.com/timelesslounge/timelessis/is

[2019-03-01 15:28] 0crat commented on #361
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-01 15:28] 0crat commented on #361
Job [#361](https://github.com/timelesslounge/timelessis/issues/361) is not in the agenda of @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), can't inspect

[2019-03-01 15:34] 0crat commented on #361
The job [#361](https://github.com/timelesslounge/timelessis/issues/361) is now out of scope

[2019-03-01 15:37] 0pdd commented on #5
@emilianodellacasa the puzzle [#297](https://github.com/timelesslounge/timelessis/issues/297) is still not solved; solved: [#200](https://github.com/timelesslounge/timelessis/issues/200), [#201](https://github.com/timelesslounge/timelessis/issues/201), [#269](https://github.com/timelesslounge/timelessis/issues/269), [#59](https://github.com/timelesslounge/timelessis/issues/59), [#60](https://githu

[2019-03-01 15:55] 0crat commented on #306
Job [#306](https://github.com/timelesslounge/timelessis/issues/306) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-03-01 15:55] 0crat commented on #306
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-01 15:56] 0crat commented on #306
The job [#306](https://github.com/timelesslounge/timelessis/issues/306) is now out of scope

[2019-03-01 16:09] 0crat commented on #297
The job [#297](https://github.com/timelesslounge/timelessis/issues/297) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/108408e9-25cb-42dc-a9fa-cb8917932125); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-01 16:09] 0crat commented on #297
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.43.2](https://github.com/zerocracy/farm): Issue: timelesslounge/timelessis#297, Action: `created`

[2019-03-01 16:17] 0crat commented on #314
The job [#314](https://github.com/timelesslounge/timelessis/issues/314) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/aed7daac-ac7c-45fa-8f9c-ed7a804f6406); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-03-01 16:17] 0crat commented on #314
Job `gh:timelesslounge/timelessis#314` already assigned to @vladimirryzhkov, can't assign to @vladimirryzhkov

[2019-03-01 17:45] emilianodellacasa commented on #306
@rultor release, tag=`0.0.1`

[2019-03-01 17:45] rultor commented on #306
@emilianodellacasa OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18096-468749688)

[2019-03-01 17:54] rultor commented on #306
@0pdd @emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18096-468749688) (spent 8min)

[code]

[2019-03-01 17:59] emilianodellacasa commented on #306
@rultor release, tag=`0.0.1`

[2019-03-01 18:01] rultor commented on #306
@emilianodellacasa OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18096-468753960)

[2019-03-01 18:10] rultor commented on #306
@0pdd @emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18096-468753960) (spent 8min)

[code]

[2019-03-01 19:00] 0crat commented on #316
The job [#316](https://github.com/timelesslounge/timelessis/issues/316) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b115f657-4c04-4ea9-9499-a8ff1ec6d136); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-01 19:19] 0crat commented on #317
The job [#317](https://github.com/timelesslounge/timelessis/issues/317) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/33f9bad4-fb7e-4c49-b509-aef8f12d2371); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-01 19:19] 0crat commented on #316
Job `gh:timelesslounge/timelessis#316` already assigned to @ebercamargo, can't assign to @ebercamargo

[2019-03-01 20:27] ypshenychka commented on #289
@salgadobreno According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add reference tp corresponding PR.

[2019-03-01 20:33] ypshenychka commented on #352
@0crat quality good

[2019-03-01 20:35] ypshenychka commented on #343
@0crat quality good

[2019-03-01 20:47] ypshenychka commented on #236
@0crat quality good

[2019-03-01 20:48] ypshenychka commented on #361
@VladimirRyzhkov No work was done here, right?

[2019-03-01 20:57] ypshenychka commented on #306
@0crat quality good

[2019-03-01 20:58] 0crat commented on #352
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-01 20:58] 0crat commented on #429
The job [#429](https://github.com/timelesslounge/timelessis/issues/429) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/537fc9c1-0276-4509-b77e-195a5f145c50); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-03-01 20:58] 0crat commented on #343
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-01 21:00] 0crat commented on #352
Order was finished, quality is "good": +35 point(s) just awarded to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov)

[2019-03-01 21:01] 0crat commented on #343
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-01 21:17] 0crat commented on #236
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-01 21:17] 0crat commented on #236
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-01 21:19] 0crat commented on #306
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-01 21:19] 0crat commented on #306
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-01 21:19] 0crat commented on #415
The job [#415](https://github.com/timelesslounge/timelessis/issues/415) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1b19c1fc-46e6-4346-a15f-1b2d14d128e3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-01 21:49] 0crat commented on #283
@ekondrashev[/z](https://www.0crat.com/u/ekondrashev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-02 00:14] salgadobreno commented on #289
@ypshenychka could you clarify to me? I'm not sure I'm certain how.

[2019-03-02 05:27] VladimirRyzhkov commented on #361
@ypshenychka Yes I haven't finished the task at time (and I'm familiar with 10 days' rule). I'm going to take it again and finish without paying.

[2019-03-02 05:28] 0crat commented on #361
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov) are: `DEV`, `REV`

[2019-03-02 05:30] VladimirRyzhkov commented on #314
@0crat refuse

[2019-03-02 05:31] VladimirRyzhkov commented on #429
@0crat refuse

[2019-03-02 05:31] 0crat commented on #314
@VladimirRyzhkov The user @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov) resigned from [#314](https://github.com/timelesslounge/timelessis/issues/314), please stop working. Reason for job resignation: Order was cancelled

[2019-03-02 05:31] 0crat commented on #429
@VladimirRyzhkov The user @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov) resigned from [#429](https://github.com/timelesslounge/timelessis/issues/429), please stop working. Reason for job resignation: Order was cancelled

[2019-03-02 05:34] 0crat commented on #314
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov)

[2019-03-02 05:35] 0crat commented on #429
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov)

[2019-03-02 06:32] vladarefiev commented on #415
@emilianodellacasa I vote for getting rid of this one https://github.com/timelesslounge/timelessis/blob/master/timeless/views.py#L292

I suggest to use factories and real queries.

[2019-03-02 06:32] vladarefiev commented on #447
@emilianodellacasa I vote for getting rid of this one https://github.com/timelesslounge/timelessis/blob/master/timeless/views.py#L292

I suggest to use factories and real queries.

[2019-03-02 07:29] vladarefiev commented on #415
@emilianodellacasa I have got two questions:
- I can find only this puzzle in codebase https://github.com/timelesslounge/timelessis/blob/master/timeless/restaurants/table_shapes/views.py#L40 is this it?
- We have to upload image by providing image or by url?

[2019-03-02 08:16] vryazanov commented on #338
@0crat wait for https://github.com/timelesslounge/timelessis/pull/445
There is generic `UpdateView` implemented which I need to use for resolving this task

[2019-03-02 08:17] 0crat commented on #338
@vryazanov Job [#338](https://github.com/timelesslounge/timelessis/issues/338) is already on hold

[2019-03-02 08:55] ypshenychka commented on #289
@salgadobreno Just mention this issue number (as an active link) in corresponding PR's description. Then it will appear here as a reference. I believe you have similar comment from me in your PR.

[2019-03-02 08:57] ypshenychka commented on #361
@emilianodellacasa How could this puzzle disappear and ticket is closed, as far as no job was actually done?

[2019-03-02 08:58] ypshenychka commented on #361
@VladimirRyzhkov It's not a good idea, since this puzzle could have been implemented by someone else and removed from code. However let's wait for @emilianodellacasa response.

[2019-03-02 12:01] #283 closed

[2019-03-02 12:01] 0pdd commented on #283
The puzzle `149-40cd4662` has disappeared from the source code, that's why I closed this issue.

[2019-03-02 12:01] 0pdd opened #460 "login.html:3-5: Change the style of login page. Lets..."
The puzzle `283-58a6c044` from #283 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/159f42fae1290ee091ff4f00add8bebea7ad5cb0/timeless/templates/auth/login.html#L3-L5

The puzzle was created by rultor on 02-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-03-02 12:01] 0pdd commented on #4
@emilianodellacasa 5 puzzles [#357](https://github.com/timelesslounge/timelessis/issues/357), [#411](https://github.com/timelesslounge/timelessis/issues/411), [#412](https://github.com/timelesslounge/timelessis/issues/412), [#413](https://github.com/timelesslounge/timelessis/issues/413), [#460](https://github.com/timelesslounge/timelessis/issues/460) are still not solved; solved: [#149](https://gi

[2019-03-02 12:01] 0pdd commented on #149
@0pdd the puzzle [#460](https://github.com/timelesslounge/timelessis/issues/460) is still not solved; solved: [#283](https://github.com/timelesslounge/timelessis/issues/283).

[2019-03-02 12:01] 0pdd commented on #283
@0pdd the puzzle [#460](https://github.com/timelesslounge/timelessis/issues/460) is still not solved.

[2019-03-02 12:02] 0crat commented on #460
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-02 12:12] emilianodellacasa commented on #460
@0crat assign @paulodamaso

[2019-03-02 12:16] 0crat commented on #460
Job [#460](https://github.com/timelesslounge/timelessis/issues/460) is now in scope, role is `DEV`

[2019-03-02 12:18] 0crat commented on #460
@emilianodellacasa The job [#460](https://github.com/timelesslounge/timelessis/issues/460) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/0f07f217-59da-470d-b276-df5e62d36946); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2019-03-02 12:19] 0crat commented on #283
Job [#283](https://github.com/timelesslounge/timelessis/issues/283) is not in the agenda of @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), can't inspect

[2019-03-02 12:19] 0crat commented on #283
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-02 12:19] 0crat commented on #460
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-02 12:19] 0crat commented on #283
The job [#283](https://github.com/timelesslounge/timelessis/issues/283) is now out of scope

[2019-03-02 12:26] 0crat commented on #314
The job [#314](https://github.com/timelesslounge/timelessis/issues/314) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/a7906291-32ee-4573-97f4-775ab263bc86); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-02 13:17] amihaiemil commented on #415
@vladarefiev
The actual puzzle for this ticket has been accidentally replaced with the old and obsolete puzzle you found, see [this discussion](https://github.com/timelesslounge/timelessis/issues/286#issuecomment-467904886).

I guess you can just proceed with this task. I removed the old puzzle in my branch :)

[2019-03-02 13:19] amihaiemil commented on #415
@emilianodellacasa well, I guess this Issue here and mine ([here](https://github.com/timelesslounge/timelessis/issues/286)) are basically the same task comming from different directions. WDYT?

[2019-03-02 13:49] ypshenychka commented on #283
@0crat quality good

[2019-03-02 13:50] vladarefiev commented on #415
@amihaiemil I see, thanks. I can start now

[2019-03-02 13:50] 0crat commented on #283
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-02 13:51] 0crat commented on #283
Order was finished, quality is "good": +35 point(s) just awarded to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev)

[2019-03-02 14:42] paulodamaso commented on #328
@0crat refuse

[2019-03-02 14:42] 0crat commented on #328
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#328](https://github.com/timelesslounge/timelessis/issues/328), please stop working. Reason for job resignation: Order was cancelled

[2019-03-02 14:43] 0crat commented on #328
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-02 14:48] 0crat commented on #328
The job [#328](https://github.com/timelesslounge/timelessis/issues/328) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b73853fc-b91b-414f-8f96-6c535e335fed); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-03-02 15:15] 0pdd commented on #284
The puzzle `175-e2d8fa4e` has disappeared from the source code, that's why I closed this issue.

[2019-03-02 15:15] #284 closed

[2019-03-02 15:15] 0pdd commented on #22
@emilianodellacasa 8 puzzles [#278](https://github.com/timelesslounge/timelessis/issues/278), [#358](https://github.com/timelesslounge/timelessis/issues/358), [#392](https://github.com/timelesslounge/timelessis/issues/392), [#393](https://github.com/timelesslounge/timelessis/issues/393), [#397](https://github.com/timelesslounge/timelessis/issues/397), [#425](https://github.com/timelesslounge/timel

[2019-03-02 15:15] 0pdd commented on #175
@0pdd the only puzzle [#284](https://github.com/timelesslounge/timelessis/issues/284) is solved here.

[2019-03-02 15:34] 0crat commented on #284
Job [#284](https://github.com/timelesslounge/timelessis/issues/284) is not in the agenda of @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), can't inspect

[2019-03-02 15:34] 0crat commented on #284
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-02 15:34] 0crat commented on #284
The job [#284](https://github.com/timelesslounge/timelessis/issues/284) is now out of scope

[2019-03-02 15:42] #285 closed

[2019-03-02 15:42] 0pdd commented on #285
The puzzle `206-24391b14` has disappeared from the source code, that's why I closed this issue.

[2019-03-02 15:42] 0pdd opened #462 "it_table_shapes_test.py:90-92: This test should send file..."
The puzzle `285-9bccf382` from #285 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ea268da1459ec9edaed7b4d04ce98fcb6490eae5/tests/integration/it_table_shapes_test.py#L90-L92

The puzzle was created by Vadim Ryazanov on 28-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2019-03-02 15:42] 0pdd commented on #13
@emilianodellacasa 10 puzzles [#205](https://github.com/timelesslounge/timelessis/issues/205), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/time

[2019-03-02 15:42] 0pdd commented on #72
@0pdd 10 puzzles [#205](https://github.com/timelesslounge/timelessis/issues/205), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues

[2019-03-02 15:42] 0pdd commented on #162
@0pdd 10 puzzles [#205](https://github.com/timelesslounge/timelessis/issues/205), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues

[2019-03-02 15:42] 0pdd commented on #206
@0pdd 2 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#462](https://github.com/timelesslounge/timelessis/issues/462) are still not solved; solved: [#285](https://github.com/timelesslounge/timelessis/issues/285).

[2019-03-02 15:42] 0pdd commented on #285
@0pdd the puzzle [#462](https://github.com/timelesslounge/timelessis/issues/462) is still not solved.

[2019-03-02 15:43] 0crat commented on #462
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-02 15:52] #386 closed

[2019-03-02 15:52] 0pdd commented on #386
The puzzle `97-f1e01378` has disappeared from the source code, that's why I closed this issue.

[2019-03-02 15:52] 0pdd commented on #18
@emilianodellacasa the puzzle [#455](https://github.com/timelesslounge/timelessis/issues/455) is still not solved; solved: [#386](https://github.com/timelesslounge/timelessis/issues/386), [#43](https://github.com/timelesslounge/timelessis/issues/43), [#97](https://github.com/timelesslounge/timelessis/issues/97).

[2019-03-02 15:53] 0pdd commented on #43
@0pdd the puzzle [#455](https://github.com/timelesslounge/timelessis/issues/455) is still not solved; solved: [#386](https://github.com/timelesslounge/timelessis/issues/386), [#97](https://github.com/timelesslounge/timelessis/issues/97).

[2019-03-02 15:53] 0pdd commented on #97
@0pdd the puzzle [#455](https://github.com/timelesslounge/timelessis/issues/455) is still not solved; solved: [#386](https://github.com/timelesslounge/timelessis/issues/386).

[2019-03-02 16:09] 0crat commented on #285
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-02 16:09] 0crat commented on #285
The job [#285](https://github.com/timelesslounge/timelessis/issues/285) is now out of scope

[2019-03-02 16:10] 0crat commented on #386
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-02 16:10] 0crat commented on #386
The job [#386](https://github.com/timelesslounge/timelessis/issues/386) is now out of scope

[2019-03-02 16:22] emilianodellacasa commented on #429
@0crat assign @marceloamadeu

[2019-03-02 16:23] 0crat commented on #429
@emilianodellacasa The job [#429](https://github.com/timelesslounge/timelessis/issues/429) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/2a2e893e-0952-4d90-8fef-ae3f19d46160); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](

[2019-03-02 16:23] 0crat commented on #429
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-03 06:23] krzyk commented on #344
@0crat waiting I was busy with other tasks, I'll work on it now

[2019-03-03 06:24] 0crat commented on #344
@krzyk The impediment for [#344](https://github.com/timelesslounge/timelessis/issues/344) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-03-03 06:37] 0crat commented on #323
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-03 08:51] #388 closed

[2019-03-03 08:51] 0pdd commented on #388
The puzzle `370-7fa43b29` has disappeared from the source code, that's why I closed this issue.

[2019-03-03 08:51] 0pdd opened #464 "__init__.py:6-9: mail sending should be disabled for..."
The puzzle `388-dabdd81d` from #388 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/886456b1d000f381f67c570e4750b81a85ee5cd1/timeless/mail/__init__.py#L6-L9

The puzzle was created by @ammaratef45 on 02-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-03-03 08:51] 0pdd opened #465 "it_auth_test.py:71-73: Forgot password routine. Test a..."
The puzzle `388-4a843a62` from #388 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/886456b1d000f381f67c570e4750b81a85ee5cd1/tests/integration/it_auth_test.py#L71-L73

The puzzle was created by Ammar Atef on 02-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-03 08:51] 0pdd commented on #23
@emilianodellacasa 6 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timel

[2019-03-03 08:51] 0pdd commented on #67
@0pdd 6 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/

[2019-03-03 08:51] 0pdd commented on #101
@0pdd 5 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#197](https://github.com/time

[2019-03-03 08:51] 0pdd commented on #232
@0pdd 5 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#339](https://github.com/time

[2019-03-03 08:51] 0pdd commented on #340
@0pdd 3 puzzles [#387](https://github.com/timelesslounge/timelessis/issues/387), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#370](https://github.com/timelesslounge/timelessis/issues/370), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/time

[2019-03-03 08:51] 0pdd commented on #370
@0pdd 3 puzzles [#387](https://github.com/timelesslounge/timelessis/issues/387), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timelessis/issues/389).

[2019-03-03 08:51] 0pdd commented on #388
@0pdd 2 puzzles [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved.

[2019-03-03 08:51] 0crat commented on #464
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-03 08:53] 0crat commented on #465
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-03 08:59] 0crat commented on #464
Job [#464](https://github.com/timelesslounge/timelessis/issues/464) is now in scope, role is `DEV`

[2019-03-03 09:04] 0crat commented on #465
Job [#465](https://github.com/timelesslounge/timelessis/issues/465) is now in scope, role is `DEV`

[2019-03-03 09:08] 0crat commented on #464
The job [#464](https://github.com/timelesslounge/timelessis/issues/464) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/f41729f4-9bf0-4621-8053-7ff0ed5ff903); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-03-03 09:09] 0crat commented on #388
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-03 09:09] 0crat commented on #388
Job [#388](https://github.com/timelesslounge/timelessis/issues/388) is not in the agenda of @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), can't inspect

[2019-03-03 09:09] 0crat commented on #388
The job [#388](https://github.com/timelesslounge/timelessis/issues/388) is now out of scope

[2019-03-03 09:20] ammaratef45 commented on #308
@0crat refuse

[2019-03-03 09:22] 0crat commented on #308
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#308](https://github.com/timelesslounge/timelessis/issues/308), please stop working. Reason for job resignation: Order was cancelled

[2019-03-03 09:22] 0crat commented on #465
The job [#465](https://github.com/timelesslounge/timelessis/issues/465) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/844284c8-4b66-449c-9707-7eab856b483a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-03 09:23] 0crat commented on #308
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-03 09:24] 0crat commented on #308
The job [#308](https://github.com/timelesslounge/timelessis/issues/308) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/23df5b62-0e5d-4190-a2f8-dbf5465c918a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-03 11:25] amihaiemil commented on #214
@0crat waiting for #466 to be merged

[2019-03-03 11:27] 0crat commented on #214
@amihaiemil The impediment for [#214](https://github.com/timelesslounge/timelessis/issues/214) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-03 11:40] 0crat commented on #379
@amidatonga[/z](https://www.0crat.com/u/amidatonga) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-03 11:40] 0crat commented on #385
@vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-03 11:40] 0crat commented on #381
@amidatonga[/z](https://www.0crat.com/u/amidatonga) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-03 11:40] 0crat commented on #354
@amidatonga[/z](https://www.0crat.com/u/amidatonga) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-03 12:38] amihaiemil commented on #356
@0crat waiting as I am working on it just now

[2019-03-03 12:43] 0crat commented on #356
@amihaiemil The impediment for [#356](https://github.com/timelesslounge/timelessis/issues/356) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-03 12:56] amihaiemil commented on #284
@ypshenychka ping :)

[2019-03-03 16:34] 0pdd commented on #13
@emilianodellacasa 9 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#354](https://github.com/timelesslounge/timel

[2019-03-03 16:34] 0pdd commented on #72
@0pdd 9 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#354](https://github.com/timelesslounge/timelessis/issues/

[2019-03-03 16:34] 0pdd commented on #162
@0pdd 9 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#354](https://github.com/timelesslounge/timelessis/issues/

[2019-03-03 18:42] ypshenychka commented on #284
@0crat quality good

[2019-03-03 18:44] 0crat commented on #284
Order was finished, quality is "good": +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-03 18:44] 0crat commented on #284
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-03 19:22] ypshenychka commented on #285
@0crat quality good

[2019-03-03 19:23] ypshenychka commented on #386
@0crat quality good

[2019-03-03 19:28] ypshenychka commented on #388
@0crat quality good

[2019-03-03 19:33] 0crat commented on #285
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-03-03 19:33] 0crat commented on #285
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-03 19:35] 0crat commented on #386
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-03 19:37] 0crat commented on #386
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-03-03 19:53] ypshenychka commented on #289
@salgadobreno ping

[2019-03-03 19:54] 0crat commented on #388
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-03 19:54] ypshenychka commented on #361
@emilianodellacasa ping

[2019-03-03 19:54] 0crat commented on #388
Order was finished, quality is "good": +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-03 19:56] 0crat commented on #366
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-03-03 19:56] 0crat commented on #366
The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#366](https://github.com/timelesslounge/timelessis/issues/366), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-03-03 20:00] 0crat commented on #366
The job [#366](https://github.com/timelesslounge/timelessis/issues/366) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/01d06e3f-fee5-49c2-a086-f7ae339a4b70); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-03 20:07] emilianodellacasa commented on #366
@0crat assign @marceloamadeu

[2019-03-03 20:08] 0crat commented on #366
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-03-03 20:08] 0crat commented on #366
@emilianodellacasa The job [#366](https://github.com/timelesslounge/timelessis/issues/366) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/e42a6ce3-9a16-4eef-91e4-2a5082d30c1f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](

[2019-03-03 20:09] 0crat commented on #366
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-03 21:45] carlosmiranda commented on #323
@0crat refuse

[2019-03-03 21:46] 0crat commented on #323
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#323](https://github.com/timelesslounge/timelessis/issues/323), please stop working. Reason for job resignation: Order was cancelled

[2019-03-03 21:47] 0crat commented on #323
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-03-03 21:58] 0crat commented on #323
The job [#323](https://github.com/timelesslounge/timelessis/issues/323) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/a750f085-e802-45f0-95dc-0eb111b471d8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-04 08:12] vladarefiev commented on #415
@emilianodellacasa Pls close it, It was done here - https://github.com/timelesslounge/timelessis/pull/461/files

[2019-03-04 08:14] #415 closed

[2019-03-04 08:31] ammaratef45 commented on #392
@emilianodellacasa What tests should I uncomment?

[2019-03-04 08:32] 0crat commented on #415
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-04 08:32] 0crat commented on #415
Job [#415](https://github.com/timelesslounge/timelessis/issues/415) is not in the agenda of @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), can't inspect

[2019-03-04 08:32] 0crat commented on #415
The job [#415](https://github.com/timelesslounge/timelessis/issues/415) is now out of scope

[2019-03-04 08:42] ypshenychka commented on #415
@0crat quality good

[2019-03-04 08:45] 0crat commented on #415
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-04 08:45] 0crat commented on #415
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-04 08:48] ammaratef45 commented on #397
@vryazanov Do you want to use a `type` filed instead of the name? what is the purpose?

[2019-03-04 08:48] ekondrashev commented on #261
@0crat refuse

[2019-03-04 08:49] 0crat commented on #261
@ekondrashev The user @ekondrashev[/z](https://www.0crat.com/u/ekondrashev) resigned from [#261](https://github.com/timelesslounge/timelessis/issues/261), please stop working. Reason for job resignation: Order was cancelled

[2019-03-04 08:49] ekondrashev commented on #261
@paulodamaso Failed understanding what one need to do in order for this puzzle get resolved

Basically I failed to find a cron-based celery configuration for the timelessis project. And also I can see that Locations are already being synced with a shared_task sync_locations
https://github.com/timelesslounge/timelessis/blob/master/timeless/poster/tasks.py#L63

[2019-03-04 08:49] 0crat commented on #261
The job [#261](https://github.com/timelesslounge/timelessis/issues/261) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/815ef5f1-4acd-4aec-a870-720236c83f80); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-04 08:50] 0crat commented on #261
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev)

[2019-03-04 08:52] emilianodellacasa commented on #361
@ypshenychka Sorry for the late reply, but I had to check commit history to find the problem: puzzle disappeared because it was mistakenly removed in PR #446.

It doesn't make any sense IMHO to readd the puzzle, so if you agree I will reopen the issue and assign back to @VladimirRyzhkov, then I will manually close it as soon as his PR is committed.

[2019-03-04 08:52] 0crat commented on #361
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-04 08:52] emilianodellacasa commented on #361
@0crat assign @VladimirRyzhkov

[2019-03-04 08:53] emilianodellacasa commented on #447
@vladarefiev Agree, let's get rid of that FakeTest entirely

[2019-03-04 08:54] 0crat commented on #361
@emilianodellacasa Job [#361](https://github.com/timelesslounge/timelessis/issues/361) is pending quality review, can't start a new order

[2019-03-04 08:54] 0crat commented on #361
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-04 08:55] vryazanov commented on #397
@ammaratef45 I just dont like the idea to understand the role by free text column called name :)
I believe we should use something like this: https://sqlalchemy-utils.readthedocs.io/en/latest/data_types.html#sqlalchemy_utils.types.choice.ChoiceType
and possible options for `name` should be fixed

[2019-03-04 08:56] vryazanov commented on #397
@ammaratef45 I mean that, for example, I as administrator can create a role named `master` and our logic will be broken since we are using hardcoded value `Master` (capital case)

[2019-03-04 08:57] ammaratef45 commented on #397
@vryazanov Now I totally got you 😆
You are right 👍

[2019-03-04 08:59] emilianodellacasa commented on #392
@ammaratef45 They are in 'tests/integration/it_owner_privileges_test.py'

[2019-03-04 09:01] emilianodellacasa commented on #361
@ypshenychka Maybe you should give bad quality, then I will put in scope again

[2019-03-04 09:08] ypshenychka commented on #361
@emilianodellacasa got it

[2019-03-04 09:08] ypshenychka commented on #361
@0crat quality bad

[2019-03-04 09:09] 0crat commented on #361
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-03-04 09:11] emilianodellacasa commented on #338
@vryazanov  #445 has been merged now, please take care of this one as it is high priority

[2019-03-04 09:12] emilianodellacasa commented on #361
@0crat in

[2019-03-04 09:15] 0crat commented on #361
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-04 09:19] 0crat commented on #361
@emilianodellacasa Job [#361](https://github.com/timelesslounge/timelessis/issues/361) is already in scope

[2019-03-04 09:29] emilianodellacasa commented on #361
@0crat status

[2019-03-04 09:30] 0crat commented on #361
@emilianodellacasa This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#361](https://github.com/timelesslounge/timelessis/issues/361) is [in scope](http://www.zerocracy.com/policy.html#14) for 36min
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.c

[2019-03-04 09:30] emilianodellacasa commented on #361
@0crat assign @VladimirRyzhkov

[2019-03-04 09:34] 0crat commented on #361
@emilianodellacasa The job [#361](https://github.com/timelesslounge/timelessis/issues/361) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/049cc451-7288-42c7-8c27-82a0d577cbb3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [

[2019-03-04 09:34] 0crat commented on #361
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-04 09:35] emilianodellacasa commented on #361
@VladimirRyzhkov You can start working on it now

[2019-03-04 10:49] ammaratef45 commented on #392
@emilianodellacasa They are all uncommented already!!

[2019-03-04 11:10] emilianodellacasa commented on #392
@ammaratef45 let me check and also ask @paulodamaso who created the issue

[2019-03-04 11:21] emilianodellacasa commented on #411
@0crat assign @ekondrashev

[2019-03-04 11:25] 0crat commented on #411
Job [#411](https://github.com/timelesslounge/timelessis/issues/411) is now in scope, role is `DEV`

[2019-03-04 11:31] 0crat commented on #411
@emilianodellacasa The job [#411](https://github.com/timelesslounge/timelessis/issues/411) assigned to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1ae41dcd-3f11-492f-b49f-86f7bfc53e56); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2019-03-04 11:35] emilianodellacasa commented on #434
@0crat assign me

[2019-03-04 11:35] emilianodellacasa commented on #421
@0crat assign me

[2019-03-04 11:35] 0crat commented on #411
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-04 11:41] 0crat commented on #421
Job [#421](https://github.com/timelesslounge/timelessis/issues/421) is now in scope, role is `DEV`

[2019-03-04 11:41] 0crat commented on #434
Job [#434](https://github.com/timelesslounge/timelessis/issues/434) is now in scope, role is `DEV`

[2019-03-04 11:43] emilianodellacasa commented on #392
@ammaratef45 I see there are skipped tests in https://github.com/timelesslounge/timelessis/blob/master/tests/integration/it_owner_privileges_test.py please double check

[2019-03-04 11:47] 0crat commented on #421
@emilianodellacasa The job [#421](https://github.com/timelesslounge/timelessis/issues/421) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/05b94c8a-0591-4203-9f12-e7049d24e182); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) a

[2019-03-04 11:47] 0crat commented on #434
@emilianodellacasa The job [#434](https://github.com/timelesslounge/timelessis/issues/434) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/211cc2ef-cb17-4dd6-9b0a-52a3def58de5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) a

[2019-03-04 11:47] 0crat commented on #434
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-04 11:48] 0crat commented on #421
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-04 13:32] salgadobreno commented on #289
@ypshenychka did it, sorry!

[2019-03-04 13:34] 0crat commented on #215
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#215](https://github.com/timelesslounge/timelessis/issues/215), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-03-04 13:34] 0crat commented on #215
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-03-04 13:38] ypshenychka commented on #289
@0crat quality acceptable

[2019-03-04 13:47] krzyk commented on #344
@0crat refuse

[2019-03-04 13:52] 0crat commented on #289
Order was finished, quality is "acceptable": +30 point(s) just awarded to @salgadobreno[/z](https://www.0crat.com/u/salgadobreno)

[2019-03-04 13:58] 0crat commented on #289
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-04 14:00] 0crat commented on #344
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#344](https://github.com/timelesslounge/timelessis/issues/344), please stop working. Reason for job resignation: Order was cancelled

[2019-03-04 14:03] 0crat commented on #344
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-03-04 14:05] ammaratef45 commented on #392
@emilianodellacasa I must look dumb now 😆
Sorry, was searching about comments and didn't try looking for the skip.

[2019-03-04 18:34] 0crat commented on #376
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#376](https://github.com/timelesslounge/timelessis/issues/376), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-03-04 18:34] 0crat commented on #376
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-03-04 18:45] 0crat commented on #344
The job [#344](https://github.com/timelesslounge/timelessis/issues/344) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/e3f1853d-7373-4578-a859-f77a059b06ce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-04 18:48] emilianodellacasa commented on #215
@0crat assign @ebercamargo

[2019-03-04 18:49] emilianodellacasa commented on #376
@0crat assign @ebercamargo

[2019-03-04 18:49] 0crat commented on #215
@emilianodellacasa The job [#215](https://github.com/timelesslounge/timelessis/issues/215) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/557c4d3a-7fd9-413d-a9e3-df63005a1045); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2019-03-04 18:50] 0crat commented on #376
@emilianodellacasa The job [#376](https://github.com/timelesslounge/timelessis/issues/376) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/d550d4bc-1a89-488f-9b33-1789125e57a7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2019-03-04 18:50] 0crat commented on #215
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-04 18:50] 0crat commented on #376
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-04 21:42] 0crat commented on #387
@vryazanov[/z](https://www.0crat.com/u/vryazanov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-04 22:46] 0crat commented on #393
@vryazanov[/z](https://www.0crat.com/u/vryazanov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-05 03:57] paulodamaso commented on #357
@0crat refuse

[2019-03-05 03:57] 0crat commented on #357
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#357](https://github.com/timelesslounge/timelessis/issues/357), please stop working. Reason for job resignation: Order was cancelled

[2019-03-05 03:58] paulodamaso commented on #362
@0crat refuse

[2019-03-05 03:58] 0crat commented on #357
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-05 03:58] 0crat commented on #362
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#362](https://github.com/timelesslounge/timelessis/issues/362), please stop working. Reason for job resignation: Order was cancelled

[2019-03-05 03:59] 0crat commented on #362
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-05 03:59] paulodamaso commented on #363
@0crat refuse

[2019-03-05 04:00] paulodamaso commented on #358
@0crat refuse

[2019-03-05 04:02] 0crat commented on #363
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#363](https://github.com/timelesslounge/timelessis/issues/363), please stop working. Reason for job resignation: Order was cancelled

[2019-03-05 04:04] 0crat commented on #358
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#358](https://github.com/timelesslounge/timelessis/issues/358), please stop working. Reason for job resignation: Order was cancelled

[2019-03-05 04:06] 0crat commented on #363
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-05 04:06] 0crat commented on #358
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-05 08:21] 0pdd commented on #315
The puzzle `260-f7abb4b5` has disappeared from the source code, that's why I closed this issue.

[2019-03-05 08:21] #315 closed

[2019-03-05 08:21] 0pdd commented on #13
@emilianodellacasa 8 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#354](https://github.com/timelesslounge/timelessis/issues/354), [#414](https://github.com/timelesslounge/timel

[2019-03-05 08:21] 0pdd commented on #72
@0pdd 8 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#354](https://github.com/timelesslounge/timelessis/issues/354), [#414](https://github.com/timelesslounge/timelessis/issues/

[2019-03-05 08:21] 0pdd commented on #162
@0pdd 8 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#354](https://github.com/timelesslounge/timelessis/issues/354), [#414](https://github.com/timelesslounge/timelessis/issues/

[2019-03-05 08:21] 0pdd commented on #203
@0pdd 3 puzzles [#314](https://github.com/timelesslounge/timelessis/issues/314), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317) are still not solved; solved: [#260](https://github.com/timelesslounge/timelessis/issues/260), [#315](https://github.com/timelesslounge/timelessis/issues/315).

[2019-03-05 08:21] 0pdd commented on #260
@0pdd 3 puzzles [#314](https://github.com/timelesslounge/timelessis/issues/314), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317) are still not solved; solved: [#315](https://github.com/timelesslounge/timelessis/issues/315).

[2019-03-05 08:38] VladimirRyzhkov commented on #385
@0pdd refuse

[2019-03-05 08:44] 0pdd commented on #385
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2019-03-05 10:25] krzyk opened #472 "Missing .0pdd configuration"
We should add .0pdd config for 0pdd so it will add correct labels to each puzzle it creates.
Right now ARC has to add labels manually, but with that file we could do it automatically.

See https://github.com/yegor256/0pdd README for configuration.
Example one:
[code]

[2019-03-05 10:25] 0crat commented on #472
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-05 10:36] 0pdd commented on #278
The puzzle `179-b0e1041f` has disappeared from the source code, that's why I closed this issue.

[2019-03-05 10:36] #278 closed

[2019-03-05 10:36] 0pdd opened #473 "it_employees_test.py:11-13: Tests are not using secured..."
The puzzle `278-f7d596d0` from #278 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/088b15a2c5df16dab9285e509f542d87ed9a6a35/tests/integration/it_employees_test.py#L11-L13

The puzzle was created by Paulo Lobo on 04-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-03-05 10:36] 0pdd opened #474 "__init__.py:2-7: Continue securing other views, by using..."
The puzzle `278-347c0e39` from #278 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/088b15a2c5df16dab9285e509f542d87ed9a6a35/timeless/access_control/__init__.py#L2-L7

The puzzle was created by Paulo Lobo on 27-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-05 10:36] 0pdd commented on #22
@emilianodellacasa 9 puzzles [#358](https://github.com/timelesslounge/timelessis/issues/358), [#392](https://github.com/timelesslounge/timelessis/issues/392), [#393](https://github.com/timelesslounge/timelessis/issues/393), [#397](https://github.com/timelesslounge/timelessis/issues/397), [#425](https://github.com/timelesslounge/timelessis/issues/425), [#432](https://github.com/timelesslounge/timel

[2019-03-05 10:36] 0pdd commented on #179
@0pdd 2 puzzles [#473](https://github.com/timelesslounge/timelessis/issues/473), [#474](https://github.com/timelesslounge/timelessis/issues/474) are still not solved; solved: [#278](https://github.com/timelesslounge/timelessis/issues/278).

[2019-03-05 10:36] 0pdd commented on #278
@0pdd 2 puzzles [#473](https://github.com/timelesslounge/timelessis/issues/473), [#474](https://github.com/timelesslounge/timelessis/issues/474) are still not solved.

[2019-03-05 10:37] 0crat commented on #474
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-05 10:37] 0crat commented on #473
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-05 11:13] 0pdd commented on #311
The puzzle `173-825cf970` has disappeared from the source code, that's why I closed this issue.

[2019-03-05 11:13] #311 closed

[2019-03-05 11:13] 0pdd opened #475 "views.py:11-14: Once UpdateView is implemented, refactor..."
The puzzle `311-014faf56` from #311 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ab0ac946ac8b14d8b15cbe1367a632e5a9672bd3/timeless/views.py#L11-L14

The puzzle was created by Paulo Lobo on 01-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fr

[2019-03-05 11:13] 0pdd commented on #173
@vryazanov 7 puzzles [#308](https://github.com/timelesslounge/timelessis/issues/308), [#429](https://github.com/timelesslounge/timelessis/issues/429), [#430](https://github.com/timelesslounge/timelessis/issues/430), [#437](https://github.com/timelesslounge/timelessis/issues/437), [#442](https://github.com/timelesslounge/timelessis/issues/442), [#443](https://github.com/timelesslounge/timelessis/is

[2019-03-05 11:13] 0pdd commented on #311
@0pdd 3 puzzles [#442](https://github.com/timelesslounge/timelessis/issues/442), [#443](https://github.com/timelesslounge/timelessis/issues/443), [#475](https://github.com/timelesslounge/timelessis/issues/475) are still not solved.

[2019-03-05 11:14] 0crat commented on #475
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-05 13:26] VladimirRyzhkov commented on #385
@0crat refuse

[2019-03-05 14:19] vladarefiev commented on #323
@0crat refuse

[2019-03-05 14:27] #293 closed

[2019-03-05 14:27] 0pdd commented on #293
The puzzle `186-a9021931` has disappeared from the source code, that's why I closed this issue.

[2019-03-05 14:27] 0pdd opened #476 "views.py:22-25: For SettingsCreateView,..."
The puzzle `293-5a3e6b1a` from #293 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/0c9b2b521d89d28aac7dbed4abf4b43a13c95d48/timeless/reservations/views.py#L22-L25

The puzzle was created by Paulo Lobo on 04-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-05 14:27] 0pdd commented on #32
@emilianodellacasa 3 puzzles [#292](https://github.com/timelesslounge/timelessis/issues/292), [#356](https://github.com/timelesslounge/timelessis/issues/356), [#476](https://github.com/timelesslounge/timelessis/issues/476) are still not solved; solved: [#186](https://github.com/timelesslounge/timelessis/issues/186), [#291](https://github.com/timelesslounge/timelessis/issues/291), [#293](https://gi

[2019-03-05 14:27] 0pdd commented on #63
@0pdd 3 puzzles [#292](https://github.com/timelesslounge/timelessis/issues/292), [#356](https://github.com/timelesslounge/timelessis/issues/356), [#476](https://github.com/timelesslounge/timelessis/issues/476) are still not solved; solved: [#186](https://github.com/timelesslounge/timelessis/issues/186), [#291](https://github.com/timelesslounge/timelessis/issues/291), [#293](https://github.com/time

[2019-03-05 14:28] 0pdd commented on #186
@0pdd 3 puzzles [#292](https://github.com/timelesslounge/timelessis/issues/292), [#356](https://github.com/timelesslounge/timelessis/issues/356), [#476](https://github.com/timelesslounge/timelessis/issues/476) are still not solved; solved: [#291](https://github.com/timelesslounge/timelessis/issues/291), [#293](https://github.com/timelesslounge/timelessis/issues/293).

[2019-03-05 14:28] 0pdd commented on #293
@0pdd the puzzle [#476](https://github.com/timelesslounge/timelessis/issues/476) is still not solved.

[2019-03-05 14:28] 0crat commented on #476
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-05 14:50] paulodamaso commented on #315
@0crat status

[2019-03-05 15:19] paulodamaso commented on #311
@0crat status

[2019-03-05 15:31] 0crat commented on #385
@VladimirRyzhkov The user @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov) resigned from [#385](https://github.com/timelesslounge/timelessis/issues/385), please stop working. Reason for job resignation: Order was cancelled

[2019-03-05 15:34] 0crat commented on #323
@vladarefiev The user @vladarefiev[/z](https://www.0crat.com/u/vladarefiev) resigned from [#323](https://github.com/timelesslounge/timelessis/issues/323), please stop working. Reason for job resignation: Order was cancelled

[2019-03-05 15:36] 0crat commented on #315
@paulodamaso This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#315](https://github.com/timelesslounge/timelessis/issues/315) is [in scope](http://www.zerocracy.com/policy.html#14) for 14days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/po

[2019-03-05 15:37] 0crat commented on #392
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-05 15:38] 0crat commented on #315
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-05 15:38] 0crat commented on #311
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-05 15:39] 0crat commented on #315
Job [#315](https://github.com/timelesslounge/timelessis/issues/315) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-03-05 15:42] 0crat commented on #278
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-05 15:47] 0crat commented on #315
The job [#315](https://github.com/timelesslounge/timelessis/issues/315) is now out of scope

[2019-03-05 15:47] 0crat commented on #311
The job [#311](https://github.com/timelesslounge/timelessis/issues/311) is now out of scope

[2019-03-05 15:48] 0crat commented on #311
@paulodamaso This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#311](https://github.com/timelesslounge/timelessis/issues/311) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 11min
  * @paulodamaso[/z](https://www.0crat.co

[2019-03-05 15:50] 0crat commented on #293
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-05 15:54] 0crat commented on #385
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov)

[2019-03-05 15:55] 0crat commented on #278
The job [#278](https://github.com/timelesslounge/timelessis/issues/278) is now out of scope

[2019-03-05 15:57] 0crat commented on #323
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-05 15:57] 0crat commented on #293
The job [#293](https://github.com/timelesslounge/timelessis/issues/293) is now out of scope

[2019-03-05 15:58] 0crat commented on #397
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-05 16:00] 0crat commented on #323
The job [#323](https://github.com/timelesslounge/timelessis/issues/323) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/73adb067-f814-4387-92fe-65b0b88b93fe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-05 16:03] 0crat commented on #357
The job [#357](https://github.com/timelesslounge/timelessis/issues/357) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/7953de66-9652-4155-b9e3-50c2068d67ea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-05 17:28] ypshenychka commented on #315
@0crat quality good

[2019-03-05 17:31] ypshenychka commented on #311
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/timelesslounge/timelessis/pull/469/commits/040a173a75609880fc589d680909dbe7a6ed89e8) of your commits contains link to another issue. Please confirm you'll try to avoid this mistaked in future.

[2019-03-05 17:33] ypshenychka commented on #278
@0crat quality good

[2019-03-05 17:35] ypshenychka commented on #293
@0crat quality good

[2019-03-05 17:40] 0crat commented on #278
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-05 17:41] 0crat commented on #278
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-05 17:46] 0crat commented on #293
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-05 17:47] 0crat commented on #293
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-05 17:47] 0crat commented on #358
The job [#358](https://github.com/timelesslounge/timelessis/issues/358) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/e6f59512-9a54-41f7-b22e-ce096a1020d0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-05 17:48] 0crat commented on #385
The job [#385](https://github.com/timelesslounge/timelessis/issues/385) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/27dd035f-2b34-402c-82d8-9f0bcca9af01); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-05 18:48] paulodamaso commented on #315
@0crat status

[2019-03-05 18:50] 0crat commented on #315
@paulodamaso This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#315](https://github.com/timelesslounge/timelessis/issues/315) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 3hr
  * @paulodamaso[/z](https://www.0crat.com/

[2019-03-05 18:51] paulodamaso commented on #311
@ypshenychka I confirm

[2019-03-05 18:52] 0crat commented on #315
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-05 18:53] 0crat commented on #315
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-05 19:33] ypshenychka commented on #311
@0crat quality acceptable

[2019-03-05 19:51] 0crat commented on #311
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-05 19:52] 0crat commented on #311
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-05 19:53] 0crat commented on #362
The job [#362](https://github.com/timelesslounge/timelessis/issues/362) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/8eaced67-76e4-43f5-a714-af8be5d078a8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-03-05 21:04] #214 closed

[2019-03-05 21:04] 0pdd commented on #214
The puzzle `169-2c226ebc` has disappeared from the source code, that's why I closed this issue.

[2019-03-05 21:04] 0pdd commented on #12
@emilianodellacasa the puzzle [#381](https://github.com/timelesslounge/timelessis/issues/381) is still not solved; solved: [#112](https://github.com/timelesslounge/timelessis/issues/112), [#169](https://github.com/timelesslounge/timelessis/issues/169), [#170](https://github.com/timelesslounge/timelessis/issues/170), [#214](https://github.com/timelesslounge/timelessis/issues/214), [#234](https://gi

[2019-03-05 21:04] 0pdd commented on #112
@0pdd the puzzle [#381](https://github.com/timelesslounge/timelessis/issues/381) is still not solved; solved: [#169](https://github.com/timelesslounge/timelessis/issues/169), [#170](https://github.com/timelesslounge/timelessis/issues/170), [#214](https://github.com/timelesslounge/timelessis/issues/214), [#234](https://github.com/timelesslounge/timelessis/issues/234).

[2019-03-05 21:04] 0pdd commented on #169
@0pdd the puzzle [#381](https://github.com/timelesslounge/timelessis/issues/381) is still not solved; solved: [#214](https://github.com/timelesslounge/timelessis/issues/214), [#234](https://github.com/timelesslounge/timelessis/issues/234).

[2019-03-05 21:27] 0crat commented on #214
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-05 21:43] 0crat commented on #214
The job [#214](https://github.com/timelesslounge/timelessis/issues/214) is now out of scope

[2019-03-06 02:38] 0crat commented on #425
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-06 06:22] ammaratef45 commented on #392
@0crat wait for #397

[2019-03-06 06:23] 0crat commented on #392
@ammaratef45 The impediment for [#392](https://github.com/timelesslounge/timelessis/issues/392) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-06 06:40] ammaratef45 commented on #397
@0crat wait for code review

[2019-03-06 06:41] 0crat commented on #397
@ammaratef45 The impediment for [#397](https://github.com/timelesslounge/timelessis/issues/397) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-06 06:52] ypshenychka commented on #214
@0crat quality good

[2019-03-06 06:55] 0crat commented on #214
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-06 06:56] 0crat commented on #214
Order was finished, quality is "good": +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-06 08:20] 0pdd commented on #261
The puzzle `225-de90aee1` has disappeared from the source code, that's why I closed this issue.

[2019-03-06 08:20] #261 closed

[2019-03-06 08:20] 0pdd commented on #25
@emilianodellacasa 2 puzzles [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/timelesslounge/timelessis/issues/410) are still not solved; solved: [#102](https://github.com/timelesslounge/timelessis/issues/102), [#225](https://github.com/timelesslounge/timelessis/issues/225), [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://gi

[2019-03-06 08:20] 0pdd commented on #102
@0pdd 2 puzzles [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/timelesslounge/timelessis/issues/410) are still not solved; solved: [#225](https://github.com/timelesslounge/timelessis/issues/225), [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262).

[2019-03-06 08:20] 0pdd commented on #225
@0pdd 2 puzzles [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/timelesslounge/timelessis/issues/410) are still not solved; solved: [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262).

[2019-03-06 08:38] 0crat commented on #261
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-06 08:43] 0crat commented on #261
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-06 08:43] 0crat commented on #261
Job [#261](https://github.com/timelesslounge/timelessis/issues/261) is not in the agenda of @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), can't inspect

[2019-03-06 08:43] 0crat commented on #261
The job [#261](https://github.com/timelesslounge/timelessis/issues/261) is now out of scope

[2019-03-06 08:50] ypshenychka commented on #261
@0crat quality good

[2019-03-06 08:51] 0crat commented on #363
The job [#363](https://github.com/timelesslounge/timelessis/issues/363) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/7c4d0671-0fd8-43a5-b341-4df7e6d6f408); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-06 08:53] 0crat commented on #261
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-06 08:54] 0crat commented on #261
Order was finished, quality is "good": +40 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-06 09:46] ammaratef45 commented on #314
@0crat refuse

[2019-03-06 09:48] ammaratef45 commented on #465
@emilianodellacasa
[code]
Where is the issue that is supposed to solve this?

[2019-03-06 10:08] 0crat commented on #314
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#314](https://github.com/timelesslounge/timelessis/issues/314), please stop working. Reason for job resignation: Order was cancelled

[2019-03-06 10:09] #308 closed

[2019-03-06 10:09] 0pdd commented on #308
The puzzle `173-17efae76` has disappeared from the source code, that's why I closed this issue.

[2019-03-06 10:09] 0pdd commented on #173
@vryazanov 6 puzzles [#429](https://github.com/timelesslounge/timelessis/issues/429), [#430](https://github.com/timelesslounge/timelessis/issues/430), [#437](https://github.com/timelesslounge/timelessis/issues/437), [#442](https://github.com/timelesslounge/timelessis/issues/442), [#443](https://github.com/timelesslounge/timelessis/issues/443), [#475](https://github.com/timelesslounge/timelessis/is

[2019-03-06 10:15] ammaratef45 commented on #323
@0crat refuse

[2019-03-06 10:22] emilianodellacasa commented on #465
@ammaratef45 It's issue #387 and there is already an open PR that is under review

[2019-03-06 10:23] 0crat commented on #314
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-06 10:26] 0crat commented on #323
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#323](https://github.com/timelesslounge/timelessis/issues/323), please stop working. Reason for job resignation: Order was cancelled

[2019-03-06 10:27] 0crat commented on #308
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-06 10:27] 0crat commented on #323
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-06 10:30] 0crat commented on #308
The job [#308](https://github.com/timelesslounge/timelessis/issues/308) is now out of scope

[2019-03-06 10:50] ammaratef45 commented on #323
@emilianodellacasa Thanks

[2019-03-06 10:50] ammaratef45 commented on #465
@emilianodellacasa Thanks

[2019-03-06 10:50] ammaratef45 commented on #465
@0crat wait for #387

[2019-03-06 10:52] 0crat commented on #465
@ammaratef45 The impediment for [#465](https://github.com/timelesslounge/timelessis/issues/465) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-06 11:04] #397 closed

[2019-03-06 11:04] 0pdd commented on #397
The puzzle `341-9c211a77` has disappeared from the source code, that's why I closed this issue.

[2019-03-06 11:04] 0pdd opened #481 "models.py:23-25: After adding role type, name may make..."
The puzzle `397-ee8459bd` from #397 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/5f0cbc8699a20626a94a0366928eadf24dd541e3/timeless/roles/models.py#L23-L25

The puzzle was created by Ammar Atef on 06-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-03-06 11:04] 0pdd commented on #22
@emilianodellacasa 9 puzzles [#358](https://github.com/timelesslounge/timelessis/issues/358), [#392](https://github.com/timelesslounge/timelessis/issues/392), [#393](https://github.com/timelesslounge/timelessis/issues/393), [#425](https://github.com/timelesslounge/timelessis/issues/425), [#432](https://github.com/timelesslounge/timelessis/issues/432), [#433](https://github.com/timelesslounge/timel

[2019-03-06 11:04] 0pdd commented on #176
@0pdd the puzzle [#481](https://github.com/timelesslounge/timelessis/issues/481) is still not solved; solved: [#298](https://github.com/timelesslounge/timelessis/issues/298), [#341](https://github.com/timelesslounge/timelessis/issues/341), [#397](https://github.com/timelesslounge/timelessis/issues/397).

[2019-03-06 11:04] 0pdd commented on #298
@0pdd the puzzle [#481](https://github.com/timelesslounge/timelessis/issues/481) is still not solved; solved: [#341](https://github.com/timelesslounge/timelessis/issues/341), [#397](https://github.com/timelesslounge/timelessis/issues/397).

[2019-03-06 11:04] 0pdd commented on #341
@0pdd the puzzle [#481](https://github.com/timelesslounge/timelessis/issues/481) is still not solved; solved: [#397](https://github.com/timelesslounge/timelessis/issues/397).

[2019-03-06 11:04] 0pdd commented on #397
@0pdd the puzzle [#481](https://github.com/timelesslounge/timelessis/issues/481) is still not solved.

[2019-03-06 11:05] 0crat commented on #481
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-06 11:22] 0crat commented on #397
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-06 11:22] 0crat commented on #397
Job [#397](https://github.com/timelesslounge/timelessis/issues/397) is not in the agenda of @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), can't inspect

[2019-03-06 11:25] 0crat commented on #397
The job [#397](https://github.com/timelesslounge/timelessis/issues/397) is now out of scope

[2019-03-06 12:03] ypshenychka commented on #397
@0crat quality good

[2019-03-06 12:10] 0crat commented on #397
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-06 12:10] 0crat commented on #397
Order was finished, quality is "good": +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-06 12:18] ypshenychka commented on #308
@0crat quality good

[2019-03-06 12:25] 0crat commented on #308
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-06 12:25] 0crat commented on #308
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-06 12:27] 0crat commented on #314
The job [#314](https://github.com/timelesslounge/timelessis/issues/314) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/d5a18bc4-5414-46c3-b8e7-5bced9aa7345); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-06 14:39] 0crat commented on #374
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-06 15:13] 0pdd commented on #421
The puzzle `95-130b3147` has disappeared from the source code, that's why I closed this issue.

[2019-03-06 15:13] #421 closed

[2019-03-06 15:13] 0pdd opened #483 "views.py:2-6: Continue implementing list floors view...."
The puzzle `421-e91816c7` from #421 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/72eeee39376198a4ccd23241a7b433d15ba734ac/timeless/restaurants/floors/views.py#L2-L6

The puzzle was created by Emiliano Della Casa on 06-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-03-06 15:13] 0pdd commented on #11
@emilianodellacasa 6 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#363](https://github.com/timelesslounge/timelessis/issues/363), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/424), [#483](https://github.com/timelesslounge/timel

[2019-03-06 15:13] 0pdd commented on #42
@0pdd 6 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#363](https://github.com/timelesslounge/timelessis/issues/363), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/424), [#483](https://github.com/timelesslounge/timelessis/issues/

[2019-03-06 15:13] 0pdd commented on #95
@0pdd 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/424), [#483](https://github.com/timelesslounge/timelessis/issues/483) are still not solved; solved: [#192](https://github.com/time

[2019-03-06 15:13] 0pdd commented on #421
@0pdd the puzzle [#483](https://github.com/timelesslounge/timelessis/issues/483) is still not solved.

[2019-03-06 15:14] 0crat commented on #483
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-06 15:47] 0crat commented on #421
The job [#421](https://github.com/timelesslounge/timelessis/issues/421) is now out of scope

[2019-03-06 15:49] 0crat commented on #421
Order was finished: +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-06 15:49] 0crat commented on #323
The job [#323](https://github.com/timelesslounge/timelessis/issues/323) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/f5766920-1006-46fa-a6ea-a8c8fad12e9e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-03-06 16:00] #215 closed

[2019-03-06 16:00] 0pdd commented on #215
The puzzle `172-d4bc0248` has disappeared from the source code, that's why I closed this issue.

[2019-03-06 16:00] 0pdd opened #484 "views.py:121-124: Replace this for..."
The puzzle `215-3c3e97b9` from #215 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/423a45c89730373e36aa732cf68b3c7f80b2d869/timeless/reservations/views.py#L121-L124

The puzzle was created by Eber on 06-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-03-06 16:00] 0pdd commented on #27
@emilianodellacasa 3 puzzles [#379](https://github.com/timelesslounge/timelessis/issues/379), [#434](https://github.com/timelesslounge/timelessis/issues/434), [#484](https://github.com/timelesslounge/timelessis/issues/484) are still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171), [#172](https://github.com/timelesslounge/timelessis/issues/172), [#215](https://gi

[2019-03-06 16:00] 0pdd commented on #172
@0pdd 3 puzzles [#379](https://github.com/timelesslounge/timelessis/issues/379), [#434](https://github.com/timelesslounge/timelessis/issues/434), [#484](https://github.com/timelesslounge/timelessis/issues/484) are still not solved; solved: [#215](https://github.com/timelesslounge/timelessis/issues/215), [#235](https://github.com/timelesslounge/timelessis/issues/235), [#236](https://github.com/time

[2019-03-06 16:00] 0pdd commented on #215
@0pdd the puzzle [#484](https://github.com/timelesslounge/timelessis/issues/484) is still not solved.

[2019-03-06 16:01] 0crat commented on #484
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-06 16:25] 0crat commented on #215
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-06 16:27] 0crat commented on #215
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-06 16:29] 0crat commented on #215
The job [#215](https://github.com/timelesslounge/timelessis/issues/215) is now out of scope

[2019-03-06 16:40] 0crat commented on #297
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-06 16:56] 0pdd opened #485 "test_auth.py:27-29: Inject user into session in the test..."
The puzzle `385-76f7ffb3` from #385 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/118db7fb85c645717912b53818cf788e21cdfb2a/tests/test_auth.py#L27-L29

The puzzle was created by Paulo Lobo on 06-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ f

[2019-03-06 16:56] 0pdd commented on #385
@0pdd the puzzle [#485](https://github.com/timelesslounge/timelessis/issues/485) is still not solved.

[2019-03-06 16:57] 0crat commented on #485
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-06 19:42] 0crat commented on #317
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-06 19:42] 0crat commented on #316
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-06 21:23] vladarefiev commented on #267
@0crat refuse

[2019-03-06 21:24] 0crat commented on #267
@vladarefiev The user @vladarefiev[/z](https://www.0crat.com/u/vladarefiev) resigned from [#267](https://github.com/timelesslounge/timelessis/issues/267), please stop working. Reason for job resignation: Order was cancelled

[2019-03-06 21:24] 0crat commented on #267
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-07 05:59] ypshenychka commented on #215
@ebercamargo According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Most of your commits don't contain link to issue or contain link to invalid issue. Please confirm you'll try to follow this rule next time.

[2019-03-07 09:43] #387 closed

[2019-03-07 09:43] 0pdd commented on #387
The puzzle `370-45d5a6ee` has disappeared from the source code, that's why I closed this issue.

[2019-03-07 09:43] 0pdd commented on #23
@emilianodellacasa 5 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#101](https://gi

[2019-03-07 09:43] 0pdd commented on #67
@0pdd 5 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#101](https://github.com/time

[2019-03-07 09:43] 0pdd commented on #101
@0pdd 4 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/time

[2019-03-07 09:43] 0pdd commented on #232
@0pdd 4 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/time

[2019-03-07 09:43] 0pdd commented on #340
@0pdd 2 puzzles [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#370](https://github.com/timelesslounge/timelessis/issues/370), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/time

[2019-03-07 09:43] 0pdd commented on #370
@0pdd 2 puzzles [#464](https://github.com/timelesslounge/timelessis/issues/464), [#465](https://github.com/timelesslounge/timelessis/issues/465) are still not solved; solved: [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timelessis/issues/389).

[2019-03-07 10:20] 0crat commented on #387
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-07 10:24] #374 closed

[2019-03-07 10:24] 0pdd commented on #374
The puzzle `299-df8b615c` has disappeared from the source code, that's why I closed this issue.

[2019-03-07 10:24] 0pdd opened #490 "install_db.sh:3-13: Continue the deploy algorithm. We..."
The puzzle `374-ef460cff` from #374 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/b2cdd0e32c0097a25b9e5994c00aea2c832f89e6/scripts/install/deploy/install_db.sh#L3-L13

The puzzle was created by Paulo Lobo on 06-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-03-07 10:24] 0pdd commented on #45
@emilianodellacasa the puzzle [#490](https://github.com/timelesslounge/timelessis/issues/490) is still not solved; solved: [#126](https://github.com/timelesslounge/timelessis/issues/126), [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://gi

[2019-03-07 10:24] 0pdd commented on #126
@0pdd the puzzle [#490](https://github.com/timelesslounge/timelessis/issues/490) is still not solved; solved: [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://github.com/timelesslounge/timelessis/issues/248), [#299](https://github.com/time

[2019-03-07 10:24] 0pdd commented on #240
@0pdd the puzzle [#490](https://github.com/timelesslounge/timelessis/issues/490) is still not solved; solved: [#248](https://github.com/timelesslounge/timelessis/issues/248), [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300), [#374](https://github.com/timelesslounge/timelessis/issues/374).

[2019-03-07 10:24] 0pdd commented on #248
@0pdd the puzzle [#490](https://github.com/timelesslounge/timelessis/issues/490) is still not solved; solved: [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300), [#374](https://github.com/timelesslounge/timelessis/issues/374).

[2019-03-07 10:24] 0pdd commented on #299
@0pdd the puzzle [#490](https://github.com/timelesslounge/timelessis/issues/490) is still not solved; solved: [#374](https://github.com/timelesslounge/timelessis/issues/374).

[2019-03-07 10:24] 0pdd commented on #374
@0pdd the puzzle [#490](https://github.com/timelesslounge/timelessis/issues/490) is still not solved.

[2019-03-07 10:26] 0crat commented on #490
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-07 10:43] 0crat commented on #387
The job [#387](https://github.com/timelesslounge/timelessis/issues/387) is now out of scope

[2019-03-07 10:44] 0crat commented on #490
Job [#490](https://github.com/timelesslounge/timelessis/issues/490) is now in scope, role is `DEV`

[2019-03-07 10:51] emilianodellacasa commented on #490
@0crat assign @soin08

[2019-03-07 10:52] emilianodellacasa commented on #267
@0crat continue

[2019-03-07 10:55] 0crat commented on #374
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-07 10:56] emilianodellacasa commented on #286
@amihaiemil Is the situation clear now? Do you have more impediments on this issue?

[2019-03-07 10:57] 0crat commented on #374
The job [#374](https://github.com/timelesslounge/timelessis/issues/374) is now out of scope

[2019-03-07 10:59] 0crat commented on #267
@emilianodellacasa Job [#267](https://github.com/timelesslounge/timelessis/issues/267) is not on hold, no impediment to remove

[2019-03-07 10:59] 0crat commented on #484
Job [#484](https://github.com/timelesslounge/timelessis/issues/484) is now in scope, role is `DEV`

[2019-03-07 11:00] 0crat commented on #409
Job [#409](https://github.com/timelesslounge/timelessis/issues/409) is now in scope, role is `DEV`

[2019-03-07 11:00] 0crat commented on #490
@emilianodellacasa The job [#490](https://github.com/timelesslounge/timelessis/issues/490) assigned to @soin08[/z](https://www.0crat.com/u/soin08), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/265251e3-e32c-4967-803f-ffc460087038); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2019-03-07 11:00] 0crat commented on #410
Job [#410](https://github.com/timelesslounge/timelessis/issues/410) is now in scope, role is `DEV`

[2019-03-07 11:00] 0crat commented on #490
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-07 11:04] 0crat commented on #267
The job [#267](https://github.com/timelesslounge/timelessis/issues/267) assigned to @soin08[/z](https://www.0crat.com/u/soin08), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/9fe460a4-c040-47c6-b249-e84a67d79b9c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-03-07 11:06] 0crat commented on #412
Job [#412](https://github.com/timelesslounge/timelessis/issues/412) is now in scope, role is `DEV`

[2019-03-07 11:07] 0crat commented on #417
Job [#417](https://github.com/timelesslounge/timelessis/issues/417) is now in scope, role is `DEV`

[2019-03-07 11:09] emilianodellacasa commented on #424
@0crat assign me

[2019-03-07 11:09] 0crat commented on #424
Job [#424](https://github.com/timelesslounge/timelessis/issues/424) is now in scope, role is `DEV`

[2019-03-07 11:11] 0crat commented on #424
@emilianodellacasa The job [#424](https://github.com/timelesslounge/timelessis/issues/424) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/12b7b14c-2576-4399-a295-431a65107497); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) a

[2019-03-07 11:11] 0crat commented on #433
Job [#433](https://github.com/timelesslounge/timelessis/issues/433) is now in scope, role is `DEV`

[2019-03-07 11:11] 0crat commented on #430
Job [#430](https://github.com/timelesslounge/timelessis/issues/430) is now in scope, role is `DEV`

[2019-03-07 11:11] 0crat commented on #424
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-07 11:12] 0crat commented on #447
Job [#447](https://github.com/timelesslounge/timelessis/issues/447) is now in scope, role is `DEV`

[2019-03-07 11:12] 0crat commented on #449
Job [#449](https://github.com/timelesslounge/timelessis/issues/449) is now in scope, role is `DEV`

[2019-03-07 11:12] 0crat commented on #448
Job [#448](https://github.com/timelesslounge/timelessis/issues/448) is now in scope, role is `DEV`

[2019-03-07 11:13] 0crat commented on #475
Job [#475](https://github.com/timelesslounge/timelessis/issues/475) is now in scope, role is `DEV`

[2019-03-07 11:13] 0crat commented on #484
The job [#484](https://github.com/timelesslounge/timelessis/issues/484) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/19adc8b9-efbc-40f6-bad1-4ed49e8d0499); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-07 11:14] emilianodellacasa commented on #434
@0crat wait - PR #486 to be merged

[2019-03-07 11:14] 0crat commented on #434
@emilianodellacasa The impediment for [#434](https://github.com/timelesslounge/timelessis/issues/434) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-07 11:18] 0crat commented on #410
The job [#410](https://github.com/timelesslounge/timelessis/issues/410) assigned to @soin08[/z](https://www.0crat.com/u/soin08), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/631df8ce-b387-4df2-acf0-0285f51a0383); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-03-07 12:45] 0crat commented on #460
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-07 13:10] ebercamargo opened #491 "Possible BUG - I think this is not correct"
@emilianodellacasa
For some reason, I managed to commit a branch, please request that it be verified if this is correct for my profile or it is a BUG.

To see:
https://github.com/timelesslounge/timelessis/pull/487

[2019-03-07 13:10] 0crat commented on #491
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-07 14:10] emilianodellacasa commented on #491
@ebercamargo you are right, that shouldn't happen. Fixing in settings now. Thanks for reporting

[2019-03-07 14:11] #491 closed

[2019-03-07 14:37] 0crat commented on #491
This job is not in scope

[2019-03-07 14:37] 0crat commented on #491
Job `gh:timelesslounge/timelessis#491` is not assigned, can't get performer

[2019-03-07 14:50] #434 closed

[2019-03-07 14:50] 0pdd commented on #434
The puzzle `380-2426b146` has disappeared from the source code, that's why I closed this issue.

[2019-03-07 14:50] 0pdd opened #492 "views.py:140-143: Continue the implementation of..."
The puzzle `434-1c49d27d` from #434 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/0b1c84a84e9738d71158a68a93353ec2a7fe40ef/timeless/reservations/views.py#L140-L143

The puzzle was created by Emiliano Della Casa on 06-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-07 14:50] 0pdd commented on #27
@emilianodellacasa 3 puzzles [#379](https://github.com/timelesslounge/timelessis/issues/379), [#484](https://github.com/timelesslounge/timelessis/issues/484), [#492](https://github.com/timelesslounge/timelessis/issues/492) are still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171), [#172](https://github.com/timelesslounge/timelessis/issues/172), [#215](https://gi

[2019-03-07 14:50] 0pdd commented on #172
@0pdd 3 puzzles [#379](https://github.com/timelesslounge/timelessis/issues/379), [#484](https://github.com/timelesslounge/timelessis/issues/484), [#492](https://github.com/timelesslounge/timelessis/issues/492) are still not solved; solved: [#215](https://github.com/timelesslounge/timelessis/issues/215), [#235](https://github.com/timelesslounge/timelessis/issues/235), [#236](https://github.com/time

[2019-03-07 14:50] 0pdd commented on #235
@0pdd 2 puzzles [#379](https://github.com/timelesslounge/timelessis/issues/379), [#492](https://github.com/timelesslounge/timelessis/issues/492) are still not solved; solved: [#380](https://github.com/timelesslounge/timelessis/issues/380), [#434](https://github.com/timelesslounge/timelessis/issues/434).

[2019-03-07 14:50] 0pdd commented on #380
@0pdd the puzzle [#492](https://github.com/timelesslounge/timelessis/issues/492) is still not solved; solved: [#434](https://github.com/timelesslounge/timelessis/issues/434).

[2019-03-07 14:50] 0pdd commented on #434
@0pdd the puzzle [#492](https://github.com/timelesslounge/timelessis/issues/492) is still not solved.

[2019-03-07 14:51] 0crat commented on #492
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-07 15:14] 0crat commented on #434
The job [#434](https://github.com/timelesslounge/timelessis/issues/434) is now out of scope

[2019-03-07 15:14] 0crat commented on #434
Order was finished: +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-07 15:22] ypshenychka commented on #387
@0crat quality good

[2019-03-07 15:23] ypshenychka commented on #374
@0crat quality good

[2019-03-07 15:27] 0crat commented on #387
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-03-07 15:27] 0crat commented on #387
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-07 15:39] 0crat commented on #328
@vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-07 15:59] emilianodellacasa commented on #485
@0crat assign me

[2019-03-07 16:01] 0crat commented on #485
Job [#485](https://github.com/timelesslounge/timelessis/issues/485) is now in scope, role is `DEV`

[2019-03-07 16:03] 0crat commented on #485
@emilianodellacasa The job [#485](https://github.com/timelesslounge/timelessis/issues/485) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/0d9e22da-54bc-40a7-a938-89113089518a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) a

[2019-03-07 16:03] 0crat commented on #485
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-07 16:07] emilianodellacasa commented on #424
@0crat wait - PR #493 to be merged

[2019-03-07 16:08] 0crat commented on #424
@emilianodellacasa The impediment for [#424](https://github.com/timelesslounge/timelessis/issues/424) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-07 16:39] 0crat commented on #429
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-07 16:43] #363 closed

[2019-03-07 16:43] 0pdd commented on #363
The puzzle `208-4b3b84bd` has disappeared from the source code, that's why I closed this issue.

[2019-03-07 16:44] 0pdd commented on #11
@emilianodellacasa 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/424), [#483](https://github.com/timelesslounge/timelessis/issues/483) are still not solved; solved: [#133](https://gi

[2019-03-07 16:44] 0pdd commented on #42
@0pdd 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/424), [#483](https://github.com/timelesslounge/timelessis/issues/483) are still not solved; solved: [#133](https://github.com/time

[2019-03-07 16:44] 0pdd commented on #133
@0pdd all 2 puzzles are solved here: [#208](https://github.com/timelesslounge/timelessis/issues/208), [#363](https://github.com/timelesslounge/timelessis/issues/363).

[2019-03-07 16:44] 0pdd commented on #208
@0pdd the only puzzle [#363](https://github.com/timelesslounge/timelessis/issues/363) is solved here.

[2019-03-07 17:06] 0crat commented on #363
Job was finished in 31 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-07 17:08] 0crat commented on #363
Job [#363](https://github.com/timelesslounge/timelessis/issues/363) is not in the agenda of @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), can't inspect

[2019-03-07 17:08] 0crat commented on #363
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-07 17:08] 0crat commented on #363
The job [#363](https://github.com/timelesslounge/timelessis/issues/363) is now out of scope

[2019-03-07 17:13] 0crat commented on #409
The job [#409](https://github.com/timelesslounge/timelessis/issues/409) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/cabc6fbd-e94b-479e-ba97-f79abb5e7c93); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-07 18:51] #338 closed

[2019-03-07 18:51] 0pdd commented on #338
The puzzle `255-fcaee2d2` has disappeared from the source code, that's why I closed this issue.

[2019-03-07 18:51] 0pdd opened #494 "views.py:2-4: Continue to implement html templates using..."
The puzzle `338-ce2e954e` from #338 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ac5afe24a60ad5c3c89528702bc660c7c0e7c0f5/timeless/roles/views.py#L2-L4

The puzzle was created by Vadim Ryazanov on 07-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-03-07 18:51] 0pdd commented on #11
@emilianodellacasa 5 puzzles [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/424), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#494](https://github.com/timelesslounge/timelessis/issues/494) are still not solved; solved: [#133](https://gi

[2019-03-07 18:51] 0pdd commented on #42
@0pdd 5 puzzles [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/424), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#494](https://github.com/timelesslounge/timelessis/issues/494) are still not solved; solved: [#133](https://github.com/time

[2019-03-07 18:51] 0pdd commented on #95
@0pdd 5 puzzles [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/424), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#494](https://github.com/timelesslounge/timelessis/issues/494) are still not solved; solved: [#192](https://github.com/time

[2019-03-07 18:51] 0pdd commented on #192
@0pdd the puzzle [#494](https://github.com/timelesslounge/timelessis/issues/494) is still not solved; solved: [#255](https://github.com/timelesslounge/timelessis/issues/255), [#338](https://github.com/timelesslounge/timelessis/issues/338).

[2019-03-07 18:51] 0pdd commented on #255
@0pdd the puzzle [#494](https://github.com/timelesslounge/timelessis/issues/494) is still not solved; solved: [#338](https://github.com/timelesslounge/timelessis/issues/338).

[2019-03-07 18:51] 0pdd commented on #338
@0pdd the puzzle [#494](https://github.com/timelesslounge/timelessis/issues/494) is still not solved.

[2019-03-07 18:52] 0crat commented on #494
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-07 18:54] vryazanov commented on #393
@0crat wait for review #495

[2019-03-07 18:59] 0crat commented on #393
@vryazanov The impediment for [#393](https://github.com/timelesslounge/timelessis/issues/393) was registered successfully by @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-03-07 19:07] 0crat commented on #494
Job [#494](https://github.com/timelesslounge/timelessis/issues/494) is now in scope, role is `DEV`

[2019-03-07 19:10] 0crat commented on #338
The job [#338](https://github.com/timelesslounge/timelessis/issues/338) is now out of scope

[2019-03-07 20:13] paulodamaso commented on #385
@emilianodellacasa I've forgot to remoe the `@todo` (again), please merge this last commit.

[2019-03-07 20:42] paulodamaso commented on #374
@0cat status

[2019-03-07 20:47] 0crat commented on #374
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-07 20:47] 0crat commented on #374
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-08 08:30] emilianodellacasa commented on #460
@paulodamaso Please see https://github.com/timelesslounge/timelessis/blob/master/README.md#sketches for update sketches

[2019-03-08 09:05] #385 closed

[2019-03-08 09:05] 0pdd commented on #385
The puzzle `399-f11dbfdc` has disappeared from the source code, that's why I closed this issue.

[2019-03-08 09:21] #424 closed

[2019-03-08 09:21] 0pdd commented on #424
The puzzle `95-4d49abdc` has disappeared from the source code, that's why I closed this issue.

[2019-03-08 09:21] 0pdd opened #499 "views.py:20-24: The last step for deletion is to ask for..."
The puzzle `424-80fae5e2` from #424 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/cd70198c4c6e2f6fcb4363727219077ca971b22d/timeless/restaurants/floors/views.py#L20-L24

The puzzle was created by Emiliano Della Casa on 07-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2019-03-08 09:21] 0pdd commented on #11
@emilianodellacasa 5 puzzles [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#494](https://github.com/timelesslounge/timelessis/issues/494), [#499](https://github.com/timelesslounge/timelessis/issues/499) are still not solved; solved: [#133](https://gi

[2019-03-08 09:21] 0pdd commented on #42
@0pdd 5 puzzles [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#494](https://github.com/timelesslounge/timelessis/issues/494), [#499](https://github.com/timelesslounge/timelessis/issues/499) are still not solved; solved: [#133](https://github.com/time

[2019-03-08 09:21] 0pdd commented on #95
@0pdd 5 puzzles [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#494](https://github.com/timelesslounge/timelessis/issues/494), [#499](https://github.com/timelesslounge/timelessis/issues/499) are still not solved; solved: [#192](https://github.com/time

[2019-03-08 09:21] 0pdd commented on #424
@0pdd the puzzle [#499](https://github.com/timelesslounge/timelessis/issues/499) is still not solved.

[2019-03-08 09:22] 0crat commented on #499
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-08 09:26] 0crat commented on #412
The job [#412](https://github.com/timelesslounge/timelessis/issues/412) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/ba2ddd8c-8730-4f08-8b3e-8f3e1381cc91); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-08 09:35] 0crat commented on #385
Job [#385](https://github.com/timelesslounge/timelessis/issues/385) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-03-08 09:35] 0crat commented on #385
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-08 09:43] 0crat commented on #385
The job [#385](https://github.com/timelesslounge/timelessis/issues/385) is now out of scope

[2019-03-08 09:43] 0crat commented on #417
The job [#417](https://github.com/timelesslounge/timelessis/issues/417) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/732dd6a3-ecdd-4b97-9881-daa91d9729be); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-08 10:43] 0crat commented on #464
@vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-08 10:46] 0crat commented on #424
Job was finished in 22 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-08 10:52] 0crat commented on #430
The job [#430](https://github.com/timelesslounge/timelessis/issues/430) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/16136a85-8f58-45e0-a355-f59aa614d6e3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-08 10:52] 0crat commented on #424
The job [#424](https://github.com/timelesslounge/timelessis/issues/424) is now out of scope

[2019-03-08 10:53] 0crat commented on #424
Order was finished: +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-08 11:05] emilianodellacasa commented on #422
@0crat assign me

[2019-03-08 11:40] krzyk commented on #362
@0crat refuse

[2019-03-08 11:56] 0crat commented on #362
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#362](https://github.com/timelesslounge/timelessis/issues/362), please stop working. Reason for job resignation: Order was cancelled

[2019-03-08 11:58] 0crat commented on #422
@emilianodellacasa The job [#422](https://github.com/timelesslounge/timelessis/issues/422) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/3bfc634d-1280-4fac-b2f3-97a2b8fa51b8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) a

[2019-03-08 12:03] 0crat commented on #362
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-03-08 12:07] 0crat commented on #379
The user @amidatonga[/z](https://www.0crat.com/u/amidatonga) resigned from [#379](https://github.com/timelesslounge/timelessis/issues/379), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-03-08 12:07] 0crat commented on #422
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-08 12:10] 0crat commented on #354
The user @amidatonga[/z](https://www.0crat.com/u/amidatonga) resigned from [#354](https://github.com/timelesslounge/timelessis/issues/354), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-03-08 12:11] 0crat commented on #354
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amidatonga[/z](https://www.0crat.com/u/amidatonga)

[2019-03-08 12:12] 0crat commented on #379
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amidatonga[/z](https://www.0crat.com/u/amidatonga)

[2019-03-08 12:12] 0crat commented on #381
The user @amidatonga[/z](https://www.0crat.com/u/amidatonga) resigned from [#381](https://github.com/timelesslounge/timelessis/issues/381), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-03-08 12:12] 0crat commented on #362
The job [#362](https://github.com/timelesslounge/timelessis/issues/362) assigned to @pablopaul[/z](https://www.0crat.com/u/pablopaul), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/5ec4f3ee-42ea-4d88-8d2f-b88c74118906); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-03-08 12:12] 0crat commented on #381
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amidatonga[/z](https://www.0crat.com/u/amidatonga)

[2019-03-08 12:18] 0crat commented on #433
The job [#433](https://github.com/timelesslounge/timelessis/issues/433) assigned to @amidatonga[/z](https://www.0crat.com/u/amidatonga), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b4bccdf3-da4f-4f3c-8968-ab545663b830); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-03-08 12:23] 0crat commented on #447
The job [#447](https://github.com/timelesslounge/timelessis/issues/447) assigned to @amidatonga[/z](https://www.0crat.com/u/amidatonga), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/f81535e5-7517-42ca-b185-121fb4cec940); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-03-08 12:25] 0crat commented on #448
The job [#448](https://github.com/timelesslounge/timelessis/issues/448) assigned to @amidatonga[/z](https://www.0crat.com/u/amidatonga), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/fad5787b-212a-4ff2-b766-93f1fabf8384); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-03-08 14:35] emilianodellacasa commented on #362
@0crat assign me

[2019-03-08 14:40] 0crat commented on #362
@emilianodellacasa The job [#362](https://github.com/timelesslounge/timelessis/issues/362) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/3d01fc92-14f2-4f24-91b8-4ad735519e44); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) a

[2019-03-08 14:42] 0crat commented on #362
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-08 14:52] 0crat commented on #354
The job [#354](https://github.com/timelesslounge/timelessis/issues/354) assigned to @pablopaul[/z](https://www.0crat.com/u/pablopaul), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/496c9d27-8371-410a-9b6c-dbb10b16f473); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-03-08 15:25] emilianodellacasa opened #502 "Page to create/modify Reservation"
We need to create a page in React to create/modify a Reservation.

The form should have the following fields:

- Main Table Name (not editable, auto-filled when the form is opened);
- Button “Add table” - a reservation could involve one or more tables; added tables can be removed;
- Phone Number (Mandatory) (phone mask needed)
- Name (Mandatory) (auto-fill from customer table by phone number)
- Su

[2019-03-08 15:27] emilianodellacasa commented on #502
@0crat assign @pablopaul

[2019-03-08 15:27] 0crat commented on #502
Job [#502](https://github.com/timelesslounge/timelessis/issues/502) is now in scope, role is `DEV`

[2019-03-08 15:27] 0crat commented on #502
@emilianodellacasa The job [#502](https://github.com/timelesslounge/timelessis/issues/502) assigned to @pablopaul[/z](https://www.0crat.com/u/pablopaul), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/47d9aa89-b0f3-4700-bb35-ec85da321d0f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://w

[2019-03-08 15:28] 0crat commented on #502
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-08 15:29] 0crat commented on #502
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-08 15:29] emilianodellacasa commented on #354
@0crat assign @marceloamadeu

[2019-03-08 15:30] 0crat commented on #354
@emilianodellacasa The job [#354](https://github.com/timelesslounge/timelessis/issues/354) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/962f9bf6-1dac-4a5e-b5e4-fbdb0b99059d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](

[2019-03-08 15:31] 0crat commented on #354
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-08 15:50] 0pdd commented on #411
The puzzle `348-77a170af` has disappeared from the source code, that's why I closed this issue.

[2019-03-08 15:50] #411 closed

[2019-03-08 15:50] 0pdd opened #503 "it_employees_test.py:115-116: Lets fix the test...."
The puzzle `411-ff163462` from #411 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/62ded8f4ca8521cd747231b1cfa528449fb1eaab/tests/integration/it_employees_test.py#L115-L116

The puzzle was created by Eugene Kondrashev on 08-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-08 15:50] 0pdd commented on #4
@emilianodellacasa 5 puzzles [#357](https://github.com/timelesslounge/timelessis/issues/357), [#412](https://github.com/timelesslounge/timelessis/issues/412), [#413](https://github.com/timelesslounge/timelessis/issues/413), [#460](https://github.com/timelesslounge/timelessis/issues/460), [#503](https://github.com/timelesslounge/timelessis/issues/503) are still not solved; solved: [#149](https://gi

[2019-03-08 15:50] 0pdd commented on #57
@0pdd 4 puzzles [#357](https://github.com/timelesslounge/timelessis/issues/357), [#412](https://github.com/timelesslounge/timelessis/issues/412), [#413](https://github.com/timelesslounge/timelessis/issues/413), [#503](https://github.com/timelesslounge/timelessis/issues/503) are still not solved; solved: [#348](https://github.com/timelesslounge/timelessis/issues/348), [#411](https://github.com/time

[2019-03-08 15:50] 0pdd commented on #348
@0pdd 3 puzzles [#412](https://github.com/timelesslounge/timelessis/issues/412), [#413](https://github.com/timelesslounge/timelessis/issues/413), [#503](https://github.com/timelesslounge/timelessis/issues/503) are still not solved; solved: [#411](https://github.com/timelesslounge/timelessis/issues/411).

[2019-03-08 15:50] 0pdd commented on #411
@0pdd the puzzle [#503](https://github.com/timelesslounge/timelessis/issues/503) is still not solved.

[2019-03-08 15:50] 0crat commented on #503
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-08 16:17] 0crat commented on #411
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-08 16:18] 0crat commented on #411
The job [#411](https://github.com/timelesslounge/timelessis/issues/411) is now out of scope

[2019-03-08 16:54] ypshenychka commented on #363
@0crat quality good

[2019-03-08 17:18] 0crat commented on #363
Order was finished, quality is "good": +40 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-08 17:18] 0crat commented on #363
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-08 17:42] 0crat commented on #379
The job [#379](https://github.com/timelesslounge/timelessis/issues/379) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/944900ea-1399-45ad-8abe-c6a26ce864b0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-03-08 20:25] paulodamaso commented on #425
@emilianodellacasa Looks like it is already implemented in `tests/integration/it_location_admin_privileges_test.py`, is there any other privilege that we have to see here?

[2019-03-08 20:46] ypshenychka commented on #338
@0crat status

[2019-03-08 20:55] ypshenychka commented on #385
@0crat quality good

[2019-03-08 20:55] 0crat commented on #338
@ypshenychka This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#338](https://github.com/timelesslounge/timelessis/issues/338) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 1days
  * @vryazanov[/z](https://www.0crat.com/

[2019-03-08 20:58] ypshenychka commented on #424
@0crat status

[2019-03-08 21:06] 0crat commented on #424
@ypshenychka This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#424](https://github.com/timelesslounge/timelessis/issues/424) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CF9LG1YCA?q=%7Bjob%3A%27gh%3Atimelesslounge%2Ftimelessis%23424%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F

[2019-03-08 21:07] 0crat commented on #385
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-08 21:08] 0crat commented on #385
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-08 21:08] 0crat commented on #381
The job [#381](https://github.com/timelesslounge/timelessis/issues/381) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/31881eb4-c34b-47e4-a027-f36eb9d154ff); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-08 21:23] ypshenychka commented on #411
@0crat quality good

[2019-03-08 21:27] 0crat commented on #411
Order was finished, quality is "good": +35 point(s) just awarded to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev)

[2019-03-08 21:29] 0crat commented on #411
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-08 21:29] ypshenychka commented on #338
@0crat quality good

[2019-03-08 21:32] ypshenychka commented on #215
@ebercamargo ping

[2019-03-08 21:57] 0crat commented on #338
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-08 21:57] 0crat commented on #338
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-03-09 01:59] ebercamargo commented on #215
@ypshenychka Understood.

[2019-03-09 07:28] ypshenychka commented on #215
@0crat quality acceptable

[2019-03-09 07:32] 0crat commented on #215
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-09 07:33] 0crat commented on #215
Order was finished, quality is "acceptable": +35 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-03-09 08:27] 0pdd commented on #356
The puzzle `291-4213a390` has disappeared from the source code, that's why I closed this issue.

[2019-03-09 08:27] #356 closed

[2019-03-09 08:27] 0pdd opened #510 "it_reservation_settings_test.py:10-12: Enable the ignored..."
The puzzle `356-f6bf209a` from #356 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/26c157be8951d1f5b64988eca65a7497bc4e3b6f/tests/integration/it_reservation_settings_test.py#L10-L12

The puzzle was created by amihaiemil on 08-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-03-09 08:27] 0pdd commented on #32
@emilianodellacasa 3 puzzles [#292](https://github.com/timelesslounge/timelessis/issues/292), [#476](https://github.com/timelesslounge/timelessis/issues/476), [#510](https://github.com/timelesslounge/timelessis/issues/510) are still not solved; solved: [#186](https://github.com/timelesslounge/timelessis/issues/186), [#291](https://github.com/timelesslounge/timelessis/issues/291), [#293](https://gi

[2019-03-09 08:27] 0pdd commented on #63
@0pdd 3 puzzles [#292](https://github.com/timelesslounge/timelessis/issues/292), [#476](https://github.com/timelesslounge/timelessis/issues/476), [#510](https://github.com/timelesslounge/timelessis/issues/510) are still not solved; solved: [#186](https://github.com/timelesslounge/timelessis/issues/186), [#291](https://github.com/timelesslounge/timelessis/issues/291), [#293](https://github.com/time

[2019-03-09 08:27] 0pdd commented on #186
@0pdd 3 puzzles [#292](https://github.com/timelesslounge/timelessis/issues/292), [#476](https://github.com/timelesslounge/timelessis/issues/476), [#510](https://github.com/timelesslounge/timelessis/issues/510) are still not solved; solved: [#291](https://github.com/timelesslounge/timelessis/issues/291), [#293](https://github.com/timelesslounge/timelessis/issues/293), [#356](https://github.com/time

[2019-03-09 08:27] 0pdd commented on #291
@0pdd the puzzle [#510](https://github.com/timelesslounge/timelessis/issues/510) is still not solved; solved: [#356](https://github.com/timelesslounge/timelessis/issues/356).

[2019-03-09 08:27] 0pdd commented on #356
@0pdd the puzzle [#510](https://github.com/timelesslounge/timelessis/issues/510) is still not solved.

[2019-03-09 08:28] 0crat commented on #510
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-09 08:46] 0crat commented on #356
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-09 08:47] 0crat commented on #356
The job [#356](https://github.com/timelesslounge/timelessis/issues/356) is now out of scope

[2019-03-09 11:10] ypshenychka commented on #356
@0crat quality good

[2019-03-09 11:17] 0crat commented on #356
Order was finished, quality is "good": +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)