[2019-02-20 10:21] 0crat commented on #273
The job [#273](https://github.com/timelesslounge/timelessis/issues/273) is now out of scope

[2019-02-20 10:26] ypshenychka commented on #181
@0crat quality good

[2019-02-20 10:27] ypshenychka commented on #273
@0crat quality good

[2019-02-20 10:31] ypshenychka commented on #239
@0crat status

[2019-02-20 10:33] 0crat commented on #330
The job [#330](https://github.com/timelesslounge/timelessis/issues/330) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/436eee41-9d18-4d7f-989e-7849bb6b336a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-02-20 10:33] 0crat commented on #330
Job `gh:timelesslounge/timelessis#330` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2019-02-20 10:33] 0pdd commented on #183
The puzzle `22-e83d9f5c` has disappeared from the source code, that's why I closed this issue.

[2019-02-20 10:33] #183 closed

[2019-02-20 10:33] 0pdd commented on #22
@emilianodellacasa 10 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#241](https://github.com/timelesslounge/timelessis/issues/241), [#242](https://github.com/timelesslounge/timelessis/issues/242), [#278](https://github.com/timelesslounge/time

[2019-02-20 10:42] carlosmiranda commented on #28
@ypshenychka confirmed

[2019-02-20 10:43] ypshenychka commented on #28
@carlosmiranda thanks

[2019-02-20 10:43] ypshenychka commented on #28
@0crat quality acceptable

[2019-02-20 10:45] #241 closed

[2019-02-20 10:45] 0pdd commented on #241
The puzzle `180-d5879bc3` has disappeared from the source code, that's why I closed this issue.

[2019-02-20 10:45] 0pdd commented on #22
@emilianodellacasa 9 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#242](https://github.com/timelesslounge/timelessis/issues/242), [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/timel

[2019-02-20 10:45] 0pdd commented on #180
@0pdd the puzzle [#242](https://github.com/timelesslounge/timelessis/issues/242) is still not solved; solved: [#241](https://github.com/timelesslounge/timelessis/issues/241).

[2019-02-20 10:55] emilianodellacasa commented on #57
@bkuzmic Are you still working on this? May I assign to someone else?

[2019-02-20 11:14] carlosmiranda commented on #239
@0crat status

[2019-02-20 11:16] vryazanov commented on #183
@0crat status

[2019-02-20 11:17] 0crat commented on #181
Order was finished, quality is "good": +40 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-20 11:17] 0crat commented on #181
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 11:19] 0crat commented on #183
Job was finished in 36 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-20 11:19] 0crat commented on #273
Order was finished, quality is "good": +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-20 11:24] 0crat commented on #308
Job [#308](https://github.com/timelesslounge/timelessis/issues/308) is now in scope, role is `DEV`

[2019-02-20 11:24] 0crat commented on #273
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 11:28] vryazanov commented on #183
@ypshenychka looks like something goes wrong. @0pdd didn't mention you %)

[2019-02-20 11:29] 0crat commented on #306
Job [#306](https://github.com/timelesslounge/timelessis/issues/306) is now in scope, role is `DEV`

[2019-02-20 11:35] krzyk commented on #323
@0crat refuse

[2019-02-20 11:36] 0crat commented on #239
@carlosmiranda This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#239](https://github.com/timelesslounge/timelessis/issues/239) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 1hr
  * @carlosmiranda[/z](https://www.0crat.

[2019-02-20 11:36] 0crat commented on #183
Job [#183](https://github.com/timelesslounge/timelessis/issues/183) is not in the agenda of @vryazanov[/z](https://www.0crat.com/u/vryazanov), can't inspect

[2019-02-20 11:37] 0crat commented on #239
@ypshenychka This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#239](https://github.com/timelesslounge/timelessis/issues/239) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 1hr
  * @carlosmiranda[/z](https://www.0crat.co

[2019-02-20 11:42] 0crat commented on #183
@vryazanov This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#183](https://github.com/timelesslounge/timelessis/issues/183) is [in scope](http://www.zerocracy.com/policy.html#14) for 11days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/poli

[2019-02-20 11:42] 0crat commented on #241
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-20 11:49] 0crat commented on #183
The job [#183](https://github.com/timelesslounge/timelessis/issues/183) is now out of scope

[2019-02-20 11:49] 0crat commented on #28
Order was finished, quality is "acceptable": +30 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-20 11:50] 0crat commented on #28
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 11:52] 0crat commented on #241
The job [#241](https://github.com/timelesslounge/timelessis/issues/241) is now out of scope

[2019-02-20 12:06] 0crat commented on #323
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#323](https://github.com/timelesslounge/timelessis/issues/323), please stop working. Reason for job resignation: Order was cancelled

[2019-02-20 12:28] 0crat commented on #323
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-20 12:37] 0crat commented on #323
The job [#323](https://github.com/timelesslounge/timelessis/issues/323) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/63c3c1f2-1a8e-48fe-8675-87e81993b358); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-20 13:17] 0crat commented on #308
The job [#308](https://github.com/timelesslounge/timelessis/issues/308) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b1a57781-4c29-4479-b88e-ef48aea7e1e6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-20 13:32] 0crat commented on #306
The job [#306](https://github.com/timelesslounge/timelessis/issues/306) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/69d16faa-7800-4b2a-98af-e92cb2f03038); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-20 13:35] krzyk commented on #329
@0crat waiting for review of PR #333

[2019-02-20 13:39] krzyk commented on #293
@0crat refuse

[2019-02-20 13:43] 0crat commented on #329
@krzyk The impediment for [#329](https://github.com/timelesslounge/timelessis/issues/329) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-20 13:47] 0crat commented on #293
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#293](https://github.com/timelesslounge/timelessis/issues/293), please stop working. Reason for job resignation: Order was cancelled

[2019-02-20 13:59] vryazanov commented on #183
@0crat status

[2019-02-20 13:59] 0crat commented on #293
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-20 14:10] 0crat commented on #183
@vryazanov This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#183](https://github.com/timelesslounge/timelessis/issues/183) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 3hr
  * @vryazanov[/z](https://www.0crat.com/u/vr

[2019-02-20 14:43] paulodamaso opened #336 "Constants names that does not follow conventions"
We use a lot of constants with names that does not comply with `PEP 8` conventions and this is lowering our pylint score. Rename all constants in lowercase (specially `bp` ones) to uppercase ones so we can comply with these conventions

[2019-02-20 14:44] 0crat commented on #336
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 14:48] #305 closed

[2019-02-20 14:48] 0pdd commented on #305
The puzzle `173-1b9752ab` has disappeared from the source code, that's why I closed this issue.

[2019-02-20 14:48] 0pdd commented on #173
@vryazanov 7 puzzles [#306](https://github.com/timelesslounge/timelessis/issues/306), [#307](https://github.com/timelesslounge/timelessis/issues/307), [#308](https://github.com/timelesslounge/timelessis/issues/308), [#309](https://github.com/timelesslounge/timelessis/issues/309), [#310](https://github.com/timelesslounge/timelessis/issues/310), [#311](https://github.com/timelesslounge/timelessis/is

[2019-02-20 14:58] bkuzmic commented on #205
@0crat refuse I'm sorry, but I'm busy with other tasks.

[2019-02-20 14:59] bkuzmic commented on #208
@0crat wait I'm currently busy on other tasks.

[2019-02-20 14:59] 0pdd commented on #255
The puzzle `192-19881263` has disappeared from the source code, that's why I closed this issue.

[2019-02-20 14:59] #255 closed

[2019-02-20 14:59] 0pdd opened #338 "views.py:2-9: Continue implementing edit() method, using..."
The puzzle `255-fcaee2d2` from #255 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/38dfc0b767a518dab65f400a41ca993e445c54b1/timeless/roles/views.py#L2-L9

The puzzle was created by @ekondrashev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remov

[2019-02-20 14:59] 0pdd commented on #11
@emilianodellacasa 3 puzzles [#208](https://github.com/timelesslounge/timelessis/issues/208), [#338](https://github.com/timelesslounge/timelessis/issues/338), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133), [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://gith

[2019-02-20 14:59] 0pdd commented on #42
@0pdd 3 puzzles [#208](https://github.com/timelesslounge/timelessis/issues/208), [#338](https://github.com/timelesslounge/timelessis/issues/338), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133), [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://github.com/timele

[2019-02-20 14:59] 0pdd commented on #95
@0pdd the puzzle [#338](https://github.com/timelesslounge/timelessis/issues/338) is still not solved; solved: [#192](https://github.com/timelesslounge/timelessis/issues/192), [#255](https://github.com/timelesslounge/timelessis/issues/255).

[2019-02-20 15:00] 0pdd commented on #192
@0pdd the puzzle [#338](https://github.com/timelesslounge/timelessis/issues/338) is still not solved; solved: [#255](https://github.com/timelesslounge/timelessis/issues/255).

[2019-02-20 15:00] 0pdd commented on #255
@0pdd the puzzle [#338](https://github.com/timelesslounge/timelessis/issues/338) is still not solved.

[2019-02-20 15:01] 0crat commented on #338
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 15:16] 0crat commented on #208
@bkuzmic The impediment for [#208](https://github.com/timelesslounge/timelessis/issues/208) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-20 15:19] 0crat commented on #205
@bkuzmic The user @bkuzmic[/z](https://www.0crat.com/u/bkuzmic) resigned from [#205](https://github.com/timelesslounge/timelessis/issues/205), please stop working. Reason for job resignation: Order was cancelled

[2019-02-20 15:19] 0crat commented on #338
Job [#338](https://github.com/timelesslounge/timelessis/issues/338) is now in scope, role is `DEV`

[2019-02-20 15:22] 0crat commented on #305
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-20 15:35] 0crat commented on #305
The job [#305](https://github.com/timelesslounge/timelessis/issues/305) is now out of scope

[2019-02-20 15:37] 0crat commented on #305
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-20 15:43] 0crat commented on #205
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-20 15:46] 0crat commented on #255
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-20 15:47] 0crat commented on #255
The job [#255](https://github.com/timelesslounge/timelessis/issues/255) is now out of scope

[2019-02-20 17:00] #200 closed

[2019-02-20 17:00] 0pdd commented on #200
The puzzle `59-e7061f4b` has disappeared from the source code, that's why I closed this issue.

[2019-02-20 17:01] 0pdd opened #339 "views.py:2-4: Implement activate() methods. Update html..."
The puzzle `232-1f9157a6` from #232 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/f89c21c9a2d2fcde3b274bd1087678ded65bf848/timeless/auth/views.py#L2-L4

The puzzle was created by Paulo Lobo on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-20 17:01] 0pdd opened #340 "views.py:5-7: Continue implementing forgot_password..."
The puzzle `232-7d302a24` from #232 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/f89c21c9a2d2fcde3b274bd1087678ded65bf848/timeless/auth/views.py#L5-L7

The puzzle was created by Paulo Lobo on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-20 17:01] 0pdd commented on #5
@emilianodellacasa 2 puzzles [#297](https://github.com/timelesslounge/timelessis/issues/297), [#60](https://github.com/timelesslounge/timelessis/issues/60) are still not solved; solved: [#200](https://github.com/timelesslounge/timelessis/issues/200), [#201](https://github.com/timelesslounge/timelessis/issues/201), [#269](https://github.com/timelesslounge/timelessis/issues/269), [#59](https://githu

[2019-02-20 17:01] 0pdd commented on #59
@0pdd the puzzle [#297](https://github.com/timelesslounge/timelessis/issues/297) is still not solved; solved: [#200](https://github.com/timelesslounge/timelessis/issues/200), [#201](https://github.com/timelesslounge/timelessis/issues/201), [#269](https://github.com/timelesslounge/timelessis/issues/269).

[2019-02-20 17:01] 0pdd commented on #23
@emilianodellacasa 5 puzzles [#212](https://github.com/timelesslounge/timelessis/issues/212), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#245](https://github.com/timelesslounge/timelessis/issues/245), [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340) are still not solved; solved: [#101](https://gi

[2019-02-20 17:01] 0pdd commented on #67
@0pdd 4 puzzles [#232](https://github.com/timelesslounge/timelessis/issues/232), [#245](https://github.com/timelesslounge/timelessis/issues/245), [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/time

[2019-02-20 17:01] 0pdd commented on #101
@0pdd 3 puzzles [#232](https://github.com/timelesslounge/timelessis/issues/232), [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340) are still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#233](https://github.com/timelesslounge/timelessis/issues/233).

[2019-02-20 17:01] 0pdd commented on #232
@0pdd 2 puzzles [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340) are still not solved.

[2019-02-20 17:02] 0crat commented on #340
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 17:03] 0crat commented on #339
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 17:17] 0crat commented on #340
Job [#340](https://github.com/timelesslounge/timelessis/issues/340) is now in scope, role is `DEV`

[2019-02-20 17:17] 0crat commented on #339
Job [#339](https://github.com/timelesslounge/timelessis/issues/339) is now in scope, role is `DEV`

[2019-02-20 17:29] 0crat commented on #200
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-20 17:31] 0crat commented on #200
The job [#200](https://github.com/timelesslounge/timelessis/issues/200) is now out of scope

[2019-02-20 17:41] 0crat commented on #270
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-20 17:48] 0pdd opened #341 "it_manager_privilages_test.py:125-127: Add check that..."
The puzzle `298-a994a93f` from #298 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/3e422449e912cef4c75075defcac7822a9f4eb14/tests/integration/it_manager_privilages_test.py#L125-L127

The puzzle was created by Paulo Lobo on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-02-20 17:48] 0pdd commented on #22
@emilianodellacasa 10 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#242](https://github.com/timelesslounge/timelessis/issues/242), [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/time

[2019-02-20 17:48] 0pdd commented on #176
@0pdd 2 puzzles [#298](https://github.com/timelesslounge/timelessis/issues/298), [#341](https://github.com/timelesslounge/timelessis/issues/341) are still not solved.

[2019-02-20 17:48] 0pdd commented on #298
@0pdd the puzzle [#341](https://github.com/timelesslounge/timelessis/issues/341) is still not solved.

[2019-02-20 17:49] 0crat commented on #341
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 17:55] 0crat commented on #341
Job [#341](https://github.com/timelesslounge/timelessis/issues/341) is now in scope, role is `DEV`

[2019-02-20 18:40] krzyk commented on #291
@0crat waiting for review of PR #335

[2019-02-20 18:42] ypshenychka commented on #239
@0crat quality good

[2019-02-20 18:46] ypshenychka commented on #241
@0crat quality good

[2019-02-20 18:49] 0crat commented on #291
@krzyk The impediment for [#291](https://github.com/timelesslounge/timelessis/issues/291) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-20 18:52] ypshenychka commented on #183
@0crat quality good

[2019-02-20 18:53] 0crat commented on #239
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-20 18:54] ypshenychka commented on #305
@0crat quality good

[2019-02-20 18:55] 0crat commented on #239
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 18:55] ypshenychka commented on #255
@0crat quality good

[2019-02-20 18:59] ypshenychka commented on #200
@0crat quality good

[2019-02-20 19:00] 0crat commented on #241
Order was finished, quality is "good": +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-20 19:02] 0crat commented on #241
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 19:11] ypshenychka commented on #248
@ekondrashev ping

[2019-02-20 19:21] 0pdd commented on #187
The puzzle `24-ac1cbe1a` has disappeared from the source code, that's why I closed this issue.

[2019-02-20 19:21] #187 closed

[2019-02-20 19:21] 0pdd opened #342 "models.py:137-142: Implement two class methods..."
The puzzle `187-cb7f0e2e` from #187 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/a21a759d7896e9c0b9b7a99f7102689305b71716/timeless/restaurants/models.py#L137-L142

The puzzle was created by Vlad Arefev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-20 19:21] 0crat commented on #342
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 19:21] 0pdd opened #343 "sync.py:4-6: Move this logic from sync_location method to..."
The puzzle `187-9c4d2494` from #187 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/a21a759d7896e9c0b9b7a99f7102689305b71716/timeless/sync/sync.py#L4-L6

The puzzle was created by Vlad Arefev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-20 19:21] 0pdd opened #344 "tasks.py:15-19: Set up scheduler for celery, docs -..."
The puzzle `187-5a3e643c` from #187 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/a21a759d7896e9c0b9b7a99f7102689305b71716/timeless/poster/tasks.py#L15-L19

The puzzle was created by Vlad Arefev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-02-20 19:21] 0pdd opened #345 "it_sync_tables_test.py:9-11: Implement integration tests..."
The puzzle `187-1dd3a479` from #187 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/a21a759d7896e9c0b9b7a99f7102689305b71716/tests/integration/sync/it_sync_tables_test.py#L9-L11

The puzzle was created by Vlad Arefev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2019-02-20 19:21] 0pdd commented on #24
@emilianodellacasa 4 puzzles [#342](https://github.com/timelesslounge/timelessis/issues/342), [#343](https://github.com/timelesslounge/timelessis/issues/343), [#344](https://github.com/timelesslounge/timelessis/issues/344), [#345](https://github.com/timelesslounge/timelessis/issues/345) are still not solved; solved: [#187](https://github.com/timelesslounge/timelessis/issues/187).

[2019-02-20 19:21] 0pdd commented on #187
@0pdd 4 puzzles [#342](https://github.com/timelesslounge/timelessis/issues/342), [#343](https://github.com/timelesslounge/timelessis/issues/343), [#344](https://github.com/timelesslounge/timelessis/issues/344), [#345](https://github.com/timelesslounge/timelessis/issues/345) are still not solved.

[2019-02-20 19:22] 0crat commented on #345
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 19:22] 0crat commented on #344
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 19:22] 0crat commented on #343
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 19:44] 0crat commented on #183
Order was finished, quality is "good": +40 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-20 19:44] 0crat commented on #183
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 19:44] 0crat commented on #305
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 19:44] 0crat commented on #168
Job [#168](https://github.com/timelesslounge/timelessis/issues/168) is now in scope, role is `DEV`

[2019-02-20 19:45] 0crat commented on #305
Order was finished, quality is "good": +40 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-20 19:52] 0crat commented on #200
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 19:52] 0crat commented on #200
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-20 19:52] 0crat commented on #255
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 19:52] 0crat commented on #255
Order was finished, quality is "good": +35 point(s) just awarded to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev)

[2019-02-20 19:52] 0crat commented on #342
Job [#342](https://github.com/timelesslounge/timelessis/issues/342) is now in scope, role is `DEV`

[2019-02-20 19:52] 0crat commented on #344
Job [#344](https://github.com/timelesslounge/timelessis/issues/344) is now in scope, role is `DEV`

[2019-02-20 19:52] 0crat commented on #345
Job [#345](https://github.com/timelesslounge/timelessis/issues/345) is now in scope, role is `DEV`

[2019-02-20 19:53] 0crat commented on #343
Job [#343](https://github.com/timelesslounge/timelessis/issues/343) is now in scope, role is `DEV`

[2019-02-20 19:53] 0crat commented on #205
The job [#205](https://github.com/timelesslounge/timelessis/issues/205) assigned to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/e18c112d-2ed2-4c10-ad3a-1edf0d5f6346); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-20 20:00] 0crat commented on #187
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-20 20:03] emilianodellacasa commented on #340
@0crat assign @marceloamadeu

[2019-02-20 20:10] 0crat commented on #187
The job [#187](https://github.com/timelesslounge/timelessis/issues/187) is now out of scope

[2019-02-20 20:10] 0crat commented on #168
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-20 20:11] 0crat commented on #340
@emilianodellacasa The job [#340](https://github.com/timelesslounge/timelessis/issues/340) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/c33da447-3db6-4fde-95c6-9f99771f9035); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](

[2019-02-20 20:14] 0crat commented on #340
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-20 20:14] ypshenychka commented on #187
@0crat quality good

[2019-02-20 20:28] 0crat commented on #293
The job [#293](https://github.com/timelesslounge/timelessis/issues/293) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/c19e3ae0-1554-46e7-a4f0-917145f2003c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-20 20:28] 0crat commented on #187
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 20:28] 0crat commented on #187
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-20 21:29] 0pdd opened #348 "views.py:2-4: Continue implementing Create, Edit and..."
The puzzle `57-cb8584ba` from #57 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/068d6df259873ecbbb6afc8d3a658fb18ff70a77/timeless/employees/views.py#L2-L4

The puzzle was created by @rultor on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-20 21:29] 0pdd commented on #4
@emilianodellacasa 3 puzzles [#283](https://github.com/timelesslounge/timelessis/issues/283), [#348](https://github.com/timelesslounge/timelessis/issues/348), [#57](https://github.com/timelesslounge/timelessis/issues/57) are still not solved; solved: [#149](https://github.com/timelesslounge/timelessis/issues/149), [#58](https://github.com/timelesslounge/timelessis/issues/58).

[2019-02-20 21:29] 0pdd commented on #57
@0pdd the puzzle [#348](https://github.com/timelesslounge/timelessis/issues/348) is still not solved.

[2019-02-20 21:29] 0crat commented on #348
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 21:44] 0crat commented on #348
Job [#348](https://github.com/timelesslounge/timelessis/issues/348) is now in scope, role is `DEV`

[2019-02-20 21:57] 0crat commented on #338
The job [#338](https://github.com/timelesslounge/timelessis/issues/338) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1f467f3d-0518-4f71-9594-e572ad1c79f1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-21 07:01] ammaratef45 commented on #212
@0crat refuse

[2019-02-21 07:03] 0crat commented on #212
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#212](https://github.com/timelesslounge/timelessis/issues/212), please stop working. Reason for job resignation: Order was cancelled

[2019-02-21 07:05] 0crat commented on #212
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-21 07:54] bkuzmic commented on #204
@0crat wait for the review of PR #351.

[2019-02-21 08:02] 0crat commented on #204
@bkuzmic The impediment for [#204](https://github.com/timelesslounge/timelessis/issues/204) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-21 08:16] #296 closed

[2019-02-21 08:16] 0pdd commented on #296
The puzzle `224-90cc17e9` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 08:16] 0pdd opened #352 "README.md:260-262: Automate the setting up of FILE_ID..."
The puzzle `296-c87b59cc` from #296 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/dc0bd97e8e168716c659a74ea96e53cedef117b4/README.md#L260-L262

The puzzle was created by Breno Salgado on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2019-02-21 08:16] 0pdd commented on #47
@emilianodellacasa the puzzle [#352](https://github.com/timelesslounge/timelessis/issues/352) is still not solved; solved: [#114](https://github.com/timelesslounge/timelessis/issues/114), [#115](https://github.com/timelesslounge/timelessis/issues/115), [#116](https://github.com/timelesslounge/timelessis/issues/116), [#191](https://github.com/timelesslounge/timelessis/issues/191), [#224](https://gi

[2019-02-21 08:16] 0pdd commented on #115
@0pdd the puzzle [#352](https://github.com/timelesslounge/timelessis/issues/352) is still not solved; solved: [#224](https://github.com/timelesslounge/timelessis/issues/224), [#296](https://github.com/timelesslounge/timelessis/issues/296).

[2019-02-21 08:16] 0pdd commented on #224
@0pdd the puzzle [#352](https://github.com/timelesslounge/timelessis/issues/352) is still not solved; solved: [#296](https://github.com/timelesslounge/timelessis/issues/296).

[2019-02-21 08:16] 0pdd commented on #296
@0pdd the puzzle [#352](https://github.com/timelesslounge/timelessis/issues/352) is still not solved.

[2019-02-21 08:17] 0crat commented on #352
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 08:29] 0crat commented on #352
Job [#352](https://github.com/timelesslounge/timelessis/issues/352) is now in scope, role is `DEV`

[2019-02-21 08:39] 0crat commented on #296
Job was finished in 43 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-21 08:44] 0crat commented on #296
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @salgadobreno[/z](https://www.0crat.com/u/salgadobreno), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-21 08:47] 0crat commented on #296
The job [#296](https://github.com/timelesslounge/timelessis/issues/296) is now out of scope

[2019-02-21 08:48] ypshenychka commented on #296
@0crat quality good

[2019-02-21 08:56] 0crat commented on #296
Order was finished, quality is "good": +40 point(s) just awarded to @salgadobreno[/z](https://www.0crat.com/u/salgadobreno)

[2019-02-21 08:56] 0crat commented on #296
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-21 09:07] 0crat commented on #212
The job [#212](https://github.com/timelesslounge/timelessis/issues/212) assigned to @salgadobreno[/z](https://www.0crat.com/u/salgadobreno), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/32e32d7a-f656-41e5-85be-01d26d280e5d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-02-21 09:11] bkuzmic commented on #57
@0crat status

[2019-02-21 09:13] 0crat commented on #57
@bkuzmic This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#57](https://github.com/timelesslounge/timelessis/issues/57) is [in scope](http://www.zerocracy.com/policy.html#14) for 23days
  * The role is `DEV`
  * The job is assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic) for [23days](ht

[2019-02-21 09:15] #204 closed

[2019-02-21 09:15] 0pdd opened #354 "__init__.py:3-5: Continue implementing CSRF token..."
The puzzle `204-a855cefc` from #204 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/99586a9c72e52b6513320c36b39b2ecd0d5d04ab/timeless/__init__.py#L3-L5

The puzzle was created by Boris Kuzmic on 21-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-21 09:15] 0pdd commented on #13
@emilianodellacasa 8 puzzles [#205](https://github.com/timelesslounge/timelessis/issues/205), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timel

[2019-02-21 09:15] 0pdd commented on #72
@0pdd 8 puzzles [#205](https://github.com/timelesslounge/timelessis/issues/205), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/

[2019-02-21 09:15] 0pdd commented on #162
@0pdd 8 puzzles [#205](https://github.com/timelesslounge/timelessis/issues/205), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/

[2019-02-21 09:15] 0pdd commented on #204
@0pdd the puzzle [#354](https://github.com/timelesslounge/timelessis/issues/354) is still not solved.

[2019-02-21 09:16] 0crat commented on #354
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 09:24] 0crat commented on #354
Job [#354](https://github.com/timelesslounge/timelessis/issues/354) is now in scope, role is `DEV`

[2019-02-21 09:32] #291 closed

[2019-02-21 09:32] 0pdd commented on #291
The puzzle `186-9fde7513` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 09:32] 0pdd opened #356 "it_reservation_settings_test.py:2-4: Enable all tests..."
The puzzle `291-4213a390` from #291 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/b5763e75cdc6b59227d2d07c1ebde50353f12636/tests/integration/it_reservation_settings_test.py#L2-L4

The puzzle was created by Krzysztof Krason on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and th

[2019-02-21 09:32] 0pdd commented on #32
@emilianodellacasa 3 puzzles [#292](https://github.com/timelesslounge/timelessis/issues/292), [#293](https://github.com/timelesslounge/timelessis/issues/293), [#356](https://github.com/timelesslounge/timelessis/issues/356) are still not solved; solved: [#186](https://github.com/timelesslounge/timelessis/issues/186), [#291](https://github.com/timelesslounge/timelessis/issues/291), [#63](https://git

[2019-02-21 09:32] 0pdd commented on #63
@0pdd 3 puzzles [#292](https://github.com/timelesslounge/timelessis/issues/292), [#293](https://github.com/timelesslounge/timelessis/issues/293), [#356](https://github.com/timelesslounge/timelessis/issues/356) are still not solved; solved: [#186](https://github.com/timelesslounge/timelessis/issues/186), [#291](https://github.com/timelesslounge/timelessis/issues/291).

[2019-02-21 09:32] 0pdd commented on #186
@0pdd 3 puzzles [#292](https://github.com/timelesslounge/timelessis/issues/292), [#293](https://github.com/timelesslounge/timelessis/issues/293), [#356](https://github.com/timelesslounge/timelessis/issues/356) are still not solved; solved: [#291](https://github.com/timelesslounge/timelessis/issues/291).

[2019-02-21 09:32] 0pdd commented on #291
@0pdd the puzzle [#356](https://github.com/timelesslounge/timelessis/issues/356) is still not solved.

[2019-02-21 09:33] 0crat commented on #356
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 09:52] 0crat commented on #204
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-21 09:52] 0crat commented on #356
Job [#356](https://github.com/timelesslounge/timelessis/issues/356) is now in scope, role is `DEV`

[2019-02-21 09:52] 0crat commented on #291
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-21 09:53] 0crat commented on #204
The job [#204](https://github.com/timelesslounge/timelessis/issues/204) is now out of scope

[2019-02-21 09:54] 0crat commented on #291
Job [#291](https://github.com/timelesslounge/timelessis/issues/291) is not in the agenda of @krzyk[/z](https://www.0crat.com/u/krzyk), can't inspect

[2019-02-21 09:56] 0crat commented on #291
The job [#291](https://github.com/timelesslounge/timelessis/issues/291) is now out of scope

[2019-02-21 09:58] 0crat commented on #339
The job [#339](https://github.com/timelesslounge/timelessis/issues/339) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1c36187b-1fab-471a-83e4-eb8fdb9d16b0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-21 10:42] #178 closed

[2019-02-21 10:42] 0pdd commented on #178
The puzzle `22-a1fde2bf` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 10:42] 0pdd commented on #22
@emilianodellacasa 9 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#242](https://github.com/timelesslounge/timelessis/issues/242), [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/timelessis/issues/284), [#298](https://github.com/timelesslounge/timel

[2019-02-21 11:02] 0crat commented on #178
Job was finished in 41 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-21 11:06] 0crat commented on #178
Job [#178](https://github.com/timelesslounge/timelessis/issues/178) is not in the agenda of @vryazanov[/z](https://www.0crat.com/u/vryazanov), can't inspect

[2019-02-21 11:07] 0pdd commented on #57
The puzzle `4-49d25317` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 11:07] #57 closed

[2019-02-21 11:07] 0pdd opened #357 "views.py:5-8: Continue implementing List to enable..."
The puzzle `57-294a904f` from #57 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/452ce9bd951a96c3cd8bb3ae5f864f03e932ad13/timeless/employees/views.py#L5-L8

The puzzle was created by Boris Kuzmic on 21-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-02-21 11:07] 0pdd commented on #4
@emilianodellacasa 3 puzzles [#283](https://github.com/timelesslounge/timelessis/issues/283), [#348](https://github.com/timelesslounge/timelessis/issues/348), [#357](https://github.com/timelesslounge/timelessis/issues/357) are still not solved; solved: [#149](https://github.com/timelesslounge/timelessis/issues/149), [#57](https://github.com/timelesslounge/timelessis/issues/57), [#58](https://githu

[2019-02-21 11:07] 0pdd commented on #57
@0pdd 2 puzzles [#348](https://github.com/timelesslounge/timelessis/issues/348), [#357](https://github.com/timelesslounge/timelessis/issues/357) are still not solved.

[2019-02-21 11:08] 0crat commented on #357
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 11:08] 0crat commented on #178
The job [#178](https://github.com/timelesslounge/timelessis/issues/178) is now out of scope

[2019-02-21 11:14] 0crat commented on #357
Job [#357](https://github.com/timelesslounge/timelessis/issues/357) is now in scope, role is `DEV`

[2019-02-21 11:26] 0crat commented on #57
Job [#57](https://github.com/timelesslounge/timelessis/issues/57) is not in the agenda of @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), can't inspect

[2019-02-21 11:26] 0crat commented on #57
The job [#57](https://github.com/timelesslounge/timelessis/issues/57) is now out of scope

[2019-02-21 11:28] 0crat commented on #341
The job [#341](https://github.com/timelesslounge/timelessis/issues/341) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/71cd6c58-250d-4717-a1e7-a26b23cb4b53); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-21 11:40] vryazanov commented on #178
@0crat status

[2019-02-21 11:40] 0crat commented on #178
@vryazanov This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#178](https://github.com/timelesslounge/timelessis/issues/178) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 38min
  * @vryazanov[/z](https://www.0crat.com/u/

[2019-02-21 11:50] krzyk commented on #291
@0crat status

[2019-02-21 11:51] 0crat commented on #291
@krzyk This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#291](https://github.com/timelesslounge/timelessis/issues/291) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 2hr
  * @krzyk[/z](https://www.0crat.com/u/krzyk) wil

[2019-02-21 12:21] #329 closed

[2019-02-21 12:21] 0pdd commented on #329
The puzzle `181-375c6297` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 12:21] 0pdd opened #358 "it_test_authorization.py:9-15: After #298 is finished..."
The puzzle `329-4c9067b6` from #329 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/654715c9686ecf0c628021f586d54381a67388eb/tests/integration/it_test_authorization.py#L9-L15

The puzzle was created by Krzysztof Krason on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-21 12:21] 0pdd commented on #22
@emilianodellacasa 9 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#242](https://github.com/timelesslounge/timelessis/issues/242), [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/timelessis/issues/284), [#298](https://github.com/timelesslounge/timel

[2019-02-21 12:21] 0pdd commented on #181
@0pdd the puzzle [#358](https://github.com/timelesslounge/timelessis/issues/358) is still not solved; solved: [#329](https://github.com/timelesslounge/timelessis/issues/329).

[2019-02-21 12:21] 0pdd commented on #329
@0pdd the puzzle [#358](https://github.com/timelesslounge/timelessis/issues/358) is still not solved.

[2019-02-21 12:21] krzyk commented on #329
@0crat status

[2019-02-21 12:21] 0crat commented on #358
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 12:30] 0crat commented on #329
@krzyk This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#329](https://github.com/timelesslounge/timelessis/issues/329) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [1days](http://w

[2019-02-21 12:43] 0crat commented on #358
Job [#358](https://github.com/timelesslounge/timelessis/issues/358) is now in scope, role is `DEV`

[2019-02-21 12:43] 0crat commented on #329
Job was finished in 27 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-21 12:44] 0crat commented on #329
The job [#329](https://github.com/timelesslounge/timelessis/issues/329) is now out of scope

[2019-02-21 12:44] 0crat commented on #329
Job [#329](https://github.com/timelesslounge/timelessis/issues/329) is not in the agenda of @krzyk[/z](https://www.0crat.com/u/krzyk), can't inspect

[2019-02-21 12:45] 0crat commented on #168
The job [#168](https://github.com/timelesslounge/timelessis/issues/168) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/41ff9fe2-1d27-499f-bbda-11c1c2cf0a88); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-21 12:48] ammaratef45 commented on #339
@emilianodellacasa

So, what should activate do?

[2019-02-21 13:06] krzyk commented on #329
@0crat status

[2019-02-21 13:07] 0crat commented on #329
@krzyk This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#329](https://github.com/timelesslounge/timelessis/issues/329) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 24min
  * @krzyk[/z](https://www.0crat.com/u/krzyk) w

[2019-02-21 13:18] bkuzmic commented on #57
@emilianodellacasa Please take a look at this. I needed to create a new PR to remove the puzzle, which I did, but the job just disappeared from my agenda, without QA review.

[2019-02-21 14:14] salgadobreno opened #360 "Puzzle #292 is not clear enough for me to work on it"
Puzzle #292 is too vague, it says:

         @todo #186:30min excluding greeting_by_time is temporary solution.
          forms.BaseModelForm can't handle JSON field.
          Need to research how to fix this case and fix it.

Commenting the line that excludes `greeting_by_time` does not break any test nor it breaks getting the app running or what action the exclusions is for. I don't know what t

[2019-02-21 14:15] 0crat commented on #360
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 14:16] salgadobreno commented on #292
@0crat wait for clarification from #360

[2019-02-21 14:18] 0crat commented on #292
@salgadobreno The impediment for [#292](https://github.com/timelesslounge/timelessis/issues/292) was registered successfully by @salgadobreno[/z](https://www.0crat.com/u/salgadobreno)

[2019-02-21 14:22] 0crat commented on #342
The job [#342](https://github.com/timelesslounge/timelessis/issues/342) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/ec4b3b57-27f9-452e-8d6a-fb4f71aafb98); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-21 14:46] emilianodellacasa commented on #339
@ammaratef45 'activate()' is a function that set the `account_status` of an employee to True (default is false, when created), allowing the employee to login to the webapp

[2019-02-21 14:49] emilianodellacasa commented on #57
@0crat status

[2019-02-21 14:50] 0crat commented on #57
@emilianodellacasa This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#57](https://github.com/timelesslounge/timelessis/issues/57) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 3hr
  * @bkuzmic[/z](https://www.0crat.com/

[2019-02-21 14:51] emilianodellacasa commented on #57
@ypshenychka please review for @bkuzmic

[2019-02-21 14:52] krzyk commented on #168
@vryazanov @emilianodellacasa The proposed solution doesn't fix problem with SQLAlchemy, it sitll fails with e.g.:
[code]

I also tried pylint_sqlalchemy plugin but it doesn't help either.

[2019-02-21 15:00] #56 closed

[2019-02-21 15:00] 0pdd commented on #56
The puzzle `17-965ca61a` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 15:00] 0pdd opened #361 "views.py:2-5: Continue implementing Create, Edit and..."
The puzzle `56-e2231835` from #56 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1f424d0a473226f0bb545b5ed6dee13f4d082399/timeless/schemetypes/views.py#L2-L5

The puzzle was created by Boris Kuzmic on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-02-21 15:00] 0pdd opened #362 "views.py:6-8: Once #357 is finished, reuse the view (or..."
The puzzle `56-a706c5b0` from #56 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1f424d0a473226f0bb545b5ed6dee13f4d082399/timeless/schemetypes/views.py#L6-L8

The puzzle was created by Boris Kuzmic on 21-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-02-21 15:00] 0pdd commented on #17
@emilianodellacasa 2 puzzles [#361](https://github.com/timelesslounge/timelessis/issues/361), [#362](https://github.com/timelesslounge/timelessis/issues/362) are still not solved; solved: [#56](https://github.com/timelesslounge/timelessis/issues/56).

[2019-02-21 15:00] 0pdd commented on #56
@0pdd 2 puzzles [#361](https://github.com/timelesslounge/timelessis/issues/361), [#362](https://github.com/timelesslounge/timelessis/issues/362) are still not solved.

[2019-02-21 15:01] 0crat commented on #362
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 15:01] 0crat commented on #361
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 15:09] 0crat commented on #361
Job [#361](https://github.com/timelesslounge/timelessis/issues/361) is now in scope, role is `DEV`

[2019-02-21 15:09] 0crat commented on #362
Job [#362](https://github.com/timelesslounge/timelessis/issues/362) is now in scope, role is `DEV`

[2019-02-21 15:11] emilianodellacasa commented on #360
@salgadobreno Let's ask @vladarefiev what had in mind

[2019-02-21 15:17] 0crat commented on #345
The job [#345](https://github.com/timelesslounge/timelessis/issues/345) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/3861bdea-88aa-4e1f-9963-d3a4e6103368); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-21 15:18] 0crat commented on #56
Job [#56](https://github.com/timelesslounge/timelessis/issues/56) is not in the agenda of @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), can't inspect

[2019-02-21 15:18] 0crat commented on #344
The job [#344](https://github.com/timelesslounge/timelessis/issues/344) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/3d148c3c-f6e4-4d96-99e5-3060669bf72a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-21 15:19] 0crat commented on #56
The job [#56](https://github.com/timelesslounge/timelessis/issues/56) is now out of scope

[2019-02-21 15:21] #208 closed

[2019-02-21 15:21] 0pdd commented on #208
The puzzle `133-6fbe419f` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 15:21] 0pdd opened #363 "views.py:2-5: Remove function endpoints once the view..."
The puzzle `208-4b3b84bd` from #208 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/deeaad1a93328bad410e8f4f20862fbd697c2655/timeless/restaurants/locations/views.py#L2-L5

The puzzle was created by Boris Kuzmic on 21-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-02-21 15:21] 0pdd commented on #11
@emilianodellacasa 3 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#363](https://github.com/timelesslounge/timelessis/issues/363), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133), [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://gith

[2019-02-21 15:21] 0pdd commented on #42
@0pdd 3 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#363](https://github.com/timelesslounge/timelessis/issues/363), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133), [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://github.com/timele

[2019-02-21 15:21] 0pdd commented on #133
@0pdd the puzzle [#363](https://github.com/timelesslounge/timelessis/issues/363) is still not solved; solved: [#208](https://github.com/timelesslounge/timelessis/issues/208).

[2019-02-21 15:21] 0pdd commented on #208
@0pdd the puzzle [#363](https://github.com/timelesslounge/timelessis/issues/363) is still not solved.

[2019-02-21 15:22] 0crat commented on #363
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 15:28] 0crat commented on #363
Job [#363](https://github.com/timelesslounge/timelessis/issues/363) is now in scope, role is `DEV`

[2019-02-21 15:36] emilianodellacasa commented on #361
@0crat assig @VladimirRyzhkov

[2019-02-21 15:40] 0crat commented on #343
The job [#343](https://github.com/timelesslounge/timelessis/issues/343) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/8676a494-3bd1-47e5-b162-e45da46098a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-21 15:44] 0crat commented on #361
@emilianodellacasa Can't understand "assig", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign f

[2019-02-21 15:44] 0crat commented on #208
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-21 15:45] 0crat commented on #348
The job [#348](https://github.com/timelesslounge/timelessis/issues/348) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/c29cd517-2373-410f-b246-3e792e8a0f9c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-02-21 15:45] 0crat commented on #208
The job [#208](https://github.com/timelesslounge/timelessis/issues/208) is now out of scope

[2019-02-21 15:47] 0crat commented on #352
The job [#352](https://github.com/timelesslounge/timelessis/issues/352) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/a123b41f-cbe1-46df-8fb7-0fb776bcdfdc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-02-21 15:52] 0crat commented on #354
The job [#354](https://github.com/timelesslounge/timelessis/issues/354) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/488643e9-0274-4cd8-b707-2164effd7b50); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-02-21 15:58] ammaratef45 commented on #339
@emilianodellacasa How an employee should be activated? Does he provide something like an activation code?

[2019-02-21 16:02] emilianodellacasa commented on #361
@0crat assign @VladimirRyzhkov

[2019-02-21 16:03] 0crat commented on #361
@emilianodellacasa The job [#361](https://github.com/timelesslounge/timelessis/issues/361) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/79eddd0e-ed6a-4b09-a74f-e2a85d2107cf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [

[2019-02-21 16:04] 0crat commented on #361
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-21 16:06] emilianodellacasa commented on #339
@ammaratef45 A mail is sent to the employee with an activation link. However, there should also be a link in the employee list page to manually activate/deactivate employees

[2019-02-21 16:09] emilianodellacasa commented on #168
@krzyk Have you tried excluding the "no-member" warning from pylint, as the link suggests?

[2019-02-21 17:31] krzyk commented on #168
@emilianodellacasa but excluding no-member is not a great solution, it will mask some errors, so if we need to add something it would be better to exclude specific classes, I'll create PR for that

[2019-02-21 17:36] krzyk commented on #168
@0crat waiting for review of PR #364

[2019-02-21 17:39] 0crat commented on #168
@krzyk The impediment for [#168](https://github.com/timelesslounge/timelessis/issues/168) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-21 17:45] #300 closed

[2019-02-21 17:45] 0pdd commented on #300
The puzzle `248-ab443c03` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 17:45] 0pdd commented on #45
@emilianodellacasa 2 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#299](https://github.com/timelesslounge/timelessis/issues/299) are still not solved; solved: [#126](https://github.com/timelesslounge/timelessis/issues/126), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://gi

[2019-02-21 17:45] 0pdd commented on #126
@0pdd 2 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#299](https://github.com/timelesslounge/timelessis/issues/299) are still not solved; solved: [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://github.com/timelesslounge/timelessis/issues/248), [#300](https://github.com/time

[2019-02-21 17:45] 0pdd commented on #240
@0pdd the puzzle [#299](https://github.com/timelesslounge/timelessis/issues/299) is still not solved; solved: [#248](https://github.com/timelesslounge/timelessis/issues/248), [#300](https://github.com/timelesslounge/timelessis/issues/300).

[2019-02-21 17:45] 0pdd commented on #248
@0pdd the puzzle [#299](https://github.com/timelesslounge/timelessis/issues/299) is still not solved; solved: [#300](https://github.com/timelesslounge/timelessis/issues/300).

[2019-02-21 17:47] krzyk opened #365 "Employee factory should follow restrictions of the model"
EmployeeFactory doesn't follow restrictions of the underlying model.
Fix that and create a test for that factory that will create a large (100, 1000?) number of instances to increase confidence that it generates correct models.

Similar thing needs to be done for all other test factories.

[2019-02-21 17:47] 0crat commented on #365
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 18:03] paulodamaso commented on #342
@emilianodellacasa Implementing this will also implement https://github.com/timelesslounge/timelessis/issues/345 , please assign it to me

[2019-02-21 18:03] 0crat commented on #300
The job [#300](https://github.com/timelesslounge/timelessis/issues/300) is now out of scope

[2019-02-21 18:03] 0crat commented on #300
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-21 18:05] 0crat commented on #356
The job [#356](https://github.com/timelesslounge/timelessis/issues/356) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1e39ba10-75d4-4a8c-9479-7d2592fb5345); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-21 18:09] 0pdd commented on #232
The puzzle `101-590ecdb6` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 18:09] #232 closed

[2019-02-21 18:09] 0pdd opened #366 "it_sync_location_test.py:12-16: Location poster mock..."
The puzzle `232-7ef634b5` from #232 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/a07876ffa4146e7e035d324a08222886ca0c7576/tests/integration/sync/it_sync_location_test.py#L12-L16

The puzzle was created by Paulo Lobo on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-21 18:09] 0pdd commented on #23
@emilianodellacasa 5 puzzles [#212](https://github.com/timelesslounge/timelessis/issues/212), [#245](https://github.com/timelesslounge/timelessis/issues/245), [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340), [#366](https://github.com/timelesslounge/timelessis/issues/366) are still not solved; solved: [#101](https://gi

[2019-02-21 18:09] 0pdd commented on #67
@0pdd 4 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340), [#366](https://github.com/timelesslounge/timelessis/issues/366) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/time

[2019-02-21 18:09] 0pdd commented on #101
@0pdd 3 puzzles [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340), [#366](https://github.com/timelesslounge/timelessis/issues/366) are still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/time

[2019-02-21 18:09] 0pdd commented on #232
@0pdd 3 puzzles [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340), [#366](https://github.com/timelesslounge/timelessis/issues/366) are still not solved.

[2019-02-21 18:10] 0crat commented on #366
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-21 18:25] 0crat commented on #366
Job [#366](https://github.com/timelesslounge/timelessis/issues/366) is now in scope, role is `DEV`

[2019-02-21 18:26] 0crat commented on #232
Job [#232](https://github.com/timelesslounge/timelessis/issues/232) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-02-21 18:26] 0crat commented on #232
The job [#232](https://github.com/timelesslounge/timelessis/issues/232) is now out of scope

[2019-02-21 18:27] bkuzmic commented on #56
@0crat status

[2019-02-21 18:29] 0crat commented on #56
@bkuzmic This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#56](https://github.com/timelesslounge/timelessis/issues/56) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 3hr
  * @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-21 18:29] emilianodellacasa commented on #342
@paulodamaso it is bad practice to solve two issues with a single PR, maybe we should close #345, what do you think?

[2019-02-21 18:30] bkuzmic commented on #56
@ypshenychka Please make a QA review. It seems that 0crat forgot to notify you.

[2019-02-21 18:30] 0crat commented on #357
The job [#357](https://github.com/timelesslounge/timelessis/issues/357) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/4e07fc94-3645-4e67-8524-e1b3bdff5f18); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-21 18:34] paulodamaso commented on #342
@emilianodellacasa I agree that it's not a good practice, but I think that the issues we too close or overlapping, or worse, solving #342 would make me put some untested code in database (tests were asked in #345). Just closing it would solve the problem, yes

[2019-02-21 18:47] emilianodellacasa commented on #345
@krzyk closing this as it's duplicated by #342

[2019-02-21 18:47] #345 closed

[2019-02-21 19:05] 0crat commented on #345
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-21 19:05] 0crat commented on #345
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-21 19:06] 0crat commented on #345
The job [#345](https://github.com/timelesslounge/timelessis/issues/345) is now out of scope

[2019-02-21 19:27] paulodamaso commented on #232
@0crat status

[2019-02-21 19:28] 0crat commented on #232
@paulodamaso This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#232](https://github.com/timelesslounge/timelessis/issues/232) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 1hr
  * @paulodamaso[/z](https://www.0crat.com/

[2019-02-21 19:30] paulodamaso commented on #232
@ypshenychka ping, looks like 0crat did not warned you

[2019-02-21 19:48] emilianodellacasa commented on #366
@0crat assign @marceloamadeu

[2019-02-21 19:49] 0crat commented on #366
@emilianodellacasa The job [#366](https://github.com/timelesslounge/timelessis/issues/366) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/88df08b2-510c-4b6a-ac35-0c5d5229ee55); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](

[2019-02-21 19:51] 0crat commented on #366
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-21 20:22] #298 closed

[2019-02-21 20:22] 0pdd commented on #298
The puzzle `176-54367cd5` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 20:22] 0pdd commented on #22
@emilianodellacasa 8 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#242](https://github.com/timelesslounge/timelessis/issues/242), [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/timelessis/issues/284), [#330](https://github.com/timelesslounge/timel

[2019-02-21 20:22] 0pdd commented on #176
@0pdd the puzzle [#341](https://github.com/timelesslounge/timelessis/issues/341) is still not solved; solved: [#298](https://github.com/timelesslounge/timelessis/issues/298).

[2019-02-21 20:40] 0crat commented on #298
Job [#298](https://github.com/timelesslounge/timelessis/issues/298) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-02-21 20:40] 0crat commented on #298
The job [#298](https://github.com/timelesslounge/timelessis/issues/298) is now out of scope

[2019-02-21 20:53] 0crat commented on #358
The job [#358](https://github.com/timelesslounge/timelessis/issues/358) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/f1f6ee72-ce75-463b-ad30-4da3cad82006); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-21 21:07] ypshenychka commented on #204
@0crat quality good

[2019-02-21 21:09] 0crat commented on #204
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-21 21:09] 0crat commented on #204
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-21 21:39] ypshenychka commented on #232
@0crat quality good

[2019-02-21 21:42] ypshenychka commented on #345
@krzyk No work was done here. right?

[2019-02-21 21:44] ypshenychka commented on #300
@0crat quality good

[2019-02-21 21:45] ypshenychka commented on #56
@0crat quality good

[2019-02-21 21:48] krzyk commented on #345
@ypshenychka correct

[2019-02-21 21:53] ypshenychka commented on #208
@0crat quality good

[2019-02-21 21:55] ypshenychka commented on #57
@0crat quality good

[2019-02-21 21:57] 0crat commented on #232
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-21 21:57] 0crat commented on #232
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-21 21:57] ypshenychka commented on #329
@0crat quality good

[2019-02-21 21:58] ypshenychka commented on #291
@0crat quality good

[2019-02-21 21:58] 0crat commented on #300
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-21 21:58] ypshenychka commented on #178
@0crat quality good

[2019-02-21 22:01] ypshenychka commented on #345
@krzyk thanks

[2019-02-21 22:01] ypshenychka commented on #345
@0crat quality bad

[2019-02-21 22:05] 0crat commented on #300
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-21 22:07] 0crat commented on #56
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-21 22:07] ypshenychka commented on #248
@ekondrashev Please respond to my above comment.

[2019-02-21 22:07] 0crat commented on #56
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-21 22:07] 0crat commented on #362
The job [#362](https://github.com/timelesslounge/timelessis/issues/362) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/78961a87-fdd3-41fb-a682-0b4a59b90157); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-21 22:09] 0crat commented on #345
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-21 22:11] 0crat commented on #363
The job [#363](https://github.com/timelesslounge/timelessis/issues/363) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b1797735-d2fc-4606-9d9f-48d48f6751a0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-21 22:11] 0crat commented on #208
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-21 22:12] 0crat commented on #208
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-21 22:12] 0crat commented on #57
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-21 22:12] 0crat commented on #57
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-21 22:12] 0crat commented on #345
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-22 00:31] paulodamaso commented on #214
@0crat refuse

[2019-02-22 00:50] 0crat commented on #214
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#214](https://github.com/timelesslounge/timelessis/issues/214), please stop working. Reason for job resignation: Order was cancelled

[2019-02-22 00:55] 0crat commented on #214
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-22 07:18] ypshenychka commented on #329
@0crat quality good

[2019-02-22 07:18] ypshenychka commented on #291
@0crat quality good

[2019-02-22 07:19] ypshenychka commented on #178
@0crat quality good

[2019-02-22 07:30] 0crat commented on #178
@ypshenychka There is no quality review for [#178](https://github.com/timelesslounge/timelessis/issues/178), no performer

[2019-02-22 07:32] 0crat commented on #329
@ypshenychka There is no quality review for [#329](https://github.com/timelesslounge/timelessis/issues/329), no performer

[2019-02-22 07:44] 0crat commented on #178
Order was finished, quality is "good": +40 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-22 07:48] 0crat commented on #178
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-22 07:48] 0crat commented on #329
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-22 07:54] 0crat commented on #329
Order was finished, quality is "good": +40 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-22 08:27] #318 closed

[2019-02-22 08:27] 0pdd commented on #318
The puzzle `217-abdb84b1` has disappeared from the source code, that's why I closed this issue.

[2019-02-22 08:27] 0pdd commented on #15
@emilianodellacasa the puzzle [#270](https://github.com/timelesslounge/timelessis/issues/270) is still not solved; solved: [#141](https://github.com/timelesslounge/timelessis/issues/141), [#142](https://github.com/timelesslounge/timelessis/issues/142), [#217](https://github.com/timelesslounge/timelessis/issues/217), [#318](https://github.com/timelesslounge/timelessis/issues/318).

[2019-02-22 08:27] 0pdd commented on #142
@0pdd all 2 puzzles are solved here: [#217](https://github.com/timelesslounge/timelessis/issues/217), [#318](https://github.com/timelesslounge/timelessis/issues/318).

[2019-02-22 08:27] 0pdd commented on #217
@0pdd the only puzzle [#318](https://github.com/timelesslounge/timelessis/issues/318) is solved here.

[2019-02-22 08:46] 0crat commented on #318
Job [#318](https://github.com/timelesslounge/timelessis/issues/318) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-02-22 08:46] 0crat commented on #318
The job [#318](https://github.com/timelesslounge/timelessis/issues/318) is now out of scope

[2019-02-22 08:47] 0crat commented on #214
The job [#214](https://github.com/timelesslounge/timelessis/issues/214) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/a7355700-fa4a-4776-a1a3-d015f218d097); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-22 08:52] #340 closed

[2019-02-22 08:52] 0pdd commented on #340
The puzzle `232-7d302a24` has disappeared from the source code, that's why I closed this issue.

[2019-02-22 08:52] 0pdd opened #370 "auth.py:20-24: Continue implementing forgot_password. End..."
The puzzle `340-5247f867` from #340 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/cf59ec4ad667932fdc84bb6fd42348924ff25dab/timeless/auth/auth.py#L20-L24

The puzzle was created by marceloamadeu on 21-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-02-22 08:52] 0pdd commented on #23
@emilianodellacasa 5 puzzles [#212](https://github.com/timelesslounge/timelessis/issues/212), [#245](https://github.com/timelesslounge/timelessis/issues/245), [#339](https://github.com/timelesslounge/timelessis/issues/339), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#370](https://github.com/timelesslounge/timelessis/issues/370) are still not solved; solved: [#101](https://gi

[2019-02-22 08:52] 0pdd commented on #67
@0pdd 4 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#339](https://github.com/timelesslounge/timelessis/issues/339), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#370](https://github.com/timelesslounge/timelessis/issues/370) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/time

[2019-02-22 08:52] 0pdd commented on #101
@0pdd 3 puzzles [#339](https://github.com/timelesslounge/timelessis/issues/339), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#370](https://github.com/timelesslounge/timelessis/issues/370) are still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/time

[2019-02-22 08:52] 0pdd commented on #232
@0pdd 3 puzzles [#339](https://github.com/timelesslounge/timelessis/issues/339), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#370](https://github.com/timelesslounge/timelessis/issues/370) are still not solved; solved: [#340](https://github.com/timelesslounge/timelessis/issues/340).

[2019-02-22 08:52] 0pdd commented on #340
@0pdd the puzzle [#370](https://github.com/timelesslounge/timelessis/issues/370) is still not solved.

[2019-02-22 08:53] 0crat commented on #370
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-22 09:03] 0crat commented on #370
Job [#370](https://github.com/timelesslounge/timelessis/issues/370) is now in scope, role is `DEV`

[2019-02-22 09:12] 0crat commented on #370
The job [#370](https://github.com/timelesslounge/timelessis/issues/370) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b3ebef57-1dc9-4234-b5c9-94df6189bb33); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-22 09:15] 0pdd commented on #307
The puzzle `173-da07ec99` has disappeared from the source code, that's why I closed this issue.

[2019-02-22 09:15] #307 closed

[2019-02-22 09:15] 0pdd commented on #173
@vryazanov 6 puzzles [#306](https://github.com/timelesslounge/timelessis/issues/306), [#308](https://github.com/timelesslounge/timelessis/issues/308), [#309](https://github.com/timelesslounge/timelessis/issues/309), [#310](https://github.com/timelesslounge/timelessis/issues/310), [#311](https://github.com/timelesslounge/timelessis/issues/311), [#312](https://github.com/timelesslounge/timelessis/is

[2019-02-22 09:16] krzyk commented on #291
@0crat status

[2019-02-22 09:21] 0crat commented on #370
Job `gh:timelesslounge/timelessis#370` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-22 09:29] 0crat commented on #340
Job was finished in 36 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-22 09:34] krzyk commented on #168
@vryazanov changes have been merged to master in #364 please close this issue

[2019-02-22 09:34] 0crat commented on #340
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-22 09:37] vryazanov commented on #168
@krzyk thanks :+1:

[2019-02-22 09:37] #168 closed

[2019-02-22 09:37] krzyk commented on #365
@emilianodellacasa Take a look at https://travis-ci.org/timelesslounge/timelessis/pull_requests there are few builds that failed because of the EmployeeFactory problem, like:
* https://travis-ci.org/timelesslounge/timelessis/builds/496882119
* https://travis-ci.org/timelesslounge/timelessis/builds/496685970

[2019-02-22 09:43] 0crat commented on #291
@krzyk This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#291](https://github.com/timelesslounge/timelessis/issues/291) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 24hr
  * @krzyk[/z](https://www.0crat.com/u/krzyk) wi

[2019-02-22 09:43] 0crat commented on #340
The job [#340](https://github.com/timelesslounge/timelessis/issues/340) is now out of scope

[2019-02-22 09:48] 0crat commented on #291
@ypshenychka There is no quality review for [#291](https://github.com/timelesslounge/timelessis/issues/291), no performer

[2019-02-22 09:51] ypshenychka commented on #291
@0crat quality good

[2019-02-22 09:51] ypshenychka commented on #340
@0crat quality good

[2019-02-22 09:52] emilianodellacasa commented on #365
@krzyk We definitely need to fix it, but we have two incoming milestones that have to be absolutely met and prefer to focus on those

[2019-02-22 10:02] 0crat commented on #307
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-22 10:02] 0crat commented on #291
Order was finished, quality is "good": +40 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-22 10:03] 0crat commented on #291
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-22 10:04] 0crat commented on #291
@ypshenychka There is no quality review for [#291](https://github.com/timelesslounge/timelessis/issues/291), no performer

[2019-02-22 10:09] 0crat commented on #168
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-22 10:09] 0crat commented on #307
The job [#307](https://github.com/timelesslounge/timelessis/issues/307) is now out of scope

[2019-02-22 10:14] 0pdd commented on #45
@emilianodellacasa the puzzle [#299](https://github.com/timelesslounge/timelessis/issues/299) is still not solved; solved: [#126](https://github.com/timelesslounge/timelessis/issues/126), [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://gi

[2019-02-22 10:14] 0pdd commented on #126
@0pdd the puzzle [#299](https://github.com/timelesslounge/timelessis/issues/299) is still not solved; solved: [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://github.com/timelesslounge/timelessis/issues/248), [#300](https://github.com/time

[2019-02-22 10:17] 0crat commented on #168
Job [#168](https://github.com/timelesslounge/timelessis/issues/168) is not in the agenda of @krzyk[/z](https://www.0crat.com/u/krzyk), can't inspect

[2019-02-22 10:28] krzyk commented on #168
@0crat status

[2019-02-22 10:30] 0crat commented on #168
The job [#168](https://github.com/timelesslounge/timelessis/issues/168) is now out of scope

[2019-02-22 10:32] 0crat commented on #340
Order was finished, quality is "good": +40 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-02-22 10:32] 0crat commented on #340
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-22 10:37] 0crat commented on #168
@krzyk This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#168](https://github.com/timelesslounge/timelessis/issues/168) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 31min
  * @krzyk[/z](https://www.0crat.com/u/krzyk) w

[2019-02-22 10:48] paulodamaso commented on #318
@0crat status

[2019-02-22 10:53] paulodamaso commented on #298
@0pdd status

[2019-02-22 10:54] 0crat commented on #318
@paulodamaso This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#318](https://github.com/timelesslounge/timelessis/issues/318) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 2hr
  * @paulodamaso[/z](https://www.0crat.com/

[2019-02-22 10:54] 0pdd commented on #298
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2019-02-22 10:59] paulodamaso commented on #318
@ypshenychka Take a look at this one please

[2019-02-22 10:59] paulodamaso commented on #298
@0crat status

[2019-02-22 11:07] 0crat commented on #298
@paulodamaso This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#298](https://github.com/timelesslounge/timelessis/issues/298) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 14hr
  * @paulodamaso[/z](https://www.0crat.com

[2019-02-22 11:11] paulodamaso commented on #298
@ypshenychka Please take a look, @0crat missed this one too

[2019-02-22 11:11] 0crat commented on #298
Are you speaking to me or about me [here](https://github.com/timelesslounge/timelessis/issues/298#issuecomment-466361972); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-02-22 13:21] paulodamaso commented on #215
@0crat refuse

[2019-02-22 13:27] 0crat commented on #215
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#215](https://github.com/timelesslounge/timelessis/issues/215), please stop working. Reason for job resignation: Order was cancelled

[2019-02-22 13:28] 0crat commented on #215
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-22 13:34] 0crat commented on #215
The job [#215](https://github.com/timelesslounge/timelessis/issues/215) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b1d82596-a5de-4a2a-820e-82e3917db1b9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-22 14:05] paulodamaso commented on #242
@0crat wait for #373 review

[2019-02-22 14:15] 0crat commented on #242
@paulodamaso The impediment for [#242](https://github.com/timelesslounge/timelessis/issues/242) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-22 14:27] #299 closed

[2019-02-22 14:27] 0pdd commented on #299
The puzzle `248-2f8cb0ee` has disappeared from the source code, that's why I closed this issue.

[2019-02-22 14:27] 0pdd opened #374 "install_db.sh:3-5: Continue the deploy algorithm. We need..."
The puzzle `299-df8b615c` from #299 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/66a337e4043e1c840cfc5c5b8653c6bb95acf8a5/scripts/install/deploy/install_db.sh#L3-L5

The puzzle was created by marceloamadeu on 22-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-02-22 14:27] 0pdd commented on #45
@emilianodellacasa the puzzle [#374](https://github.com/timelesslounge/timelessis/issues/374) is still not solved; solved: [#126](https://github.com/timelesslounge/timelessis/issues/126), [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://gi

[2019-02-22 14:27] 0pdd commented on #126
@0pdd the puzzle [#374](https://github.com/timelesslounge/timelessis/issues/374) is still not solved; solved: [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://github.com/timelesslounge/timelessis/issues/248), [#299](https://github.com/time

[2019-02-22 14:27] 0pdd commented on #240
@0pdd the puzzle [#374](https://github.com/timelesslounge/timelessis/issues/374) is still not solved; solved: [#248](https://github.com/timelesslounge/timelessis/issues/248), [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300).

[2019-02-22 14:27] 0pdd commented on #248
@0pdd the puzzle [#374](https://github.com/timelesslounge/timelessis/issues/374) is still not solved; solved: [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300).

[2019-02-22 14:27] 0pdd commented on #299
@0pdd the puzzle [#374](https://github.com/timelesslounge/timelessis/issues/374) is still not solved.

[2019-02-22 14:27] 0crat commented on #374
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-22 14:49] 0crat commented on #374
Job [#374](https://github.com/timelesslounge/timelessis/issues/374) is now in scope, role is `DEV`

[2019-02-22 14:52] 0crat commented on #299
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-22 14:52] 0crat commented on #299
The job [#299](https://github.com/timelesslounge/timelessis/issues/299) is now out of scope

[2019-02-22 14:52] 0crat commented on #374
The job [#374](https://github.com/timelesslounge/timelessis/issues/374) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/9d6df573-f5eb-4ba7-ae4d-373dc8d46664); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-22 18:07] 0pdd opened #376 "synced_table.py:6-10: Implement synchronization between..."
The puzzle `342-d7dc5047` from #342 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/acf7871bacb52b43fed54e7bbb28a476f6e22fe6/timeless/sync/synced_table.py#L6-L10

The puzzle was created by Paulo Lobo on 21-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-02-22 18:07] 0pdd commented on #24
@emilianodellacasa 4 puzzles [#342](https://github.com/timelesslounge/timelessis/issues/342), [#343](https://github.com/timelesslounge/timelessis/issues/343), [#344](https://github.com/timelesslounge/timelessis/issues/344), [#376](https://github.com/timelesslounge/timelessis/issues/376) are still not solved; solved: [#187](https://github.com/timelesslounge/timelessis/issues/187), [#345](https://gi

[2019-02-22 18:07] 0pdd commented on #187
@0pdd 4 puzzles [#342](https://github.com/timelesslounge/timelessis/issues/342), [#343](https://github.com/timelesslounge/timelessis/issues/343), [#344](https://github.com/timelesslounge/timelessis/issues/344), [#376](https://github.com/timelesslounge/timelessis/issues/376) are still not solved; solved: [#345](https://github.com/timelesslounge/timelessis/issues/345).

[2019-02-22 18:07] 0pdd commented on #342
@0pdd the puzzle [#376](https://github.com/timelesslounge/timelessis/issues/376) is still not solved.

[2019-02-22 18:08] 0crat commented on #376
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-22 18:27] 0crat commented on #376
Job [#376](https://github.com/timelesslounge/timelessis/issues/376) is now in scope, role is `DEV`

[2019-02-22 18:46] 0crat commented on #376
The job [#376](https://github.com/timelesslounge/timelessis/issues/376) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/127fa4b6-5904-4462-a74e-379b488c7f10); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-22 19:47] 0crat commented on #278
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-22 21:14] Vatavuk commented on #261
@0crat wait other tasks

[2019-02-22 21:14] Vatavuk commented on #262
@0crat wait other tasks

[2019-02-22 21:15] 0crat commented on #261
@Vatavuk The impediment for [#261](https://github.com/timelesslounge/timelessis/issues/261) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-22 21:15] 0crat commented on #262
@Vatavuk The impediment for [#262](https://github.com/timelesslounge/timelessis/issues/262) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-22 21:31] #235 closed

[2019-02-22 21:31] 0pdd commented on #235
The puzzle `172-38242c64` has disappeared from the source code, that's why I closed this issue.

[2019-02-22 21:32] 0pdd opened #379 "test_reservations.py:11-15: Continue implementation of..."
The puzzle `235-38242c64` from #235 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/90e103893e65f4c3367745ef1000e99c07c98d94/tests/view/test_reservations.py#L11-L15

The puzzle was created by Vatavuk on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-02-22 21:32] 0crat commented on #379
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-22 21:32] 0pdd opened #380 "it_reservations_test.py:13-16: Find out why form..."
The puzzle `235-8ebed21e` from #235 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/90e103893e65f4c3367745ef1000e99c07c98d94/tests/integration/it_reservations_test.py#L13-L16

The puzzle was created by Vatavuk on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-02-22 21:32] 0pdd commented on #27
@emilianodellacasa 4 puzzles [#215](https://github.com/timelesslounge/timelessis/issues/215), [#236](https://github.com/timelesslounge/timelessis/issues/236), [#379](https://github.com/timelesslounge/timelessis/issues/379), [#380](https://github.com/timelesslounge/timelessis/issues/380) are still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171), [#172](https://gi

[2019-02-22 21:32] 0crat commented on #380
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-22 21:32] 0pdd commented on #172
@0pdd 4 puzzles [#215](https://github.com/timelesslounge/timelessis/issues/215), [#236](https://github.com/timelesslounge/timelessis/issues/236), [#379](https://github.com/timelesslounge/timelessis/issues/379), [#380](https://github.com/timelesslounge/timelessis/issues/380) are still not solved; solved: [#235](https://github.com/timelesslounge/timelessis/issues/235).

[2019-02-22 21:32] 0pdd commented on #235
@0pdd 2 puzzles [#379](https://github.com/timelesslounge/timelessis/issues/379), [#380](https://github.com/timelesslounge/timelessis/issues/380) are still not solved.

[2019-02-22 21:41] emilianodellacasa commented on #380
@0crat assign @marceloamadeu

[2019-02-22 21:42] 0crat commented on #95
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-22 21:46] 0crat commented on #379
Job [#379](https://github.com/timelesslounge/timelessis/issues/379) is now in scope, role is `DEV`

[2019-02-22 21:48] 0crat commented on #380
@emilianodellacasa The job [#380](https://github.com/timelesslounge/timelessis/issues/380) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/11a4cc1e-c3ab-4a18-b66d-f6024c8192e3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](

[2019-02-22 21:48] 0crat commented on #380
Job [#380](https://github.com/timelesslounge/timelessis/issues/380) is now in scope, role is `DEV`

[2019-02-22 21:50] 0crat commented on #380
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-22 21:50] 0crat commented on #235
The job [#235](https://github.com/timelesslounge/timelessis/issues/235) is now out of scope

[2019-02-22 21:50] 0crat commented on #235
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-22 21:50] 0crat commented on #235
Job [#235](https://github.com/timelesslounge/timelessis/issues/235) is not in the agenda of @vatavuk[/z](https://www.0crat.com/u/vatavuk), can't inspect

[2019-02-22 21:55] 0pdd commented on #234
The puzzle `169-076d68de` has disappeared from the source code, that's why I closed this issue.

[2019-02-22 21:55] #234 closed

[2019-02-22 21:55] 0pdd opened #381 "it_tables_test.py:2-7: Timeless ModelForm is not working..."
The puzzle `234-f565bee8` from #234 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/3136ef30237d82f4af8b29579831b2c0861bc1bf/tests/integration/it_tables_test.py#L2-L7

The puzzle was created by Vatavuk on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-22 21:55] 0pdd commented on #12
@emilianodellacasa 3 puzzles [#170](https://github.com/timelesslounge/timelessis/issues/170), [#214](https://github.com/timelesslounge/timelessis/issues/214), [#381](https://github.com/timelesslounge/timelessis/issues/381) are still not solved; solved: [#112](https://github.com/timelesslounge/timelessis/issues/112), [#169](https://github.com/timelesslounge/timelessis/issues/169), [#234](https://gi

[2019-02-22 21:55] 0pdd commented on #112
@0pdd 3 puzzles [#170](https://github.com/timelesslounge/timelessis/issues/170), [#214](https://github.com/timelesslounge/timelessis/issues/214), [#381](https://github.com/timelesslounge/timelessis/issues/381) are still not solved; solved: [#169](https://github.com/timelesslounge/timelessis/issues/169), [#234](https://github.com/timelesslounge/timelessis/issues/234).

[2019-02-22 21:55] 0pdd commented on #169
@0pdd 2 puzzles [#214](https://github.com/timelesslounge/timelessis/issues/214), [#381](https://github.com/timelesslounge/timelessis/issues/381) are still not solved; solved: [#234](https://github.com/timelesslounge/timelessis/issues/234).

[2019-02-22 21:55] 0pdd commented on #234
@0pdd the puzzle [#381](https://github.com/timelesslounge/timelessis/issues/381) is still not solved.

[2019-02-22 21:56] 0crat commented on #381
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-22 22:06] 0crat commented on #381
Job [#381](https://github.com/timelesslounge/timelessis/issues/381) is now in scope, role is `DEV`

[2019-02-22 22:15] 0crat commented on #234
Job [#234](https://github.com/timelesslounge/timelessis/issues/234) is not in the agenda of @vatavuk[/z](https://www.0crat.com/u/vatavuk), can't inspect

[2019-02-22 22:15] 0crat commented on #234
The job [#234](https://github.com/timelesslounge/timelessis/issues/234) is now out of scope

[2019-02-22 22:15] 0crat commented on #234
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-23 10:52] vryazanov commented on #307
@0crat status

[2019-02-23 10:52] 0crat commented on #307
@vryazanov This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#307](https://github.com/timelesslounge/timelessis/issues/307) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 1days
  * @vryazanov[/z](https://www.0crat.com/u/

[2019-02-23 12:38] 0crat commented on #283
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-23 20:28] vryazanov commented on #285
@0crat wait for #310
I need to reuse some base method implemented in PR for that task. So I cannot implement current task the best way without it.

[2019-02-23 20:29] vryazanov commented on #338
@0crat wait for #310
To implement edit view correctly, I need to reuse some base methods from PR for #310

[2019-02-23 20:30] 0crat commented on #285
@vryazanov The impediment for [#285](https://github.com/timelesslounge/timelessis/issues/285) was registered successfully by @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-23 20:30] 0crat commented on #338
@vryazanov The impediment for [#338](https://github.com/timelesslounge/timelessis/issues/338) was registered successfully by @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-23 21:27] #339 closed

[2019-02-23 21:27] 0pdd commented on #339
The puzzle `232-1f9157a6` has disappeared from the source code, that's why I closed this issue.

[2019-02-23 21:27] 0pdd opened #385 "views.py:72-75: Implement tests for this method. Tests..."
The puzzle `399-f11dbfdc` from #399 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fbcf2bf86023cb519fb0f8a3f09ff448f1ddd2f8/timeless/auth/views.py#L72-L75

The puzzle was created by rultor on 23-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ f

[2019-02-23 21:27] 0pdd commented on #23
@emilianodellacasa 4 puzzles [#212](https://github.com/timelesslounge/timelessis/issues/212), [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#370](https://github.com/timelesslounge/timelessis/issues/370) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://gi

[2019-02-23 21:27] 0pdd commented on #67
@0pdd 3 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#370](https://github.com/timelesslounge/timelessis/issues/370) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113), [#197](https://github.com/time

[2019-02-23 21:27] 0pdd commented on #101
@0pdd 2 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#370](https://github.com/timelesslounge/timelessis/issues/370) are still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/timelesslounge/timelessis/issues/233), [#339](https://github.com/time

[2019-02-23 21:27] 0pdd commented on #232
@0pdd 2 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#370](https://github.com/timelesslounge/timelessis/issues/370) are still not solved; solved: [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340).

[2019-02-23 21:28] 0crat commented on #385
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-23 21:33] 0crat commented on #385
Job [#385](https://github.com/timelesslounge/timelessis/issues/385) is now in scope, role is `DEV`

[2019-02-23 21:39] 0pdd commented on #97
The puzzle `43-07f6d407` has disappeared from the source code, that's why I closed this issue.

[2019-02-23 21:39] #97 closed

[2019-02-23 21:39] 0pdd opened #386 "views.py:9-12: Continue implementing..."
The puzzle `97-f1e01378` from #97 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/ff5e47b062f47f1c7a4cec5e3928305f5342157c/timeless/schemetypes/views.py#L9-L12

The puzzle was created by Boris Kuzmic on 22-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-02-23 21:39] 0pdd commented on #18
@emilianodellacasa the puzzle [#386](https://github.com/timelesslounge/timelessis/issues/386) is still not solved; solved: [#43](https://github.com/timelesslounge/timelessis/issues/43), [#97](https://github.com/timelesslounge/timelessis/issues/97).

[2019-02-23 21:39] 0pdd commented on #43
@0pdd the puzzle [#386](https://github.com/timelesslounge/timelessis/issues/386) is still not solved; solved: [#97](https://github.com/timelesslounge/timelessis/issues/97).

[2019-02-23 21:39] 0pdd commented on #97
@0pdd the puzzle [#386](https://github.com/timelesslounge/timelessis/issues/386) is still not solved.

[2019-02-23 21:40] 0crat commented on #386
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-23 21:42] 0crat commented on #182
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-23 21:51] 0crat commented on #386
Job [#386](https://github.com/timelesslounge/timelessis/issues/386) is now in scope, role is `DEV`

[2019-02-23 21:55] 0crat commented on #339
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-23 21:56] 0crat commented on #339
Job [#339](https://github.com/timelesslounge/timelessis/issues/339) is not in the agenda of @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), can't inspect

[2019-02-23 21:56] 0crat commented on #339
The job [#339](https://github.com/timelesslounge/timelessis/issues/339) is now out of scope

[2019-02-23 21:57] 0crat commented on #97
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-23 21:57] 0crat commented on #97
The job [#97](https://github.com/timelesslounge/timelessis/issues/97) is now out of scope

[2019-02-23 22:05] #370 closed

[2019-02-23 22:05] 0pdd commented on #370
The puzzle `340-5247f867` has disappeared from the source code, that's why I closed this issue.

[2019-02-23 22:05] 0pdd opened #387 "it_auth_test.py:73-77: Forgot password routine. At the..."
The puzzle `370-45d5a6ee` from #370 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9de13c38c8fcb4703f8f9305b826b607d5f809d7/tests/integration/it_auth_test.py#L73-L77

The puzzle was created by Paulo Lobo on 22-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-23 22:05] 0pdd opened #388 "it_auth_test.py:78-80: Forgot password routine. Create a..."
The puzzle `370-7fa43b29` from #370 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9de13c38c8fcb4703f8f9305b826b607d5f809d7/tests/integration/it_auth_test.py#L78-L80

The puzzle was created by Paulo Lobo on 22-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-23 22:05] 0pdd opened #389 "auth.py:5-10: Decouple routines from database. Database..."
The puzzle `370-7db59df9` from #370 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9de13c38c8fcb4703f8f9305b826b607d5f809d7/timeless/auth/auth.py#L5-L10

The puzzle was created by Paulo Lobo on 23-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-23 22:06] 0pdd commented on #23
@emilianodellacasa 6 puzzles [#212](https://github.com/timelesslounge/timelessis/issues/212), [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timel

[2019-02-23 22:06] 0pdd commented on #67
@0pdd 5 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timelessis/issues/389) are still not solved; solved: [#101](https://github.com/time

[2019-02-23 22:06] 0pdd commented on #101
@0pdd 4 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timelessis/issues/389) are still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/time

[2019-02-23 22:06] 0pdd commented on #232
@0pdd 4 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timelessis/issues/389) are still not solved; solved: [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/time

[2019-02-23 22:06] 0pdd commented on #340
@0pdd 3 puzzles [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timelessis/issues/389) are still not solved; solved: [#370](https://github.com/timelesslounge/timelessis/issues/370).

[2019-02-23 22:06] 0pdd commented on #370
@0pdd 3 puzzles [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timelessis/issues/389) are still not solved.

[2019-02-23 22:06] 0crat commented on #389
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-23 22:07] 0crat commented on #388
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-23 22:07] 0crat commented on #387
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-23 22:12] 0crat commented on #389
Job [#389](https://github.com/timelesslounge/timelessis/issues/389) is now in scope, role is `DEV`

[2019-02-23 22:15] 0crat commented on #387
Job [#387](https://github.com/timelesslounge/timelessis/issues/387) is now in scope, role is `DEV`

[2019-02-23 22:15] 0crat commented on #388
Job [#388](https://github.com/timelesslounge/timelessis/issues/388) is now in scope, role is `DEV`

[2019-02-23 22:16] carlosmiranda commented on #283
@0crat refuse

[2019-02-23 22:22] 0crat commented on #283
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#283](https://github.com/timelesslounge/timelessis/issues/283), please stop working. Reason for job resignation: Order was cancelled

[2019-02-23 22:23] 0crat commented on #283
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-23 22:23] 0crat commented on #370
Job was finished in 37 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-23 22:23] 0crat commented on #370
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-23 22:23] 0crat commented on #370
The job [#370](https://github.com/timelesslounge/timelessis/issues/370) is now out of scope

[2019-02-23 23:40] 0crat commented on #284
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 05:37] 0crat commented on #288
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 06:03] ammaratef45 commented on #339
@0crat status

[2019-02-24 06:04] 0crat commented on #339
@ammaratef45 This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#339](https://github.com/timelesslounge/timelessis/issues/339) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 8hr
  * @ammaratef45[/z](https://www.0crat.com/

[2019-02-24 06:05] ammaratef45 commented on #339
@ypshenychka zerocrat is doing it again :laughing:

[2019-02-24 06:50] Vatavuk opened #390 "Poster API authentication"
Poster authentication process is currently outside Poster API class. We are doing authentication before we use `Poster` and inject auth token into it. I believe this process should be encapsulated inside `Poster` class so that this class can manage auth and token lifecycle.
If we leave as is we will have auth process code spread everywhere we use `Poster`. Imagine now if something change in auth p

[2019-02-24 06:50] 0crat commented on #390
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-24 07:22] Vatavuk commented on #261
@0crat refuse

[2019-02-24 07:23] 0crat commented on #261
@Vatavuk The user @vatavuk[/z](https://www.0crat.com/u/vatavuk) resigned from [#261](https://github.com/timelesslounge/timelessis/issues/261), please stop working. Reason for job resignation: Order was cancelled

[2019-02-24 07:24] 0crat commented on #261
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-24 07:50] Vatavuk commented on #288
@0crat refuse

[2019-02-24 07:52] 0crat commented on #288
@Vatavuk The user @vatavuk[/z](https://www.0crat.com/u/vatavuk) resigned from [#288](https://github.com/timelesslounge/timelessis/issues/288), please stop working. Reason for job resignation: Order was cancelled

[2019-02-24 07:54] ypshenychka commented on #307
@0crat quality good

[2019-02-24 07:55] 0crat commented on #288
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-24 07:59] 0crat commented on #307
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 07:59] 0crat commented on #307
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-24 08:00] ypshenychka commented on #168
@0crat quality good

[2019-02-24 08:01] ypshenychka commented on #318
@0crat quality good

[2019-02-24 08:01] 0crat commented on #168
Order was finished, quality is "good": +40 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-24 08:01] 0crat commented on #168
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 08:02] 0crat commented on #318
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-24 08:02] ypshenychka commented on #298
@0crat quality good

[2019-02-24 08:02] 0crat commented on #318
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 08:05] ypshenychka commented on #299
@0crat quality good

[2019-02-24 08:07] 0crat commented on #298
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 08:07] 0crat commented on #298
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-24 08:09] ypshenychka commented on #235
@0crat quality good

[2019-02-24 08:11] 0crat commented on #299
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 08:11] 0crat commented on #299
Order was finished, quality is "good": +35 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-02-24 08:12] ypshenychka commented on #234
@0crat quality good

[2019-02-24 08:13] 0crat commented on #235
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 08:16] 0crat commented on #235
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-24 08:18] 0crat commented on #234
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-24 08:18] 0crat commented on #234
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 08:32] 0pdd commented on #242
The puzzle `180-a83d648b` has disappeared from the source code, that's why I closed this issue.

[2019-02-24 08:32] #242 closed

[2019-02-24 08:32] 0pdd opened #392 "owner_privileges.py:7-10: Implement owner privileges..."
The puzzle `242-e919dfa9` from #242 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1585cede336dc21cea9fdfb2227caa2abaf1f041/timeless/access_control/owner_privileges.py#L7-L10

The puzzle was created by rultor on 24-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-02-24 08:32] 0pdd opened #393 "authorization.py:15-18: Implement the rest of the owner..."
The puzzle `242-e2855a6d` from #242 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1585cede336dc21cea9fdfb2227caa2abaf1f041/timeless/access_control/authorization.py#L15-L18

The puzzle was created by rultor on 24-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-02-24 08:32] 0pdd commented on #22
@emilianodellacasa 9 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/timelessis/issues/284), [#330](https://github.com/timelesslounge/timelessis/issues/330), [#341](https://github.com/timelesslounge/timel

[2019-02-24 08:32] 0pdd commented on #180
@0pdd 2 puzzles [#392](https://github.com/timelesslounge/timelessis/issues/392), [#393](https://github.com/timelesslounge/timelessis/issues/393) are still not solved; solved: [#241](https://github.com/timelesslounge/timelessis/issues/241), [#242](https://github.com/timelesslounge/timelessis/issues/242).

[2019-02-24 08:32] 0pdd commented on #242
@0pdd 2 puzzles [#392](https://github.com/timelesslounge/timelessis/issues/392), [#393](https://github.com/timelesslounge/timelessis/issues/393) are still not solved.

[2019-02-24 08:32] 0crat commented on #392
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-24 08:33] 0crat commented on #393
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-24 08:42] 0crat commented on #286
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 08:46] 0crat commented on #393
Job [#393](https://github.com/timelesslounge/timelessis/issues/393) is now in scope, role is `DEV`

[2019-02-24 08:46] 0crat commented on #392
Job [#392](https://github.com/timelesslounge/timelessis/issues/392) is now in scope, role is `DEV`

[2019-02-24 08:50] 0crat commented on #242
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-24 08:54] 0crat commented on #242
The job [#242](https://github.com/timelesslounge/timelessis/issues/242) is now out of scope

[2019-02-24 10:43] 0crat commented on #289
@salgadobreno[/z](https://www.0crat.com/u/salgadobreno) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 12:20] ypshenychka commented on #97
@0crat quality good

[2019-02-24 12:21] 0crat commented on #97
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-24 12:21] 0crat commented on #97
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 12:24] ypshenychka commented on #248
@0crat quality acceptable

[2019-02-24 12:26] ypshenychka commented on #370
@0crat quality good

[2019-02-24 12:28] 0crat commented on #248
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 12:29] 0crat commented on #248
Order was finished, quality is "acceptable": +30 point(s) just awarded to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev)

[2019-02-24 12:29] ypshenychka commented on #339
@ammaratef45 There was a [notification](https://github.com/timelesslounge/timelessis/issues/339#issuecomment-466700966), so 0crat is doing his best :)

[2019-02-24 12:29] ypshenychka commented on #339
@0crat quality good

[2019-02-24 12:29] 0crat commented on #370
Order was finished, quality is "good": +40 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-24 12:29] 0crat commented on #261
The job [#261](https://github.com/timelesslounge/timelessis/issues/261) assigned to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/863ee135-46f2-49c9-be4e-ee1aec1431b2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-24 12:29] 0crat commented on #370
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 12:30] 0crat commented on #339
Order was finished, quality is "good": +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-24 12:30] 0crat commented on #339
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 12:33] ypshenychka commented on #242
@0crat quality good

[2019-02-24 12:41] 0crat commented on #242
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-24 12:42] 0crat commented on #242
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-24 13:38] 0crat commented on #297
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 17:39] 0crat commented on #177
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 19:41] 0crat commented on #312
@vryazanov[/z](https://www.0crat.com/u/vryazanov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 19:42] 0crat commented on #315
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 19:42] 0crat commented on #310
@vryazanov[/z](https://www.0crat.com/u/vryazanov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 19:42] 0crat commented on #309
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 19:42] 0crat commented on #311
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 19:49] vryazanov commented on #310
@0crat wait for review, PR is open

[2019-02-24 19:50] vryazanov commented on #312
@0crat wait for review, PR is open

[2019-02-24 19:50] 0crat commented on #310
@vryazanov The impediment for [#310](https://github.com/timelesslounge/timelessis/issues/310) was registered successfully by @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-24 19:50] 0crat commented on #312
@vryazanov The impediment for [#312](https://github.com/timelesslounge/timelessis/issues/312) was registered successfully by @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-24 20:43] 0crat commented on #314
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 20:47] 0crat commented on #316
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 20:47] 0crat commented on #317
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-24 21:01] 0crat commented on #260
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev)

[2019-02-24 21:01] 0crat commented on #260
The user @ekondrashev[/z](https://www.0crat.com/u/ekondrashev) resigned from [#260](https://github.com/timelesslounge/timelessis/issues/260), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-02-24 21:01] vryazanov opened #396 "Using factories to simplify tests"
Hey,
I see a lot of large functions in tests like `create_employee` or `_create_test_location`. Let's create factories for all our models and use them. See an example, what now and what was before: https://github.com/timelesslounge/timelessis/pull/395/files#diff-882d8d4ba8a04d60cd877077a65f60f7R78

[2019-02-24 21:02] 0crat commented on #396
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-24 21:09] 0pdd commented on #341
The puzzle `298-a994a93f` has disappeared from the source code, that's why I closed this issue.

[2019-02-24 21:09] #341 closed

[2019-02-24 21:10] 0pdd opened #397 "models.py:24-25: Need to find nice way to understand what..."
The puzzle `341-9c211a77` from #341 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fe0ed422bf4ba7343643b5475c38d936fea3788d/timeless/roles/models.py#L24-L25

The puzzle was created by Vadim Ryazanov on 24-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-02-24 21:10] 0pdd commented on #22
@emilianodellacasa 9 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/timelessis/issues/284), [#330](https://github.com/timelesslounge/timelessis/issues/330), [#358](https://github.com/timelesslounge/timel

[2019-02-24 21:10] 0pdd commented on #176
@0pdd the puzzle [#397](https://github.com/timelesslounge/timelessis/issues/397) is still not solved; solved: [#298](https://github.com/timelesslounge/timelessis/issues/298), [#341](https://github.com/timelesslounge/timelessis/issues/341).

[2019-02-24 21:10] 0pdd commented on #298
@0pdd the puzzle [#397](https://github.com/timelesslounge/timelessis/issues/397) is still not solved; solved: [#341](https://github.com/timelesslounge/timelessis/issues/341).

[2019-02-24 21:10] 0pdd commented on #341
@0pdd the puzzle [#397](https://github.com/timelesslounge/timelessis/issues/397) is still not solved.

[2019-02-24 21:10] 0crat commented on #397
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-24 21:18] 0crat commented on #283
The job [#283](https://github.com/timelesslounge/timelessis/issues/283) assigned to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/d9cbfcca-0be3-4e01-b8a6-0685218ffc08); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-24 21:24] 0crat commented on #397
Job [#397](https://github.com/timelesslounge/timelessis/issues/397) is now in scope, role is `DEV`

[2019-02-24 21:31] 0crat commented on #341
Job [#341](https://github.com/timelesslounge/timelessis/issues/341) is not in the agenda of @vryazanov[/z](https://www.0crat.com/u/vryazanov), can't inspect

[2019-02-24 21:31] 0crat commented on #341
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-24 21:31] 0crat commented on #341
The job [#341](https://github.com/timelesslounge/timelessis/issues/341) is now out of scope

[2019-02-24 21:39] vryazanov commented on #341
@0crat refuse

[2019-02-24 21:40] vryazanov commented on #323
@0crat refuse

[2019-02-24 21:42] 0crat commented on #323
@vryazanov The user @vryazanov[/z](https://www.0crat.com/u/vryazanov) resigned from [#323](https://github.com/timelesslounge/timelessis/issues/323), please stop working. Reason for job resignation: Order was cancelled

[2019-02-24 21:43] 0crat commented on #323
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-25 08:38] 0crat commented on #328
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-25 08:57] ypshenychka commented on #341
@0crat quality good

[2019-02-25 09:03] 0crat commented on #260
The job [#260](https://github.com/timelesslounge/timelessis/issues/260) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1074d3b8-ac3e-47db-bdc9-707235135ea1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-25 09:11] 0crat commented on #341
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-25 09:12] 0crat commented on #341
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-25 10:42] 0crat commented on #330
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-25 13:45] paulodamaso commented on #260
@emilianodellacasa Something wring happened here, please take a look

[2019-02-25 13:47] 0crat commented on #306
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-25 13:47] 0crat commented on #308
@vryazanov[/z](https://www.0crat.com/u/vryazanov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-25 14:44] emilianodellacasa commented on #260
@0crat status

[2019-02-25 14:45] 0crat commented on #260
@emilianodellacasa This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#260](https://github.com/timelesslounge/timelessis/issues/260) is [in scope](http://www.zerocracy.com/policy.html#14) for 11days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodam

[2019-02-25 14:49] emilianodellacasa commented on #260
@0crat out

[2019-02-25 14:52] 0crat commented on #260
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-25 14:52] 0crat commented on #260
@emilianodellacasa Job [#260](https://github.com/timelesslounge/timelessis/issues/260) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-02-25 14:52] 0crat commented on #260
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-25 14:52] 0crat commented on #260
@emilianodellacasa The job [#260](https://github.com/timelesslounge/timelessis/issues/260) is now out of scope

[2019-02-25 14:53] emilianodellacasa commented on #260
@ypshenychka something weird happened here, please don't review this job, I will award the author (not @paulodamaso )

[2019-02-25 14:54] emilianodellacasa commented on #260
@0crat pay @ekondrashev 30min

[2019-02-25 14:55] ypshenychka commented on #260
@emilianodellacasa Ok. But it will be still in my agenda. Should I mark it as "bad"?

[2019-02-25 14:56] 0crat commented on #260
@emilianodellacasa Argument "@ekondrashev" doesn't match regex `\d+min`

[2019-02-25 14:56] emilianodellacasa commented on #260
@ypshenychka correct

[2019-02-25 14:57] emilianodellacasa commented on #260
@0crat pay 30min @ekondrashev

[2019-02-25 15:02] 0crat commented on #260
Direct payment to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev) in #260, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-25 15:02] 0crat commented on #260
Direct payment from @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa): +30 point(s) just awarded to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev)

[2019-02-25 16:12] ypshenychka commented on #260
@0crat quality bad

[2019-02-25 16:15] 0crat commented on #260
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-25 16:17] 0crat commented on #260
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-25 17:49] paulodamaso commented on #342
@emilianodellacasa Sorry, I forgot to remove the puzzle , please take a look at #399

[2019-02-25 17:51] paulodamaso commented on #342
@0crat wait for #399 merge

[2019-02-25 17:52] 0crat commented on #342
@paulodamaso The impediment for [#342](https://github.com/timelesslounge/timelessis/issues/342) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-25 17:52] paulodamaso commented on #270
@0crat wait for #270 review and merge

[2019-02-25 17:53] 0crat commented on #270
@paulodamaso The impediment for [#270](https://github.com/timelesslounge/timelessis/issues/270) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-25 18:01] #342 closed

[2019-02-25 18:01] 0pdd commented on #342
The puzzle `187-cb7f0e2e` has disappeared from the source code, that's why I closed this issue.

[2019-02-25 18:01] 0pdd commented on #24
@emilianodellacasa 3 puzzles [#343](https://github.com/timelesslounge/timelessis/issues/343), [#344](https://github.com/timelesslounge/timelessis/issues/344), [#376](https://github.com/timelesslounge/timelessis/issues/376) are still not solved; solved: [#187](https://github.com/timelesslounge/timelessis/issues/187), [#342](https://github.com/timelesslounge/timelessis/issues/342), [#345](https://gi

[2019-02-25 18:01] 0pdd commented on #187
@0pdd 3 puzzles [#343](https://github.com/timelesslounge/timelessis/issues/343), [#344](https://github.com/timelesslounge/timelessis/issues/344), [#376](https://github.com/timelesslounge/timelessis/issues/376) are still not solved; solved: [#342](https://github.com/timelesslounge/timelessis/issues/342), [#345](https://github.com/timelesslounge/timelessis/issues/345).

[2019-02-25 18:19] 0crat commented on #342
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-25 18:20] 0crat commented on #342
The job [#342](https://github.com/timelesslounge/timelessis/issues/342) is now out of scope

[2019-02-25 18:56] ypshenychka commented on #342
@0crat quality good

[2019-02-25 19:01] 0crat commented on #342
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-25 19:01] Vatavuk commented on #390
@emilianodellacasa please take a look at [PR](https://github.com/timelesslounge/timelessis/pull/391#discussion_r259969497) . We will need to handle authentication in each sync method. Not to mention that we need to instantiate Poster object for each new authentication. There should be only one instance of Poster class in app which encapsulates `Authenticated` class functionality.

[2019-02-25 19:01] 0crat commented on #342
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-25 19:16] 0crat commented on #288
The job [#288](https://github.com/timelesslounge/timelessis/issues/288) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/99be3641-bce6-40cc-87af-6c946c2cd8e6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-25 19:38] 0crat commented on #205
@ekondrashev[/z](https://www.0crat.com/u/ekondrashev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-25 20:20] amihaiemil commented on #177
@0crat waiting for #377 to be merged

[2019-02-25 20:20] 0crat commented on #177
@amihaiemil The impediment for [#177](https://github.com/timelesslounge/timelessis/issues/177) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-25 20:39] 0crat commented on #293
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 02:27] paulodamaso commented on #95
@0crat wait for #402 review and merge

[2019-02-26 02:30] 0crat commented on #95
@paulodamaso The impediment for [#95](https://github.com/timelesslounge/timelessis/issues/95) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-26 03:08] paulodamaso commented on #182
@0crat wait for #403 review and merge

[2019-02-26 03:10] 0crat commented on #182
@paulodamaso The impediment for [#182](https://github.com/timelesslounge/timelessis/issues/182) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-26 04:10] paulodamaso commented on #309
@0crat wait for #405 review and merge

[2019-02-26 04:10] 0crat commented on #309
@paulodamaso The impediment for [#309](https://github.com/timelesslounge/timelessis/issues/309) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-26 04:31] paulodamaso commented on #315
@0crat wait for #406 review and merge

[2019-02-26 04:34] 0crat commented on #315
@paulodamaso The impediment for [#315](https://github.com/timelesslounge/timelessis/issues/315) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-26 04:36] paulodamaso opened #407 "Add copyright notice to files"
Currently we don't have any copyright information on our source files. Create a copyright text and add it to all files. We should also set some kind of check like `qulice` does for java files, checking if the license is present or not in the source files and if the license text is the same as in `LICENSE.txt` file.

[2019-02-26 04:36] 0crat commented on #407
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 04:40] paulodamaso opened #408 "Messed issues for views"
Currently we have a lot of issues regarding view refactoring to use `GenericView` and its subclasses. We have duplicated and overlapping issues for this views (https://github.com/timelesslounge/timelessis/issues/309 for example) and this may cause two or more people working on the same problem reported in two different issues. we should look at the ticket with opened PRs or already assigned and re

[2019-02-26 04:40] 0crat commented on #408
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 06:16] carlosmiranda commented on #330
@0crat refuse

[2019-02-26 06:20] 0crat commented on #330
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#330](https://github.com/timelesslounge/timelessis/issues/330), please stop working. Reason for job resignation: Order was cancelled

[2019-02-26 06:21] 0crat commented on #330
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-26 06:21] 0crat commented on #323
The job [#323](https://github.com/timelesslounge/timelessis/issues/323) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/2e4626d3-49a7-410f-a841-b240bcb0c25a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-02-26 07:26] 0crat commented on #330
The job [#330](https://github.com/timelesslounge/timelessis/issues/330) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/35cbfa17-213b-4483-8308-b2fee7773dec); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-26 08:49] 0pdd commented on #262
The puzzle `225-44860f19` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 08:49] #262 closed

[2019-02-26 08:49] 0pdd opened #409 "synced_customer.py:6-8: Continue synchronization between..."
The puzzle `262-3c8226cd` from #262 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/3436473f7e64740fa08a15a2aab9831fa10c3dff/timeless/sync/synced_customer.py#L6-L8

The puzzle was created by rultor on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-02-26 08:49] 0pdd opened #410 "models.py:33-38: Implement two class methods..."
The puzzle `262-2755231b` from #262 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/3436473f7e64740fa08a15a2aab9831fa10c3dff/timeless/customers/models.py#L33-L38

The puzzle was created by rultor on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-02-26 08:49] 0pdd commented on #25
@emilianodellacasa 3 puzzles [#261](https://github.com/timelesslounge/timelessis/issues/261), [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/timelesslounge/timelessis/issues/410) are still not solved; solved: [#102](https://github.com/timelesslounge/timelessis/issues/102), [#225](https://github.com/timelesslounge/timelessis/issues/225), [#262](https://gi

[2019-02-26 08:49] 0pdd commented on #102
@0pdd 3 puzzles [#261](https://github.com/timelesslounge/timelessis/issues/261), [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/timelesslounge/timelessis/issues/410) are still not solved; solved: [#225](https://github.com/timelesslounge/timelessis/issues/225), [#262](https://github.com/timelesslounge/timelessis/issues/262).

[2019-02-26 08:49] 0pdd commented on #225
@0pdd 3 puzzles [#261](https://github.com/timelesslounge/timelessis/issues/261), [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/timelesslounge/timelessis/issues/410) are still not solved; solved: [#262](https://github.com/timelesslounge/timelessis/issues/262).

[2019-02-26 08:49] 0pdd commented on #262
@0pdd 2 puzzles [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/timelesslounge/timelessis/issues/410) are still not solved.

[2019-02-26 08:50] 0crat commented on #410
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 08:50] 0crat commented on #409
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 09:14] 0crat commented on #262
Job [#262](https://github.com/timelesslounge/timelessis/issues/262) is not in the agenda of @vatavuk[/z](https://www.0crat.com/u/vatavuk), can't inspect

[2019-02-26 09:14] 0crat commented on #262
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-26 09:14] 0crat commented on #262
The job [#262](https://github.com/timelesslounge/timelessis/issues/262) is now out of scope

[2019-02-26 09:36] #348 closed

[2019-02-26 09:36] 0pdd commented on #348
The puzzle `57-cb8584ba` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 09:37] 0pdd opened #411 "views.py:28-30: Continue implementing Edit view when..."
The puzzle `348-77a170af` from #348 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/2440bd230b9e60f131f0ed8c0968bf3f80564d45/timeless/employees/views.py#L28-L30

The puzzle was created by VladimirRyzhkov on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-26 09:37] 0pdd opened #412 "views.py:44-47: Delete "template_name" from Delete after..."
The puzzle `348-bc3cea53` from #348 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/2440bd230b9e60f131f0ed8c0968bf3f80564d45/timeless/employees/views.py#L44-L47

The puzzle was created by VladimirRyzhkov on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-26 09:37] 0pdd opened #413 "views.py:57-59: Delete template_name from List after #312..."
The puzzle `348-d3b6be81` from #348 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/2440bd230b9e60f131f0ed8c0968bf3f80564d45/timeless/employees/views.py#L57-L59

The puzzle was created by VladimirRyzhkov on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-26 09:37] 0pdd commented on #4
@emilianodellacasa 5 puzzles [#283](https://github.com/timelesslounge/timelessis/issues/283), [#357](https://github.com/timelesslounge/timelessis/issues/357), [#411](https://github.com/timelesslounge/timelessis/issues/411), [#412](https://github.com/timelesslounge/timelessis/issues/412), [#413](https://github.com/timelesslounge/timelessis/issues/413) are still not solved; solved: [#149](https://gi

[2019-02-26 09:37] 0pdd commented on #57
@0pdd 4 puzzles [#357](https://github.com/timelesslounge/timelessis/issues/357), [#411](https://github.com/timelesslounge/timelessis/issues/411), [#412](https://github.com/timelesslounge/timelessis/issues/412), [#413](https://github.com/timelesslounge/timelessis/issues/413) are still not solved; solved: [#348](https://github.com/timelesslounge/timelessis/issues/348).

[2019-02-26 09:37] 0pdd commented on #348
@0pdd 3 puzzles [#411](https://github.com/timelesslounge/timelessis/issues/411), [#412](https://github.com/timelesslounge/timelessis/issues/412), [#413](https://github.com/timelesslounge/timelessis/issues/413) are still not solved.

[2019-02-26 09:37] 0crat commented on #412
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 09:37] 0crat commented on #411
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 09:38] 0crat commented on #413
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 10:45] 0crat commented on #348
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-26 10:45] 0crat commented on #348
Job [#348](https://github.com/timelesslounge/timelessis/issues/348) is not in the agenda of @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), can't inspect

[2019-02-26 10:48] 0crat commented on #348
The job [#348](https://github.com/timelesslounge/timelessis/issues/348) is now out of scope

[2019-02-26 11:01] 0crat commented on #212
@salgadobreno[/z](https://www.0crat.com/u/salgadobreno) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 11:13] emilianodellacasa commented on #354
@0crat assign @amidatonga

[2019-02-26 11:14] 0crat commented on #379
The job [#379](https://github.com/timelesslounge/timelessis/issues/379) assigned to @amidatonga[/z](https://www.0crat.com/u/amidatonga), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1a7032f7-d1ec-4fd8-840d-df6b5a64f83d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-26 11:15] 0crat commented on #354
@emilianodellacasa The job [#354](https://github.com/timelesslounge/timelessis/issues/354) assigned to @amidatonga[/z](https://www.0crat.com/u/amidatonga), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/c698b03c-df74-4736-9c77-7a5cefc75f3c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http:/

[2019-02-26 11:16] 0crat commented on #354
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-26 11:16] 0crat commented on #381
The job [#381](https://github.com/timelesslounge/timelessis/issues/381) assigned to @amidatonga[/z](https://www.0crat.com/u/amidatonga), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/2a9b260a-5dfa-4984-bb01-3357aeff7500); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-26 11:25] 0crat commented on #385
The job [#385](https://github.com/timelesslounge/timelessis/issues/385) assigned to @vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/d4c5748e-824b-47aa-8843-40f9788f27a4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-02-26 13:53] salgadobreno commented on #212
@0crat refuse

[2019-02-26 13:54] 0crat commented on #212
@salgadobreno The user @salgadobreno[/z](https://www.0crat.com/u/salgadobreno) resigned from [#212](https://github.com/timelesslounge/timelessis/issues/212), please stop working. Reason for job resignation: Order was cancelled

[2019-02-26 13:55] 0crat commented on #212
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @salgadobreno[/z](https://www.0crat.com/u/salgadobreno)

[2019-02-26 14:22] 0pdd commented on #205
The puzzle `162-af883d11` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 14:22] #205 closed

[2019-02-26 14:22] 0pdd opened #414 "forms.py:29-33: Lets save only filename which is a static..."
The puzzle `205-3c7b3a67` from #205 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/7f4c469bd1082eae78ec436cecf6f568bcc91fa2/timeless/restaurants/table_shapes/forms.py#L29-L33

The puzzle was created by Eugene Kondrashev on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-02-26 14:22] 0pdd opened #415 "views.py:43-48: This form currently cannot save pictures...."
The puzzle `205-afef22cc` from #205 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/7f4c469bd1082eae78ec436cecf6f568bcc91fa2/timeless/restaurants/table_shapes/views.py#L43-L48

The puzzle was created by Eugene Kondrashev on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-02-26 14:22] 0pdd opened #416 "__init__.py:13-19: Introduce Flask-Uploads configuration..."
The puzzle `205-217b5ce8` from #205 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/7f4c469bd1082eae78ec436cecf6f568bcc91fa2/timeless/uploads/__init__.py#L13-L19

The puzzle was created by Eugene Kondrashev on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-02-26 14:22] 0pdd commented on #13
@emilianodellacasa 10 puzzles [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/time

[2019-02-26 14:22] 0crat commented on #414
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 14:22] 0pdd commented on #72
@0pdd 10 puzzles [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues

[2019-02-26 14:22] 0pdd commented on #162
@0pdd 10 puzzles [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues

[2019-02-26 14:22] 0pdd commented on #205
@0pdd 3 puzzles [#414](https://github.com/timelesslounge/timelessis/issues/414), [#415](https://github.com/timelesslounge/timelessis/issues/415), [#416](https://github.com/timelesslounge/timelessis/issues/416) are still not solved.

[2019-02-26 14:24] 0crat commented on #416
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 14:24] 0crat commented on #415
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 14:41] 0crat commented on #205
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-26 14:41] 0crat commented on #205
The job [#205](https://github.com/timelesslounge/timelessis/issues/205) is now out of scope

[2019-02-26 15:01] #270 closed

[2019-02-26 15:01] 0pdd commented on #270
The puzzle `141-9f3e8d9b` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 15:01] 0pdd opened #417 "test_items.py:9-12: Factories session problem. Sometimes..."
The puzzle `270-9b75992d` from #270 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/394730a21aafbcc12b3a3e0c99767c51c58be287/tests/view/items/test_items.py#L9-L12

The puzzle was created by Paulo Lobo on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-26 15:01] 0pdd opened #418 "views.py:4-7: Continue implementation of views class..."
The puzzle `270-ac9f6ccd` from #270 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/394730a21aafbcc12b3a3e0c99767c51c58be287/timeless/items/views.py#L4-L7

The puzzle was created by Paulo Lobo on 22-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed

[2019-02-26 15:01] 0pdd commented on #15
@emilianodellacasa 2 puzzles [#417](https://github.com/timelesslounge/timelessis/issues/417), [#418](https://github.com/timelesslounge/timelessis/issues/418) are still not solved; solved: [#141](https://github.com/timelesslounge/timelessis/issues/141), [#142](https://github.com/timelesslounge/timelessis/issues/142), [#217](https://github.com/timelesslounge/timelessis/issues/217), [#270](https://gi

[2019-02-26 15:01] 0pdd commented on #141
@0pdd 2 puzzles [#417](https://github.com/timelesslounge/timelessis/issues/417), [#418](https://github.com/timelesslounge/timelessis/issues/418) are still not solved; solved: [#270](https://github.com/timelesslounge/timelessis/issues/270).

[2019-02-26 15:01] 0pdd commented on #270
@0pdd 2 puzzles [#417](https://github.com/timelesslounge/timelessis/issues/417), [#418](https://github.com/timelesslounge/timelessis/issues/418) are still not solved.

[2019-02-26 15:02] 0crat commented on #418
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 15:02] 0crat commented on #417
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 15:19] 0crat commented on #270
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-26 15:19] 0crat commented on #270
The job [#270](https://github.com/timelesslounge/timelessis/issues/270) is now out of scope

[2019-02-26 15:38] 0crat commented on #343
@vladarefiev[/z](https://www.0crat.com/u/vladarefiev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 15:38] 0crat commented on #344
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 16:37] 0crat commented on #361
@vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 16:37] 0crat commented on #352
@vladimirryzhkov[/z](https://www.0crat.com/u/vladimirryzhkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 17:15] vladarefiev commented on #360
@salgadobreno @emilianodellacasa Sorry, guys. I have lost this conversation. If now it works, let's close it, I think.

[2019-02-26 17:52] 0pdd commented on #95
The puzzle `42-8659514f` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 17:52] #95 closed

[2019-02-26 17:52] 0pdd opened #421 "views.py:2-5: Continue implementing list floors view...."
The puzzle `95-130b3147` from #95 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9ce9cae40ff5932bbfc56ba18e497e11f28f33a8/timeless/restaurants/floors/views.py#L2-L5

The puzzle was created by Paulo Lobo on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-26 17:52] 0pdd opened #422 "views.py:6-11: Implement create floor view. Create floor..."
The puzzle `95-9a26f2d6` from #95 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9ce9cae40ff5932bbfc56ba18e497e11f28f33a8/timeless/restaurants/floors/views.py#L6-L11

The puzzle was created by Paulo Lobo on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-26 17:52] 0pdd opened #423 "views.py:12-18: Implement edit / update floor views. Edit..."
The puzzle `95-f9b8de53` from #95 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9ce9cae40ff5932bbfc56ba18e497e11f28f33a8/timeless/restaurants/floors/views.py#L12-L18

The puzzle was created by Paulo Lobo on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2019-02-26 17:52] 0crat commented on #422
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 17:52] 0pdd opened #424 "views.py:19-23: Implement delete floor view. Delete floor..."
The puzzle `95-4d49abdc` from #95 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/9ce9cae40ff5932bbfc56ba18e497e11f28f33a8/timeless/restaurants/floors/views.py#L19-L23

The puzzle was created by Paulo Lobo on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2019-02-26 17:52] 0pdd commented on #11
@emilianodellacasa 6 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#363](https://github.com/timelesslounge/timelessis/issues/363), [#421](https://github.com/timelesslounge/timelessis/issues/421), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timel

[2019-02-26 17:52] 0pdd commented on #42
@0pdd 6 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#363](https://github.com/timelesslounge/timelessis/issues/363), [#421](https://github.com/timelesslounge/timelessis/issues/421), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/

[2019-02-26 17:52] 0pdd commented on #95
@0pdd 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#421](https://github.com/timelesslounge/timelessis/issues/421), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#424](https://github.com/timelesslounge/timelessis/issues/424) are still not solved; solved: [#192](https://github.com/time

[2019-02-26 17:52] 0crat commented on #421
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 17:53] 0crat commented on #424
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 17:53] 0crat commented on #423
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 18:09] #177 closed

[2019-02-26 18:10] 0pdd commented on #177
The puzzle `22-186c8876` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 18:10] 0pdd opened #425 "location_admin_privileges.py:16-19: Continue implementing..."
The puzzle `177-7172dc1b` from #177 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/2fca1caca8001e244be20954bd67f29a83b0c9fd/timeless/access_control/location_admin_privileges.py#L16-L19

The puzzle was created by amihaiemil on 22-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2019-02-26 18:10] 0pdd commented on #22
@emilianodellacasa 9 puzzles [#182](https://github.com/timelesslounge/timelessis/issues/182), [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/timelessis/issues/284), [#330](https://github.com/timelesslounge/timelessis/issues/330), [#358](https://github.com/timelesslounge/timelessis/issues/358), [#392](https://github.com/timelesslounge/timel

[2019-02-26 18:10] 0pdd commented on #177
@0pdd the puzzle [#425](https://github.com/timelesslounge/timelessis/issues/425) is still not solved.

[2019-02-26 18:10] 0crat commented on #425
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-26 18:18] 0crat commented on #95
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-26 18:20] 0crat commented on #95
The job [#95](https://github.com/timelesslounge/timelessis/issues/95) is now out of scope

[2019-02-26 18:28] 0crat commented on #177
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-26 18:30] 0crat commented on #177
The job [#177](https://github.com/timelesslounge/timelessis/issues/177) is now out of scope

[2019-02-26 18:31] paulodamaso commented on #288
@emilianodellacasa I think that this one is outdated, we decided to use database in tests in issue #270, please take a look

[2019-02-26 18:39] 0crat commented on #357
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 18:39] 0crat commented on #356
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 19:30] ypshenychka commented on #177
@0crat quality good

[2019-02-26 19:31] 0crat commented on #177
Order was finished, quality is "good": +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-26 19:32] ypshenychka commented on #262
@0crat quailty good

[2019-02-26 19:33] 0crat commented on #177
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-26 19:34] 0crat commented on #262
@ypshenychka Can't understand "quailty", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from

[2019-02-26 19:35] ypshenychka commented on #262
@0crat quality good

[2019-02-26 19:37] ypshenychka commented on #348
@VladimirRyzhkov According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add reference to corresponding PR (you can do this by mentioning this issue number in PR's description).

[2019-02-26 19:40] 0crat commented on #262
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-26 19:40] 0crat commented on #262
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-26 19:56] ypshenychka commented on #205
@0crat quality good

[2019-02-26 20:00] 0crat commented on #205
Order was finished, quality is "good": +35 point(s) just awarded to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev)

[2019-02-26 20:00] 0crat commented on #205
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-26 20:06] 0pdd commented on #415
The puzzle `205-afef22cc` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 20:07] #310 closed

[2019-02-26 20:07] 0pdd commented on #310
The puzzle `173-407b679d` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 20:07] 0pdd commented on #13
@emilianodellacasa 10 puzzles [#205](https://github.com/timelesslounge/timelessis/issues/205), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/time

[2019-02-26 20:07] 0pdd commented on #72
@0pdd 10 puzzles [#205](https://github.com/timelesslounge/timelessis/issues/205), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues

[2019-02-26 20:07] 0pdd commented on #162
@0pdd 10 puzzles [#205](https://github.com/timelesslounge/timelessis/issues/205), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues

[2019-02-26 20:07] 0pdd commented on #205
@0pdd 2 puzzles [#414](https://github.com/timelesslounge/timelessis/issues/414), [#416](https://github.com/timelesslounge/timelessis/issues/416) are still not solved; solved: [#415](https://github.com/timelesslounge/timelessis/issues/415).

[2019-02-26 20:07] 0pdd commented on #173
@vryazanov 5 puzzles [#306](https://github.com/timelesslounge/timelessis/issues/306), [#308](https://github.com/timelesslounge/timelessis/issues/308), [#309](https://github.com/timelesslounge/timelessis/issues/309), [#311](https://github.com/timelesslounge/timelessis/issues/311), [#312](https://github.com/timelesslounge/timelessis/issues/312) are still not solved; solved: [#305](https://github.com

[2019-02-26 20:16] amihaiemil commented on #284
@0crat waiting for #427 to be merged

[2019-02-26 20:23] 0crat commented on #284
@amihaiemil The impediment for [#284](https://github.com/timelesslounge/timelessis/issues/284) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-26 20:24] 0crat commented on #415
Job `gh:timelesslounge/timelessis#415` is not assigned, can't get performer

[2019-02-26 20:24] 0crat commented on #415
This job is not in scope

[2019-02-26 20:24] 0crat commented on #310
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-26 20:26] 0crat commented on #310
The job [#310](https://github.com/timelesslounge/timelessis/issues/310) is now out of scope

[2019-02-26 20:42] 0crat commented on #366
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 21:22] emilianodellacasa commented on #288
@paulodamaso correct, thanks

[2019-02-26 21:22] #288 closed

[2019-02-26 21:33] ypshenychka commented on #270
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Not all commits contains link to issue. Please confirm you'll try to follow this rule next time.

[2019-02-26 21:38] 0crat commented on #358
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 21:38] 0crat commented on #288
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-26 21:39] 0crat commented on #288
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-26 21:39] 0crat commented on #288
The job [#288](https://github.com/timelesslounge/timelessis/issues/288) is now out of scope

[2019-02-26 21:41] ypshenychka commented on #95
@0crat quality good

[2019-02-26 21:44] 0crat commented on #95
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-26 21:44] 0crat commented on #95
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-26 22:37] 0crat commented on #362
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 22:38] 0crat commented on #363
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-26 23:04] paulodamaso commented on #270
@ypshenychka I confirm

[2019-02-27 05:10] ypshenychka commented on #270
@paulodamaso thanks

[2019-02-27 05:10] ypshenychka commented on #270
@0crat quality acceptable

[2019-02-27 05:18] 0crat commented on #270
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-27 05:22] 0crat commented on #270
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 07:08] ypshenychka commented on #310
@0crat quality good

[2019-02-27 07:21] 0crat commented on #310
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-27 07:21] 0crat commented on #310
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 08:26] #360 closed

[2019-02-27 08:27] #292 closed

[2019-02-27 08:27] emilianodellacasa commented on #292
@salgadobreno let's close this

[2019-02-27 08:37] #309 closed

[2019-02-27 08:37] 0pdd commented on #309
The puzzle `173-c2c60757` has disappeared from the source code, that's why I closed this issue.

[2019-02-27 08:37] 0pdd opened #429 "views.py:16-20: Refactor all blueprint views to use..."
The puzzle `309-e0f3db47` from #309 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/c2979ca8212eafa70e6eff2b599536ef23b10a6a/timeless/views.py#L16-L20

The puzzle was created by Paulo Lobo on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fr

[2019-02-27 08:37] 0pdd opened #430 "views.py:11-15: Add mock authentication to TableListView...."
The puzzle `309-2a02cf1f` from #309 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/c2979ca8212eafa70e6eff2b599536ef23b10a6a/timeless/restaurants/tables/views.py#L11-L15

The puzzle was created by Paulo Lobo on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-02-27 08:37] 0pdd commented on #173
@vryazanov 7 puzzles [#306](https://github.com/timelesslounge/timelessis/issues/306), [#308](https://github.com/timelesslounge/timelessis/issues/308), [#310](https://github.com/timelesslounge/timelessis/issues/310), [#311](https://github.com/timelesslounge/timelessis/issues/311), [#312](https://github.com/timelesslounge/timelessis/issues/312), [#429](https://github.com/timelesslounge/timelessis/is

[2019-02-27 08:37] 0pdd commented on #309
@0pdd 2 puzzles [#429](https://github.com/timelesslounge/timelessis/issues/429), [#430](https://github.com/timelesslounge/timelessis/issues/430) are still not solved.

[2019-02-27 08:37] 0crat commented on #429
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-27 08:38] 0crat commented on #430
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-27 08:44] 0crat commented on #425
Job [#425](https://github.com/timelesslounge/timelessis/issues/425) is now in scope, role is `DEV`

[2019-02-27 08:49] ypshenychka commented on #288
@paulodamaso No work was done here, right?

[2019-02-27 09:01] 0crat commented on #360
Job `gh:timelesslounge/timelessis#360` is not assigned, can't get performer

[2019-02-27 09:01] 0crat commented on #429
Job [#429](https://github.com/timelesslounge/timelessis/issues/429) is now in scope, role is `DEV`

[2019-02-27 09:01] 0crat commented on #360
This job is not in scope

[2019-02-27 09:09] #330 closed

[2019-02-27 09:09] 0pdd commented on #330
The puzzle `183-ab247301` has disappeared from the source code, that's why I closed this issue.

[2019-02-27 09:09] 0pdd commented on #22
@emilianodellacasa 8 puzzles [#182](https://github.com/timelesslounge/timelessis/issues/182), [#278](https://github.com/timelesslounge/timelessis/issues/278), [#284](https://github.com/timelesslounge/timelessis/issues/284), [#358](https://github.com/timelesslounge/timelessis/issues/358), [#392](https://github.com/timelesslounge/timelessis/issues/392), [#393](https://github.com/timelesslounge/timel