[2019-02-12 22:14] 0pdd commented on #31
@amihaiemil the puzzle [#237](https://github.com/timelesslounge/timelessis/issues/237) is still not solved.

[2019-02-12 22:15] 0crat commented on #237
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 22:15] 0crat commented on #236
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 22:16] 0crat commented on #235
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 22:16] 0crat commented on #234
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 22:27] #211 closed

[2019-02-12 22:27] 0pdd commented on #211
The puzzle `21-91335e76` has disappeared from the source code, that's why I closed this issue.

[2019-02-12 22:27] 0pdd commented on #21
@emilianodellacasa the only puzzle [#211](https://github.com/timelesslounge/timelessis/issues/211) is solved here.

[2019-02-12 22:29] 0crat commented on #233
Job [#233](https://github.com/timelesslounge/timelessis/issues/233) is now in scope, role is `DEV`

[2019-02-12 22:30] 0crat commented on #232
Job [#232](https://github.com/timelesslounge/timelessis/issues/232) is now in scope, role is `DEV`

[2019-02-12 22:30] 0crat commented on #236
Job [#236](https://github.com/timelesslounge/timelessis/issues/236) is now in scope, role is `DEV`

[2019-02-12 22:33] 0crat commented on #237
Job [#237](https://github.com/timelesslounge/timelessis/issues/237) is now in scope, role is `DEV`

[2019-02-12 22:34] 0crat commented on #235
Job [#235](https://github.com/timelesslounge/timelessis/issues/235) is now in scope, role is `DEV`

[2019-02-12 22:44] 0pdd commented on #126
The puzzle `45-954dc960` has disappeared from the source code, that's why I closed this issue.

[2019-02-12 22:44] #126 closed

[2019-02-12 22:44] 0pdd opened #238 "deploy.sh:4-6: Finish implementing deploy scripts. Add..."
The puzzle `126-3f0a2123` from #126 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/da6291a3b28261e37598f485daf4d6c8ca44af8a/deploy.sh#L4-L6

The puzzle was created by Boris Kuzmic on 11-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the s

[2019-02-12 22:44] 0pdd opened #239 "deploy.sh:7-10: Add parameter to this script that will..."
The puzzle `126-b9037461` from #126 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/da6291a3b28261e37598f485daf4d6c8ca44af8a/deploy.sh#L7-L10

The puzzle was created by Boris Kuzmic on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the

[2019-02-12 22:44] 0pdd opened #240 "deploy.sh:11-14: Extend the script to check if..."
The puzzle `126-dc28674a` from #126 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/da6291a3b28261e37598f485daf4d6c8ca44af8a/deploy.sh#L11-L14

The puzzle was created by Boris Kuzmic on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the

[2019-02-12 22:44] 0pdd commented on #45
@emilianodellacasa 3 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240) are still not solved; solved: [#126](https://github.com/timelesslounge/timelessis/issues/126).

[2019-02-12 22:44] 0crat commented on #234
Job [#234](https://github.com/timelesslounge/timelessis/issues/234) is now in scope, role is `DEV`

[2019-02-12 22:44] 0pdd commented on #126
@0pdd 3 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240) are still not solved.

[2019-02-12 22:44] 0crat commented on #238
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 22:45] 0crat commented on #240
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 22:45] 0crat commented on #239
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-12 22:59] 0crat commented on #211
Job was finished in 36 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-12 23:01] 0crat commented on #238
Job [#238](https://github.com/timelesslounge/timelessis/issues/238) is now in scope, role is `DEV`

[2019-02-12 23:01] 0crat commented on #240
Job [#240](https://github.com/timelesslounge/timelessis/issues/240) is now in scope, role is `DEV`

[2019-02-12 23:01] 0crat commented on #239
Job [#239](https://github.com/timelesslounge/timelessis/issues/239) is now in scope, role is `DEV`

[2019-02-12 23:01] 0crat commented on #211
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-12 23:03] 0crat commented on #233
The job [#233](https://github.com/timelesslounge/timelessis/issues/233) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/461690ed-29d2-463f-894f-cb912ac37208); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-12 23:03] 0crat commented on #211
The job [#211](https://github.com/timelesslounge/timelessis/issues/211) is now out of scope

[2019-02-12 23:04] 0crat commented on #126
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-12 23:04] 0crat commented on #232
The job [#232](https://github.com/timelesslounge/timelessis/issues/232) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/19be271f-93cd-4df4-84c6-7f5e432bf67b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-12 23:04] 0crat commented on #126
The job [#126](https://github.com/timelesslounge/timelessis/issues/126) is now out of scope

[2019-02-12 23:13] 0crat commented on #236
The job [#236](https://github.com/timelesslounge/timelessis/issues/236) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1eef8b96-808f-4a17-b2b0-50b4a4b5813b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-12 23:29] 0crat commented on #237
The job [#237](https://github.com/timelesslounge/timelessis/issues/237) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/63e12e7d-dc65-4c20-8fd4-0771cf9171ef); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-12 23:41] 0crat commented on #235
The job [#235](https://github.com/timelesslounge/timelessis/issues/235) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/c5c5a336-de32-41a7-ba49-6b7e5df8e15a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-12 23:44] 0crat commented on #234
The job [#234](https://github.com/timelesslounge/timelessis/issues/234) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/116094b9-2f12-4a64-b64e-893e89e823a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-12 23:52] 0crat commented on #238
The job [#238](https://github.com/timelesslounge/timelessis/issues/238) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/613927f4-7327-4f59-a8f0-79bc9ef614c7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-12 23:59] 0crat commented on #240
The job [#240](https://github.com/timelesslounge/timelessis/issues/240) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/3ec603fd-9ed1-4871-b2d1-1102d280eb67); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-13 00:08] 0crat commented on #239
The job [#239](https://github.com/timelesslounge/timelessis/issues/239) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/dabd8d94-4c0d-4b6a-bd83-406a9fd5433f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-02-13 06:23] emilianodellacasa commented on #240
@0crat assign @ekondrashev

[2019-02-13 06:24] 0crat commented on #240
@emilianodellacasa The job [#240](https://github.com/timelesslounge/timelessis/issues/240) assigned to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/26ef8364-7894-473d-963d-7cac50775fb9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2019-02-13 06:24] 0crat commented on #240
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-02-13 07:42] ypshenychka commented on #211
@0crat quality good

[2019-02-13 07:44] 0crat commented on #211
Order was finished, quality is "good": +40 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-13 07:44] 0crat commented on #211
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-13 08:16] vryazanov commented on #216
@paulodamaso It's done, please have a look and close if have no questions.

[2019-02-13 08:31] carlosmiranda commented on #28
@emilianodellacasa I was originally waiting for this because of #27. However, now I find that there is a more generic framework being created for JSON CRUD operations (#221).

So it seems like this is being superseded by that framework. Or am I wrong, and is there something different about this task?

[2019-02-13 08:38] 0crat commented on #155
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-13 08:51] emilianodellacasa commented on #28
@carlosmiranda We still need to password protect the API (a token defined per Company) and filter by location and date

[2019-02-13 09:03] #180 closed

[2019-02-13 09:03] 0pdd commented on #180
The puzzle `22-f28ac90c` has disappeared from the source code, that's why I closed this issue.

[2019-02-13 09:03] 0pdd opened #241 "test_owner_privilages.py:33-35: We need to clean global..."
The puzzle `180-d5879bc3` from #180 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/341c734d0d7da7f7418a5591ea4ba8737b7ffd7a/tests/test_owner_privilages.py#L33-L35

The puzzle was created by Vedran Grgo Vatavuk on 13-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-02-13 09:03] 0pdd opened #242 "owner_privileges.py:8-10: Implement the rest of the owner..."
The puzzle `180-a83d648b` from #180 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/341c734d0d7da7f7418a5591ea4ba8737b7ffd7a/timeless/access_control/owner_privileges.py#L8-L10

The puzzle was created by Vedran Grgo Vatavuk on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2019-02-13 09:03] 0pdd commented on #22
@emilianodellacasa 11 puzzles [#174](https://github.com/timelesslounge/timelessis/issues/174), [#175](https://github.com/timelesslounge/timelessis/issues/175), [#176](https://github.com/timelesslounge/timelessis/issues/176), [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#179](https://github.com/timelesslounge/time

[2019-02-13 09:04] 0pdd commented on #180
@0pdd 2 puzzles [#241](https://github.com/timelesslounge/timelessis/issues/241), [#242](https://github.com/timelesslounge/timelessis/issues/242) are still not solved.

[2019-02-13 09:04] 0crat commented on #242
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-13 09:04] 0crat commented on #241
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-13 09:06] krzyk commented on #113
@ypshenychka Actually I didn't do any work for this.

[2019-02-13 09:07] krzyk commented on #184
@amihaiemil thanks

[2019-02-13 09:07] #184 closed

[2019-02-13 09:12] 0crat commented on #241
Job [#241](https://github.com/timelesslounge/timelessis/issues/241) is now in scope, role is `DEV`

[2019-02-13 09:12] 0crat commented on #242
Job [#242](https://github.com/timelesslounge/timelessis/issues/242) is now in scope, role is `DEV`

[2019-02-13 09:16] ypshenychka commented on #113
@krzyk That's weird... Whey then the puzzle disappeared?

[2019-02-13 09:18] 0crat commented on #241
The job [#241](https://github.com/timelesslounge/timelessis/issues/241) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/fb16beac-5eea-41d7-afe5-b659cda596d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-13 09:23] 0crat commented on #180
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-13 09:24] 0crat commented on #113
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-13 09:24] emilianodellacasa commented on #113
@krzyk @ypshenychka Problem was that the file containing the puzzle had moved but puzzle not, the issue should be still in scope

[2019-02-13 09:24] emilianodellacasa commented on #113
@0crat in

[2019-02-13 09:26] ypshenychka commented on #126
@0crat quality good

[2019-02-13 09:27] 0crat commented on #242
The job [#242](https://github.com/timelesslounge/timelessis/issues/242) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/de09c50e-04e8-4e2c-820a-5bc5342aebdb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-13 09:29] 0crat commented on #184
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-13 09:33] 0crat commented on #113
@emilianodellacasa Job [#113](https://github.com/timelesslounge/timelessis/issues/113) is now in scope, role is `DEV`

[2019-02-13 09:33] 0crat commented on #113
@emilianodellacasa Job [#113](https://github.com/timelesslounge/timelessis/issues/113) is pending quality review, can't start a new order

[2019-02-13 09:34] 0crat commented on #126
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-13 09:34] 0crat commented on #126
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-13 09:35] emilianodellacasa commented on #113
@ypshenychka What can we do here? You give a bad quality and I try putting in scope again?

[2019-02-13 09:48] ypshenychka commented on #180
@0crat quality good

[2019-02-13 09:53] krzyk commented on #113
@emilianodellacasa I think bad quality and the new puzzle should be somewhere in new issues

[2019-02-13 09:55] ypshenychka commented on #184
@vryazanov According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/timelesslounge/timelessis/issues/184#issuecomment-462043644) by indicating an addressee in the beginning.

[2019-02-13 09:56] emilianodellacasa commented on #113
@krzyk So you are suggesting I close this issue and @ypshenychka give bad quality, then manually inserting the puzzle (I will do that) to open the new issue? I am fine with that

[2019-02-13 09:59] ypshenychka commented on #113
@emilianodellacasa It's up to you. But I don't see any other options, as far as this puzzle is pending review, so you can't proceed with reopening it.

[2019-02-13 09:59] #113 closed

[2019-02-13 10:02] ypshenychka commented on #113
@0crat quality bad

[2019-02-13 10:15] 0pdd commented on #23
@emilianodellacasa 5 puzzles [#113](https://github.com/timelesslounge/timelessis/issues/113), [#197](https://github.com/timelesslounge/timelessis/issues/197), [#212](https://github.com/timelesslounge/timelessis/issues/212), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/timelesslounge/timelessis/issues/233) are still not solved; solved: [#101](https://gi

[2019-02-13 10:15] 0pdd commented on #67
@0pdd 4 puzzles [#113](https://github.com/timelesslounge/timelessis/issues/113), [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/timelesslounge/timelessis/issues/233) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101).

[2019-02-13 10:32] paulodamaso commented on #216
@vryazanov Great, thanks!

[2019-02-13 10:32] #216 closed

[2019-02-13 10:37] 0pdd opened #245 "it_poster_test.py:8-10: Implement auth process for Poster..."
The puzzle `113-1c2a8720` from #113 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/16b132814356b8a14f49c710821eb17a4eab26b8/tests/integration/it_poster_test.py#L8-L10

The puzzle was created by Emiliano Della Casa on 13-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-02-13 10:37] 0pdd commented on #23
@emilianodellacasa 5 puzzles [#197](https://github.com/timelesslounge/timelessis/issues/197), [#212](https://github.com/timelesslounge/timelessis/issues/212), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/timelesslounge/timelessis/issues/233), [#245](https://github.com/timelesslounge/timelessis/issues/245) are still not solved; solved: [#101](https://gi

[2019-02-13 10:37] 0pdd commented on #67
@0pdd 4 puzzles [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/timelesslounge/timelessis/issues/233), [#245](https://github.com/timelesslounge/timelessis/issues/245) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/time

[2019-02-13 10:37] 0pdd commented on #113
@0pdd the puzzle [#245](https://github.com/timelesslounge/timelessis/issues/245) is still not solved.

[2019-02-13 10:38] 0crat commented on #245
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-13 10:49] 0crat commented on #113
Job `gh:timelesslounge/timelessis#113` is not assigned, can't get performer

[2019-02-13 10:52] 0crat commented on #113
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-13 10:54] 0crat commented on #113
The job [#113](https://github.com/timelesslounge/timelessis/issues/113) is now out of scope

[2019-02-13 10:57] 0crat commented on #245
Job [#245](https://github.com/timelesslounge/timelessis/issues/245) is now in scope, role is `DEV`

[2019-02-13 10:59] 0crat commented on #180
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-13 10:59] 0crat commented on #180
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-13 10:59] 0crat commented on #216
Job was finished in 37 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-13 11:00] 0crat commented on #113
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-13 11:00] 0crat commented on #216
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-13 11:04] 0crat commented on #216
The job [#216](https://github.com/timelesslounge/timelessis/issues/216) is now out of scope

[2019-02-13 11:04] 0crat commented on #245
The job [#245](https://github.com/timelesslounge/timelessis/issues/245) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/72a7b92b-04ff-457b-83f4-aa448e579fc4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-13 11:12] vryazanov commented on #184
@ypshenychka done. sorry for that

[2019-02-13 11:18] paulodamaso opened #246 "Migrations are broken"
I'm having problems running the tests and the mesage shows it is related to migrations:

[code]

Running migrations brings me the same error.

[2019-02-13 11:18] 0crat commented on #246
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-13 11:19] krzyk commented on #113
@emilianodellacasa actually issue should be created automatically by pdd

[2019-02-13 11:30] emilianodellacasa commented on #113
@krzyk See https://github.com/timelesslounge/timelessis/issues/245

[2019-02-13 11:54] ypshenychka commented on #184
@vryazanov thanks

[2019-02-13 11:54] ypshenychka commented on #184
@0crat quality acceptable

[2019-02-13 11:55] ypshenychka commented on #216
@0crat QUALITY GOOD

[2019-02-13 11:59] 0crat commented on #216
@ypshenychka I didn't understand what is "GOOD"

[2019-02-13 12:00] 0crat commented on #184
Order was finished, quality is "acceptable": +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-13 12:00] 0crat commented on #184
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-13 12:04] ypshenychka commented on #216
@0crat quality good

[2019-02-13 12:06] 0crat commented on #216
Order was finished, quality is "good": +40 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-13 12:07] 0crat commented on #216
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-13 14:48] bkuzmic commented on #86
@emilianodellacasa Sorry for not trying this sooner. On the page: https://travis-ci.org/timelesslounge/timelessis I still get error that repository is not active.

[2019-02-13 14:49] emilianodellacasa commented on #86
@bkuzmic now it should be active

[2019-02-13 16:15] #240 closed

[2019-02-13 16:15] 0pdd commented on #240
The puzzle `126-dc28674a` has disappeared from the source code, that's why I closed this issue.

[2019-02-13 16:15] 0pdd opened #248 "install_redis.sh:3-6: Implement redis availability check..."
The puzzle `240-24a1360a` from #240 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/d1ac77f070e153795cf6d119c35ac5b728553c49/scripts/install/deploy/install_redis.sh#L3-L6

The puzzle was created by Eugene Kondrashev on 13-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-02-13 16:15] 0pdd commented on #45
@emilianodellacasa 3 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#248](https://github.com/timelesslounge/timelessis/issues/248) are still not solved; solved: [#126](https://github.com/timelesslounge/timelessis/issues/126), [#240](https://github.com/timelesslounge/timelessis/issues/240).

[2019-02-13 16:15] 0pdd commented on #126
@0pdd 3 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#248](https://github.com/timelesslounge/timelessis/issues/248) are still not solved; solved: [#240](https://github.com/timelesslounge/timelessis/issues/240).

[2019-02-13 16:15] 0pdd commented on #240
@0pdd the puzzle [#248](https://github.com/timelesslounge/timelessis/issues/248) is still not solved.

[2019-02-13 16:16] 0crat commented on #248
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-13 16:23] 0crat commented on #248
Job [#248](https://github.com/timelesslounge/timelessis/issues/248) is now in scope, role is `DEV`

[2019-02-13 16:39] emilianodellacasa commented on #248
@0crat assign @ekondrashev

[2019-02-13 16:43] 0crat commented on #240
Job was finished in 9 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-13 16:43] 0crat commented on #248
The job [#248](https://github.com/timelesslounge/timelessis/issues/248) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/a6d1dc57-267d-486b-9ea1-92bf25b6fa81); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-13 16:50] 0crat commented on #240
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-13 17:00] ypshenychka commented on #240
@ekondrashev According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Most of your commits contain issue number as a plain text, but not as a link. Please confirm you'll try to avoid this mistake in future.

[2019-02-13 17:01] 0crat commented on #240
The job [#240](https://github.com/timelesslounge/timelessis/issues/240) is now out of scope

[2019-02-13 17:05] 0crat commented on #248
@emilianodellacasa The job [#248](https://github.com/timelesslounge/timelessis/issues/248) assigned to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/81f672e5-30e5-4034-80a2-a052a8942c3e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2019-02-13 17:15] 0crat commented on #248
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-13 17:20] ekondrashev commented on #240
@ypshenychka sure, will do, thanks you!

[2019-02-13 17:21] ypshenychka commented on #240
@ekondrashev thanks

[2019-02-13 17:21] ypshenychka commented on #240
@0crat quality acceptable

[2019-02-13 17:22] 0crat commented on #240
Order was finished, quality is "acceptable": +35 point(s) just awarded to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev)

[2019-02-13 17:23] 0crat commented on #240
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-13 20:04] amihaiemil commented on #191
@emilianodellacasa I'm sorry, I don't know what else to add besides the existing comments (nor do I understand the scripts entirely, to be honest). Each section of the script has a header comment saying what it is and there are also ``echo``s after each important step.

I guess for more information developers need the context (how those scripts work together), which they can find by tracing the ti

[2019-02-14 08:12] emilianodellacasa commented on #149
@0crat assign @marceloamadeu

[2019-02-14 08:14] 0crat commented on #149
@emilianodellacasa The job [#149](https://github.com/timelesslounge/timelessis/issues/149) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/903d52d6-03ee-4f34-bb05-3b6f4f1b1657); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](

[2019-02-14 08:20] emilianodellacasa commented on #191
@amihaiemil I think you are right, there is no need to add more information for these scripts

[2019-02-14 08:20] #191 closed

[2019-02-14 08:21] 0crat commented on #149
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-14 08:27] carlosmiranda commented on #28
@emilianodellacasa see PR #254

[2019-02-14 08:37] krzyk commented on #191
@emilianodellacasa @amihaiemil it would be good to at least remove the todo from the code

[2019-02-14 08:38] emilianodellacasa commented on #191
@krzyk You are definitely right, I'll do that manually

[2019-02-14 08:39] 0crat commented on #191
Job was finished in 36 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-14 08:39] 0crat commented on #191
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-14 08:39] 0pdd commented on #47
@emilianodellacasa the puzzle [#224](https://github.com/timelesslounge/timelessis/issues/224) is still not solved; solved: [#114](https://github.com/timelesslounge/timelessis/issues/114), [#115](https://github.com/timelesslounge/timelessis/issues/115), [#116](https://github.com/timelesslounge/timelessis/issues/116), [#191](https://github.com/timelesslounge/timelessis/issues/191).

[2019-02-14 08:39] 0crat commented on #191
The job [#191](https://github.com/timelesslounge/timelessis/issues/191) is now out of scope

[2019-02-14 08:39] 0pdd commented on #114
@0pdd the only puzzle [#191](https://github.com/timelesslounge/timelessis/issues/191) is solved here.

[2019-02-14 09:15] ypshenychka commented on #191
@amihaiemil There was no work done in scope of this ticket, right?

[2019-02-14 09:26] #192 closed

[2019-02-14 09:26] 0pdd commented on #192
The puzzle `95-9eb0bf3b` has disappeared from the source code, that's why I closed this issue.

[2019-02-14 09:26] 0pdd opened #255 "views.py:2-6: Continue implementing edit() and delete()..."
The puzzle `192-19881263` from #192 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/f0bba806d57256e4fbc7665243828412c40fb71f/timeless/roles/views.py#L2-L6

The puzzle was created by Vedran Grgo Vatavuk on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-14 09:26] 0pdd commented on #11
@emilianodellacasa 4 puzzles [#134](https://github.com/timelesslounge/timelessis/issues/134), [#208](https://github.com/timelesslounge/timelessis/issues/208), [#255](https://github.com/timelesslounge/timelessis/issues/255), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133), [#192](https://gith

[2019-02-14 09:26] 0pdd commented on #42
@0pdd 4 puzzles [#134](https://github.com/timelesslounge/timelessis/issues/134), [#208](https://github.com/timelesslounge/timelessis/issues/208), [#255](https://github.com/timelesslounge/timelessis/issues/255), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133), [#192](https://github.com/timele

[2019-02-14 09:26] 0pdd commented on #95
@0pdd the puzzle [#255](https://github.com/timelesslounge/timelessis/issues/255) is still not solved; solved: [#192](https://github.com/timelesslounge/timelessis/issues/192).

[2019-02-14 09:26] 0pdd commented on #192
@0pdd the puzzle [#255](https://github.com/timelesslounge/timelessis/issues/255) is still not solved.

[2019-02-14 09:26] 0crat commented on #255
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-14 10:01] amihaiemil commented on #191
@ypshenychka right :)

[2019-02-14 10:06] ypshenychka commented on #191
@amihaiemil thanks

[2019-02-14 10:06] ypshenychka commented on #191
@0crat quality bad

[2019-02-14 10:16] bkuzmic commented on #86
@krzyk Can you please close this ticket since PR is merged?

[2019-02-14 10:17] emilianodellacasa commented on #86
@bkuzmic @krzyk Let's wait to see if everything is working correctly with a new PR

[2019-02-14 10:31] 0crat commented on #255
Job [#255](https://github.com/timelesslounge/timelessis/issues/255) is now in scope, role is `DEV`

[2019-02-14 10:31] 0crat commented on #191
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-14 10:32] 0crat commented on #192
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-14 10:35] 0crat commented on #192
The job [#192](https://github.com/timelesslounge/timelessis/issues/192) is now out of scope

[2019-02-14 10:36] 0crat commented on #255
The job [#255](https://github.com/timelesslounge/timelessis/issues/255) assigned to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/3b063f1c-00e7-4266-ba65-999223f537eb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-14 10:40] 0crat commented on #191
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-14 12:11] vladarefiev opened #256 "sqlalchemy.exc.InvalidRequestError in Company model"
Every time when I run any test with Company I get this error:
```sqlalchemy.exc.InvalidRequestError: When initializing mapper Mapper|Company|companies, expression ‘Role.id’ failed to locate a name (“name ‘Role’ is not defined”). If this is a class name, consider adding this relationship() to the <class ‘timeless.companies.models.Company’> class after both dependent classes have been defined```

[2019-02-14 12:11] 0crat commented on #256
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-14 12:32] vryazanov commented on #256
@vladarefiev I guess, dependent model was not imported.. need to update pytest fixture in conftest and make it autouse

[2019-02-14 12:57] #197 closed

[2019-02-14 12:57] 0pdd commented on #197
The puzzle `101-4e9718a8` has disappeared from the source code, that's why I closed this issue.

[2019-02-14 12:57] #233 closed

[2019-02-14 12:57] 0pdd commented on #233
The puzzle `101-e1e35f6e` has disappeared from the source code, that's why I closed this issue.

[2019-02-14 12:57] 0pdd commented on #23
@emilianodellacasa 3 puzzles [#212](https://github.com/timelesslounge/timelessis/issues/212), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#245](https://github.com/timelesslounge/timelessis/issues/245) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113), [#157](https://gi

[2019-02-14 12:57] 0pdd commented on #67
@0pdd 2 puzzles [#232](https://github.com/timelesslounge/timelessis/issues/232), [#245](https://github.com/timelesslounge/timelessis/issues/245) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113), [#197](https://github.com/timelesslounge/timelessis/issues/197), [#233](https://github.com/time

[2019-02-14 12:57] 0pdd commented on #101
@0pdd the puzzle [#232](https://github.com/timelesslounge/timelessis/issues/232) is still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#233](https://github.com/timelesslounge/timelessis/issues/233).

[2019-02-14 12:59] ammaratef45 commented on #232
@emilianodellacasa
Will we replace all start_server usage and make just an instance of a server mock of a type to be used?
some tests like test_posters need more than one endpoint.

[2019-02-14 12:59] krzyk commented on #174
@emilianodellacasa question about Administrator role, you wrote:
[code]
What does `Archive` mean for locations? Is there/will be an endpoint for that?

And what does `Locationspots Employees` mean? This is different from general `Employees`?

[2019-02-14 13:27] krzyk commented on #175
@emilianodellacasa You wrote:
[code]

What is a "profile" in this context? Just a view of account (READ access to account)?

[2019-02-14 13:28] krzyk commented on #183
@0crat refuse

[2019-02-14 14:38] bkuzmic commented on #86
@0crat wait to see if everything works correctly, as per comment: https://github.com/timelesslounge/timelessis/issues/86#issuecomment-463572214

[2019-02-14 14:44] vladarefiev commented on #197
@ypshenychka this puzzle is very similar to https://github.com/timelesslounge/timelessis/issues/197
and both were done in this PR https://github.com/timelesslounge/timelessis/pull/249

[2019-02-14 14:49] emilianodellacasa commented on #175
@krzyk Profile here stands for the accounts of the employees (name, surname, comments, contacts)

[2019-02-14 14:54] krzyk commented on #175
@emilianodellacasa so the same "thing" like in the first line: `Create / modify / activate / deactivate accounts`, right?

[2019-02-14 14:55] emilianodellacasa commented on #175
@krzyk Correct

[2019-02-14 15:12] 0crat commented on #233
Job was finished in 38 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-14 15:18] emilianodellacasa commented on #232
@ammaratef45 I am not sure I understood your question, could you be clarify?

[2019-02-14 15:25] emilianodellacasa commented on #174
@krzyk It's an error on the initial documentation, "archive" here should be substituted by "delete"

[2019-02-14 15:40] 0crat commented on #183
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#183](https://github.com/timelesslounge/timelessis/issues/183), please stop working. Reason for job resignation: Order was cancelled

[2019-02-14 15:55] ammaratef45 commented on #232
@emilianodellacasa
We have to make `PosterServerMock` a generic and make `LocationServerMock` extends it (and so on)
So that `LocationServerMock` is going to be used for location endpoints tests.
But tests like `tests/test_posters` uses more than one endpoint pattern (like locations and tables .. etc)
Am I understanding the puzzle correctly?

[2019-02-14 16:05] ypshenychka commented on #192
@0crat quality good

[2019-02-14 16:17] 0crat commented on #233
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-14 16:17] 0crat commented on #197
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-14 16:30] 0crat commented on #95
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-14 16:58] vladarefiev commented on #186
@0crat wait this PR https://github.com/timelesslounge/timelessis/pull/259
That logic is needed here to implement in right way.

[2019-02-14 17:02] emilianodellacasa commented on #232
@ammaratef45 it is correct, could you please me point me out a test where more than a single endpoint is used?

[2019-02-14 17:17] 0crat commented on #233
The job [#233](https://github.com/timelesslounge/timelessis/issues/233) is now out of scope

[2019-02-14 17:17] 0crat commented on #197
The job [#197](https://github.com/timelesslounge/timelessis/issues/197) is now out of scope

[2019-02-14 17:57] 0crat commented on #174
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-14 17:57] 0crat commented on #175
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-14 17:58] 0crat commented on #182
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-14 17:58] 0crat commented on #176
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-14 18:04] 0crat commented on #177
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-14 18:04] 0crat commented on #86
@bkuzmic The impediment for [#86](https://github.com/timelesslounge/timelessis/issues/86) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-14 18:28] 0crat commented on #178
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-14 18:45] 0crat commented on #183
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-14 19:14] 0pdd commented on #203
The puzzle `162-da16af36` has disappeared from the source code, that's why I closed this issue.

[2019-02-14 19:14] #203 closed

[2019-02-14 19:14] 0pdd opened #260 "views.py:17-19: Implement filtering of TableShape model..."
The puzzle `203-7b2a1685` from #203 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/efb9c7a6cbfa1c66aaba887b6aca986d6bcd99d0/timeless/restaurants/table_shapes/views.py#L17-L19

The puzzle was created by rultor on 14-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-02-14 19:14] 0pdd commented on #13
@emilianodellacasa 4 puzzles [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#206](https://github.com/timelesslounge/timelessis/issues/206), [#260](https://github.com/timelesslounge/timelessis/issues/260) are still not solved; solved: [#162](https://github.com/timelesslounge/timelessis/issues/162), [#203](https://gi

[2019-02-14 19:14] 0pdd commented on #72
@0pdd 4 puzzles [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#206](https://github.com/timelesslounge/timelessis/issues/206), [#260](https://github.com/timelesslounge/timelessis/issues/260) are still not solved; solved: [#162](https://github.com/timelesslounge/timelessis/issues/162), [#203](https://github.com/time

[2019-02-14 19:14] 0pdd commented on #162
@0pdd 4 puzzles [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#206](https://github.com/timelesslounge/timelessis/issues/206), [#260](https://github.com/timelesslounge/timelessis/issues/260) are still not solved; solved: [#203](https://github.com/timelesslounge/timelessis/issues/203).

[2019-02-14 19:14] 0pdd commented on #203
@0pdd the puzzle [#260](https://github.com/timelesslounge/timelessis/issues/260) is still not solved.

[2019-02-14 19:14] 0crat commented on #260
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-14 19:17] emilianodellacasa commented on #86
@krzyk we can close it

[2019-02-14 19:21] 0crat commented on #181
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-14 19:45] 0crat commented on #186
@vladarefiev The impediment for [#186](https://github.com/timelesslounge/timelessis/issues/186) was registered successfully by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-14 20:12] paulodamaso commented on #238
@emilianodellacasa What should we add to cron? We should make the application deploy periodically?

[2019-02-14 20:19] emilianodellacasa commented on #238
@paulodamaso No, the issue is about adding backup scripts and poster sync jobs in cron

[2019-02-14 20:30] 0crat commented on #183
The job [#183](https://github.com/timelesslounge/timelessis/issues/183) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/77731c93-2a43-455c-8544-8ca2455e3691); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-14 20:42] paulodamaso commented on #238
@emilianodellacasa Backup scripts were added in https://github.com/timelesslounge/timelessis/pull/120 and poster jobs will be executed by `celery`, to be merged on https://github.com/timelesslounge/timelessis/pull/226 . I think that this issue is a duplicated one.

[2019-02-14 21:06] krzyk commented on #86
@bkuzmic thanks

[2019-02-14 21:06] #86 closed

[2019-02-14 21:11] 0crat commented on #260
Job [#260](https://github.com/timelesslounge/timelessis/issues/260) is now in scope, role is `DEV`

[2019-02-14 21:25] 0crat commented on #203
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-14 21:33] 0crat commented on #203
The job [#203](https://github.com/timelesslounge/timelessis/issues/203) is now out of scope

[2019-02-14 21:33] 0crat commented on #260
The job [#260](https://github.com/timelesslounge/timelessis/issues/260) assigned to @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/42eec317-65eb-4a98-a231-4851c7d18bd4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-14 21:35] 0crat commented on #260
Job `gh:timelesslounge/timelessis#260` already assigned to @ekondrashev, can't assign to @vatavuk

[2019-02-14 21:35] 0crat commented on #260
Job `gh:timelesslounge/timelessis#260` already assigned to @ekondrashev, can't assign to @ekondrashev

[2019-02-14 21:36] 0crat commented on #260
Job `gh:timelesslounge/timelessis#260` already assigned to @ekondrashev, can't assign to @vatavuk

[2019-02-14 21:58] 0crat commented on #86
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-14 22:01] 0crat commented on #86
The job [#86](https://github.com/timelesslounge/timelessis/issues/86) is now out of scope

[2019-02-14 22:36] 0pdd commented on #225
The puzzle `102-39a9b3fe` has disappeared from the source code, that's why I closed this issue.

[2019-02-14 22:36] #225 closed

[2019-02-14 22:36] 0pdd opened #261 "synced_location.py:11-13: Use celery instead jobs..."
The puzzle `225-de90aee1` from #225 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/253294b701e10459e94695eda82cb2ac00d58d75/timeless/sync/synced_location.py#L11-L13

The puzzle was created by Paulo Lobo on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-14 22:36] 0pdd opened #262 "synced_customer.py:6-10: Implement synchronization..."
The puzzle `225-44860f19` from #225 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/253294b701e10459e94695eda82cb2ac00d58d75/timeless/sync/synced_customer.py#L6-L10

The puzzle was created by Paulo Lobo on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-02-14 22:36] 0pdd commented on #25
@emilianodellacasa 2 puzzles [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262) are still not solved; solved: [#102](https://github.com/timelesslounge/timelessis/issues/102), [#225](https://github.com/timelesslounge/timelessis/issues/225).

[2019-02-14 22:36] 0pdd commented on #102
@0pdd 2 puzzles [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262) are still not solved; solved: [#225](https://github.com/timelesslounge/timelessis/issues/225).

[2019-02-14 22:36] 0pdd commented on #225
@0pdd 2 puzzles [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262) are still not solved.

[2019-02-14 22:37] 0crat commented on #262
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-14 22:37] 0crat commented on #261
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-14 23:10] 0crat commented on #225
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-14 23:10] 0crat commented on #225
The job [#225](https://github.com/timelesslounge/timelessis/issues/225) is now out of scope

[2019-02-14 23:13] emilianodellacasa commented on #238
@paulodamaso correct, closing this

[2019-02-14 23:13] #238 closed

[2019-02-14 23:23] 0crat commented on #261
Job [#261](https://github.com/timelesslounge/timelessis/issues/261) is now in scope, role is `DEV`

[2019-02-14 23:25] 0crat commented on #262
Job [#262](https://github.com/timelesslounge/timelessis/issues/262) is now in scope, role is `DEV`

[2019-02-15 00:02] 0crat commented on #261
The job [#261](https://github.com/timelesslounge/timelessis/issues/261) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/6d465521-30fd-4596-a085-4ac2064536ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-15 00:06] 0crat commented on #261
Job `gh:timelesslounge/timelessis#261` already assigned to @vatavuk, can't assign to @vatavuk

[2019-02-15 00:08] 0crat commented on #238
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-15 00:10] 0crat commented on #238
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-15 00:11] 0crat commented on #238
The job [#238](https://github.com/timelesslounge/timelessis/issues/238) is now out of scope

[2019-02-15 00:12] 0crat commented on #262
The job [#262](https://github.com/timelesslounge/timelessis/issues/262) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/73dc1d7b-aba5-48a7-bada-a09930e491c2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-15 00:20] paulodamaso commented on #217
@0crat wait for #263 review and merge

[2019-02-15 00:43] 0crat commented on #217
@paulodamaso The impediment for [#217](https://github.com/timelesslounge/timelessis/issues/217) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-15 02:11] paulodamaso commented on #201
@0crat wait for #264 review and merge

[2019-02-15 02:26] 0crat commented on #201
@paulodamaso The impediment for [#201](https://github.com/timelesslounge/timelessis/issues/201) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-15 06:08] ypshenychka commented on #233
@vladarefiev According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add reference to corresponding PR into this issue

[2019-02-15 06:13] ypshenychka commented on #197
@vladarefiev According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Your commits contain issue number, not links. Please confirm you'll try to follow this rule next time.

[2019-02-15 06:15] vladarefiev commented on #233
@ypshenychka corresponding PR - https://github.com/timelesslounge/timelessis/issues/197

[2019-02-15 06:17] ypshenychka commented on #233
@vladarefiev To make it as a reference - you should mention this issue number in PR's description. Please do so. Also I don't like this approach, to be honest. Commits also contains only one issue number. I'm not sure we should do like this next time.
@emilianodellacasa What do you think about situation when one PR solves two issues?

[2019-02-15 06:17] vladarefiev commented on #197
@ypshenychka Confirm, my fault

[2019-02-15 06:23] ypshenychka commented on #203
@0crat quality good

[2019-02-15 06:23] vladarefiev commented on #233
@ypshenychka done.
@emilianodellacasa I don't like this situation too, but puzzles are intersected. When I was implementing this - https://github.com/timelesslounge/timelessis/issues/197 I needed to fix tests, which actually required in this issue and I did it and removed puzzle.
I think we can just remove this issue from scope without payment.

[2019-02-15 06:33] ypshenychka commented on #86
@0crat quality good

[2019-02-15 06:38] ypshenychka commented on #225
@paulodamaso According to our [QA Rules] http://www.zerocracy.com/policy.html#42):

[One](https://github.com/timelesslounge/timelessis/pull/226/commits/0dc442ed45fad0d95e9ff1ebd38d184113641793) of your commits contains link to incorrect issue. Please confirm you'll try to avoid this mistake in future.

[2019-02-15 06:39] ypshenychka commented on #238
@paulodamaso Looks like no work was done in scope of this issue, correct?

[2019-02-15 06:39] ypshenychka commented on #197
@0crat quality acceptable

[2019-02-15 06:57] 0crat commented on #203
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-15 06:58] 0crat commented on #203
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 07:02] 0crat commented on #86
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-15 07:02] 0crat commented on #86
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 07:08] 0crat commented on #197
Order was finished, quality is "acceptable": +30 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-15 07:11] 0crat commented on #197
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 08:29] emilianodellacasa commented on #233
@vladarefiev My fault, I should have noticed before merging. As a general rule, we make a single PR for a single issue - no exceptions! Next time, just fix the tests, send the PR and as soon as it is merged, send another PR.

Work has been done so payment is due for both of the issues, just pay attention next time

[2019-02-15 08:33] ypshenychka commented on #233
@0crat quality acceptable

[2019-02-15 08:44] vladarefiev commented on #233
@emilianodellacasa Ok, it's clear, thanks

[2019-02-15 09:01] Vatavuk commented on #192
@0crat status

[2019-02-15 09:13] #245 closed

[2019-02-15 09:13] 0pdd commented on #245
The puzzle `113-1c2a8720` has disappeared from the source code, that's why I closed this issue.

[2019-02-15 09:13] 0pdd commented on #23
@emilianodellacasa 2 puzzles [#212](https://github.com/timelesslounge/timelessis/issues/212), [#232](https://github.com/timelesslounge/timelessis/issues/232) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113), [#157](https://github.com/timelesslounge/timelessis/issues/157), [#197](https://gi

[2019-02-15 09:13] 0pdd commented on #67
@0pdd the puzzle [#232](https://github.com/timelesslounge/timelessis/issues/232) is still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113), [#197](https://github.com/timelesslounge/timelessis/issues/197), [#233](https://github.com/timelesslounge/timelessis/issues/233), [#245](https://github.com/time

[2019-02-15 09:13] 0pdd commented on #113
@0pdd the only puzzle [#245](https://github.com/timelesslounge/timelessis/issues/245) is solved here.

[2019-02-15 09:29] 0crat commented on #233
Order was finished, quality is "acceptable": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-15 09:30] 0crat commented on #233
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 10:45] paulodamaso commented on #225
@ypshenychka Confirm,thanks. Did not noticed.

[2019-02-15 10:47] paulodamaso commented on #238
@ypshenychka Well, I had to look into the repository to find where the asked features were implemented, so I can't agree that I had no work doing that. But I did not wrote  any line of code.

[2019-02-15 10:49] 0crat commented on #192
@Vatavuk This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#192](https://github.com/timelesslounge/timelessis/issues/192) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CF9LG1YCA?q=%7Bjob%3A%27gh%3Atimelesslounge%2Ftimelessis%23192%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%

[2019-02-15 11:01] 0crat commented on #245
Job was finished in 46 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-15 11:06] 0crat commented on #245
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-15 11:07] 0crat commented on #192
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 11:07] 0crat commented on #192
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-15 11:15] 0crat commented on #245
The job [#245](https://github.com/timelesslounge/timelessis/issues/245) is now out of scope

[2019-02-15 11:31] ypshenychka commented on #238
@paulodamaso I agree you did some work then. Can evaluate as "acceptable". OK?

[2019-02-15 11:32] ypshenychka commented on #225
@paulodamaso thanks

[2019-02-15 11:32] ypshenychka commented on #225
@0crat quality acceptable

[2019-02-15 11:44] paulodamaso commented on #238
@ypshenychka Great for me, thanks

[2019-02-15 11:49] ypshenychka commented on #238
@0crat quality acceptable

[2019-02-15 12:13] 0pdd commented on #222
The puzzle `123-ae2bbb0c` has disappeared from the source code, that's why I closed this issue.

[2019-02-15 12:13] #222 closed

[2019-02-15 12:13] 0pdd opened #266 "test_comment.py:12-14: Finish CommentView implementation..."
The puzzle `222-d023110c` from #222 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/c717d71ed34bda7a889fe9591a6990bde507152c/tests/view/crudeapi/test_comment.py#L12-L14

The puzzle was created by Paulo Lobo on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-02-15 12:13] 0pdd opened #267 "it_comments_test.py:12-14: Correct comments its_tests...."
The puzzle `222-44123285` from #222 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/c717d71ed34bda7a889fe9591a6990bde507152c/tests/integration/it_comments_test.py#L12-L14

The puzzle was created by Paulo Lobo on 15-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-02-15 12:13] 0pdd commented on #26
@emilianodellacasa 3 puzzles [#221](https://github.com/timelesslounge/timelessis/issues/221), [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267) are still not solved; solved: [#123](https://github.com/timelesslounge/timelessis/issues/123), [#222](https://github.com/timelesslounge/timelessis/issues/222), [#87](https://git

[2019-02-15 12:13] 0pdd commented on #87
@0pdd 3 puzzles [#221](https://github.com/timelesslounge/timelessis/issues/221), [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267) are still not solved; solved: [#123](https://github.com/timelesslounge/timelessis/issues/123), [#222](https://github.com/timelesslounge/timelessis/issues/222).

[2019-02-15 12:13] 0pdd commented on #123
@0pdd 3 puzzles [#221](https://github.com/timelesslounge/timelessis/issues/221), [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267) are still not solved; solved: [#222](https://github.com/timelesslounge/timelessis/issues/222).

[2019-02-15 12:13] 0pdd commented on #222
@0pdd 2 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267) are still not solved.

[2019-02-15 12:14] 0crat commented on #267
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-15 12:14] 0crat commented on #266
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-15 12:26] ypshenychka commented on #245
@amihaiemil Was there any work done in scope of this issue?

[2019-02-15 12:35] amihaiemil commented on #245
@ypshenychka no, I haven't had the time to look over it and the puzzle has been removed by mistake in another PR

[2019-02-15 12:38] ypshenychka commented on #245
@amihaiemil got it. Thanks

[2019-02-15 12:38] ypshenychka commented on #245
@0crat quality bad

[2019-02-15 13:02] 0crat commented on #267
Job [#267](https://github.com/timelesslounge/timelessis/issues/267) is now in scope, role is `DEV`

[2019-02-15 13:02] 0crat commented on #225
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-15 13:02] 0crat commented on #266
Job [#266](https://github.com/timelesslounge/timelessis/issues/266) is now in scope, role is `DEV`

[2019-02-15 13:03] 0crat commented on #245
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-15 13:03] 0crat commented on #225
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 13:05] 0crat commented on #222
Job [#222](https://github.com/timelesslounge/timelessis/issues/222) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-02-15 13:05] 0crat commented on #238
Order was finished, quality is "acceptable": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-15 13:05] 0crat commented on #238
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 13:06] 0crat commented on #222
The job [#222](https://github.com/timelesslounge/timelessis/issues/222) is now out of scope

[2019-02-15 13:06] 0crat commented on #245
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 13:09] 0crat commented on #267
The job [#267](https://github.com/timelesslounge/timelessis/issues/267) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/5e269d6d-7370-4e9c-9378-c2a30b54f818); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-15 13:17] 0crat commented on #266
The job [#266](https://github.com/timelesslounge/timelessis/issues/266) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/8c937c65-58b3-4e4b-890e-0a2842af6d04); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-15 13:32] paulodamaso commented on #266
@emilianodellacasa I think I've made a mistake on previous PRs: looks like we do not need an  `CommentView` implementation besides what we already have because all the four methods will be implemented in `CrudAPIView` as result of a puzzle left on #221. I can't see anything else to implement in `CommentView`, could you gave me some directions here?

[2019-02-15 14:19] #201 closed

[2019-02-15 14:19] 0pdd commented on #201
The puzzle `59-2d69b226` has disappeared from the source code, that's why I closed this issue.

[2019-02-15 14:19] 0pdd opened #269 "auth.py:7-11: Translate login error codes. The codes..."
The puzzle `201-b5198280` from #201 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/4e14d92750b120152214582d5c3f908dae4fcf6a/timeless/auth/auth.py#L7-L11

The puzzle was created by Paulo Lobo on 15-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-15 14:19] 0pdd commented on #5
@emilianodellacasa 3 puzzles [#200](https://github.com/timelesslounge/timelessis/issues/200), [#269](https://github.com/timelesslounge/timelessis/issues/269), [#60](https://github.com/timelesslounge/timelessis/issues/60) are still not solved; solved: [#201](https://github.com/timelesslounge/timelessis/issues/201), [#59](https://github.com/timelesslounge/timelessis/issues/59).

[2019-02-15 14:19] 0pdd commented on #59
@0pdd 2 puzzles [#200](https://github.com/timelesslounge/timelessis/issues/200), [#269](https://github.com/timelesslounge/timelessis/issues/269) are still not solved; solved: [#201](https://github.com/timelesslounge/timelessis/issues/201).

[2019-02-15 14:19] 0pdd commented on #201
@0pdd the puzzle [#269](https://github.com/timelesslounge/timelessis/issues/269) is still not solved.

[2019-02-15 14:20] 0crat commented on #269
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-15 14:28] 0crat commented on #269
Job [#269](https://github.com/timelesslounge/timelessis/issues/269) is now in scope, role is `DEV`

[2019-02-15 14:32] emilianodellacasa commented on #266
@paulodamaso It is correct, let's close this

[2019-02-15 14:32] #266 closed

[2019-02-15 14:36] 0crat commented on #269
The job [#269](https://github.com/timelesslounge/timelessis/issues/269) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/3484f3cc-ce13-4876-abed-b106d9232f80); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-15 14:39] #141 closed

[2019-02-15 14:39] 0pdd commented on #141
The puzzle `15-4d06d88e` has disappeared from the source code, that's why I closed this issue.

[2019-02-15 14:39] 0pdd opened #270 "views.py:2-5: Continue implementation of views class. Use..."
The puzzle `141-9f3e8d9b` from #141 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/d9e9560bafcdc307150970ff10f7ba6d61f73ad0/timeless/items/views.py#L2-L5

The puzzle was created by Ammar Atef on 14-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed

[2019-02-15 14:39] 0pdd commented on #15
@emilianodellacasa 2 puzzles [#217](https://github.com/timelesslounge/timelessis/issues/217), [#270](https://github.com/timelesslounge/timelessis/issues/270) are still not solved; solved: [#141](https://github.com/timelesslounge/timelessis/issues/141), [#142](https://github.com/timelesslounge/timelessis/issues/142).

[2019-02-15 14:39] 0pdd commented on #141
@0pdd the puzzle [#270](https://github.com/timelesslounge/timelessis/issues/270) is still not solved.

[2019-02-15 14:40] 0crat commented on #270
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-15 14:52] 0crat commented on #201
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-15 14:53] 0crat commented on #270
Job [#270](https://github.com/timelesslounge/timelessis/issues/270) is now in scope, role is `DEV`

[2019-02-15 14:55] 0crat commented on #201
The job [#201](https://github.com/timelesslounge/timelessis/issues/201) is now out of scope

[2019-02-15 14:58] 0crat commented on #266
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-15 14:59] 0crat commented on #266
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-15 14:59] 0crat commented on #270
The job [#270](https://github.com/timelesslounge/timelessis/issues/270) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/9ba557c1-34c3-4fb6-b3b0-b22e67146af5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-15 14:59] 0crat commented on #266
The job [#266](https://github.com/timelesslounge/timelessis/issues/266) is now out of scope

[2019-02-15 14:59] 0crat commented on #141
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-15 15:00] 0crat commented on #141
The job [#141](https://github.com/timelesslounge/timelessis/issues/141) is now out of scope

[2019-02-15 15:37] paulodamaso commented on #222
@0crat status

[2019-02-15 15:40] 0crat commented on #134
@vladarefiev[/z](https://www.0crat.com/u/vladarefiev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-15 15:42] 0crat commented on #222
@paulodamaso This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#222](https://github.com/timelesslounge/timelessis/issues/222) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 3hr
  * @paulodamaso[/z](https://www.0crat.com/

[2019-02-15 16:06] ypshenychka commented on #201
@0crat quality good

[2019-02-15 16:07] 0crat commented on #201
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 16:07] 0crat commented on #201
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-15 16:16] paulodamaso commented on #222
@ypshenychka Looks like 0crat did not warned you, please take a look

[2019-02-15 17:09] ypshenychka commented on #266
@paulodamaso Looks like no work was done in this specific ticket, right?

[2019-02-15 17:19] ypshenychka commented on #141
@0crat quality good

[2019-02-15 17:21] 0crat commented on #141
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 17:21] 0crat commented on #141
Order was finished, quality is "good": +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-15 17:28] ypshenychka commented on #222
@paulodamaso thanks!

[2019-02-15 17:29] ypshenychka commented on #222
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/timelesslounge/timelessis/pull/228/commits/ca52777b3f34fe1f34c588e0b4a81ebc1c7c53e6) of your commits contains link to another issue. Please confirm you'll try to avoid this mistake in future.

[2019-02-15 17:41] 0crat commented on #173
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-15 18:10] paulodamaso commented on #266
@ypshenychka Yes, no work here :)

[2019-02-15 18:11] paulodamaso commented on #222
@ypshenychka I confirm. Just for the record, I'd like to say that I've tried to ammend the comment and change its title, but looks like that github does no overwrite a commit

[2019-02-15 18:11] ypshenychka commented on #266
@paulodamaso thanks

[2019-02-15 18:11] ypshenychka commented on #266
@0crat quality bad

[2019-02-15 18:14] 0crat commented on #266
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-15 18:14] 0crat commented on #266
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 18:37] 0crat commented on #200
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-15 18:49] ypshenychka commented on #222
@paulodamaso It seems to be not a very good practice to rename commits, so probably GitHub doesn't allow it on purpose :) Thanks@

[2019-02-15 18:50] ypshenychka commented on #222
@0crat quality acceptable

[2019-02-15 18:56] 0crat commented on #222
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-15 18:56] 0crat commented on #222
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-15 19:40] 0crat commented on #204
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-15 19:40] 0crat commented on #205
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-15 19:40] 0crat commented on #206
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-15 20:40] 0crat commented on #208
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-16 03:30] ammaratef45 commented on #241
@Vatavuk I didn't find any global objects that need to be cleaned.
We have the fixture app which scope is session (And if it may cause problems we need only to change its scope)
Or did you mean something else?

[2019-02-16 05:50] ekondrashev opened #272 "FAILED: Target database is not up to date."
After DB setup using [database-setup](https://github.com/timelesslounge/timelessis#database-setup) README.md section, I've tried to apply migrations with `python manage.py db migrate` but got
[code]
Seems like this error is caused by the difference current and heads migrations:
[code]
So seems like current revision is not set, which is fixed by running `python manage.py db stamp heads`
Which will

[2019-02-16 05:50] 0crat commented on #272
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-16 08:04] Vatavuk commented on #241
@ammaratef45 this one: flask.g.user

[2019-02-16 08:07] emilianodellacasa commented on #272
@ekondrashev could it be related to #246?

[2019-02-16 10:35] vryazanov opened #273 "Caching problems"
Hi there,
As I can see now we have a few problems related to cache:
1. We are caching base template, it means we cache forms for creating / editing models. And I guess with their initial values (for editing forms).
2. Need to have ability to set redis hostname in config files. Right now, unfortunately, docker setup is broken since cache is looking at local redis and we cannot setup a specific host

[2019-02-16 10:35] 0crat commented on #273
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-16 11:20] 0crat commented on #273
Job [#273](https://github.com/timelesslounge/timelessis/issues/273) is now in scope, role is `DEV`

[2019-02-16 11:20] 0crat commented on #273
Job `gh:timelesslounge/timelessis#273` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-02-16 11:20] 0crat commented on #273
The job [#273](https://github.com/timelesslounge/timelessis/issues/273) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/a4c3ad48-df81-4a66-b8d7-8ed24dab980f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-16 11:23] 0crat commented on #273
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-02-16 11:41] 0crat commented on #212
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-16 13:20] 0pdd commented on #134
The puzzle `42-ca2a2c0a` has disappeared from the source code, that's why I closed this issue.

[2019-02-16 13:20] #134 closed

[2019-02-16 13:20] 0pdd commented on #11
@emilianodellacasa 3 puzzles [#208](https://github.com/timelesslounge/timelessis/issues/208), [#255](https://github.com/timelesslounge/timelessis/issues/255), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133), [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://gith

[2019-02-16 13:21] 0pdd commented on #42
@0pdd 3 puzzles [#208](https://github.com/timelesslounge/timelessis/issues/208), [#255](https://github.com/timelesslounge/timelessis/issues/255), [#95](https://github.com/timelesslounge/timelessis/issues/95) are still not solved; solved: [#133](https://github.com/timelesslounge/timelessis/issues/133), [#134](https://github.com/timelesslounge/timelessis/issues/134), [#192](https://github.com/timele

[2019-02-16 14:12] krzyk commented on #212
@0crat refuse

[2019-02-16 14:23] lastk commented on #115
@0crat refuse

[2019-02-16 15:49] krzyk commented on #206
@0crat waiting for review of PR #274

[2019-02-16 21:05] 0crat commented on #212
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#212](https://github.com/timelesslounge/timelessis/issues/212), please stop working. Reason for job resignation: Order was cancelled

[2019-02-16 21:53] 0pdd commented on #23
@emilianodellacasa 3 puzzles [#212](https://github.com/timelesslounge/timelessis/issues/212), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#245](https://github.com/timelesslounge/timelessis/issues/245) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113), [#157](https://gi

[2019-02-16 21:53] 0pdd commented on #67
@0pdd 2 puzzles [#232](https://github.com/timelesslounge/timelessis/issues/232), [#245](https://github.com/timelesslounge/timelessis/issues/245) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/timelesslounge/timelessis/issues/113), [#197](https://github.com/timelesslounge/timelessis/issues/197), [#233](https://github.com/time

[2019-02-16 21:53] 0pdd commented on #113
@0pdd the puzzle [#245](https://github.com/timelesslounge/timelessis/issues/245) is still not solved.

[2019-02-17 00:37] 0crat commented on #206
@krzyk The impediment for [#206](https://github.com/timelesslounge/timelessis/issues/206) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-17 00:37] 0crat commented on #115
@lastk Job `gh:timelesslounge/timelessis#115` is not assigned, can't get performer

[2019-02-17 01:01] 0crat commented on #134
Job [#134](https://github.com/timelesslounge/timelessis/issues/134) is not in the agenda of @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), can't inspect

[2019-02-17 05:30] 0crat commented on #215
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-17 05:30] 0crat commented on #214
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-17 06:31] bkuzmic commented on #155
@Vatavuk Can you close the issue now that PRs are merged?

[2019-02-17 07:11] ammaratef45 commented on #232
@0crat refuse
@emilianodellacasa sorry didn't figure it out, will watch the solution instead.

[2019-02-17 07:11] ammaratef45 commented on #241
@Vatavuk thanks :+1:

[2019-02-17 08:00] 0crat commented on #134
The job [#134](https://github.com/timelesslounge/timelessis/issues/134) is now out of scope

[2019-02-17 09:25] #155 closed

[2019-02-17 10:24] vladarefiev commented on #134
@ypshenychka something went wrong, 0crat didn't mention you.

[2019-02-17 11:11] ypshenychka commented on #134
@0crat status

[2019-02-17 11:32] 0crat commented on #212
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-17 15:03] 0crat commented on #232
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#232](https://github.com/timelesslounge/timelessis/issues/232), please stop working. Reason for job resignation: Order was cancelled

[2019-02-17 15:06] 0crat commented on #224
@lastk[/z](https://www.0crat.com/u/lastk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-17 15:06] 0crat commented on #221
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-17 15:07] 0crat commented on #134
@ypshenychka This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#134](https://github.com/timelesslounge/timelessis/issues/134) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 19hr
  * @vladarefiev[/z](https://www.0crat.com

[2019-02-17 15:07] krzyk commented on #174
@emilianodellacasa what about the second question? :

[2019-02-17 15:10] emilianodellacasa commented on #174
@krzyk you are right sorry, this is just employee, it's a typo

[2019-02-17 15:15] ypshenychka commented on #134
@vladarefiev According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Some of your commits contain plain text instead of links. Please confirm you'll try to follow this rule next time.

[2019-02-17 15:18] krzyk commented on #174
@0crat waiting for review of PR #277

[2019-02-17 15:21] 0crat commented on #155
Job [#155](https://github.com/timelesslounge/timelessis/issues/155) is not in the agenda of @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), can't inspect

[2019-02-17 15:21] vladarefiev commented on #134
@ypshenychka Confirm, this one was made before your last notice.

[2019-02-17 15:22] 0crat commented on #232
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-17 15:23] 0crat commented on #155
The job [#155](https://github.com/timelesslounge/timelessis/issues/155) is now out of scope

[2019-02-17 15:25] 0crat commented on #174
@krzyk The impediment for [#174](https://github.com/timelesslounge/timelessis/issues/174) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-17 15:25] ypshenychka commented on #134
@vladarefiev thanks

[2019-02-17 15:26] ypshenychka commented on #134
@0crat quality acceptable

[2019-02-17 15:35] 0crat commented on #212
The job [#212](https://github.com/timelesslounge/timelessis/issues/212) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/c0adb4a4-a409-42ed-a52b-465053d72dca); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-17 16:03] 0crat commented on #134
Order was finished, quality is "acceptable": +30 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-17 16:03] 0crat commented on #134
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-17 16:04] 0crat commented on #232
The job [#232](https://github.com/timelesslounge/timelessis/issues/232) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/96361066-6e5d-483e-b143-bd929216b114); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-17 16:04] 0crat commented on #232
Job `gh:timelesslounge/timelessis#232` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-17 16:58] vladarefiev commented on #237
@emilianodellacasa I think this one is out of date. Some structure of tests is already emerged, and now test_models looks logic

[2019-02-17 17:27] emilianodellacasa commented on #237
@vladarefiev Thanks, closing it

[2019-02-17 17:27] #237 closed

[2019-02-17 17:36] 0pdd commented on #179
The puzzle `22-9cc1d6a5` has disappeared from the source code, that's why I closed this issue.

[2019-02-17 17:36] #179 closed

[2019-02-17 17:36] 0pdd opened #278 "__init__.py:21-23: Continue securing other views, by..."
The puzzle `179-b0e1041f` from #179 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/66ab6f4dbe68b90a6fc6455e94f510b7e17e6acf/timeless/access_control/__init__.py#L21-L23

The puzzle was created by amihaiemil on 13-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-02-17 17:36] 0pdd commented on #22
@emilianodellacasa 11 puzzles [#174](https://github.com/timelesslounge/timelessis/issues/174), [#175](https://github.com/timelesslounge/timelessis/issues/175), [#176](https://github.com/timelesslounge/timelessis/issues/176), [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#181](https://github.com/timelesslounge/time

[2019-02-17 17:36] 0pdd commented on #179
@0pdd the puzzle [#278](https://github.com/timelesslounge/timelessis/issues/278) is still not solved.

[2019-02-17 17:37] 0crat commented on #278
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-17 17:52] 0crat commented on #237
Job [#237](https://github.com/timelesslounge/timelessis/issues/237) is not in the agenda of @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), can't inspect

[2019-02-17 17:53] 0crat commented on #237
The job [#237](https://github.com/timelesslounge/timelessis/issues/237) is now out of scope

[2019-02-17 17:54] 0crat commented on #179
Job [#179](https://github.com/timelesslounge/timelessis/issues/179) is not in the agenda of @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), can't inspect

[2019-02-17 17:54] 0crat commented on #179
The job [#179](https://github.com/timelesslounge/timelessis/issues/179) is now out of scope

[2019-02-17 17:55] 0crat commented on #278
Job [#278](https://github.com/timelesslounge/timelessis/issues/278) is now in scope, role is `DEV`

[2019-02-17 17:57] amihaiemil commented on #179
@0crat status

[2019-02-17 17:57] 0crat commented on #179
@amihaiemil This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#179](https://github.com/timelesslounge/timelessis/issues/179) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 3min
  * @amihaiemil[/z](https://www.0crat.com/u

[2019-02-17 18:00] amihaiemil commented on #179
@ypshenychka can you pls make the QA review here? 0crat forgot to mention you again :)

[2019-02-17 18:07] 0crat commented on #278
The job [#278](https://github.com/timelesslounge/timelessis/issues/278) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/c0575aeb-dd0f-49a0-beb1-bfbed3d27a23); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-17 19:23] ypshenychka commented on #179
@0crat quality good

[2019-02-17 19:24] 0crat commented on #179
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-17 19:27] 0crat commented on #179
Order was finished, quality is "good": +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-17 19:41] lastk commented on #224
@0crat refuse

[2019-02-17 19:41] lastk commented on #224
sorry, i think i refused in the wrong place. : (

[2019-02-17 19:42] 0crat commented on #224
@lastk The user @lastk[/z](https://www.0crat.com/u/lastk) resigned from [#224](https://github.com/timelesslounge/timelessis/issues/224), please stop working. Reason for job resignation: Order was cancelled

[2019-02-17 19:43] 0crat commented on #224
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lastk[/z](https://www.0crat.com/u/lastk)

[2019-02-17 19:45] ypshenychka commented on #155
@0crat status

[2019-02-17 19:45] ypshenychka commented on #237
@0crat status

[2019-02-17 19:55] 0crat commented on #237
@ypshenychka This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#237](https://github.com/timelesslounge/timelessis/issues/237) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 2hr
  * @vladarefiev[/z](https://www.0crat.com/

[2019-02-17 19:55] 0crat commented on #155
@ypshenychka This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#155](https://github.com/timelesslounge/timelessis/issues/155) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 5hr
  * @bkuzmic[/z](https://www.0crat.com/u/bk

[2019-02-17 19:56] 0crat commented on #224
The job [#224](https://github.com/timelesslounge/timelessis/issues/224) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/ea2ddddc-e697-43fe-a911-b5c59bf20126); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-02-17 19:56] 0crat commented on #224
Job `gh:timelesslounge/timelessis#224` already assigned to @carlosmiranda, can't assign to @paulodamaso

[2019-02-17 21:06] bkuzmic commented on #95
@0crat refuse this is the puzzle i have created and I'm also busy on other tasks.

[2019-02-17 21:06] 0crat commented on #95
@bkuzmic The user @bkuzmic[/z](https://www.0crat.com/u/bkuzmic) resigned from [#95](https://github.com/timelesslounge/timelessis/issues/95), please stop working. Reason for job resignation: Order was cancelled

[2019-02-17 21:07] 0crat commented on #95
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-17 21:08] 0crat commented on #95
The job [#95](https://github.com/timelesslounge/timelessis/issues/95) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/e75a7a9b-280f-44d2-afce-337781ff2e13); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-17 21:34] krzyk commented on #175
@0crat waiting for review of PR #279

[2019-02-17 21:38] krzyk commented on #176
@emilianodellacasa Regarding manager role:
[code]

I assume Manager shouldn't be able to change/view other manager profiles right? So only masters and interns, right?

[2019-02-17 21:40] 0crat commented on #175
@krzyk The impediment for [#175](https://github.com/timelesslounge/timelessis/issues/175) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-17 22:23] krzyk commented on #176
@0crat waiting for review of PR #281

[2019-02-17 22:32] 0crat commented on #176
@krzyk The impediment for [#176](https://github.com/timelesslounge/timelessis/issues/176) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-17 23:39] 0crat commented on #235
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-17 23:39] 0crat commented on #236
@vladarefiev[/z](https://www.0crat.com/u/vladarefiev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-18 00:38] 0crat commented on #234
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-18 00:38] 0crat commented on #239
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-18 05:00] carlosmiranda commented on #239
@bkuzmic @emilianodellacasa It does not seem like Rultor supports this. See [here](http://doc.rultor.com/basics.html), I don't see any way to pass any arguments to the `@rultor deploy` command. Meanwhile the tag param is supported only for `release`.

So it looks like we'll have to do this differently. What do you think?

[2019-02-18 05:00] carlosmiranda commented on #239
@0crat wait for clarification

[2019-02-18 05:05] 0crat commented on #239
@carlosmiranda The impediment for [#239](https://github.com/timelesslounge/timelessis/issues/239) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-18 06:10] carlosmiranda commented on #224
@emilianodellacasa see PR #282

[2019-02-18 07:31] ypshenychka commented on #155
@0crat quality good

[2019-02-18 07:32] ypshenychka commented on #237
@vladarefiev Look like no work was done in scope of this issue, right?

[2019-02-18 07:32] ypshenychka commented on #237
@vladarefiev Look like no work was done in scope of this issue, right?

[2019-02-18 07:40] vladarefiev commented on #237
@ypshenychka correct.

[2019-02-18 08:39] 0pdd commented on #149
The puzzle `4-97bfffa4` has disappeared from the source code, that's why I closed this issue.

[2019-02-18 08:39] #149 closed

[2019-02-18 08:39] 0pdd opened #283 "it_auth_test.py:29-32: Continue implementation of the..."
The puzzle `149-40cd4662` from #149 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fe8ba2ffcd47ba876ef4c9036ffbe046320ccfc4/tests/integration/it_auth_test.py#L29-L32

The puzzle was created by @rultor on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-02-18 08:39] 0pdd commented on #4
@emilianodellacasa 2 puzzles [#283](https://github.com/timelesslounge/timelessis/issues/283), [#57](https://github.com/timelesslounge/timelessis/issues/57) are still not solved; solved: [#149](https://github.com/timelesslounge/timelessis/issues/149), [#58](https://github.com/timelesslounge/timelessis/issues/58).

[2019-02-18 08:39] 0pdd commented on #149
@0pdd the puzzle [#283](https://github.com/timelesslounge/timelessis/issues/283) is still not solved.

[2019-02-18 08:40] 0crat commented on #283
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-18 08:50] #174 closed

[2019-02-18 08:50] 0pdd commented on #174
The puzzle `22-8f1c33a4` has disappeared from the source code, that's why I closed this issue.

[2019-02-18 08:50] 0pdd commented on #22
@emilianodellacasa 10 puzzles [#175](https://github.com/timelesslounge/timelessis/issues/175), [#176](https://github.com/timelesslounge/timelessis/issues/176), [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#181](https://github.com/timelesslounge/timelessis/issues/181), [#182](https://github.com/timelesslounge/time

[2019-02-18 08:56] emilianodellacasa commented on #239
@carlosmiranda you are right, then let's skip the environment parameter for the moment (I will open an issue for it on rultor), and switch from deploy to release

[2019-02-18 09:10] ypshenychka commented on #237
@vladarefiev thanks

[2019-02-18 09:10] ypshenychka commented on #237
@0crat quality bad

[2019-02-18 09:33] 0crat commented on #155
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-18 09:34] 0crat commented on #155
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-18 10:36] #175 closed

[2019-02-18 10:36] 0pdd commented on #175
The puzzle `22-7b212a13` has disappeared from the source code, that's why I closed this issue.

[2019-02-18 10:36] 0pdd opened #284 "director_privileges.py:16-18: Add role to the employee..."
The puzzle `175-e2d8fa4e` from #175 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/688d24eee5d1252d9dfd5314a48fb79e38217e3e/timeless/access_control/director_privileges.py#L16-L18

The puzzle was created by Krzysztof Krason on 17-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2019-02-18 10:36] 0pdd commented on #22
@emilianodellacasa 10 puzzles [#176](https://github.com/timelesslounge/timelessis/issues/176), [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#181](https://github.com/timelesslounge/timelessis/issues/181), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#183](https://github.com/timelesslounge/time

[2019-02-18 10:36] 0pdd commented on #175
@0pdd the puzzle [#284](https://github.com/timelesslounge/timelessis/issues/284) is still not solved.

[2019-02-18 10:37] 0crat commented on #284
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-18 11:35] #206 closed

[2019-02-18 11:35] 0pdd commented on #206
The puzzle `162-9f769eb8` has disappeared from the source code, that's why I closed this issue.

[2019-02-18 11:36] 0pdd opened #285 "it_table_shapes_test.py:38-40: Fix..."
The puzzle `206-24391b14` from #206 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/3c79e5aed367090b3493f764ba6916d48660094a/tests/integration/it_table_shapes_test.py#L38-L40

The puzzle was created by Krzysztof Krason on 16-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-18 11:36] 0pdd opened #286 "it_table_shapes_test.py:41-44: After the form.save()..."
The puzzle `206-144cbf13` from #206 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/3c79e5aed367090b3493f764ba6916d48660094a/tests/integration/it_table_shapes_test.py#L41-L44

The puzzle was created by Krzysztof Krason on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-18 11:36] 0pdd commented on #13
@emilianodellacasa 5 puzzles [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#260](https://github.com/timelesslounge/timelessis/issues/260), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286) are still not solved; solved: [#162](https://gi

[2019-02-18 11:36] 0pdd commented on #72
@0pdd 5 puzzles [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#260](https://github.com/timelesslounge/timelessis/issues/260), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286) are still not solved; solved: [#162](https://github.com/time

[2019-02-18 11:36] 0pdd commented on #162
@0pdd 5 puzzles [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#260](https://github.com/timelesslounge/timelessis/issues/260), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286) are still not solved; solved: [#203](https://github.com/time

[2019-02-18 11:36] 0pdd commented on #206
@0pdd 2 puzzles [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286) are still not solved.

[2019-02-18 11:37] 0crat commented on #286
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-18 11:37] 0crat commented on #285
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-18 12:03] bkuzmic commented on #182
@0crat refuse Sorry, busy on other tasks.

[2019-02-18 12:06] emilianodellacasa commented on #283
@0crat assign @marceloamadeu

[2019-02-18 13:34] 0crat commented on #283
Job [#283](https://github.com/timelesslounge/timelessis/issues/283) is now in scope, role is `DEV`

[2019-02-18 16:59] 0crat commented on #237
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-02-18 18:30] #221 closed

[2019-02-18 18:30] 0pdd commented on #221
The puzzle `123-c71e913a` has disappeared from the source code, that's why I closed this issue.

[2019-02-18 18:30] 0pdd opened #288 "views.py:9-13: Remove references to database objects. we..."
The puzzle `221-164039ad` from #221 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/a508ea66a3ea2cac58bd6510cdd4c04969ea6cf6/timeless/views.py#L9-L13

The puzzle was created by Paulo Lobo on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fro

[2019-02-18 18:30] 0pdd opened #289 "views.py:24-32: Continue with the implementation of..."
The puzzle `221-191ec061` from #221 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/a508ea66a3ea2cac58bd6510cdd4c04969ea6cf6/timeless/views.py#L24-L32

The puzzle was created by Paulo Lobo on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fr

[2019-02-18 18:30] 0pdd commented on #26
@emilianodellacasa 4 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267), [#288](https://github.com/timelesslounge/timelessis/issues/288), [#289](https://github.com/timelesslounge/timelessis/issues/289) are still not solved; solved: [#123](https://github.com/timelesslounge/timelessis/issues/123), [#221](https://gi

[2019-02-18 18:30] 0pdd commented on #87
@0pdd 4 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267), [#288](https://github.com/timelesslounge/timelessis/issues/288), [#289](https://github.com/timelesslounge/timelessis/issues/289) are still not solved; solved: [#123](https://github.com/timelesslounge/timelessis/issues/123), [#221](https://github.com/time

[2019-02-18 18:30] 0pdd commented on #123
@0pdd 4 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267), [#288](https://github.com/timelesslounge/timelessis/issues/288), [#289](https://github.com/timelesslounge/timelessis/issues/289) are still not solved; solved: [#221](https://github.com/timelesslounge/timelessis/issues/221), [#222](https://github.com/time

[2019-02-18 18:30] 0pdd commented on #221
@0pdd 2 puzzles [#288](https://github.com/timelesslounge/timelessis/issues/288), [#289](https://github.com/timelesslounge/timelessis/issues/289) are still not solved.

[2019-02-18 18:31] 0crat commented on #289
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-18 18:31] 0crat commented on #288
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-18 18:35] paulodamaso commented on #221
@0crat status

[2019-02-18 20:00] Vatavuk commented on #235
@0crat wait until #290 is merged

[2019-02-18 20:36] Vatavuk commented on #234
@emilianodellacasa need a little help. The issue specifies that we need to use `Factory Boy` factories in order to fake relationships in IT tests. I don't think this is necessary at IT level, nor do we have `nullable=True` relationship fields that forces us to do so. Should I just add create/edit/delete test like we have in oder tests without factories to speed things up? We can add them later if

[2019-02-18 20:36] Vatavuk commented on #234
@0crat wait for rev comment

[2019-02-18 20:44] amihaiemil commented on #181
@0crat refuse because I am a little tight on time at the moment

[2019-02-18 20:44] vladarefiev commented on #236
@0crat wait until https://github.com/timelesslounge/timelessis/issues/235 is merged

[2019-02-18 20:44] amihaiemil commented on #183
@0crat refuse because I am a little tight on time at the moment

[2019-02-18 21:03] 0crat commented on #241
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-18 21:03] 0crat commented on #242
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-18 21:05] 0pdd commented on #186
The puzzle `63-5a69cbb8` has disappeared from the source code, that's why I closed this issue.

[2019-02-18 21:05] #186 closed

[2019-02-18 21:05] 0pdd opened #291 "it_reservation_settings_test.py:2-4: Write tests for..."
The puzzle `186-9fde7513` from #186 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1a7bf6bc7e7067ecd0d154dff1c6b350c651b20a/tests/integration/it_reservation_settings_test.py#L2-L4

The puzzle was created by Vlad Arefev on 16-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-02-18 21:05] 0pdd opened #292 "forms.py:10-12: excluding greeting_by_time is temporary..."
The puzzle `186-595169e7` from #186 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1a7bf6bc7e7067ecd0d154dff1c6b350c651b20a/timeless/reservations/forms.py#L10-L12

The puzzle was created by Vlad Arefev on 16-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-02-18 21:05] 0pdd opened #293 "views.py:18-21: For SettingsListView, SettingsCreateView,..."
The puzzle `186-a9021931` from #186 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1a7bf6bc7e7067ecd0d154dff1c6b350c651b20a/timeless/reservations/views.py#L18-L21

The puzzle was created by Vlad Arefev on 16-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-02-18 21:05] 0pdd commented on #32
@emilianodellacasa 3 puzzles [#291](https://github.com/timelesslounge/timelessis/issues/291), [#292](https://github.com/timelesslounge/timelessis/issues/292), [#293](https://github.com/timelesslounge/timelessis/issues/293) are still not solved; solved: [#186](https://github.com/timelesslounge/timelessis/issues/186), [#63](https://github.com/timelesslounge/timelessis/issues/63).

[2019-02-18 21:05] 0pdd commented on #63
@0pdd 3 puzzles [#291](https://github.com/timelesslounge/timelessis/issues/291), [#292](https://github.com/timelesslounge/timelessis/issues/292), [#293](https://github.com/timelesslounge/timelessis/issues/293) are still not solved; solved: [#186](https://github.com/timelesslounge/timelessis/issues/186).

[2019-02-18 21:05] 0pdd commented on #186
@0pdd 3 puzzles [#291](https://github.com/timelesslounge/timelessis/issues/291), [#292](https://github.com/timelesslounge/timelessis/issues/292), [#293](https://github.com/timelesslounge/timelessis/issues/293) are still not solved.

[2019-02-18 21:06] 0crat commented on #293
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-18 21:07] 0crat commented on #292
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-18 21:07] 0crat commented on #291
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-18 21:33] 0crat commented on #149
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-18 21:35] 0crat commented on #284
Job [#284](https://github.com/timelesslounge/timelessis/issues/284) is now in scope, role is `DEV`

[2019-02-18 21:53] 0crat commented on #285
Job [#285](https://github.com/timelesslounge/timelessis/issues/285) is now in scope, role is `DEV`

[2019-02-18 21:53] 0crat commented on #286
Job [#286](https://github.com/timelesslounge/timelessis/issues/286) is now in scope, role is `DEV`

[2019-02-18 21:55] 0crat commented on #174
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-18 21:55] 0crat commented on #182
@bkuzmic The user @bkuzmic[/z](https://www.0crat.com/u/bkuzmic) resigned from [#182](https://github.com/timelesslounge/timelessis/issues/182), please stop working. Reason for job resignation: Order was cancelled

[2019-02-18 21:56] 0crat commented on #283
The job [#283](https://github.com/timelesslounge/timelessis/issues/283) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/d356c062-7072-4609-a434-430170b25ef5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-02-18 21:57] 0crat commented on #149
The job [#149](https://github.com/timelesslounge/timelessis/issues/149) is now out of scope

[2019-02-18 22:01] 0crat commented on #283
Job `gh:timelesslounge/timelessis#283` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2019-02-18 22:01] 0crat commented on #283
Job `gh:timelesslounge/timelessis#283` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2019-02-18 22:02] 0crat commented on #237
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-18 22:02] 0crat commented on #174
The job [#174](https://github.com/timelesslounge/timelessis/issues/174) is now out of scope

[2019-02-18 22:03] 0crat commented on #283
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-02-18 22:03] 0crat commented on #283
@emilianodellacasa Job `gh:timelesslounge/timelessis#283` already assigned to @carlosmiranda, can't assign to @marceloamadeu

[2019-02-18 22:06] 0crat commented on #283
The job [#283](https://github.com/timelesslounge/timelessis/issues/283) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b4e808dc-8d8b-49b2-8473-59c76f1f601e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-02-18 22:07] 0crat commented on #283
Job `gh:timelesslounge/timelessis#283` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2019-02-18 22:07] 0crat commented on #248
@ekondrashev[/z](https://www.0crat.com/u/ekondrashev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-18 22:08] 0crat commented on #221
@paulodamaso This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#221](https://github.com/timelesslounge/timelessis/issues/221) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) fo

[2019-02-18 22:08] 0crat commented on #289
Job [#289](https://github.com/timelesslounge/timelessis/issues/289) is now in scope, role is `DEV`

[2019-02-18 22:08] 0crat commented on #175
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-18 22:08] 0crat commented on #288
Job [#288](https://github.com/timelesslounge/timelessis/issues/288) is now in scope, role is `DEV`

[2019-02-18 22:08] 0crat commented on #235
@Vatavuk The impediment for [#235](https://github.com/timelesslounge/timelessis/issues/235) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-18 22:09] 0crat commented on #234
@Vatavuk The impediment for [#234](https://github.com/timelesslounge/timelessis/issues/234) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-18 22:09] 0crat commented on #183
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#183](https://github.com/timelesslounge/timelessis/issues/183), please stop working. Reason for job resignation: Order was cancelled

[2019-02-18 22:09] 0crat commented on #181
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#181](https://github.com/timelesslounge/timelessis/issues/181), please stop working. Reason for job resignation: Order was cancelled

[2019-02-18 22:09] 0crat commented on #206
Job [#206](https://github.com/timelesslounge/timelessis/issues/206) is not in the agenda of @krzyk[/z](https://www.0crat.com/u/krzyk), can't inspect

[2019-02-18 22:20] 0crat commented on #175
The job [#175](https://github.com/timelesslounge/timelessis/issues/175) is now out of scope

[2019-02-18 22:22] 0crat commented on #206
The job [#206](https://github.com/timelesslounge/timelessis/issues/206) is now out of scope

[2019-02-18 22:22] 0crat commented on #182
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-18 22:23] 0crat commented on #283
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-18 22:23] 0crat commented on #182
The job [#182](https://github.com/timelesslounge/timelessis/issues/182) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/3a7f795f-d6ea-4df8-9b7f-422234358a52); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-18 22:24] 0crat commented on #221
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-18 22:24] 0crat commented on #186
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-18 22:28] 0crat commented on #221
The job [#221](https://github.com/timelesslounge/timelessis/issues/221) is now out of scope

[2019-02-18 22:30] 0crat commented on #186
The job [#186](https://github.com/timelesslounge/timelessis/issues/186) is now out of scope

[2019-02-18 22:30] 0crat commented on #181
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-18 22:31] 0crat commented on #183
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-02-18 22:38] 0crat commented on #183
The job [#183](https://github.com/timelesslounge/timelessis/issues/183) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/350f3f6f-3cc5-4e41-ad39-45a795eac36e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-18 22:40] 0crat commented on #181
The job [#181](https://github.com/timelesslounge/timelessis/issues/181) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/7460ece1-9194-4044-bfde-fd12071aef45); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-18 22:49] 0crat commented on #284
The job [#284](https://github.com/timelesslounge/timelessis/issues/284) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/2cd27e69-3bcc-45aa-afc6-963c6305bf6d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-18 22:57] 0crat commented on #285
The job [#285](https://github.com/timelesslounge/timelessis/issues/285) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b7b0d800-8797-46d6-baae-01172d3716a2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-18 23:02] 0crat commented on #286
The job [#286](https://github.com/timelesslounge/timelessis/issues/286) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/005f31a0-8d5f-4e64-9b73-80c3ae106f85); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-18 23:14] 0crat commented on #289
The job [#289](https://github.com/timelesslounge/timelessis/issues/289) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b7f8b18a-7c11-4a74-aa6f-30e412970937); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 04:52] ekondrashev commented on #272
@emilianodellacasa may be, not sure. We need to ask reporter to try stamp heads  and see if it works.
I personally did not met reported #246 error

[2019-02-19 04:55] 0crat commented on #288
The job [#288](https://github.com/timelesslounge/timelessis/issues/288) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/09e2dff7-ef9d-4752-83e9-f0115a7d7ec6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-02-19 07:48] vladarefiev commented on #236
@0crat status

[2019-02-19 07:48] krzyk commented on #285
@0crat refuse

[2019-02-19 07:48] 0crat commented on #236
@vladarefiev The impediment for [#236](https://github.com/timelesslounge/timelessis/issues/236) was registered successfully by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-19 07:49] 0crat commented on #236
@vladarefiev This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#236](https://github.com/timelesslounge/timelessis/issues/236) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev) fo

[2019-02-19 07:49] krzyk commented on #286
@0crat refuse

[2019-02-19 07:54] ypshenychka commented on #149
@0crat quality good

[2019-02-19 07:56] ypshenychka commented on #174
@0crat quality good

[2019-02-19 07:57] ypshenychka commented on #175
@0crat quality good

[2019-02-19 08:00] ypshenychka commented on #221
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/timelesslounge/timelessis/pull/227/commits/5757972f6364936d369b47d6428d28eead103184) of your commits contains link to another issue. Please confirm you'll try to avoid this mistake in future.

[2019-02-19 08:02] 0crat commented on #286
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#286](https://github.com/timelesslounge/timelessis/issues/286), please stop working. Reason for job resignation: Order was cancelled

[2019-02-19 08:03] ypshenychka commented on #186
@vladarefiev According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/timelesslounge/timelessis/pull/275/commits/1a7bf6bc7e7067ecd0d154dff1c6b350c651b20a) of your commits doesn't contain linnk to issue. Please confirm you'll try to avoid this mistake in future.

[2019-02-19 08:04] vladarefiev commented on #186
@ypshenychka confirm

[2019-02-19 08:06] ypshenychka commented on #186
@vladarefiev thanks

[2019-02-19 08:06] ypshenychka commented on #186
@0crat quality acceptable

[2019-02-19 08:19] 0crat commented on #149
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 08:19] 0crat commented on #286
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-19 08:19] 0crat commented on #149
Order was finished, quality is "good": +35 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-02-19 08:28] carlosmiranda commented on #239
@emilianodellacasa see PR #295

[2019-02-19 08:35] 0crat commented on #174
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-19 08:37] 0pdd commented on #224
The puzzle `115-f221d667` has disappeared from the source code, that's why I closed this issue.

[2019-02-19 08:37] #224 closed

[2019-02-19 08:37] 0pdd opened #296 "README.md:260-262: We need a more user friendly way to..."
The puzzle `224-90cc17e9` from #224 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/29f46e8c6d552800ec2799e106d17e0426edb78a/README.md#L260-L262

The puzzle was created by Carlos Miranda on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2019-02-19 08:37] 0pdd commented on #47
@emilianodellacasa the puzzle [#296](https://github.com/timelesslounge/timelessis/issues/296) is still not solved; solved: [#114](https://github.com/timelesslounge/timelessis/issues/114), [#115](https://github.com/timelesslounge/timelessis/issues/115), [#116](https://github.com/timelesslounge/timelessis/issues/116), [#191](https://github.com/timelesslounge/timelessis/issues/191), [#224](https://gi

[2019-02-19 08:38] 0pdd commented on #115
@0pdd the puzzle [#296](https://github.com/timelesslounge/timelessis/issues/296) is still not solved; solved: [#224](https://github.com/timelesslounge/timelessis/issues/224).

[2019-02-19 08:38] 0pdd commented on #224
@0pdd the puzzle [#296](https://github.com/timelesslounge/timelessis/issues/296) is still not solved.

[2019-02-19 08:38] 0crat commented on #296
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 08:40] 0crat commented on #174
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 08:50] 0crat commented on #175
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 08:54] 0crat commented on #175
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-19 09:03] 0pdd opened #297 "property_resource.py:8-14: Implement FileResource...."
The puzzle `269-55b0fbf9` from #269 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/87bb7e6b49db5cc96e844bed736249f04170bc06/timeless/message/property_resource.py#L8-L14

The puzzle was created by Paulo Lobo on 15-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-02-19 09:03] 0pdd commented on #5
@emilianodellacasa 4 puzzles [#200](https://github.com/timelesslounge/timelessis/issues/200), [#269](https://github.com/timelesslounge/timelessis/issues/269), [#297](https://github.com/timelesslounge/timelessis/issues/297), [#60](https://github.com/timelesslounge/timelessis/issues/60) are still not solved; solved: [#201](https://github.com/timelesslounge/timelessis/issues/201), [#59](https://githu

[2019-02-19 09:03] 0pdd commented on #59
@0pdd 3 puzzles [#200](https://github.com/timelesslounge/timelessis/issues/200), [#269](https://github.com/timelesslounge/timelessis/issues/269), [#297](https://github.com/timelesslounge/timelessis/issues/297) are still not solved; solved: [#201](https://github.com/timelesslounge/timelessis/issues/201).

[2019-02-19 09:03] 0pdd commented on #201
@0pdd 2 puzzles [#269](https://github.com/timelesslounge/timelessis/issues/269), [#297](https://github.com/timelesslounge/timelessis/issues/297) are still not solved.

[2019-02-19 09:03] 0pdd commented on #269
@0pdd the puzzle [#297](https://github.com/timelesslounge/timelessis/issues/297) is still not solved.

[2019-02-19 09:03] 0crat commented on #297
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 09:16] 0crat commented on #186
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 09:16] 0crat commented on #186
Order was finished, quality is "acceptable": +30 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-19 09:20] 0pdd opened #298 "manager_privileges.py:16-19: Add role to the employee..."
The puzzle `176-54367cd5` from #176 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/6f057773e6afa62de0c0ce792e40d30622961712/timeless/access_control/manager_privileges.py#L16-L19

The puzzle was created by Krzysztof Krason on 17-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2019-02-19 09:20] 0pdd commented on #22
@emilianodellacasa 11 puzzles [#176](https://github.com/timelesslounge/timelessis/issues/176), [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#181](https://github.com/timelesslounge/timelessis/issues/181), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#183](https://github.com/timelesslounge/time

[2019-02-19 09:20] 0pdd commented on #176
@0pdd the puzzle [#298](https://github.com/timelesslounge/timelessis/issues/298) is still not solved.

[2019-02-19 09:21] 0crat commented on #298
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 09:26] 0crat commented on #293
Job [#293](https://github.com/timelesslounge/timelessis/issues/293) is now in scope, role is `DEV`

[2019-02-19 09:35] 0crat commented on #291
Job [#291](https://github.com/timelesslounge/timelessis/issues/291) is now in scope, role is `DEV`

[2019-02-19 09:36] 0pdd commented on #248
The puzzle `240-24a1360a` has disappeared from the source code, that's why I closed this issue.

[2019-02-19 09:36] #248 closed

[2019-02-19 09:37] 0pdd opened #299 "install_db.sh:3-5: Implement a service for Postgres...."
The puzzle `248-2f8cb0ee` from #248 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/dab4df72003b99610431e6b3df5251524adabf8f/scripts/install/deploy/install_db.sh#L3-L5

The puzzle was created by Eugene Kondrashev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-02-19 09:37] 0pdd opened #300 "install_redis.sh:3-5: Implement a service for Redis...."
The puzzle `248-ab443c03` from #248 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/dab4df72003b99610431e6b3df5251524adabf8f/scripts/install/deploy/install_redis.sh#L3-L5

The puzzle was created by Eugene Kondrashev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-02-19 09:37] 0pdd commented on #45
@emilianodellacasa 4 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300) are still not solved; solved: [#126](https://github.com/timelesslounge/timelessis/issues/126), [#240](https://gi

[2019-02-19 09:37] 0pdd commented on #126
@0pdd 4 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300) are still not solved; solved: [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://github.com/time

[2019-02-19 09:37] 0pdd commented on #240
@0pdd 2 puzzles [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300) are still not solved; solved: [#248](https://github.com/timelesslounge/timelessis/issues/248).

[2019-02-19 09:37] 0pdd commented on #248
@0pdd 2 puzzles [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300) are still not solved.

[2019-02-19 09:37] 0crat commented on #299
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 09:37] 0crat commented on #296
Job [#296](https://github.com/timelesslounge/timelessis/issues/296) is now in scope, role is `DEV`

[2019-02-19 09:39] 0crat commented on #300
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 09:39] 0crat commented on #292
Job [#292](https://github.com/timelesslounge/timelessis/issues/292) is now in scope, role is `DEV`

[2019-02-19 09:47] 0crat commented on #224
Job was finished in 36 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-19 09:47] 0crat commented on #286
The job [#286](https://github.com/timelesslounge/timelessis/issues/286) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/eb05b212-6c8d-4e63-9274-c443116a58fc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-19 09:48] emilianodellacasa commented on #56
@bkuzmic Are you working on this? May I assign to someone else less busy? Please let me know

[2019-02-19 09:56] 0crat commented on #297
Job [#297](https://github.com/timelesslounge/timelessis/issues/297) is now in scope, role is `DEV`

[2019-02-19 09:59] 0crat commented on #224
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-19 10:02] 0crat commented on #298
Job [#298](https://github.com/timelesslounge/timelessis/issues/298) is now in scope, role is `DEV`

[2019-02-19 10:06] 0crat commented on #224
The job [#224](https://github.com/timelesslounge/timelessis/issues/224) is now out of scope

[2019-02-19 10:11] ypshenychka commented on #224
@lastk  According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/timelesslounge/timelessis/issues/224#issuecomment-464499688) by indicating an addressee in the beginning.

[2019-02-19 10:13] ypshenychka commented on #206
@0crat status

[2019-02-19 10:14] emilianodellacasa commented on #234
@Vatavuk let's take the faster approach, if we will ever need FactoryBot we will add it

[2019-02-19 10:16] emilianodellacasa commented on #289
@0crat assign @salgadobreno

[2019-02-19 10:17] 0crat commented on #299
Job [#299](https://github.com/timelesslounge/timelessis/issues/299) is now in scope, role is `DEV`

[2019-02-19 10:19] 0crat commented on #300
Job [#300](https://github.com/timelesslounge/timelessis/issues/300) is now in scope, role is `DEV`

[2019-02-19 10:20] emilianodellacasa commented on #299
@0crat assign @marceloamadeu

[2019-02-19 10:26] bkuzmic commented on #56
@emilianodellacasa I wanted to finish the GenericView (#173) first to be able to reuse it. Sorry for taking it too long - I've had problems with caching. As soon as the #173 is merged, I'll get to this one.

[2019-02-19 10:29] #176 closed

[2019-02-19 10:29] 0pdd commented on #176
The puzzle `22-a5b13305` has disappeared from the source code, that's why I closed this issue.

[2019-02-19 10:29] 0pdd commented on #22
@emilianodellacasa 10 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#181](https://github.com/timelesslounge/timelessis/issues/181), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#183](https://github.com/timelesslounge/timelessis/issues/183), [#241](https://github.com/timelesslounge/time

[2019-02-19 10:31] emilianodellacasa commented on #56
@emilianodellacasa No problem, thank you so much, keep working on this!

[2019-02-19 10:32] 0crat commented on #248
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ekondrashev[/z](https://www.0crat.com/u/ekondrashev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-19 10:43] 0crat commented on #206
@ypshenychka This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#206](https://github.com/timelesslounge/timelessis/issues/206) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 12hr
  * @krzyk[/z](https://www.0crat.com/u/krz

[2019-02-19 10:48] 0crat commented on #248
The job [#248](https://github.com/timelesslounge/timelessis/issues/248) is now out of scope

[2019-02-19 10:59] 0crat commented on #289
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @salgadobreno[/z](https://www.0crat.com/u/salgadobreno) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-02-19 10:59] 0crat commented on #289
@emilianodellacasa The job [#289](https://github.com/timelesslounge/timelessis/issues/289) assigned to @salgadobreno[/z](https://www.0crat.com/u/salgadobreno), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/933912be-4296-4432-a362-1d8995b71346); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](ht

[2019-02-19 11:03] 0crat commented on #299
@emilianodellacasa The job [#299](https://github.com/timelesslounge/timelessis/issues/299) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/81b27375-80dd-4b7b-a0d8-115eaa10094b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](

[2019-02-19 11:10] 0crat commented on #289
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-19 11:10] 0crat commented on #176
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-19 11:17] 0crat commented on #299
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-19 11:19] 0crat commented on #176
The job [#176](https://github.com/timelesslounge/timelessis/issues/176) is now out of scope

[2019-02-19 11:35] paulodamaso commented on #221
@ypshenychka I confirm

[2019-02-19 11:45] 0crat commented on #255
@ekondrashev[/z](https://www.0crat.com/u/ekondrashev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-19 12:18] 0crat commented on #293
The job [#293](https://github.com/timelesslounge/timelessis/issues/293) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/e15c7c32-05ec-40cb-ae79-95a1f5255bdc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-19 12:33] 0crat commented on #291
The job [#291](https://github.com/timelesslounge/timelessis/issues/291) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/658ec235-a31c-41af-90d9-f226eff6422c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-19 12:52] 0crat commented on #292
The job [#292](https://github.com/timelesslounge/timelessis/issues/292) assigned to @salgadobreno[/z](https://www.0crat.com/u/salgadobreno), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/6e9be888-122c-4f39-be4d-af52dbab83f9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-02-19 12:52] 0crat commented on #292
Job `gh:timelesslounge/timelessis#292` already assigned to @salgadobreno, can't assign to @blackout314

[2019-02-19 12:54] paulodamaso commented on #269
@emilianodellacasa Forgot to remove the puzzle (again), please take a look

[2019-02-19 12:56] bkuzmic commented on #173
@0crat wait for #287 to merge.

[2019-02-19 13:12] 0crat commented on #173
@bkuzmic The impediment for [#173](https://github.com/timelesslounge/timelessis/issues/173) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-19 13:13] 0crat commented on #296
The job [#296](https://github.com/timelesslounge/timelessis/issues/296) assigned to @salgadobreno[/z](https://www.0crat.com/u/salgadobreno), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1fdb7a6a-c6c7-465f-b67d-1d01f017ab90); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-02-19 13:15] 0crat commented on #296
Job `gh:timelesslounge/timelessis#296` already assigned to @salgadobreno, can't assign to @salgadobreno

[2019-02-19 13:34] 0crat commented on #297
The job [#297](https://github.com/timelesslounge/timelessis/issues/297) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/6703ab09-a88b-48c2-87d9-267112967239); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 13:55] 0crat commented on #298
Job `gh:timelesslounge/timelessis#298` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-19 13:55] 0crat commented on #298
The job [#298](https://github.com/timelesslounge/timelessis/issues/298) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/4457df60-4eb6-4ed6-8087-e2e0e0ac6b6e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 13:58] 0crat commented on #298
Job `gh:timelesslounge/timelessis#298` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-19 14:12] #269 closed

[2019-02-19 14:12] 0pdd commented on #269
The puzzle `201-b5198280` has disappeared from the source code, that's why I closed this issue.

[2019-02-19 14:12] 0pdd commented on #5
@emilianodellacasa 3 puzzles [#200](https://github.com/timelesslounge/timelessis/issues/200), [#297](https://github.com/timelesslounge/timelessis/issues/297), [#60](https://github.com/timelesslounge/timelessis/issues/60) are still not solved; solved: [#201](https://github.com/timelesslounge/timelessis/issues/201), [#269](https://github.com/timelesslounge/timelessis/issues/269), [#59](https://githu

[2019-02-19 14:12] 0pdd commented on #59
@0pdd 2 puzzles [#200](https://github.com/timelesslounge/timelessis/issues/200), [#297](https://github.com/timelesslounge/timelessis/issues/297) are still not solved; solved: [#201](https://github.com/timelesslounge/timelessis/issues/201), [#269](https://github.com/timelesslounge/timelessis/issues/269).

[2019-02-19 14:12] 0pdd commented on #201
@0pdd the puzzle [#297](https://github.com/timelesslounge/timelessis/issues/297) is still not solved; solved: [#269](https://github.com/timelesslounge/timelessis/issues/269).

[2019-02-19 14:13] ypshenychka commented on #206
@0crat quality good

[2019-02-19 14:15] 0crat commented on #300
The job [#300](https://github.com/timelesslounge/timelessis/issues/300) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/f9be0452-96eb-42e2-b4e6-ef829578408d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 14:16] ypshenychka commented on #248
@ekondrashev According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/timelesslounge/timelessis/pull/257/commits/bb0ff00bd2726a8513b63378cc7f282d479d6a53) of your commits contains plain issue number instead of link. Please confirm you'll try to avoid this mistake in future.

[2019-02-19 14:16] ypshenychka commented on #221
@paulodamaso thanks

[2019-02-19 14:16] ypshenychka commented on #221
@0crat quality acceptable

[2019-02-19 14:21] ypshenychka commented on #176
@0crat quality good

[2019-02-19 14:28] krzyk commented on #181
@0crat waiting for review of PR #304

[2019-02-19 14:28] krzyk commented on #285
@0crat refuse

[2019-02-19 14:33] 0pdd opened #305 "it_floors_test.py:9-11: Once issue with cache (#273) is..."
The puzzle `173-1b9752ab` from #173 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/43a0e0ec6d04b326ce0c63a8d143430b376aa6e6/tests/integration/it_floors_test.py#L9-L11

The puzzle was created by Boris Kuzmic on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-02-19 14:33] 0pdd opened #306 "views.py:22-24: Refactor (and uncomment) views below to..."
The puzzle `173-b323501f` from #173 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/43a0e0ec6d04b326ce0c63a8d143430b376aa6e6/timeless/reservations/views.py#L22-L24

The puzzle was created by Boris Kuzmic on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-19 14:33] 0crat commented on #305
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 14:33] 0pdd opened #307 "views.py:2-5: Continue implementing FormView, CreateView,..."
The puzzle `173-da07ec99` from #173 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/43a0e0ec6d04b326ce0c63a8d143430b376aa6e6/timeless/views.py#L2-L5

The puzzle was created by Boris Kuzmic on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fr

[2019-02-19 14:33] 0crat commented on #306
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 14:33] 0pdd opened #308 "views.py:6-11: Implement checking for permissions (like..."
The puzzle `173-17efae76` from #173 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/43a0e0ec6d04b326ce0c63a8d143430b376aa6e6/timeless/views.py#L6-L11

The puzzle was created by Boris Kuzmic on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ f

[2019-02-19 14:33] 0pdd opened #309 "views.py:12-15: Refactor all blueprint views to use..."
The puzzle `173-c2c60757` from #173 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/43a0e0ec6d04b326ce0c63a8d143430b376aa6e6/timeless/views.py#L12-L15

The puzzle was created by Boris Kuzmic on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-19 14:33] 0pdd opened #310 "views.py:16-17: Once CreateView is implemented, refactor..."
The puzzle `173-407b679d` from #173 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/43a0e0ec6d04b326ce0c63a8d143430b376aa6e6/timeless/views.py#L16-L17

The puzzle was created by Boris Kuzmic on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-19 14:33] 0crat commented on #308
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 14:33] 0pdd opened #311 "views.py:18-20: Once UpdateView is implemented, refactor..."
The puzzle `173-825cf970` from #173 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/43a0e0ec6d04b326ce0c63a8d143430b376aa6e6/timeless/views.py#L18-L20

The puzzle was created by Boris Kuzmic on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-19 14:33] 0pdd opened #312 "views.py:21-23: Once DeleteView is implemented, refactor..."
The puzzle `173-ed27940d` from #173 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/43a0e0ec6d04b326ce0c63a8d143430b376aa6e6/timeless/views.py#L21-L23

The puzzle was created by Boris Kuzmic on 18-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-02-19 14:33] 0pdd commented on #173
@vryazanov 8 puzzles [#305](https://github.com/timelesslounge/timelessis/issues/305), [#306](https://github.com/timelesslounge/timelessis/issues/306), [#307](https://github.com/timelesslounge/timelessis/issues/307), [#308](https://github.com/timelesslounge/timelessis/issues/308), [#309](https://github.com/timelesslounge/timelessis/issues/309), [#310](https://github.com/timelesslounge/timelessis/is

[2019-02-19 14:34] 0crat commented on #307
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 14:34] 0crat commented on #312
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 14:34] 0crat commented on #311
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 14:35] 0crat commented on #310
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 14:35] 0crat commented on #309
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 14:48] bkuzmic commented on #173
@vryazanov Please close the issue now that PR is merged.

[2019-02-19 14:50] #173 closed

[2019-02-19 15:02] 0crat commented on #221
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-19 15:02] 0crat commented on #285
@krzyk Job `gh:timelesslounge/timelessis#285` is not assigned, can't get performer

[2019-02-19 15:02] 0crat commented on #285
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#285](https://github.com/timelesslounge/timelessis/issues/285), please stop working. Reason for job resignation: Order was cancelled

[2019-02-19 15:05] 0crat commented on #181
@krzyk The impediment for [#181](https://github.com/timelesslounge/timelessis/issues/181) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-19 15:05] 0crat commented on #206
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 15:08] 0crat commented on #221
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 15:09] 0crat commented on #206
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-19 15:26] 0crat commented on #269
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-19 15:26] 0crat commented on #305
Job [#305](https://github.com/timelesslounge/timelessis/issues/305) is now in scope, role is `DEV`

[2019-02-19 15:26] 0crat commented on #307
Job [#307](https://github.com/timelesslounge/timelessis/issues/307) is now in scope, role is `DEV`

[2019-02-19 15:26] 0crat commented on #312
Job [#312](https://github.com/timelesslounge/timelessis/issues/312) is now in scope, role is `DEV`

[2019-02-19 15:27] 0crat commented on #311
Job [#311](https://github.com/timelesslounge/timelessis/issues/311) is now in scope, role is `DEV`

[2019-02-19 15:27] 0crat commented on #310
Job [#310](https://github.com/timelesslounge/timelessis/issues/310) is now in scope, role is `DEV`

[2019-02-19 15:27] 0crat commented on #309
Job [#309](https://github.com/timelesslounge/timelessis/issues/309) is now in scope, role is `DEV`

[2019-02-19 15:27] 0crat commented on #176
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-19 15:27] 0crat commented on #176
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 15:30] 0crat commented on #285
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-19 15:38] #260 closed

[2019-02-19 15:38] 0crat commented on #173
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-19 15:38] 0pdd opened #314 "it_table_shapes_test.py:46-53: Lets encapsulate the way..."
The puzzle `260-a7ade08a` from #260 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fcd58cef9e7ad7bdd02d7ffd51f2acab9cf59485/tests/integration/it_table_shapes_test.py#L46-L53

The puzzle was created by @ekondrashev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-02-19 15:38] 0pdd opened #315 "it_table_shapes_test.py:54-56: Uncomment below assertion..."
The puzzle `260-f7abb4b5` from #260 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fcd58cef9e7ad7bdd02d7ffd51f2acab9cf59485/tests/integration/it_table_shapes_test.py#L54-L56

The puzzle was created by @ekondrashev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-02-19 15:38] 0pdd opened #316 "views.py:19-21: Implement filtering of table shapes from..."
The puzzle `260-042ad018` from #260 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fcd58cef9e7ad7bdd02d7ffd51f2acab9cf59485/timeless/restaurants/table_shapes/views.py#L19-L21

The puzzle was created by Eugene Kondrashev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-02-19 15:39] 0crat commented on #314
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 15:39] 0pdd opened #317 "views.py:5-10: Define GenericFilter and subclasses per..."
The puzzle `260-e223b806` from #260 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/fcd58cef9e7ad7bdd02d7ffd51f2acab9cf59485/timeless/templates/views.py#L5-L10

The puzzle was created by Eugene Kondrashev on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-19 15:39] 0pdd commented on #13
@emilianodellacasa 8 puzzles [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timel

[2019-02-19 15:39] 0pdd commented on #72
@0pdd 8 puzzles [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/

[2019-02-19 15:39] 0pdd commented on #162
@0pdd 8 puzzles [#204](https://github.com/timelesslounge/timelessis/issues/204), [#205](https://github.com/timelesslounge/timelessis/issues/205), [#285](https://github.com/timelesslounge/timelessis/issues/285), [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/

[2019-02-19 15:39] 0pdd commented on #203
@0pdd 4 puzzles [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317) are still not solved; solved: [#260](https://github.com/timelesslounge/timelessis/issues/260).

[2019-02-19 15:39] 0pdd commented on #260
@0pdd 4 puzzles [#314](https://github.com/timelesslounge/timelessis/issues/314), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316), [#317](https://github.com/timelesslounge/timelessis/issues/317) are still not solved.

[2019-02-19 15:39] 0crat commented on #317
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 15:39] 0crat commented on #316
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 15:40] 0crat commented on #315
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 15:41] 0crat commented on #173
The job [#173](https://github.com/timelesslounge/timelessis/issues/173) is now out of scope

[2019-02-19 15:45] ypshenychka commented on #173
@0crat quality good

[2019-02-19 16:08] vladarefiev commented on #267
@0crat wait https://github.com/timelesslounge/timelessis/issues/289
I can do nothing till CrudAPIView is not done.

[2019-02-19 16:09] 0crat commented on #314
Job [#314](https://github.com/timelesslounge/timelessis/issues/314) is now in scope, role is `DEV`

[2019-02-19 16:09] 0crat commented on #315
Job [#315](https://github.com/timelesslounge/timelessis/issues/315) is now in scope, role is `DEV`

[2019-02-19 16:24] 0crat commented on #317
Job [#317](https://github.com/timelesslounge/timelessis/issues/317) is now in scope, role is `DEV`

[2019-02-19 16:34] 0crat commented on #316
Job [#316](https://github.com/timelesslounge/timelessis/issues/316) is now in scope, role is `DEV`

[2019-02-19 16:34] 0crat commented on #177
The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#177](https://github.com/timelesslounge/timelessis/issues/177), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-02-19 16:44] 0crat commented on #178
The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#178](https://github.com/timelesslounge/timelessis/issues/178), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-02-19 16:45] 0crat commented on #178
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2019-02-19 16:45] 0crat commented on #177
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2019-02-19 16:53] 0crat commented on #267
@vladarefiev The impediment for [#267](https://github.com/timelesslounge/timelessis/issues/267) was registered successfully by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-02-19 16:55] 0crat commented on #173
Order was finished, quality is "good": +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-02-19 16:56] 0crat commented on #173
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 17:18] 0crat commented on #177
The job [#177](https://github.com/timelesslounge/timelessis/issues/177) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/de3bdbc4-9c88-4705-9c7d-cf87dac02b61); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-19 17:18] 0crat commented on #177
Job `gh:timelesslounge/timelessis#177` already assigned to @amihaiemil, can't assign to @amihaiemil

[2019-02-19 17:19] paulodamaso commented on #300
@emilianodellacasa Looks like this is already implemented, please take a look

[2019-02-19 17:25] emilianodellacasa commented on #300
@paulodamaso Now we only check if Redis is running when we are deploying, but we should also make sure that it starts at boot

[2019-02-19 17:35] paulodamaso commented on #300
@emilianodellacasa You say putting them in dockerfile?

[2019-02-19 17:36] emilianodellacasa commented on #300
@paulodamaso No, it's deploying, talking about the staging (or production) server

[2019-02-19 17:42] ammaratef45 commented on #305
@emilianodellacasa this is solved once we merge #294
needs just to remove the todo and the fixture
I can do this if you permit.

[2019-02-19 17:46] emilianodellacasa commented on #305
@0crat assign @ammaratef45

[2019-02-19 17:46] emilianodellacasa commented on #305
@ammaratef45 Sure, thanks

[2019-02-19 17:49] 0crat commented on #178
The job [#178](https://github.com/timelesslounge/timelessis/issues/178) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1b35497f-62d4-482c-a065-f9ed9e86fe20); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-19 17:49] 0crat commented on #178
Job `gh:timelesslounge/timelessis#178` already assigned to @vryazanov, can't assign to @vryazanov

[2019-02-19 17:52] paulodamaso commented on #300
@emilianodellacasa So call them from `deploy.sh`? I'm sorry but I'm a little confused here

[2019-02-19 17:53] paulodamaso commented on #269
@ypshenychka ping

[2019-02-19 18:10] #217 closed

[2019-02-19 18:11] 0pdd commented on #217
The puzzle `142-43e9175c` has disappeared from the source code, that's why I closed this issue.

[2019-02-19 18:11] 0pdd opened #318 "models.py:36-39: Implement function to return item..."
The puzzle `217-abdb84b1` from #217 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/116ee0308b53c57e9ca1171915f6dbdcfa5be751/timeless/items/models.py#L36-L39

The puzzle was created by Paulo Lobo on 15-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-02-19 18:11] 0pdd commented on #15
@emilianodellacasa 2 puzzles [#270](https://github.com/timelesslounge/timelessis/issues/270), [#318](https://github.com/timelesslounge/timelessis/issues/318) are still not solved; solved: [#141](https://github.com/timelesslounge/timelessis/issues/141), [#142](https://github.com/timelesslounge/timelessis/issues/142), [#217](https://github.com/timelesslounge/timelessis/issues/217).

[2019-02-19 18:11] 0pdd commented on #142
@0pdd the puzzle [#318](https://github.com/timelesslounge/timelessis/issues/318) is still not solved; solved: [#217](https://github.com/timelesslounge/timelessis/issues/217).

[2019-02-19 18:11] 0pdd commented on #217
@0pdd the puzzle [#318](https://github.com/timelesslounge/timelessis/issues/318) is still not solved.

[2019-02-19 18:11] 0crat commented on #318
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 18:12] 0crat commented on #305
@emilianodellacasa The job [#305](https://github.com/timelesslounge/timelessis/issues/305) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/7c357070-11da-4b7c-8b86-dcf38b488973); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2019-02-19 18:29] 0crat commented on #305
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-19 18:29] 0crat commented on #285
The job [#285](https://github.com/timelesslounge/timelessis/issues/285) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/d3e59875-c12e-42dd-bfca-d948a02ce96f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-19 18:35] 0crat commented on #318
Job [#318](https://github.com/timelesslounge/timelessis/issues/318) is now in scope, role is `DEV`

[2019-02-19 18:41] 0crat commented on #217
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-19 18:46] 0crat commented on #217
The job [#217](https://github.com/timelesslounge/timelessis/issues/217) is now out of scope

[2019-02-19 18:56] 0crat commented on #307
The job [#307](https://github.com/timelesslounge/timelessis/issues/307) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/faec283d-4640-41de-9d23-221dce4e2db0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-19 18:58] ypshenychka commented on #217
@0crat quality good

[2019-02-19 18:59] 0crat commented on #312
The job [#312](https://github.com/timelesslounge/timelessis/issues/312) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/17b35a14-1d2e-41e6-8b91-aae51de85084); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-19 19:01] 0crat commented on #311
The job [#311](https://github.com/timelesslounge/timelessis/issues/311) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/857ed2cc-e3a9-4b42-a793-8a90343c4e57); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 19:02] ypshenychka commented on #269
@0crat quality good

[2019-02-19 19:09] 0crat commented on #217
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 19:09] 0crat commented on #217
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-19 19:14] 0crat commented on #269
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-19 19:14] 0crat commented on #269
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-19 19:16] 0crat commented on #310
The job [#310](https://github.com/timelesslounge/timelessis/issues/310) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/d65ea4c0-ec58-4c3c-9c95-d88dea6ddacf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-19 19:47] 0crat commented on #309
The job [#309](https://github.com/timelesslounge/timelessis/issues/309) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1bd9dac3-a4f7-452a-81ba-69cf9e8f5914); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 19:49] 0crat commented on #315
The job [#315](https://github.com/timelesslounge/timelessis/issues/315) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/5d929f4e-0d24-4402-a08d-64e59834bb08); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 19:50] 0crat commented on #314
The job [#314](https://github.com/timelesslounge/timelessis/issues/314) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/bb604b00-a662-422a-90fd-8860c8e50e6a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 19:58] 0crat commented on #316
The job [#316](https://github.com/timelesslounge/timelessis/issues/316) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/4414c922-ca6d-4e72-afc0-eaad9bc4c7d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 19:59] 0crat commented on #317
The job [#317](https://github.com/timelesslounge/timelessis/issues/317) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/33e8979e-7e35-4b60-b25a-8cc074291e00); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 20:27] 0crat commented on #318
The job [#318](https://github.com/timelesslounge/timelessis/issues/318) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/878ef5f9-a8d3-47a0-abaa-504e5348988e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-19 21:16] Vatavuk opened #323 "Poster synchronization documentation"
There is no documentation about data synchronization between `Poster` app and timelessis tables. I propose to add description with following content:
1.  what tables/data are we synchronizing
2. How synchronization is done (through REST calls, maybe share a link to Poster API)
3. How frequently and with what technology for scheduling jobs

[2019-02-19 21:16] 0crat commented on #323
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-19 21:39] 0crat commented on #260
@ekondrashev[/z](https://www.0crat.com/u/ekondrashev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-19 21:40] Vatavuk opened #324 "Test_comment tests are redundant"
We have 8 tests in `test_comment.py` that appear they are testing `CommentView` but in fact they test `CrudAPIView` because all the crud methods are inherited from `CrudAPIView `. I believe these tests are redundant and we should remove them, because we have separate tests for `CrudAPIView`. Moreover we have IT tests for comments that pinpoints every view method. Leaving these tests could potentia

[2019-02-19 21:40] 0crat commented on #324
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 00:26] paulodamaso commented on #300
@emilianodellacasa ping

[2019-02-20 00:33] carlosmiranda commented on #224
@ypshenychka looks like @lastk removed the comment

[2019-02-20 00:36] lastk commented on #224
@ypshenychka I removed the comment,  it was irrelevant

[2019-02-20 00:44] 0crat commented on #261
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-20 00:46] 0crat commented on #262
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-20 03:56] paulodamaso commented on #200
@0crat wait for #327 review

[2019-02-20 03:57] 0crat commented on #200
@paulodamaso The impediment for [#200](https://github.com/timelesslounge/timelessis/issues/200) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-20 06:13] ammaratef45 commented on #241
@0crat wait for the PR review

[2019-02-20 07:00] 0crat commented on #241
@ammaratef45 The impediment for [#241](https://github.com/timelesslounge/timelessis/issues/241) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-20 07:03] ypshenychka commented on #224
@lastk thanks

[2019-02-20 07:03] ypshenychka commented on #224
@0crat quality acceptable

[2019-02-20 07:08] 0crat commented on #224
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-20 07:08] 0crat commented on #224
Order was finished, quality is "acceptable": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-20 08:19] 0pdd opened #328 "views.py:69-74: Implement actual fetching of..."
The puzzle `28-98750bdb` from #28 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/5057d1337262f3a17839c6a0802f495cf51bbd09/timeless/reservations/views.py#L69-L74

The puzzle was created by Carlos Miranda on 20-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-20 08:19] 0pdd commented on #28
@emilianodellacasa the puzzle [#328](https://github.com/timelesslounge/timelessis/issues/328) is still not solved.

[2019-02-20 08:19] 0crat commented on #328
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 08:25] 0crat commented on #328
Job [#328](https://github.com/timelesslounge/timelessis/issues/328) is now in scope, role is `DEV`

[2019-02-20 08:34] 0crat commented on #328
The job [#328](https://github.com/timelesslounge/timelessis/issues/328) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/7fdf4c8a-2064-4044-a32e-2d9b01fe7d47); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-20 08:44] carlosmiranda commented on #28
@emilianodellacasa #254 merged, may we close this now?

[2019-02-20 08:47] #181 closed

[2019-02-20 08:47] 0pdd commented on #181
The puzzle `22-0fe68fd2` has disappeared from the source code, that's why I closed this issue.

[2019-02-20 08:47] 0pdd opened #329 "test_authorization.py:7-9: This test stopped working..."
The puzzle `181-375c6297` from #181 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/7efee7958a33ae06ec816270ed9178006f4a595d/tests/test_authorization.py#L7-L9

The puzzle was created by Krzysztof Krason on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-02-20 08:47] 0pdd commented on #22
@emilianodellacasa 10 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#183](https://github.com/timelesslounge/timelessis/issues/183), [#241](https://github.com/timelesslounge/timelessis/issues/241), [#242](https://github.com/timelesslounge/time

[2019-02-20 08:47] 0pdd commented on #181
@0pdd the puzzle [#329](https://github.com/timelesslounge/timelessis/issues/329) is still not solved.

[2019-02-20 08:48] 0crat commented on #329
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 09:06] 0crat commented on #181
Job was finished in 34 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-20 09:06] 0crat commented on #181
Job [#181](https://github.com/timelesslounge/timelessis/issues/181) is not in the agenda of @krzyk[/z](https://www.0crat.com/u/krzyk), can't inspect

[2019-02-20 09:07] 0crat commented on #181
The job [#181](https://github.com/timelesslounge/timelessis/issues/181) is now out of scope

[2019-02-20 09:09] emilianodellacasa commented on #28
@carlosmiranda Sure, thanks!

[2019-02-20 09:09] #28 closed

[2019-02-20 09:16] 0crat commented on #329
Job [#329](https://github.com/timelesslounge/timelessis/issues/329) is now in scope, role is `DEV`

[2019-02-20 09:18] 0crat commented on #323
Job [#323](https://github.com/timelesslounge/timelessis/issues/323) is now in scope, role is `DEV`

[2019-02-20 09:28] 0crat commented on #323
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2019-02-20 09:30] 0crat commented on #329
The job [#329](https://github.com/timelesslounge/timelessis/issues/329) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b8a9b505-2812-408b-90a1-67030c590489); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-20 09:34] 0crat commented on #28
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-20 09:38] 0crat commented on #323
The job [#323](https://github.com/timelesslounge/timelessis/issues/323) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/5246d74d-2bd0-4177-b157-8c6a1198a3d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-20 09:38] 0pdd commented on #239
The puzzle `126-b9037461` has disappeared from the source code, that's why I closed this issue.

[2019-02-20 09:38] #239 closed

[2019-02-20 09:38] 0pdd commented on #45
@emilianodellacasa 3 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300) are still not solved; solved: [#126](https://github.com/timelesslounge/timelessis/issues/126), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://gi

[2019-02-20 09:38] 0pdd commented on #126
@0pdd 3 puzzles [#238](https://github.com/timelesslounge/timelessis/issues/238), [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300) are still not solved; solved: [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://github.com/time

[2019-02-20 09:42] ammaratef45 commented on #273
@vryazanov Is it fine after merging #294?

[2019-02-20 09:45] vryazanov commented on #273
@ammaratef45 bellissimo :+1:

[2019-02-20 09:45] #273 closed

[2019-02-20 09:45] 0crat commented on #28
The job [#28](https://github.com/timelesslounge/timelessis/issues/28) is now out of scope

[2019-02-20 09:47] ammaratef45 commented on #273
@vryazanov Grazie :laughing:

[2019-02-20 09:56] 0pdd opened #330 "it_companies_test.py:7-10: This test is broken when..."
The puzzle `183-ab247301` from #183 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/5b232fc7ce1fc61250b572c69ce4b2271cd2c1d3/tests/integration/it_companies_test.py#L7-L10

The puzzle was created by Vadim Ryazanov on 19-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-02-20 09:56] 0pdd commented on #22
@emilianodellacasa 11 puzzles [#177](https://github.com/timelesslounge/timelessis/issues/177), [#178](https://github.com/timelesslounge/timelessis/issues/178), [#182](https://github.com/timelesslounge/timelessis/issues/182), [#183](https://github.com/timelesslounge/timelessis/issues/183), [#241](https://github.com/timelesslounge/timelessis/issues/241), [#242](https://github.com/timelesslounge/time

[2019-02-20 09:56] 0pdd commented on #183
@0pdd the puzzle [#330](https://github.com/timelesslounge/timelessis/issues/330) is still not solved.

[2019-02-20 09:56] 0crat commented on #330
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-02-20 09:58] ypshenychka commented on #28
@carlosmiranda According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/timelesslounge/timelessis/pull/254/commits/c93cc26c2f95f46ea511ab635f5945165c43eb43) of your commits contains link to another issue. Please confirm you'll try to avoid this mistake in future.

[2019-02-20 09:59] ypshenychka commented on #28
@carlosmiranda According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details into registered [impediment](https://github.com/timelesslounge/timelessis/issues/28#issuecomment-458376892).

[2019-02-20 10:10] krzyk commented on #181
@0crat status

[2019-02-20 10:13] 0crat commented on #239
Job [#239](https://github.com/timelesslounge/timelessis/issues/239) is not in the agenda of @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), can't inspect

[2019-02-20 10:13] 0crat commented on #330
Job [#330](https://github.com/timelesslounge/timelessis/issues/330) is now in scope, role is `DEV`

[2019-02-20 10:15] emilianodellacasa commented on #300
@paulodamaso This how it is working now:

1) we call `release.sh` (has been renamed in last merge) to install webapp to staging server;
2) `scripts/install/deploy/install_dependencies.sh` is called to install python, postgres and redis with their own script;
3) in case of Redis, 'scripts/install/deploy/install_redis.sh' is called, where Redis is installed and run;

However, we still do not add a s

[2019-02-20 10:19] 0crat commented on #181
@krzyk This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#181](https://github.com/timelesslounge/timelessis/issues/181) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 1hr
  * @krzyk[/z](https://www.0crat.com/u/krzyk) wil

[2019-02-20 10:19] 0crat commented on #239
The job [#239](https://github.com/timelesslounge/timelessis/issues/239) is now out of scope

[2019-02-20 10:20] 0crat commented on #273
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed