[2019-03-09 11:17] 0crat commented on #356
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-09 13:28] 0pdd commented on #393
The puzzle `242-e2855a6d` has disappeared from the source code, that's why I closed this issue.

[2019-03-09 13:28] #393 closed

[2019-03-09 13:28] 0pdd commented on #22
@emilianodellacasa 8 puzzles [#358](https://github.com/timelesslounge/timelessis/issues/358), [#392](https://github.com/timelesslounge/timelessis/issues/392), [#425](https://github.com/timelesslounge/timelessis/issues/425), [#432](https://github.com/timelesslounge/timelessis/issues/432), [#433](https://github.com/timelesslounge/timelessis/issues/433), [#473](https://github.com/timelesslounge/timel

[2019-03-09 13:28] 0pdd commented on #180
@0pdd the puzzle [#392](https://github.com/timelesslounge/timelessis/issues/392) is still not solved; solved: [#241](https://github.com/timelesslounge/timelessis/issues/241), [#242](https://github.com/timelesslounge/timelessis/issues/242), [#393](https://github.com/timelesslounge/timelessis/issues/393).

[2019-03-09 13:28] 0pdd commented on #242
@0pdd the puzzle [#392](https://github.com/timelesslounge/timelessis/issues/392) is still not solved; solved: [#393](https://github.com/timelesslounge/timelessis/issues/393).

[2019-03-09 13:59] 0crat commented on #393
The job [#393](https://github.com/timelesslounge/timelessis/issues/393) is now out of scope

[2019-03-09 13:59] 0crat commented on #393
Job [#393](https://github.com/timelesslounge/timelessis/issues/393) is not in the agenda of @vryazanov[/z](https://www.0crat.com/u/vryazanov), can't inspect

[2019-03-09 13:59] 0crat commented on #393
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vryazanov[/z](https://www.0crat.com/u/vryazanov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-09 14:56] 0crat commented on #499
Job [#499](https://github.com/timelesslounge/timelessis/issues/499) is now in scope, role is `DEV`

[2019-03-09 14:56] 0crat commented on #503
Job [#503](https://github.com/timelesslounge/timelessis/issues/503) is now in scope, role is `DEV`

[2019-03-09 14:56] 0crat commented on #492
Job [#492](https://github.com/timelesslounge/timelessis/issues/492) is now in scope, role is `DEV`

[2019-03-09 15:01] 0crat commented on #423
Job [#423](https://github.com/timelesslounge/timelessis/issues/423) is now in scope, role is `DEV`

[2019-03-09 17:19] #484 closed

[2019-03-09 17:19] 0pdd commented on #484
The puzzle `215-3c3e97b9` has disappeared from the source code, that's why I closed this issue.

[2019-03-09 17:20] 0pdd commented on #27
@emilianodellacasa 2 puzzles [#379](https://github.com/timelesslounge/timelessis/issues/379), [#492](https://github.com/timelesslounge/timelessis/issues/492) are still not solved; solved: [#171](https://github.com/timelesslounge/timelessis/issues/171), [#172](https://github.com/timelesslounge/timelessis/issues/172), [#215](https://github.com/timelesslounge/timelessis/issues/215), [#235](https://gi

[2019-03-09 17:20] 0pdd commented on #172
@0pdd 2 puzzles [#379](https://github.com/timelesslounge/timelessis/issues/379), [#492](https://github.com/timelesslounge/timelessis/issues/492) are still not solved; solved: [#215](https://github.com/timelesslounge/timelessis/issues/215), [#235](https://github.com/timelesslounge/timelessis/issues/235), [#236](https://github.com/timelesslounge/timelessis/issues/236), [#380](https://github.com/time

[2019-03-09 17:20] 0pdd commented on #215
@0pdd the only puzzle [#484](https://github.com/timelesslounge/timelessis/issues/484) is solved here.

[2019-03-09 17:43] 0crat commented on #484
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-09 17:46] 0crat commented on #484
The job [#484](https://github.com/timelesslounge/timelessis/issues/484) is now out of scope

[2019-03-09 18:37] 0pdd commented on #494
The puzzle `338-ce2e954e` has disappeared from the source code, that's why I closed this issue.

[2019-03-09 18:37] #494 closed

[2019-03-09 18:37] 0pdd commented on #429
The puzzle `309-e0f3db47` has disappeared from the source code, that's why I closed this issue.

[2019-03-09 18:37] #429 closed

[2019-03-09 18:37] 0pdd commented on #11
@emilianodellacasa 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#499](https://github.com/timelesslounge/timelessis/issues/499) are still not solved; solved: [#133](https://gi

[2019-03-09 18:37] 0pdd commented on #42
@0pdd 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#499](https://github.com/timelesslounge/timelessis/issues/499) are still not solved; solved: [#133](https://github.com/time

[2019-03-09 18:37] 0pdd commented on #95
@0pdd 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#422](https://github.com/timelesslounge/timelessis/issues/422), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#499](https://github.com/timelesslounge/timelessis/issues/499) are still not solved; solved: [#192](https://github.com/time

[2019-03-09 18:37] 0pdd commented on #192
@0pdd the puzzle [#338](https://github.com/timelesslounge/timelessis/issues/338) is still not solved; solved: [#255](https://github.com/timelesslounge/timelessis/issues/255), [#494](https://github.com/timelesslounge/timelessis/issues/494).

[2019-03-09 18:37] 0pdd commented on #255
@0pdd the puzzle [#338](https://github.com/timelesslounge/timelessis/issues/338) is still not solved; solved: [#494](https://github.com/timelesslounge/timelessis/issues/494).

[2019-03-09 18:37] 0pdd commented on #338
@0pdd the only puzzle [#494](https://github.com/timelesslounge/timelessis/issues/494) is solved here.

[2019-03-09 18:37] 0pdd commented on #173
@vryazanov 5 puzzles [#430](https://github.com/timelesslounge/timelessis/issues/430), [#437](https://github.com/timelesslounge/timelessis/issues/437), [#442](https://github.com/timelesslounge/timelessis/issues/442), [#443](https://github.com/timelesslounge/timelessis/issues/443), [#475](https://github.com/timelesslounge/timelessis/issues/475) are still not solved; solved: [#305](https://github.com

[2019-03-09 18:37] 0pdd commented on #309
@0pdd the puzzle [#430](https://github.com/timelesslounge/timelessis/issues/430) is still not solved; solved: [#429](https://github.com/timelesslounge/timelessis/issues/429).

[2019-03-09 18:56] pablopaul commented on #502
@0crat /wait

[2019-03-09 18:58] 0crat commented on #494
Job `gh:timelesslounge/timelessis#494` is not assigned, can't get performer

[2019-03-09 18:58] pablopaul commented on #502
@0crat wait

[2019-03-09 19:00] 0crat commented on #494
The job [#494](https://github.com/timelesslounge/timelessis/issues/494) is now out of scope

[2019-03-09 19:03] pablopaul opened #514 "React Integration Missing"
React needs to be integrated in the project before I am able to develop #502

Integration means:
* Setup React dependencies (I will use https://github.com/facebook/create-react-app)
* Add React test execution to CI
* Add React development workflow to readme

[2019-03-09 19:03] 0crat commented on #514
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-09 19:03] 0crat commented on #429
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-09 19:04] emilianodellacasa commented on #514
@pablopaul could you do it?

[2019-03-09 19:05] 0crat commented on #429
Job [#429](https://github.com/timelesslounge/timelessis/issues/429) is not in the agenda of @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), can't inspect

[2019-03-09 19:05] 0crat commented on #502
@pablopaul The impediment for [#502](https://github.com/timelesslounge/timelessis/issues/502) was registered successfully by @pablopaul[/z](https://www.0crat.com/u/pablopaul)

[2019-03-09 19:05] 0crat commented on #429
The job [#429](https://github.com/timelesslounge/timelessis/issues/429) is now out of scope

[2019-03-09 19:06] 0crat commented on #514
Job [#514](https://github.com/timelesslounge/timelessis/issues/514) is now in scope, role is `DEV`

[2019-03-09 19:09] 0crat commented on #514
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @pablopaul[/z](https://www.0crat.com/u/pablopaul)

[2019-03-09 19:13] pablopaul opened #515 "Specification lacks important cross browser and cross device support matrix"
The readme says

This needs to be expanded into a specific matrix with at least the following schema, which shows just one example per device category:

| Device        | Device Version           |Browser           | Browser Version  |
| ------------- |:-------------:| -----:|-----:|
| Desktop |       | IE | 11 |
| Tablet Galaxy | S5 | Google Chrome      |   latest |
| Mobile iPhone | 8 | Safari m

[2019-03-09 19:14] 0crat commented on #515
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-09 19:15] pablopaul commented on #514
@emilianodellacasa yes I can do it.

[2019-03-09 19:21] pablopaul opened #517 "Specification lacks info about React -> Backend Communication Concept"
Readme should explain the general concept how React communicates with the provided backend.

An important info to add his how authentication works in that concept, I advise to use https://jwt.io for that purpose. So at least explain how to:
* get a valid auth token
* refresh the auth token

[2019-03-09 19:21] 0crat commented on #517
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-09 19:26] emilianodellacasa commented on #514
@0crat assign @pablopaul

[2019-03-09 19:29] 0crat commented on #514
@emilianodellacasa The job [#514](https://github.com/timelesslounge/timelessis/issues/514) assigned to @pablopaul[/z](https://www.0crat.com/u/pablopaul), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/e1a0883a-8867-4367-822d-f076de6f11c8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://w

[2019-03-09 19:29] 0crat commented on #514
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-09 19:29] 0crat commented on #514
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-09 19:30] pablopaul opened #518 "Supply Reservation Page Route"
In order to develop #502 the application needs to supply the reservation page route.

The view needs to include the provided React JS code, please include a placeholder for that, the actual path can be updated with #514.

[2019-03-09 19:30] 0crat commented on #518
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-09 19:38] #490 closed

[2019-03-09 19:38] 0pdd commented on #490
The puzzle `374-ef460cff` has disappeared from the source code, that's why I closed this issue.

[2019-03-09 19:38] 0pdd commented on #45
@emilianodellacasa all 9 puzzles are solved here: [#126](https://github.com/timelesslounge/timelessis/issues/126), [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://github.com/timelesslounge/timelessis/issues/248), [#299](https://github.com

[2019-03-09 19:38] 0pdd commented on #126
@0pdd all 8 puzzles are solved here: [#238](https://github.com/timelesslounge/timelessis/issues/238), [#239](https://github.com/timelesslounge/timelessis/issues/239), [#240](https://github.com/timelesslounge/timelessis/issues/240), [#248](https://github.com/timelesslounge/timelessis/issues/248), [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelessloun

[2019-03-09 19:38] 0pdd commented on #240
@0pdd all 5 puzzles are solved here: [#248](https://github.com/timelesslounge/timelessis/issues/248), [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300), [#374](https://github.com/timelesslounge/timelessis/issues/374), [#490](https://github.com/timelesslounge/timelessis/issues/490).

[2019-03-09 19:38] 0pdd commented on #248
@0pdd all 4 puzzles are solved here: [#299](https://github.com/timelesslounge/timelessis/issues/299), [#300](https://github.com/timelesslounge/timelessis/issues/300), [#374](https://github.com/timelesslounge/timelessis/issues/374), [#490](https://github.com/timelesslounge/timelessis/issues/490).

[2019-03-09 19:38] 0pdd commented on #299
@0pdd all 2 puzzles are solved here: [#374](https://github.com/timelesslounge/timelessis/issues/374), [#490](https://github.com/timelesslounge/timelessis/issues/490).

[2019-03-09 19:38] 0pdd commented on #374
@0pdd the only puzzle [#490](https://github.com/timelesslounge/timelessis/issues/490) is solved here.

[2019-03-09 19:40] 0crat commented on #344
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-09 19:56] 0crat commented on #490
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @soin08[/z](https://www.0crat.com/u/soin08), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-09 19:56] 0crat commented on #490
Job [#490](https://github.com/timelesslounge/timelessis/issues/490) is not in the agenda of @soin08[/z](https://www.0crat.com/u/soin08), can't inspect

[2019-03-09 19:56] 0crat commented on #490
The job [#490](https://github.com/timelesslounge/timelessis/issues/490) is now out of scope

[2019-03-09 20:01] 0crat commented on #449
The job [#449](https://github.com/timelesslounge/timelessis/issues/449) assigned to @soin08[/z](https://www.0crat.com/u/soin08), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/50cc895f-fba9-4286-8262-a72f49efaf65); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-03-09 20:11] ypshenychka commented on #393
@0crat quality good

[2019-03-09 20:19] 0crat commented on #393
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-09 20:19] 0crat commented on #393
Order was finished, quality is "good": +35 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-03-09 20:28] soin08 commented on #490
@0crat status

[2019-03-09 20:28] 0crat commented on #490
@soin08 This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#490](https://github.com/timelesslounge/timelessis/issues/490) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 33min
  * @soin08[/z](https://www.0crat.com/u/soin08

[2019-03-09 20:33] soin08 commented on #267
@0crat status

[2019-03-09 20:35] 0crat commented on #267
@soin08 This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#267](https://github.com/timelesslounge/timelessis/issues/267) is [in scope](http://www.zerocracy.com/policy.html#14) for 22days
  * The role is `DEV`
  * The job is assigned to @soin08[/z](https://www.0crat.com/u/soin08) for [2days](http

[2019-03-09 21:03] ypshenychka commented on #484
@0crat quality good

[2019-03-09 21:07] 0crat commented on #484
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-09 21:07] 0crat commented on #484
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-09 21:16] ypshenychka commented on #429
@0crat quality good

[2019-03-09 21:19] 0crat commented on #429
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-09 21:19] 0crat commented on #429
Order was finished, quality is "good": +35 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-03-09 21:26] ypshenychka commented on #490
@soin08 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add reference to corresponding PR (you can do this by mentioning this issue in PR's description).

[2019-03-09 22:04] pablopaul opened #520 "Readme lacks explanation of Rultor and Travis CI usage"
The readme should explain why Travis CI and Rultor is used.
It should be clear where to add what kind of jobs.
For now I am unsure in which pipeline the execution of React tests should be added.

[2019-03-09 22:04] 0crat commented on #520
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-10 07:31] ammaratef45 commented on #392
@emilianodellacasa @vryazanov tests were removed in 96eafff by @vryazanov
The tests now ignore the role of the user completely, why it's implemented this way?

[2019-03-10 07:46] ypshenychka commented on #490
@0crat quality acceptable

[2019-03-10 07:51] 0crat commented on #490
Order was finished, quality is "acceptable": +30 point(s) just awarded to @soin08[/z](https://www.0crat.com/u/soin08)

[2019-03-10 07:51] 0crat commented on #490
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-10 09:05] zverovich commented on #460
@paulodamaso this it the high priority task, please let us know if you are making progress on it or refuse it as soon as possible.

[2019-03-10 09:07] pablopaul opened #523 "Specification lacks concept about UI components"
The are UI components in the "backend" (flask views) and the "frontend" (react components).
I assume both should share a common styling.

Specification/Readme should mention what base framework is in use (i.e. Bootstrap, Zurb Foundation, …) and how exactly we make sure that we share as much as possible UI code amongst the different templates.

[2019-03-10 09:07] 0crat commented on #523
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-10 12:25] vryazanov commented on #392
@ammaratef45 if user is not `owner` then code from `timeless/access_control/owner_privileges.py` will not be executed
so it doesnt make any sense to set role type

[2019-03-10 12:29] ammaratef45 commented on #392
@vryazanov If I understood right, that means this puzzle makes no sense too, right?

[2019-03-10 13:05] ebercamargo commented on #316
@0crat refuse

[2019-03-10 13:06] ebercamargo commented on #317
@0crat refuse

[2019-03-10 13:06] 0crat commented on #316
@ebercamargo The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#316](https://github.com/timelesslounge/timelessis/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2019-03-10 13:06] 0crat commented on #317
@ebercamargo The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#317](https://github.com/timelesslounge/timelessis/issues/317), please stop working. Reason for job resignation: Order was cancelled

[2019-03-10 13:07] 0crat commented on #316
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-03-10 13:07] 0crat commented on #317
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-03-10 14:04] soin08 commented on #267
@0crat refuse

[2019-03-10 14:09] 0crat commented on #267
@soin08 The user @soin08[/z](https://www.0crat.com/u/soin08) resigned from [#267](https://github.com/timelesslounge/timelessis/issues/267), please stop working. Reason for job resignation: Order was cancelled

[2019-03-10 14:11] 0pdd commented on #465
The puzzle `388-4a843a62` has disappeared from the source code, that's why I closed this issue.

[2019-03-10 14:11] #465 closed

[2019-03-10 14:11] 0pdd commented on #23
@emilianodellacasa 4 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://gi

[2019-03-10 14:11] 0pdd commented on #67
@0pdd 4 puzzles [#245](https://github.com/timelesslounge/timelessis/issues/245), [#366](https://github.com/timelesslounge/timelessis/issues/366), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464) are still not solved; solved: [#101](https://github.com/timelesslounge/timelessis/issues/101), [#113](https://github.com/time

[2019-03-10 14:11] 0pdd commented on #101
@0pdd 3 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464) are still not solved; solved: [#197](https://github.com/timelesslounge/timelessis/issues/197), [#232](https://github.com/timelesslounge/timelessis/issues/232), [#233](https://github.com/time

[2019-03-10 14:11] 0pdd commented on #232
@0pdd 3 puzzles [#366](https://github.com/timelesslounge/timelessis/issues/366), [#444](https://github.com/timelesslounge/timelessis/issues/444), [#464](https://github.com/timelesslounge/timelessis/issues/464) are still not solved; solved: [#339](https://github.com/timelesslounge/timelessis/issues/339), [#340](https://github.com/timelesslounge/timelessis/issues/340), [#370](https://github.com/time

[2019-03-10 14:11] 0pdd commented on #340
@0pdd the puzzle [#464](https://github.com/timelesslounge/timelessis/issues/464) is still not solved; solved: [#370](https://github.com/timelesslounge/timelessis/issues/370), [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timelessis/issues/389), [#465](https://github.com/time

[2019-03-10 14:11] 0pdd commented on #370
@0pdd the puzzle [#464](https://github.com/timelesslounge/timelessis/issues/464) is still not solved; solved: [#387](https://github.com/timelesslounge/timelessis/issues/387), [#388](https://github.com/timelesslounge/timelessis/issues/388), [#389](https://github.com/timelesslounge/timelessis/issues/389), [#465](https://github.com/timelesslounge/timelessis/issues/465).

[2019-03-10 14:11] 0pdd commented on #388
@0pdd the puzzle [#464](https://github.com/timelesslounge/timelessis/issues/464) is still not solved; solved: [#465](https://github.com/timelesslounge/timelessis/issues/465).

[2019-03-10 14:15] 0crat commented on #267
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @soin08[/z](https://www.0crat.com/u/soin08)

[2019-03-10 14:19] 0crat commented on #316
The job [#316](https://github.com/timelesslounge/timelessis/issues/316) assigned to @soin08[/z](https://www.0crat.com/u/soin08), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/efa2099c-b1a6-4eeb-88b6-f9585b830de0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-03-10 14:31] 0crat commented on #465
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-10 14:31] 0crat commented on #465
The job [#465](https://github.com/timelesslounge/timelessis/issues/465) is now out of scope

[2019-03-10 14:36] amihaiemil commented on #323
@0crat refuse

[2019-03-10 14:40] 0crat commented on #323
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#323](https://github.com/timelesslounge/timelessis/issues/323), please stop working. Reason for job resignation: Order was cancelled

[2019-03-10 14:41] 0crat commented on #323
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-10 16:34] vryazanov commented on #392
@ammaratef45 hm, i think yes, since it's aleady implemented

[2019-03-10 16:39] 0crat commented on #357
@vladarefiev[/z](https://www.0crat.com/u/vladarefiev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-10 17:17] ypshenychka commented on #465
@0crat quality good

[2019-03-10 17:30] 0crat commented on #465
Order was finished, quality is "good": +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-10 17:33] 0crat commented on #465
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-10 18:38] 0crat commented on #358
@vladarefiev[/z](https://www.0crat.com/u/vladarefiev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-10 23:27] paulodamaso commented on #425
@emilianodellacasa ping

[2019-03-10 23:27] paulodamaso commented on #425
@0crat wait for @emilianodellacasa response

[2019-03-10 23:33] 0crat commented on #425
@paulodamaso The impediment for [#425](https://github.com/timelesslounge/timelessis/issues/425) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-11 02:32] paulodamaso commented on #460
@emilianodellacasa Sorry for the delay. I need some definitions for this task:
- the background image;
- font and color values for the captions, titles, button and link;
- color values for the textboxes borders

[2019-03-11 02:32] paulodamaso commented on #460
@0crat wait for https://github.com/timelesslounge/timelessis/issues/460#issuecomment-471384446 answers

[2019-03-11 02:34] 0crat commented on #460
@paulodamaso The impediment for [#460](https://github.com/timelesslounge/timelessis/issues/460) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-11 03:37] zverovich commented on #460
@paulodamaso please see last comment by @emilianodellacasa, you can find all the info using this link. You will need to request access to the google drive folder.

[2019-03-11 08:44] #358 closed

[2019-03-11 08:44] 0pdd commented on #358
The puzzle `329-4c9067b6` has disappeared from the source code, that's why I closed this issue.

[2019-03-11 08:44] 0pdd opened #526 "authorization.py:14-17: Change checking of this statement..."
The puzzle `358-edbef54e` from #358 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/d83d0115df44c6041c47344c12042f5e7dc01bbc/timeless/access_control/authorization.py#L14-L17

The puzzle was created by Vlad Arefev on 07-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-11 08:44] 0pdd commented on #22
@emilianodellacasa 8 puzzles [#392](https://github.com/timelesslounge/timelessis/issues/392), [#425](https://github.com/timelesslounge/timelessis/issues/425), [#432](https://github.com/timelesslounge/timelessis/issues/432), [#433](https://github.com/timelesslounge/timelessis/issues/433), [#473](https://github.com/timelesslounge/timelessis/issues/473), [#474](https://github.com/timelesslounge/timel

[2019-03-11 08:44] 0pdd commented on #181
@0pdd the puzzle [#526](https://github.com/timelesslounge/timelessis/issues/526) is still not solved; solved: [#329](https://github.com/timelesslounge/timelessis/issues/329), [#358](https://github.com/timelesslounge/timelessis/issues/358).

[2019-03-11 08:44] 0pdd commented on #329
@0pdd the puzzle [#526](https://github.com/timelesslounge/timelessis/issues/526) is still not solved; solved: [#358](https://github.com/timelesslounge/timelessis/issues/358).

[2019-03-11 08:45] 0pdd commented on #358
@0pdd the puzzle [#526](https://github.com/timelesslounge/timelessis/issues/526) is still not solved.

[2019-03-11 08:45] 0crat commented on #526
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-11 08:56] #417 closed

[2019-03-11 08:56] 0pdd commented on #417
The puzzle `270-9b75992d` has disappeared from the source code, that's why I closed this issue.

[2019-03-11 08:56] 0pdd opened #527 "test_items.py:11-15: Fix ItemListView problem of..."
The puzzle `417-43ca3708` from #417 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/641510a50e5ada3529e3ef2450a172bd59228cbe/tests/view/items/test_items.py#L11-L15

The puzzle was created by Paulo Lobo on 08-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-11 08:56] 0pdd commented on #15
@emilianodellacasa 2 puzzles [#418](https://github.com/timelesslounge/timelessis/issues/418), [#527](https://github.com/timelesslounge/timelessis/issues/527) are still not solved; solved: [#141](https://github.com/timelesslounge/timelessis/issues/141), [#142](https://github.com/timelesslounge/timelessis/issues/142), [#217](https://github.com/timelesslounge/timelessis/issues/217), [#270](https://gi

[2019-03-11 08:56] 0pdd commented on #141
@0pdd 2 puzzles [#418](https://github.com/timelesslounge/timelessis/issues/418), [#527](https://github.com/timelesslounge/timelessis/issues/527) are still not solved; solved: [#270](https://github.com/timelesslounge/timelessis/issues/270), [#417](https://github.com/timelesslounge/timelessis/issues/417).

[2019-03-11 08:56] 0pdd commented on #270
@0pdd 2 puzzles [#418](https://github.com/timelesslounge/timelessis/issues/418), [#527](https://github.com/timelesslounge/timelessis/issues/527) are still not solved; solved: [#417](https://github.com/timelesslounge/timelessis/issues/417).

[2019-03-11 08:56] 0pdd commented on #417
@0pdd the puzzle [#527](https://github.com/timelesslounge/timelessis/issues/527) is still not solved.

[2019-03-11 08:56] 0crat commented on #527
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-11 09:10] #430 closed

[2019-03-11 09:10] 0pdd commented on #430
The puzzle `309-2a02cf1f` has disappeared from the source code, that's why I closed this issue.

[2019-03-11 09:10] 0pdd opened #528 "test_tables.py:11-15: Fix TableListView problem of..."
The puzzle `430-7da3dbd1` from #430 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/d996f7365956f6679d88a38ba9b8eb14ca3864fc/tests/view/tables/test_tables.py#L11-L15

The puzzle was created by Paulo Lobo on 08-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-11 09:10] 0pdd commented on #173
@vryazanov 5 puzzles [#437](https://github.com/timelesslounge/timelessis/issues/437), [#442](https://github.com/timelesslounge/timelessis/issues/442), [#443](https://github.com/timelesslounge/timelessis/issues/443), [#475](https://github.com/timelesslounge/timelessis/issues/475), [#528](https://github.com/timelesslounge/timelessis/issues/528) are still not solved; solved: [#305](https://github.com

[2019-03-11 09:10] 0pdd commented on #309
@0pdd the puzzle [#528](https://github.com/timelesslounge/timelessis/issues/528) is still not solved; solved: [#429](https://github.com/timelesslounge/timelessis/issues/429), [#430](https://github.com/timelesslounge/timelessis/issues/430).

[2019-03-11 09:10] 0pdd commented on #430
@0pdd the puzzle [#528](https://github.com/timelesslounge/timelessis/issues/528) is still not solved.

[2019-03-11 09:11] 0crat commented on #528
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-11 09:18] 0crat commented on #358
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-11 09:21] 0crat commented on #358
The job [#358](https://github.com/timelesslounge/timelessis/issues/358) is now out of scope

[2019-03-11 09:22] #412 closed

[2019-03-11 09:22] 0pdd commented on #412
The puzzle `348-bc3cea53` has disappeared from the source code, that's why I closed this issue.

[2019-03-11 09:22] 0pdd opened #529 "it_employees_test.py:154-156:..."
The puzzle `412-14b47306` from #412 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/85d77a4347eb707adecc82c9112c6fb9cba68d8a/tests/integration/it_employees_test.py#L154-L156

The puzzle was created by Paulo Lobo on 08-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-03-11 09:22] 0pdd commented on #4
@emilianodellacasa 5 puzzles [#357](https://github.com/timelesslounge/timelessis/issues/357), [#413](https://github.com/timelesslounge/timelessis/issues/413), [#460](https://github.com/timelesslounge/timelessis/issues/460), [#503](https://github.com/timelesslounge/timelessis/issues/503), [#529](https://github.com/timelesslounge/timelessis/issues/529) are still not solved; solved: [#149](https://gi

[2019-03-11 09:22] 0pdd commented on #57
@0pdd 4 puzzles [#357](https://github.com/timelesslounge/timelessis/issues/357), [#413](https://github.com/timelesslounge/timelessis/issues/413), [#503](https://github.com/timelesslounge/timelessis/issues/503), [#529](https://github.com/timelesslounge/timelessis/issues/529) are still not solved; solved: [#348](https://github.com/timelesslounge/timelessis/issues/348), [#411](https://github.com/time

[2019-03-11 09:22] 0pdd commented on #348
@0pdd 3 puzzles [#413](https://github.com/timelesslounge/timelessis/issues/413), [#503](https://github.com/timelesslounge/timelessis/issues/503), [#529](https://github.com/timelesslounge/timelessis/issues/529) are still not solved; solved: [#411](https://github.com/timelesslounge/timelessis/issues/411), [#412](https://github.com/timelesslounge/timelessis/issues/412).

[2019-03-11 09:22] 0pdd commented on #412
@0pdd the puzzle [#529](https://github.com/timelesslounge/timelessis/issues/529) is still not solved.

[2019-03-11 09:23] 0crat commented on #529
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-11 09:24] 0crat commented on #528
Job [#528](https://github.com/timelesslounge/timelessis/issues/528) is now in scope, role is `DEV`

[2019-03-11 09:35] 0pdd commented on #449
The puzzle `289-ad18aa9a` has disappeared from the source code, that's why I closed this issue.

[2019-03-11 09:35] #449 closed

[2019-03-11 09:35] 0pdd commented on #26
@emilianodellacasa 5 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267), [#288](https://github.com/timelesslounge/timelessis/issues/288), [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448) are still not solved; solved: [#123](https://gi

[2019-03-11 09:35] 0pdd commented on #87
@0pdd 5 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267), [#288](https://github.com/timelesslounge/timelessis/issues/288), [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448) are still not solved; solved: [#123](https://github.com/time

[2019-03-11 09:35] 0pdd commented on #123
@0pdd 5 puzzles [#266](https://github.com/timelesslounge/timelessis/issues/266), [#267](https://github.com/timelesslounge/timelessis/issues/267), [#288](https://github.com/timelesslounge/timelessis/issues/288), [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448) are still not solved; solved: [#221](https://github.com/time

[2019-03-11 09:35] 0pdd commented on #221
@0pdd 3 puzzles [#288](https://github.com/timelesslounge/timelessis/issues/288), [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448) are still not solved; solved: [#289](https://github.com/timelesslounge/timelessis/issues/289), [#449](https://github.com/timelesslounge/timelessis/issues/449).

[2019-03-11 09:35] 0pdd commented on #289
@0pdd 2 puzzles [#447](https://github.com/timelesslounge/timelessis/issues/447), [#448](https://github.com/timelesslounge/timelessis/issues/448) are still not solved; solved: [#449](https://github.com/timelesslounge/timelessis/issues/449).

[2019-03-11 09:53] 0pdd commented on #410
The puzzle `262-2755231b` has disappeared from the source code, that's why I closed this issue.

[2019-03-11 09:53] #410 closed

[2019-03-11 09:53] 0pdd commented on #25
@emilianodellacasa the puzzle [#409](https://github.com/timelesslounge/timelessis/issues/409) is still not solved; solved: [#102](https://github.com/timelesslounge/timelessis/issues/102), [#225](https://github.com/timelesslounge/timelessis/issues/225), [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262), [#410](https://gi

[2019-03-11 09:53] 0crat commented on #417
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-11 09:53] 0pdd commented on #102
@0pdd the puzzle [#409](https://github.com/timelesslounge/timelessis/issues/409) is still not solved; solved: [#225](https://github.com/timelesslounge/timelessis/issues/225), [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262), [#410](https://github.com/timelesslounge/timelessis/issues/410).

[2019-03-11 09:53] 0pdd commented on #225
@0pdd the puzzle [#409](https://github.com/timelesslounge/timelessis/issues/409) is still not solved; solved: [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262), [#410](https://github.com/timelesslounge/timelessis/issues/410).

[2019-03-11 09:53] 0pdd commented on #262
@0pdd the puzzle [#409](https://github.com/timelesslounge/timelessis/issues/409) is still not solved; solved: [#410](https://github.com/timelesslounge/timelessis/issues/410).

[2019-03-11 09:53] 0crat commented on #417
Job [#417](https://github.com/timelesslounge/timelessis/issues/417) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-03-11 09:54] ypshenychka commented on #358
@0crat quality good

[2019-03-11 09:56] ypshenychka commented on #417
@0crat quality good

[2019-03-11 10:02] emilianodellacasa commented on #425
@paulodamaso This issue is about checking privileges for reservations' related entities, in the file you mentioned there is nothing in regards

[2019-03-11 10:08] 0crat commented on #417
The job [#417](https://github.com/timelesslounge/timelessis/issues/417) is now out of scope

[2019-03-11 10:38] 0crat commented on #529
Job [#529](https://github.com/timelesslounge/timelessis/issues/529) is now in scope, role is `DEV`

[2019-03-11 11:11] 0crat commented on #430
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-11 11:22] 0pdd commented on #422
The puzzle `95-9a26f2d6` has disappeared from the source code, that's why I closed this issue.

[2019-03-11 11:22] #422 closed

[2019-03-11 11:22] 0pdd opened #530 "views.py:7-11: Continue on developing create floor view...."
The puzzle `95-ccd6d9a8` from #95 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/399e8e9d580ff38ed148de0c35f4c9e2cba09f83/timeless/restaurants/floors/views.py#L7-L11

The puzzle was created by @rultor on 11-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-11 11:22] 0pdd commented on #11
@emilianodellacasa 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#499](https://github.com/timelesslounge/timelessis/issues/499), [#530](https://github.com/timelesslounge/timelessis/issues/530) are still not solved; solved: [#133](https://gi

[2019-03-11 11:22] 0pdd commented on #42
@0pdd 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#499](https://github.com/timelesslounge/timelessis/issues/499), [#530](https://github.com/timelesslounge/timelessis/issues/530) are still not solved; solved: [#133](https://github.com/time

[2019-03-11 11:22] 0pdd commented on #95
@0pdd 5 puzzles [#338](https://github.com/timelesslounge/timelessis/issues/338), [#423](https://github.com/timelesslounge/timelessis/issues/423), [#483](https://github.com/timelesslounge/timelessis/issues/483), [#499](https://github.com/timelesslounge/timelessis/issues/499), [#530](https://github.com/timelesslounge/timelessis/issues/530) are still not solved; solved: [#192](https://github.com/time

[2019-03-11 11:23] 0crat commented on #530
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-11 11:25] 0crat commented on #449
Job was finished in 37 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-11 11:29] 0crat commented on #430
The job [#430](https://github.com/timelesslounge/timelessis/issues/430) is now out of scope

[2019-03-11 11:29] 0crat commented on #412
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-11 11:35] 0crat commented on #449
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @soin08[/z](https://www.0crat.com/u/soin08), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-11 11:35] 0crat commented on #449
Job [#449](https://github.com/timelesslounge/timelessis/issues/449) is not in the agenda of @soin08[/z](https://www.0crat.com/u/soin08), can't inspect

[2019-03-11 11:42] 0crat commented on #412
The job [#412](https://github.com/timelesslounge/timelessis/issues/412) is now out of scope

[2019-03-11 11:43] 0crat commented on #410
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @soin08[/z](https://www.0crat.com/u/soin08), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-11 11:49] 0crat commented on #449
The job [#449](https://github.com/timelesslounge/timelessis/issues/449) is now out of scope

[2019-03-11 11:54] 0crat commented on #410
The job [#410](https://github.com/timelesslounge/timelessis/issues/410) is now out of scope

[2019-03-11 11:56] 0crat commented on #417
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-11 11:56] 0crat commented on #417
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-11 11:58] 0crat commented on #422
The job [#422](https://github.com/timelesslounge/timelessis/issues/422) is now out of scope

[2019-03-11 12:02] 0crat commented on #422
Order was finished: +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-11 12:10] 0crat commented on #267
The job [#267](https://github.com/timelesslounge/timelessis/issues/267) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/ea17ad96-7522-4e9c-891f-be6e5a28258b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-03-11 12:11] 0crat commented on #317
The job [#317](https://github.com/timelesslounge/timelessis/issues/317) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/17249fa8-a185-4209-a897-e826afdc3e22); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-03-11 12:45] 0crat commented on #314
@vladarefiev[/z](https://www.0crat.com/u/vladarefiev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-11 15:21] 0crat commented on #414
Job [#414](https://github.com/timelesslounge/timelessis/issues/414) is now in scope, role is `DEV`

[2019-03-11 15:22] 0crat commented on #530
Job [#530](https://github.com/timelesslounge/timelessis/issues/530) is now in scope, role is `DEV`

[2019-03-11 15:44] #409 closed

[2019-03-11 15:44] 0pdd commented on #409
The puzzle `262-3c8226cd` has disappeared from the source code, that's why I closed this issue.

[2019-03-11 15:44] 0pdd opened #531 "it_sync_customers_test.py:65-67: Remove skipping..."
The puzzle `409-b8b780fb` from #409 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/eaec68b4cb68a7e5d1b354b5713955dd36e98bf8/tests/integration/sync/it_sync_customers_test.py#L65-L67

The puzzle was created by Vlad Arefev on 11-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-03-11 15:44] 0pdd commented on #25
@emilianodellacasa the puzzle [#531](https://github.com/timelesslounge/timelessis/issues/531) is still not solved; solved: [#102](https://github.com/timelesslounge/timelessis/issues/102), [#225](https://github.com/timelesslounge/timelessis/issues/225), [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262), [#409](https://gi

[2019-03-11 15:44] 0pdd commented on #102
@0pdd the puzzle [#531](https://github.com/timelesslounge/timelessis/issues/531) is still not solved; solved: [#225](https://github.com/timelesslounge/timelessis/issues/225), [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262), [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/time

[2019-03-11 15:44] 0pdd commented on #225
@0pdd the puzzle [#531](https://github.com/timelesslounge/timelessis/issues/531) is still not solved; solved: [#261](https://github.com/timelesslounge/timelessis/issues/261), [#262](https://github.com/timelesslounge/timelessis/issues/262), [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/timelesslounge/timelessis/issues/410).

[2019-03-11 15:44] 0pdd commented on #262
@0pdd the puzzle [#531](https://github.com/timelesslounge/timelessis/issues/531) is still not solved; solved: [#409](https://github.com/timelesslounge/timelessis/issues/409), [#410](https://github.com/timelesslounge/timelessis/issues/410).

[2019-03-11 15:44] 0pdd commented on #409
@0pdd the puzzle [#531](https://github.com/timelesslounge/timelessis/issues/531) is still not solved.

[2019-03-11 15:45] 0crat commented on #531
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-11 15:57] 0crat commented on #531
Job [#531](https://github.com/timelesslounge/timelessis/issues/531) is now in scope, role is `DEV`

[2019-03-11 16:04] 0pdd opened #532 ".rultor.yml:24: React Frontend tests should be also..."
The puzzle `514-f9121ced` from #514 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/df17ff524a2e6f32ba70cd0cf33bfa375b285c4e/.rultor.yml#L24-L24

The puzzle was created by Paul Vincent Beigang on 09-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed

[2019-03-11 16:04] 0crat commented on #532
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-11 16:04] 0pdd commented on #514
@pablopaul the puzzle [#532](https://github.com/timelesslounge/timelessis/issues/532) is still not solved.

[2019-03-11 16:18] 0crat commented on #532
Job [#532](https://github.com/timelesslounge/timelessis/issues/532) is now in scope, role is `DEV`

[2019-03-11 16:22] 0crat commented on #409
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-11 16:22] 0crat commented on #409
Job [#409](https://github.com/timelesslounge/timelessis/issues/409) is not in the agenda of @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), can't inspect

[2019-03-11 16:23] emilianodellacasa commented on #532
@0crat assign @pablopaul

[2019-03-11 16:23] 0crat commented on #409
The job [#409](https://github.com/timelesslounge/timelessis/issues/409) is now out of scope

[2019-03-11 16:26] 0crat commented on #532
@emilianodellacasa The job [#532](https://github.com/timelesslounge/timelessis/issues/532) assigned to @pablopaul[/z](https://www.0crat.com/u/pablopaul), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/820df493-13a3-4eb4-bb3c-15bf25de032d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://w

[2019-03-11 16:40] 0crat commented on #532
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-11 16:46] emilianodellacasa commented on #514
@rultor release, tag 0.0.1

[2019-03-11 16:47] rultor commented on #514
@emilianodellacasa OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18238-471622522)

[2019-03-11 16:48] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471622522) (spent 23s)

[code]

[2019-03-11 16:49] emilianodellacasa commented on #514
@rultor release, tag=`0.0.1`

[2019-03-11 16:50] rultor commented on #514
@emilianodellacasa OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18238-471623988)

[2019-03-11 17:00] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471623988) (spent 9min)

[code]

[2019-03-11 17:20] emilianodellacasa commented on #514
@rultor release, tag 0.0.1

[2019-03-11 17:20] rultor commented on #514
@emilianodellacasa OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18238-471636753)

[2019-03-11 17:21] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471636753) (spent 22s)

[code]

[2019-03-11 17:25] emilianodellacasa commented on #514
@rultor release, tag=`0.0.1`

[2019-03-11 17:25] rultor commented on #514
@emilianodellacasa OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18238-471638773)

[2019-03-11 17:32] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471638773) (spent 7min)

[code]

[2019-03-11 17:39] emilianodellacasa commented on #514
@rultor release, tag=`0.0.1`

[2019-03-11 17:40] rultor commented on #514
@emilianodellacasa OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18238-471644748)

[2019-03-11 17:49] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471644748) (spent 9min)

[code]

[2019-03-11 18:39] pablopaul opened #534 "Run React Frontend tests in Travis CI"
React Frontend tests should also run in Travis CI

[2019-03-11 18:39] 0crat commented on #534
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-11 18:41] pablopaul opened #535 "Travis CI: Report Codecov for React Frontend Tests"
Travis CI: Report Codecov for React Frontend Tests

[2019-03-11 18:41] 0crat commented on #535
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-11 19:52] 0pdd commented on #485
The puzzle `385-76f7ffb3` has disappeared from the source code, that's why I closed this issue.

[2019-03-11 19:52] #485 closed

[2019-03-11 19:52] 0pdd commented on #385
@0pdd the only puzzle [#485](https://github.com/timelesslounge/timelessis/issues/485) is solved here.

[2019-03-11 20:24] 0crat commented on #485
The job [#485](https://github.com/timelesslounge/timelessis/issues/485) is now out of scope

[2019-03-11 20:27] 0crat commented on #485
Order was finished: +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-12 02:33] zverovich commented on #460
@paulodamaso please let us know if you have any more questions regarding this issue. As I already mentioned, it's quite hot task and we want to have it resolved ASAP.

[2019-03-12 06:24] ammaratef45 commented on #392
@emilianodellacasa what you think? I will only delete the puzzle (which isn't something I should be paid for).

[2019-03-12 08:36] emilianodellacasa commented on #520
@pablopaul Travis is used as a way to check if tests are passing before even trying to merge, rultor runs tests and code checks before merging, to avoid bad code to be added in main branch.

Travis and rultor are usend in a pretty standard way, you can see [rultor docs](http://doc.rultor.com/) and [Travis](https://docs.travis-ci.com/user/languages/python/) for more information

[2019-03-12 08:36] #520 closed

[2019-03-12 08:54] 0crat commented on #520
Job `gh:timelesslounge/timelessis#520` is not assigned, can't get performer

[2019-03-12 08:54] 0crat commented on #520
This job is not in scope

[2019-03-12 08:58] emilianodellacasa commented on #502
@rultor deploy

[2019-03-12 09:10] rultor commented on #502
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18252-471912442)

[2019-03-12 09:18] rultor commented on #502
@emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18252-471912442) (spent 8min)

[code]

[2019-03-12 09:23] emilianodellacasa commented on #514
@rultor deploy

[2019-03-12 09:31] rultor commented on #514
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18238-471920075)

[2019-03-12 09:37] emilianodellacasa commented on #392
@ammaratef45 It makes sense, please do that

[2019-03-12 09:39] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471920075) (spent 7min)

[code]

[2019-03-12 09:42] emilianodellacasa commented on #514
@rultor deploy

[2019-03-12 09:50] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471927040) (spent 7min)

[code]

[2019-03-12 09:59] emilianodellacasa commented on #514
@rultor deploy

[2019-03-12 10:00] rultor commented on #514
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18238-471933198)

[2019-03-12 10:08] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471933198) (spent 7min)

[code]

[2019-03-12 10:10] emilianodellacasa commented on #514
@rultor deploy

[2019-03-12 10:10] rultor commented on #514
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18238-471937024)

[2019-03-12 10:18] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471937024) (spent 7min)

[code]

[2019-03-12 10:21] emilianodellacasa commented on #514
@rultor deploy

[2019-03-12 10:21] rultor commented on #514
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18238-471941160)

[2019-03-12 10:29] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-471941160) (spent 7min)

[code]

[2019-03-12 10:36] emilianodellacasa commented on #514
@rultor deploy

[2019-03-12 10:37] rultor commented on #514
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18238-471946336)

[2019-03-12 10:46] rultor commented on #514
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18238-471946336) (took me 9min)

[2019-03-12 11:27] #392 closed

[2019-03-12 11:27] 0pdd commented on #392
The puzzle `242-e919dfa9` has disappeared from the source code, that's why I closed this issue.

[2019-03-12 11:27] 0pdd commented on #22
@emilianodellacasa 7 puzzles [#425](https://github.com/timelesslounge/timelessis/issues/425), [#432](https://github.com/timelesslounge/timelessis/issues/432), [#433](https://github.com/timelesslounge/timelessis/issues/433), [#473](https://github.com/timelesslounge/timelessis/issues/473), [#474](https://github.com/timelesslounge/timelessis/issues/474), [#481](https://github.com/timelesslounge/timel

[2019-03-12 11:27] 0pdd commented on #180
@0pdd all 4 puzzles are solved here: [#241](https://github.com/timelesslounge/timelessis/issues/241), [#242](https://github.com/timelesslounge/timelessis/issues/242), [#392](https://github.com/timelesslounge/timelessis/issues/392), [#393](https://github.com/timelesslounge/timelessis/issues/393).

[2019-03-12 11:27] 0pdd commented on #242
@0pdd all 2 puzzles are solved here: [#392](https://github.com/timelesslounge/timelessis/issues/392), [#393](https://github.com/timelesslounge/timelessis/issues/393).

[2019-03-12 11:53] 0crat commented on #392
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-12 11:54] 0crat commented on #392
The job [#392](https://github.com/timelesslounge/timelessis/issues/392) is now out of scope

[2019-03-12 12:27] marceloamadeu commented on #366
@0crat waiting

[2019-03-12 12:29] 0crat commented on #366
@marceloamadeu The impediment for [#366](https://github.com/timelesslounge/timelessis/issues/366) was registered successfully by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-03-12 12:34] ypshenychka commented on #358
@0crat quality good

[2019-03-12 12:35] ypshenychka commented on #430
@0crat quality good

[2019-03-12 12:35] 0crat commented on #358
@ypshenychka There is no quality review for [#358](https://github.com/timelesslounge/timelessis/issues/358), no performer

[2019-03-12 12:39] ypshenychka commented on #412
@0crat quality good

[2019-03-12 12:41] 0crat commented on #358
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-12 12:41] 0crat commented on #358
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-12 12:44] 0crat commented on #430
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-12 12:46] 0crat commented on #430
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-12 12:51] 0crat commented on #328
The job [#328](https://github.com/timelesslounge/timelessis/issues/328) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1814f2df-bb4c-4bc5-b4b6-4bbded9fb39e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-12 12:52] 0crat commented on #412
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-12 12:52] 0crat commented on #412
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-12 12:54] 0crat commented on #323
The job [#323](https://github.com/timelesslounge/timelessis/issues/323) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/ba8e4c60-f412-4595-8b44-f0cfae3c40a0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-12 12:54] 0crat commented on #323
Job `gh:timelesslounge/timelessis#323` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-03-12 12:55] vladarefiev commented on #409
@ypshenychka ping

[2019-03-12 13:02] 0crat commented on #464
The job [#464](https://github.com/timelesslounge/timelessis/issues/464) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/bb1f07d4-581a-4495-8ce4-54681367b16f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-12 15:48] ypshenychka commented on #409
@0crat quality good

[2019-03-12 16:01] ypshenychka commented on #410
@soin08 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Most of your commits do not contain link to issue. Please confirm you'll try to follow this rule next time.

[2019-03-12 16:04] ypshenychka commented on #422
@0crat status

[2019-03-12 16:15] 0crat commented on #409
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-12 16:15] 0crat commented on #409
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-12 16:24] 0crat commented on #422
@ypshenychka This is what I know about this job in [CF9LG1YCA](https://www.0crat.com/p/CF9LG1YCA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#422](https://github.com/timelesslounge/timelessis/issues/422) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CF9LG1YCA?q=%7Bjob%3A%27gh%3Atimelesslounge%2Ftimelessis%23422%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F

[2019-03-12 16:27] emilianodellacasa commented on #514
@rultor deploy

[2019-03-12 16:27] vladarefiev commented on #357
@0crat wait till #536 is not merged

[2019-03-12 16:28] rultor commented on #514
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18238-472075268)

[2019-03-12 16:37] rultor commented on #514
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18238-472075268) (took me 8min)

[2019-03-12 16:41] 0crat commented on #361
The job [#361](https://github.com/timelesslounge/timelessis/issues/361) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/4a0db21b-67e4-4bf3-ba3a-319b91f59110); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-12 16:45] ypshenychka commented on #392
@ammaratef45 No work was done here, right?

[2019-03-12 16:48] ammaratef45 commented on #392
@ypshenychka yes

[2019-03-12 16:49] ypshenychka commented on #422
@emilianodellacasa Why QA review is not assigned here?

[2019-03-12 17:03] emilianodellacasa commented on #422
@ypshenychka Because I did, and apparently when the ARC is the assignee there is no review

[2019-03-12 17:06] emilianodellacasa commented on #514
@rultor merge

[2019-03-12 17:07] rultor commented on #514
@emilianodellacasa @pablopaul It is an issue, not a pull request

[2019-03-12 17:07] rultor commented on #514
@emilianodellacasa I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-03-12 17:07] emilianodellacasa commented on #514
@rultor deploy

[2019-03-12 17:08] rultor commented on #514
@emilianodellacasa OK, I'll try to stop current task.

[2019-03-12 17:09] rultor commented on #514
@emilianodellacasa @pablopaul Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-472092370) (spent 29s)

[code]

[2019-03-12 17:11] rultor commented on #514
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18238-472092784)

[2019-03-12 17:13] rultor commented on #514
@emilianodellacasa @pablopaul Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18238-472092784) (spent 2min)

[code]

[2019-03-12 17:14] emilianodellacasa commented on #514
@rultor deploy

[2019-03-12 17:15] rultor commented on #514
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18238-472095595)

[2019-03-12 17:25] 0crat commented on #475
The job [#475](https://github.com/timelesslounge/timelessis/issues/475) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/f974f578-230f-4efc-968d-64a66528091c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-12 17:30] rultor commented on #514
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18238-472095595) (took me 14min)

[2019-03-12 21:05] soin08 commented on #410
@ypshenychka I confirm

[2019-03-12 21:07] soin08 commented on #449
@ypshenychka I confirm

[2019-03-12 21:09] 0crat commented on #503
The job [#503](https://github.com/timelesslounge/timelessis/issues/503) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/1dbba441-6bb2-433a-a3fc-3745c89d195f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-12 21:21] #316 closed

[2019-03-12 21:21] 0pdd commented on #316
The puzzle `260-042ad018` has disappeared from the source code, that's why I closed this issue.

[2019-03-12 21:21] 0pdd opened #538 "views.py:34-38: Improve filtering of table shapes from..."
The puzzle `316-2afb80f8` from #316 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/1617f2c0c586bc56dded9798937ccef94b7fdcf7/timeless/restaurants/table_shapes/views.py#L34-L38

The puzzle was created by Ilya Soin on 10-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-12 21:21] 0pdd commented on #13
@emilianodellacasa 8 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#354](https://github.com/timelesslounge/timelessis/issues/354), [#414](https://github.com/timelesslounge/timelessis/issues/414), [#416](https://github.com/timelesslounge/timel

[2019-03-12 21:21] 0pdd commented on #72
@0pdd 8 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#354](https://github.com/timelesslounge/timelessis/issues/354), [#414](https://github.com/timelesslounge/timelessis/issues/414), [#416](https://github.com/timelesslounge/timelessis/issues/

[2019-03-12 21:21] 0pdd commented on #162
@0pdd 8 puzzles [#286](https://github.com/timelesslounge/timelessis/issues/286), [#314](https://github.com/timelesslounge/timelessis/issues/314), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#354](https://github.com/timelesslounge/timelessis/issues/354), [#414](https://github.com/timelesslounge/timelessis/issues/414), [#416](https://github.com/timelesslounge/timelessis/issues/

[2019-03-12 21:21] 0pdd commented on #203
@0pdd 3 puzzles [#314](https://github.com/timelesslounge/timelessis/issues/314), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#538](https://github.com/timelesslounge/timelessis/issues/538) are still not solved; solved: [#260](https://github.com/timelesslounge/timelessis/issues/260), [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/time

[2019-03-12 21:21] 0pdd commented on #260
@0pdd 3 puzzles [#314](https://github.com/timelesslounge/timelessis/issues/314), [#317](https://github.com/timelesslounge/timelessis/issues/317), [#538](https://github.com/timelesslounge/timelessis/issues/538) are still not solved; solved: [#315](https://github.com/timelesslounge/timelessis/issues/315), [#316](https://github.com/timelesslounge/timelessis/issues/316).

[2019-03-12 21:21] 0pdd commented on #316
@0pdd the puzzle [#538](https://github.com/timelesslounge/timelessis/issues/538) is still not solved.

[2019-03-12 21:22] 0crat commented on #538
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-12 21:41] 0crat commented on #316
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @soin08[/z](https://www.0crat.com/u/soin08), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-12 21:41] 0crat commented on #316
Job [#316](https://github.com/timelesslounge/timelessis/issues/316) is not in the agenda of @soin08[/z](https://www.0crat.com/u/soin08), can't inspect

[2019-03-12 21:41] 0crat commented on #316
The job [#316](https://github.com/timelesslounge/timelessis/issues/316) is now out of scope

[2019-03-12 21:44] 0crat commented on #499
The job [#499](https://github.com/timelesslounge/timelessis/issues/499) assigned to @vryazanov[/z](https://www.0crat.com/u/vryazanov), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/75ed5ca8-36f9-4666-b626-3e5b0330cc83); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-03-12 22:08] 0crat commented on #492
The job [#492](https://github.com/timelesslounge/timelessis/issues/492) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/d61d7692-f59e-463f-9126-882e87dedbf3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-13 01:15] paulodamaso commented on #460
@0crat wait for #539 review and merge

[2019-03-13 01:20] 0crat commented on #460
@paulodamaso Job [#460](https://github.com/timelesslounge/timelessis/issues/460) is already on hold

[2019-03-13 01:20] paulodamaso commented on #425
@0crat refuse , lost the track on this one

[2019-03-13 01:27] 0crat commented on #425
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#425](https://github.com/timelesslounge/timelessis/issues/425), please stop working. Reason for job resignation: Order was cancelled

[2019-03-13 01:31] 0crat commented on #425
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-13 01:31] 0crat commented on #423
The job [#423](https://github.com/timelesslounge/timelessis/issues/423) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/d31137b6-3c50-4c05-9ca8-f1cf13fac197); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-13 05:10] paulodamaso commented on #297
@0crat wait for https://github.com/timelesslounge/timelessis/pull/541 review and merge

[2019-03-13 05:15] 0crat commented on #297
@paulodamaso The impediment for [#297](https://github.com/timelesslounge/timelessis/issues/297) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-13 06:10] 0crat commented on #528
The job [#528](https://github.com/timelesslounge/timelessis/issues/528) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/90c64cc6-f95f-4a51-9950-868fda90ed3e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-13 08:00] 0crat commented on #529
The job [#529](https://github.com/timelesslounge/timelessis/issues/529) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/9327421f-0da4-42fc-8766-2bc0681c9926); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-13 08:18] 0crat commented on #538
Job [#538](https://github.com/timelesslounge/timelessis/issues/538) is now in scope, role is `DEV`

[2019-03-13 10:46] ypshenychka commented on #392
@0crat quality bad

[2019-03-13 10:51] 0crat commented on #392
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-03-13 10:54] ypshenychka commented on #410
@0crat quality acceptable

[2019-03-13 10:55] ypshenychka commented on #449
@0crat quality acceptable

[2019-03-13 10:57] 0crat commented on #392
Quality review completed: +4 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-13 11:05] #357 closed

[2019-03-13 11:05] 0pdd commented on #357
The puzzle `57-294a904f` has disappeared from the source code, that's why I closed this issue.

[2019-03-13 11:05] 0pdd opened #542 "views.py:2-5: Continue implementing ListView to enable..."
The puzzle `357-eee14b71` from #357 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/e0f92001ef4ae31082d39b493bff857e6a4bba2f/timeless/employees/views.py#L2-L5

The puzzle was created by Vlad Arefev on 11-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-03-13 11:05] 0pdd commented on #4
@emilianodellacasa 5 puzzles [#413](https://github.com/timelesslounge/timelessis/issues/413), [#460](https://github.com/timelesslounge/timelessis/issues/460), [#503](https://github.com/timelesslounge/timelessis/issues/503), [#529](https://github.com/timelesslounge/timelessis/issues/529), [#542](https://github.com/timelesslounge/timelessis/issues/542) are still not solved; solved: [#149](https://gi

[2019-03-13 11:05] 0pdd commented on #57
@0pdd 4 puzzles [#413](https://github.com/timelesslounge/timelessis/issues/413), [#503](https://github.com/timelesslounge/timelessis/issues/503), [#529](https://github.com/timelesslounge/timelessis/issues/529), [#542](https://github.com/timelesslounge/timelessis/issues/542) are still not solved; solved: [#348](https://github.com/timelesslounge/timelessis/issues/348), [#357](https://github.com/time

[2019-03-13 11:05] 0pdd commented on #357
@0pdd the puzzle [#542](https://github.com/timelesslounge/timelessis/issues/542) is still not solved.

[2019-03-13 11:06] 0crat commented on #542
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-13 11:10] 0crat commented on #425
The job [#425](https://github.com/timelesslounge/timelessis/issues/425) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/b1043ded-300f-48f8-a6f9-be74f8e35124); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-13 11:27] 0crat commented on #357
@vladarefiev The impediment for [#357](https://github.com/timelesslounge/timelessis/issues/357) was registered successfully by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-13 11:28] 0crat commented on #449
Quality review completed: +4 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-13 11:28] 0crat commented on #542
Job [#542](https://github.com/timelesslounge/timelessis/issues/542) is now in scope, role is `DEV`

[2019-03-13 11:28] 0crat commented on #449
Order was finished, quality is "acceptable": +35 point(s) just awarded to @soin08[/z](https://www.0crat.com/u/soin08)

[2019-03-13 11:28] 0crat commented on #410
Order was finished, quality is "acceptable": +30 point(s) just awarded to @soin08[/z](https://www.0crat.com/u/soin08)

[2019-03-13 11:29] 0crat commented on #410
Quality review completed: +4 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-13 11:29] 0crat commented on #414
The job [#414](https://github.com/timelesslounge/timelessis/issues/414) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/2aea9366-153a-4452-8709-b5b8348b2288); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-13 11:29] 0crat commented on #357
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-13 11:29] 0crat commented on #357
Job [#357](https://github.com/timelesslounge/timelessis/issues/357) is not in the agenda of @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), can't inspect

[2019-03-13 11:30] 0crat commented on #357
The job [#357](https://github.com/timelesslounge/timelessis/issues/357) is now out of scope

[2019-03-13 11:33] 0crat commented on #530
The job [#530](https://github.com/timelesslounge/timelessis/issues/530) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/a952316a-c6d6-49db-94b6-62431f2ec656); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-13 12:38] 0crat commented on #447
@amidatonga[/z](https://www.0crat.com/u/amidatonga) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-13 12:38] 0crat commented on #433
@amidatonga[/z](https://www.0crat.com/u/amidatonga) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-13 12:39] 0crat commented on #448
@amidatonga[/z](https://www.0crat.com/u/amidatonga) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-13 12:40] ypshenychka commented on #316
@soin08 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

One of your commits doesn't contain link to issue. Please confirm you'll try to follow this rule next time.

[2019-03-13 13:00] soin08 commented on #316
@ypshenychka I confirm

[2019-03-13 13:07] 0crat commented on #531
The job [#531](https://github.com/timelesslounge/timelessis/issues/531) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/11e13b65-4e9a-44e0-9ecb-3a1eb4b84e29); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-03-13 14:21] ypshenychka commented on #316
@0crat quality acceptable

[2019-03-13 14:34] emilianodellacasa opened #543 "Deploy tests"
A simple issue where to try deployment

[2019-03-13 14:34] emilianodellacasa commented on #543
@rultor deploy

[2019-03-13 14:37] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472447718)

[2019-03-13 14:40] 0crat commented on #316
Quality review completed: +4 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-13 14:40] 0crat commented on #316
Order was finished, quality is "acceptable": +30 point(s) just awarded to @soin08[/z](https://www.0crat.com/u/soin08)

[2019-03-13 14:52] rultor commented on #543
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18273-472447718) (took me 15min)

[2019-03-13 15:43] 0crat commented on #354
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-13 15:43] 0crat commented on #362
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-13 16:34] ebercamargo commented on #344
@0crat waiting I'm checking the best way for this tasks.

[2019-03-13 16:34] 0crat commented on #344
@ebercamargo The impediment for [#344](https://github.com/timelesslounge/timelessis/issues/344) was registered successfully by @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-03-13 16:35] ebercamargo commented on #376
@0crat waiting Waiting definition.

[2019-03-13 16:42] 0crat commented on #376
@ebercamargo The impediment for [#376](https://github.com/timelesslounge/timelessis/issues/376) was registered successfully by @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-03-13 16:58] vladarefiev commented on #314
@0crat refuse

[2019-03-13 16:59] 0crat commented on #314
@vladarefiev The user @vladarefiev[/z](https://www.0crat.com/u/vladarefiev) resigned from [#314](https://github.com/timelesslounge/timelessis/issues/314), please stop working. Reason for job resignation: Order was cancelled

[2019-03-13 16:59] 0crat commented on #314
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-13 17:08] emilianodellacasa commented on #543
@rultor deploy

[2019-03-13 17:08] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472516603)

[2019-03-13 17:18] rultor commented on #543
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18273-472516603) (took me 9min)

[2019-03-13 17:27] emilianodellacasa commented on #543
@rultor deploy

[2019-03-13 17:27] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472524894)

[2019-03-13 17:36] rultor commented on #543
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18273-472524894) (took me 9min)

[2019-03-13 17:41] emilianodellacasa commented on #543
@rultor deploy

[2019-03-13 17:41] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472530647)

[2019-03-13 17:51] rultor commented on #543
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18273-472530647) (took me 9min)

[2019-03-13 18:06] emilianodellacasa commented on #543
@rultor deploy

[2019-03-13 18:06] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472540476)

[2019-03-13 18:08] rultor commented on #543
@emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18273-472540476) (spent 2min)

[code]

[2019-03-13 18:12] emilianodellacasa commented on #543
@rultor merge

[2019-03-13 18:14] rultor commented on #543
@emilianodellacasa It is an issue, not a pull request

[2019-03-13 18:14] rultor commented on #543
@emilianodellacasa I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-03-13 18:20] emilianodellacasa commented on #543
@rultor deploy

[2019-03-13 18:21] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472546100)

[2019-03-13 18:28] rultor commented on #543
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18273-472546100) (took me 7min)

[2019-03-13 18:39] #514 closed

[2019-03-13 18:41] 0crat commented on #379
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-13 18:54] ypshenychka commented on #357
@0crat quality good

[2019-03-13 19:05] 0crat commented on #357
@ypshenychka You @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) need to have one of these roles in order to do "Complete `QA` review": `ARC`, `QA`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-03-13 19:12] vladarefiev commented on #357
@emilianodellacasa may be you could do this?

[2019-03-13 19:15] emilianodellacasa commented on #357
@0crat quality good

[2019-03-13 19:15] 0crat commented on #514
The job [#514](https://github.com/timelesslounge/timelessis/issues/514) is now out of scope

[2019-03-13 19:19] 0crat commented on #514
Order was finished: +30 point(s) just awarded to @pablopaul[/z](https://www.0crat.com/u/pablopaul)

[2019-03-13 19:33] emilianodellacasa commented on #357
@0crat assign me

[2019-03-13 19:46] 0crat commented on #357
Quality review completed: +4 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-13 19:47] 0crat commented on #357
Order was finished, quality is "good": +35 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-13 19:51] 0crat commented on #357
@emilianodellacasa The job [#357](https://github.com/timelesslounge/timelessis/issues/357) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/f5f49110-eaa3-45b9-ad4f-c6c117cc1013); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) a

[2019-03-13 19:52] 0crat commented on #357
@emilianodellacasa Job `gh:timelesslounge/timelessis#357` already assigned to @emilianodellacasa, can't assign to @vladarefiev

[2019-03-13 19:53] 0crat commented on #357
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-03-13 19:53] 0crat commented on #357
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-13 21:37] 0crat commented on #381
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-14 03:54] paulodamaso commented on #323
@emilianodellacasa I think that you are the best to do this, please take a look

[2019-03-14 04:03] paulodamaso commented on #361
@emilianodellacasa Something went wrong here, please take a look

[2019-03-14 04:52] 0crat commented on #314
The job [#314](https://github.com/timelesslounge/timelessis/issues/314) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/471c5f1b-41c9-4cd8-ba55-9c1fb797f1d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-14 05:31] 0crat commented on #538
The job [#538](https://github.com/timelesslounge/timelessis/issues/538) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/6502c419-85e8-461a-8306-396d83a6c148); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-14 07:44] vladarefiev commented on #328
@0crat refuse

[2019-03-14 07:44] vladarefiev commented on #530
@0crat refuse

[2019-03-14 07:45] 0crat commented on #328
@vladarefiev The user @vladarefiev[/z](https://www.0crat.com/u/vladarefiev) resigned from [#328](https://github.com/timelesslounge/timelessis/issues/328), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 07:45] 0crat commented on #530
@vladarefiev The user @vladarefiev[/z](https://www.0crat.com/u/vladarefiev) resigned from [#530](https://github.com/timelesslounge/timelessis/issues/530), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 07:45] 0crat commented on #530
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-14 07:46] 0crat commented on #328
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-03-14 08:17] emilianodellacasa commented on #361
@paulodamaso Everything is ok, @VladimirRyzhkov quit the project so you are the assigned user for this task

[2019-03-14 08:28] emilianodellacasa commented on #543
@rultor deploy

[2019-03-14 08:28] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472750710)

[2019-03-14 08:35] rultor commented on #543
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18273-472750710) (took me 7min)

[2019-03-14 08:40] emilianodellacasa commented on #543
@rultor deploy

[2019-03-14 08:41] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472754312)

[2019-03-14 08:46] emilianodellacasa commented on #357
@0crat off

[2019-03-14 08:50] 0crat commented on #357
@emilianodellacasa Can't understand "off", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign fro

[2019-03-14 08:50] rultor commented on #543
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18273-472754312) (took me 9min)

[2019-03-14 08:50] emilianodellacasa commented on #357
@0crat out

[2019-03-14 08:53] 0crat commented on #357
Job was finished in 13 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-14 08:53] emilianodellacasa commented on #543
@rultor deploy

[2019-03-14 08:54] 0crat commented on #357
@emilianodellacasa The job [#357](https://github.com/timelesslounge/timelessis/issues/357) is now out of scope

[2019-03-14 08:54] 0crat commented on #357
Order was finished: +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-14 08:54] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472758717)

[2019-03-14 09:01] rultor commented on #543
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18273-472758717) (took me 7min)

[2019-03-14 09:38] emilianodellacasa commented on #543
@rultor deploy

[2019-03-14 09:40] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472774183)

[2019-03-14 11:42] rultor commented on #543
@emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18273-472774183) (spent 2hr)

[code]

[2019-03-14 14:46] emilianodellacasa commented on #543
@rultor merge

[2019-03-14 14:48] rultor commented on #543
@emilianodellacasa It is an issue, not a pull request

[2019-03-14 14:48] rultor commented on #543
@emilianodellacasa I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-03-14 14:48] emilianodellacasa commented on #543
@rultor deploy

[2019-03-14 14:50] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472897333)

[2019-03-14 14:52] rultor commented on #543
@emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18273-472897333) (spent 2min)

[code]

[2019-03-14 14:57] emilianodellacasa commented on #543
@rultor deploy

[2019-03-14 14:59] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472902808)

[2019-03-14 15:01] rultor commented on #543
@emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18273-472902808) (spent 2min)

[code]

[2019-03-14 15:31] emilianodellacasa commented on #543
@rultor deploy

[2019-03-14 15:32] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472920259)

[2019-03-14 17:33] rultor commented on #543
@emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18273-472920259) (spent 2hr)

[code]

[2019-03-14 17:42] emilianodellacasa commented on #543
@rultor deploy

[2019-03-14 17:43] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-472982883)

[2019-03-14 19:45] rultor commented on #543
@emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18273-472982883) (spent 2hr)

[code]

[2019-03-14 19:49] pablopaul opened #544 "PDD min-words config slowing down DEV work"
This is the second time the TravisCI build failed because of an error like this:

[code]

Please run `pdd` command with a lower `min-words` config like this `--rule min-words:5` in `.pdd`, see https://github.com/yegor256/pdd/#how-to-configure-rules for more info

[2019-03-14 19:49] 0crat commented on #544
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-15 06:45] vryazanov commented on #499
@0crat refuse

[2019-03-15 06:47] 0crat commented on #499
@vryazanov The user @vryazanov[/z](https://www.0crat.com/u/vryazanov) resigned from [#499](https://github.com/timelesslounge/timelessis/issues/499), please stop working. Reason for job resignation: Order was cancelled

[2019-03-15 06:50] 0crat commented on #499
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vryazanov[/z](https://www.0crat.com/u/vryazanov)

[2019-03-15 09:29] emilianodellacasa commented on #543
@rultor deploy

[2019-03-15 09:30] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-473216805)

[2019-03-15 09:33] emilianodellacasa commented on #544
@pablopaul I know this could be annoying, but a minimum number of words of 20 force DEVs to be more descriptive of the issue, otherwise they are just going to write "Just fix that f*cking shit" :)

[2019-03-15 09:33] #544 closed

[2019-03-15 09:56] 0crat commented on #544
Job `gh:timelesslounge/timelessis#544` is not assigned, can't get performer

[2019-03-15 09:57] 0crat commented on #544
This job is not in scope

[2019-03-15 09:58] emilianodellacasa commented on #543
@rultor stop

[2019-03-15 10:00] rultor commented on #543
@emilianodellacasa OK, I'll try to stop current task.

[2019-03-15 10:00] rultor commented on #543
@emilianodellacasa Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18273-473225867) (spent 30min)

[code]

[2019-03-15 10:31] 0pdd commented on #532
The puzzle `514-f9121ced` has disappeared from the source code, that's why I closed this issue.

[2019-03-15 10:31] #532 closed

[2019-03-15 10:31] 0pdd opened #545 ".rultor.yml:27: Report coverage for React tests in Rultor..."
The puzzle `533-c19b236d` from #533 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/2fa3257fe8f6017e36f2b39134d23b73f1e8c3ef/.rultor.yml#L27-L27

The puzzle was created by Emiliano Della Casa on 15-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-03-15 10:31] 0pdd commented on #514
@pablopaul the only puzzle [#532](https://github.com/timelesslounge/timelessis/issues/532) is solved here.

[2019-03-15 10:31] 0crat commented on #545
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-15 10:53] 0crat commented on #532
The job [#532](https://github.com/timelesslounge/timelessis/issues/532) is now out of scope

[2019-03-15 10:59] 0crat commented on #532
Order was finished: +30 point(s) just awarded to @pablopaul[/z](https://www.0crat.com/u/pablopaul)

[2019-03-15 12:31] krzyk commented on #317
@0crat refuse

[2019-03-15 12:32] 0crat commented on #317
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#317](https://github.com/timelesslounge/timelessis/issues/317), please stop working. Reason for job resignation: Order was cancelled

[2019-03-15 12:33] 0crat commented on #317
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-03-15 12:47] pablopaul commented on #545
@emilianodellacasa where exactly this needs to be added?
I cant find anything coverage related in https://github.com/timelesslounge/timelessis/blob/master/.rultor.yml

[2019-03-15 12:48] krzyk opened #546 "IT and unit tests are duplicating themselves and not correctly placed"
* test_floors is duplicating it_test_floors and more over test_floors is NOT a unit test (that is it uses `client.get`)
* view.crudeapi.test_comment again duplicates it_test_comments (and is not a unit test, not to mention strange package)
* view.table_shapes.test_table_shapes - same as above (should be moved to it_test_table_shapes)
* view.tables.test_tables - same as above (should be it_test_tab

[2019-03-15 12:48] 0crat commented on #546
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-15 13:46] krzyk opened #547 "Current integration tests are not covering basic scenarios"
I'm working on reservations puzzle, and wanted to create a reservation so I can see it in a list.
Clean db, code from master.

There are tests for such scenario in it_reservations_test.py.

First result when I tried to create a reservation (http://127.0.0.1:5000/reservations/create) is Bad CSRF token - what? Why? So it looks like the CreateView is not adding CSRF token, but our tests happily pass

[2019-03-15 13:46] 0crat commented on #547
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-15 13:58] krzyk opened #548 "Few errors in basic views"
Clean DB, with no changes.

1.
Going to `http://127.0.0.1:5000/roles/` results in:
[code]
roles.role_type doesn't exist in any migration

2.
Going to `http://127.0.0.1:5000/tables/` results in:
[code]

[2019-03-15 13:58] 0crat commented on #548
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-15 14:02] krzyk opened #549 "Reservations - can't create more than one reservation"
I was able to successfully create one reservation (http://localhost:5000/reservartion/create), but when I try to create another one it doesn't get created. List view shows only a single reservation - the first one created.
This should be corrected, I should be able to create any number of reservations.

[2019-03-15 14:02] 0crat commented on #549
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) please, pay attention to this issue

[2019-03-15 14:06] krzyk commented on #379
@0crat waiting for review of PR #550

[2019-03-15 14:08] 0crat commented on #379
@krzyk The impediment for [#379](https://github.com/timelesslounge/timelessis/issues/379) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-03-15 15:10] emilianodellacasa commented on #545
@pablopaul we are using CodeCov in PR, check if it supports frontend test too

[2019-03-15 16:01] pablopaul commented on #545
@emilianodellacasa so this task is about outputting the react test coverage in PR -> TravisCI and not in Rultor, do I understand this correctly?

[2019-03-15 16:06] emilianodellacasa commented on #362
@0crat assign @marceloamadeu

[2019-03-15 16:07] 0crat commented on #362
@emilianodellacasa The job [#362](https://github.com/timelesslounge/timelessis/issues/362) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/9938d8e9-3e1f-4234-9dd6-b29c05d8e726); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](

[2019-03-15 16:09] 0crat commented on #362
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-15 16:09] 0crat commented on #362
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-03-15 16:18] emilianodellacasa commented on #545
@pablopaul Seeing code coverage on PR is much more important, you understood correctly

[2019-03-15 16:20] emilianodellacasa commented on #543
@rultor deploy

[2019-03-15 16:21] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-473350596)

[2019-03-15 16:23] rultor commented on #543
@emilianodellacasa Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18273-473350596) (spent 2min)

[code]

[2019-03-15 16:54] emilianodellacasa commented on #543
@rultor deploy

[2019-03-15 16:56] rultor commented on #543
@emilianodellacasa OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18273-473363247)

[2019-03-15 17:04] emilianodellacasa commented on #547
@krzyk Let's investigate starting from the CSRF problem, as it is affecting all forms (including login form)

[2019-03-15 17:10] 0crat commented on #547
Job [#547](https://github.com/timelesslounge/timelessis/issues/547) is now in scope, role is `DEV`

[2019-03-15 17:12] 0crat commented on #547
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-03-15 17:18] rultor commented on #543
@emilianodellacasa Done! FYI, the full log is [here](http://www.rultor.com/t/18273-473363247) (took me 21min)

[2019-03-15 17:27] #543 closed

[2019-03-15 17:44] 0crat commented on #543
Job `gh:timelesslounge/timelessis#543` is not assigned, can't get performer

[2019-03-15 17:44] 0crat commented on #543
This job is not in scope

[2019-03-16 06:33] ypshenychka commented on #357
@emilianodellacasa It's still in my agenda

[2019-03-18 02:19] marceloamadeu commented on #354
@0crat waiting

[2019-03-18 02:19] 0crat commented on #354
@marceloamadeu The impediment for [#354](https://github.com/timelesslounge/timelessis/issues/354) was registered successfully by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-03-18 18:17] pablopaul commented on #545
@emilianodellacasa all right - can you please scope this issue?

[2019-03-18 19:47] paulodamaso commented on #381
@Vatavuk I did looked at the code and couldn't find where `**kwargs` are changed by `*args`, could you point me the right direction here?

[2019-03-18 19:47] paulodamaso commented on #381
@0crat wait for https://github.com/timelesslounge/timelessis/issues/381#issuecomment-474072962 response

[2019-03-18 19:50] 0crat commented on #381
@paulodamaso The impediment for [#381](https://github.com/timelesslounge/timelessis/issues/381) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-03-20 14:03] krzyk commented on #267
@0crat waiting I busy with other tasks

[2019-03-20 14:16] 0crat commented on #267
@krzyk The impediment for [#267](https://github.com/timelesslounge/timelessis/issues/267) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-03-24 14:22] marceloamadeu commented on #362
@0crat waiting

[2019-03-24 14:22] 0crat commented on #362
@marceloamadeu The impediment for [#362](https://github.com/timelesslounge/timelessis/issues/362) was registered successfully by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-04-05 11:43] 0crat commented on #361
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 24days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:43] 0crat commented on #323
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 24days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:43] 0crat commented on #492
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 24days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:43] 0crat commented on #528
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 23days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:43] 0crat commented on #464
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 24days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:43] 0crat commented on #475
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 24days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:45] 0crat commented on #503
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 24days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:46] 0crat commented on #529
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 23days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:47] 0crat commented on #414
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 23days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:47] 0crat commented on #423
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 23days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:47] 0crat commented on #538
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 22days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:47] 0crat commented on #425
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 23days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:47] 0crat commented on #314
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 22days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:47] 0crat commented on #531
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 23days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-05 11:49] 0crat commented on #447
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amidatonga[/z](https://www.0crat.com/u/amidatonga)

[2019-04-05 11:51] 0crat commented on #447
The user @amidatonga[/z](https://www.0crat.com/u/amidatonga) resigned from [#447](https://github.com/timelesslounge/timelessis/issues/447), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:51] 0crat commented on #433
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amidatonga[/z](https://www.0crat.com/u/amidatonga)

[2019-04-05 11:51] 0crat commented on #448
The user @amidatonga[/z](https://www.0crat.com/u/amidatonga) resigned from [#448](https://github.com/timelesslounge/timelessis/issues/448), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:51] 0crat commented on #323
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#323](https://github.com/timelesslounge/timelessis/issues/323), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:51] 0crat commented on #448
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amidatonga[/z](https://www.0crat.com/u/amidatonga)

[2019-04-05 11:51] 0crat commented on #433
The user @amidatonga[/z](https://www.0crat.com/u/amidatonga) resigned from [#433](https://github.com/timelesslounge/timelessis/issues/433), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:52] 0crat commented on #323
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 11:52] 0crat commented on #464
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#464](https://github.com/timelesslounge/timelessis/issues/464), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:52] 0crat commented on #464
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 11:54] 0crat commented on #361
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 11:54] 0crat commented on #361
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#361](https://github.com/timelesslounge/timelessis/issues/361), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:54] 0crat commented on #475
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 11:54] 0crat commented on #475
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#475](https://github.com/timelesslounge/timelessis/issues/475), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:54] 0crat commented on #492
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 11:54] 0crat commented on #503
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#503](https://github.com/timelesslounge/timelessis/issues/503), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:54] 0crat commented on #503
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 11:54] 0crat commented on #492
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#492](https://github.com/timelesslounge/timelessis/issues/492), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:56] 0crat commented on #528
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 11:56] 0crat commented on #423
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 11:56] 0crat commented on #529
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#529](https://github.com/timelesslounge/timelessis/issues/529), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:56] 0crat commented on #529
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 11:56] 0crat commented on #528
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#528](https://github.com/timelesslounge/timelessis/issues/528), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:56] 0crat commented on #423
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#423](https://github.com/timelesslounge/timelessis/issues/423), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:57] 0crat commented on #425
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-04-05 11:57] 0crat commented on #425
The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#425](https://github.com/timelesslounge/timelessis/issues/425), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 11:57] 0crat commented on #317
The job [#317](https://github.com/timelesslounge/timelessis/issues/317) assigned to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/58f63502-8ab0-42a2-8da8-e6bb329a1bd9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-04-05 11:57] 0crat commented on #425
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.45.22](https://github.com/zerocracy/farm): CID: [548dec1d-4ca5-41ab-911f-e0a9b178c1d0](https://www.0crat.com/footprint/CF9LG1YCA/548dec1d-4ca5-41ab-911f-e0a9b178c1d0), Type: "Order was canceled"

[2019-04-05 12:03] 0crat commented on #414
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 12:04] 0crat commented on #531
The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#531](https://github.com/timelesslounge/timelessis/issues/531), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 12:04] 0crat commented on #314
The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#314](https://github.com/timelesslounge/timelessis/issues/314), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 12:04] 0crat commented on #414
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#414](https://github.com/timelesslounge/timelessis/issues/414), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 12:04] 0crat commented on #531
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-04-05 12:06] 0crat commented on #314
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-04-05 12:06] 0crat commented on #531
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.45.22](https://github.com/zerocracy/farm): CID: [6ad98897-d02f-406e-bd21-4841e06ef433](https://www.0crat.com/footprint/CF9LG1YCA/6ad98897-d02f-406e-bd21-4841e06ef433), Type: "Order was canceled"

[2019-04-05 12:06] 0crat commented on #314
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.45.22](https://github.com/zerocracy/farm): CID: [4b0c0b3c-c232-4b20-a734-535ee6bac6c1](https://www.0crat.com/footprint/CF9LG1YCA/4b0c0b3c-c232-4b20-a734-535ee6bac6c1), Type: "Order was canceled"

[2019-04-05 12:06] 0crat commented on #538
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#538](https://github.com/timelesslounge/timelessis/issues/538), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-05 12:06] 0crat commented on #538
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-05 12:07] 0crat commented on #414
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.45.22](https://github.com/zerocracy/farm): CID: [fd136eec-986f-4bcc-9374-cb2e56ddbbc5](https://www.0crat.com/footprint/CF9LG1YCA/fd136eec-986f-4bcc-9374-cb2e56ddbbc5), Type: "Order was canceled"

[2019-04-05 12:07] 0crat commented on #538
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.45.22](https://github.com/zerocracy/farm): CID: [4ea61822-7f07-421e-8943-df334535f9e6](https://www.0crat.com/footprint/CF9LG1YCA/4ea61822-7f07-421e-8943-df334535f9e6), Type: "Order was canceled"

[2019-04-05 12:07] 0crat commented on #328
The job [#328](https://github.com/timelesslounge/timelessis/issues/328) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CF9LG1YCA/80798eff-cef0-4968-9ae2-7a0b94e1c515); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-04-05 13:38] paulodamaso commented on #381
@0crat refuse

[2019-04-05 13:44] 0crat commented on #381
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-05 13:44] 0crat commented on #381
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#381](https://github.com/timelesslounge/timelessis/issues/381), please stop working. Reason for job resignation: Order was cancelled

[2019-04-05 13:46] 0crat commented on #381
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-11 08:35] vladarefiev commented on #317
@rultor merge

[2019-04-11 08:35] vladarefiev commented on #317
@0crat refuse

[2019-04-11 08:58] 0crat commented on #317
@vladarefiev The user @vladarefiev[/z](https://www.0crat.com/u/vladarefiev) resigned from [#317](https://github.com/timelesslounge/timelessis/issues/317), please stop working. Reason for job resignation: Order was cancelled

[2019-04-11 09:08] 0crat commented on #317
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vladarefiev[/z](https://www.0crat.com/u/vladarefiev)

[2019-04-23 04:57] zverovich commented on #286
@0crat refuse

[2019-04-23 04:58] 0crat commented on #286
@zverovich The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#286](https://github.com/timelesslounge/timelessis/issues/286), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 04:58] zverovich commented on #297
@0crat refuse

[2019-04-23 04:58] 0crat commented on #297
@zverovich[/z](https://www.0crat.com/u/zverovich) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-23 04:59] zverovich commented on #460
@0crat refuse

[2019-04-23 04:59] 0crat commented on #297
@zverovich The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#297](https://github.com/timelesslounge/timelessis/issues/297), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 04:59] 0crat commented on #460
@zverovich The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#460](https://github.com/timelesslounge/timelessis/issues/460), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 05:00] zverovich commented on #366
@0crat refuse

[2019-04-23 05:00] zverovich commented on #502
@0crat refuse

[2019-04-23 05:00] zverovich commented on #354
@0crat refuse

[2019-04-23 05:00] zverovich commented on #379
@0crat refuse

[2019-04-23 05:00] zverovich commented on #267
@0crat refuse

[2019-04-23 05:01] zverovich commented on #362
@0crat refuse

[2019-04-23 05:01] zverovich commented on #328
@0crat refuse

[2019-04-23 05:02] 0crat commented on #366
@zverovich The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#366](https://github.com/timelesslounge/timelessis/issues/366), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 05:03] 0crat commented on #267
@zverovich[/z](https://www.0crat.com/u/zverovich) I see that you unassigned this issue; the order is still assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-23 05:03] 0crat commented on #354
@zverovich[/z](https://www.0crat.com/u/zverovich) I see that you unassigned this issue; the order is still assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-23 05:03] 0crat commented on #502
@zverovich The user @pablopaul[/z](https://www.0crat.com/u/pablopaul) resigned from [#502](https://github.com/timelesslounge/timelessis/issues/502), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 05:04] 0crat commented on #379
@zverovich[/z](https://www.0crat.com/u/zverovich) I see that you unassigned this issue; the order is still assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-23 05:04] 0crat commented on #362
@zverovich[/z](https://www.0crat.com/u/zverovich) I see that you unassigned this issue; the order is still assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-23 05:04] 0crat commented on #354
@zverovich The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#354](https://github.com/timelesslounge/timelessis/issues/354), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 05:04] 0crat commented on #379
@zverovich The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#379](https://github.com/timelesslounge/timelessis/issues/379), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 05:08] zverovich commented on #267
@0crat refuse

[2019-04-23 05:09] 0crat commented on #267
@zverovich The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#267](https://github.com/timelesslounge/timelessis/issues/267), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 05:09] zverovich commented on #362
@0crat refuse

[2019-04-23 05:09] 0crat commented on #267
@zverovich Job `gh:timelesslounge/timelessis#267` is not assigned, can't get performer

[2019-04-23 05:09] zverovich commented on #328
@0crat refuse

[2019-04-23 05:13] 0crat commented on #362
@zverovich The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#362](https://github.com/timelesslounge/timelessis/issues/362), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 05:13] 0crat commented on #362
@zverovich Job `gh:timelesslounge/timelessis#362` is not assigned, can't get performer

[2019-04-23 05:15] 0crat commented on #328
@zverovich Job `gh:timelesslounge/timelessis#328` is not assigned, can't get performer

[2019-04-23 05:15] 0crat commented on #328
@zverovich The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#328](https://github.com/timelesslounge/timelessis/issues/328), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 05:46] zverovich commented on #328
@0crat out

[2019-04-23 05:46] 0crat commented on #328
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-09-08 17:24] raahul1912 commented on #272
Getting same in migration script.

`sudo docker exec controllers flask db migrate`
`INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.`
`INFO  [alembic.runtime.migration] Will assume transactional DDL.`
`ERROR [root] Error: Target database is not up to date.`

Looking for solution :)

[2022-07-15 18:41] 0pdd opened #566 "models.py:84-89: Implement two class methods..."
The puzzle `343-d709a22a` from #343 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/be5a9558877d8b2798dd42288c5e8bdf1662a09b/timeless/restaurants/models.py#L84-L89

The puzzle was created by @rultor on 15-Mar-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fix

[2022-07-15 18:41] 0pdd opened #567 "__init__.py:13-19: Introduce Flask-Uploads configuration..."
The puzzle `205-217b5ce8` from #205 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/be5a9558877d8b2798dd42288c5e8bdf1662a09b/timeless/uploads/__init__.py#L13-L19

The puzzle was created by rultor on 15-Mar-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2022-07-15 18:41] 0pdd opened #568 "views.py:2-5: Continue implementing Edit and Delete views..."
The puzzle `386-df78f47d` from #386 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/be5a9558877d8b2798dd42288c5e8bdf1662a09b/timeless/schemetypes/views.py#L2-L5

The puzzle was created by rultor on 15-Mar-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2022-07-15 18:41] 0pdd opened #569 "views.py:6-9: Continue implementation of views class..."
The puzzle `270-ac9f6ccd` from #270 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/be5a9558877d8b2798dd42288c5e8bdf1662a09b/timeless/items/views.py#L6-L9

The puzzle was created by rultor on 15-Mar-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2022-07-15 18:41] 0pdd opened #570 "it_employees_test.py:12-14: Tests are not using secured..."
The puzzle `278-f7d596d0` from #278 has to be resolved:

https://github.com/timelesslounge/timelessis/blob/be5a9558877d8b2798dd42288c5e8bdf1662a09b/tests/integration/it_employees_test.py#L12-L14

The puzzle was created by rultor on 15-Mar-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2022-07-15 18:41] 0pdd commented on #421
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #95
@0pdd 2 puzzles [#unknown](), [#unknown]() are still not solved.

[2022-07-15 18:41] 0pdd commented on #424
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #343
@0pdd the puzzle [#566](https://github.com/timelesslounge/timelessis/issues/566) is still not solved.

[2022-07-15 18:41] 0pdd commented on #205
@0pdd 2 puzzles [#567](https://github.com/timelesslounge/timelessis/issues/567), [#unknown]() are still not solved.

[2022-07-15 18:41] 0pdd commented on #316
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #312
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #186
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #293
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #28
@emilianodellacasa the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #434
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #3
@emilianodellacasa the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #182
@0pdd 2 puzzles [#unknown](), [#unknown]() are still not solved.

[2022-07-15 18:41] 0pdd commented on #358
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:41] 0pdd commented on #177
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #278
@0pdd 2 puzzles [#570](https://github.com/timelesslounge/timelessis/issues/570), [#unknown]() are still not solved.

[2022-07-15 18:42] 0pdd commented on #397
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #255
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #342
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #388
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #311
@0pdd 3 puzzles [#unknown](), [#unknown](), [#unknown]() are still not solved.

[2022-07-15 18:42] 0pdd commented on #221
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #289
@0pdd 2 puzzles [#unknown](), [#unknown]() are still not solved.

[2022-07-15 18:42] 0pdd commented on #357
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #348
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #386
@0pdd the puzzle [#568](https://github.com/timelesslounge/timelessis/issues/568) is still not solved.

[2022-07-15 18:42] 0pdd commented on #56
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #270
@0pdd the puzzle [#569](https://github.com/timelesslounge/timelessis/issues/569) is still not solved.

[2022-07-15 18:42] 0pdd commented on #260
@0pdd 2 puzzles [#unknown](), [#unknown]() are still not solved.

[2022-07-15 18:42] 0pdd commented on #283
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #187
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #269
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #204
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #430
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #222
@0pdd 2 puzzles [#unknown](), [#unknown]() are still not solved.

[2022-07-15 18:42] 0pdd commented on #235
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #417
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #31
@amihaiemil the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #234
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #206
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #285
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #113
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #356
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #409
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #232
@0pdd 2 puzzles [#unknown](), [#unknown]() are still not solved.

[2022-07-15 18:42] 0pdd commented on #411
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-15 18:42] 0pdd commented on #412
@0pdd the puzzle [#unknown]() is still not solved.